In [1]:
import pandas as pd

In [2]:
feature_list = []

In [3]:
basis = pd.read_csv('./year_clean_feature/basis_year.csv', index_col=0)
basis['일자'] = pd.to_datetime(basis['일자'])
basis = basis.set_index('일자')
feature_list.append(basis)
basis.info()
basis

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2022-10-17 to 2023-10-20
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시장베이시스  251 non-null    float64
 1   이론베이시스  247 non-null    float64
 2   괴리율     247 non-null    float64
dtypes: float64(3)
memory usage: 7.8 KB

            시장베이시스  이론베이시스   괴리율
일자
2022-10-17    1.54    1.60 -0.02
2022-10-18   -0.22    1.52 -0.60
2022-10-19    0.91    1.53 -0.21
2022-10-20    0.01    1.52 -0.52
2022-10-21   -0.01    1.48 -0.51
...            ...     ...   ...
2023-10-16    2.08    2.11 -0.01
2023-10-17    1.56    2.00 -0.14
2023-10-18    1.45    1.99 -0.16
2023-10-19    1.38    1.96 -0.18
2023-10-20    0.94    1.89 -0.29

[251 rows x 3 columns]

In [4]:
cny = pd.read_csv('./year_clean_feature/cny.csv', index_col=0)
cny['날짜'] = pd.to_datetime(cny['날짜'])
cny = cny.set_index('날짜')
cny.columns = ['원위안 야간변동율']
feature_list.append(cny)
cny.info()
cny.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 265 entries, 2022-10-17 to 2023-10-20
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원위안 야간변동율  265 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

            원위안 야간변동율
날짜
2022-10-17      0.160
2022-10-18      0.080
2022-10-19      0.045

In [5]:
jpy = pd.read_csv('./year_clean_feature/jpy.csv', index_col=0)
jpy['날짜'] = pd.to_datetime(jpy['날짜'])
jpy = jpy.set_index('날짜')
jpy.columns = ['원엔 야간변동율']
feature_list.append(jpy)
jpy.info()
jpy.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 265 entries, 2022-10-17 to 2023-10-20
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   원엔 야간변동율  265 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

            원엔 야간변동율
날짜
2022-10-17     0.304
2022-10-18     0.057
2022-10-19     0.025

In [6]:
kospi = pd.read_csv('./year_clean_feature/kospi.csv', index_col=0)
kospi['날짜'] = pd.to_datetime(kospi['날짜'])
kospi = kospi.set_index('날짜')
kospi.columns = ['kospi 당일변동율', 'kospi 야간변동율']
feature_list.append(kospi)
kospi.info()
kospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2022-10-17 to 2023-10-20
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   kospi 당일변동율  251 non-null    float64
 1   kospi 야간변동율  251 non-null    float64
dtypes: float64(2)
memory usage: 5.9 KB

            kospi 당일변동율  kospi 야간변동율
날짜
2022-10-17         2.30       -1.147
2022-10-18         0.32        1.326
2022-10-19         1.36       -0.027

In [7]:
ks200 = pd.read_csv('./year_clean_feature/ks200.csv', index_col=0)
ks200['날짜'] = pd.to_datetime(ks200['날짜'])
ks200 = ks200.set_index('날짜')
ks200.columns = ['ks200 당일변동율', 'ks200 야간변동율']
feature_list.append(ks200)
ks200.info()
ks200.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2022-10-17 to 2023-10-20
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ks200 당일변동율  251 non-null    float64
 1   ks200 야간변동율  251 non-null    float64
dtypes: float64(2)
memory usage: 5.9 KB

            ks200 당일변동율  ks200 야간변동율
날짜
2022-10-17         2.40       -1.199
2022-10-18         0.07        1.302
2022-10-19         1.39       -0.061

In [8]:
nas = pd.read_csv('./year_clean_feature/nas_year.csv', index_col=0)
nas['날짜'] = pd.to_datetime(nas['날짜'])
nas = nas.set_index('날짜')
nas.columns = ['nas 야간변동율', 'nas 당일변동율']
feature_list.append(nas)
nas.info()
nas.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 255 entries, 2022-10-17 to 2023-10-20
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nas 야간변동율  255 non-null    float64
 1   nas 당일변동율  255 non-null    float64
dtypes: float64(2)
memory usage: 6.0 KB

            nas 야간변동율  nas 당일변동율
날짜
2022-10-17      -3.08     -3.923
2022-10-18       3.43      0.947
2022-10-19       0.90     -1.747

In [9]:
pc = pd.read_csv('./year_clean_feature/put_call_year.csv', index_col=0)
pc['일자'] = pd.to_datetime(pc['일자'])
pc = pc.set_index('일자')
feature_list.append(pc)
pc.info()
pc.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2022-10-17 to 2023-10-20
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   P/C Ratio           251 non-null    float64
 1   CALL_vol_change(%)  251 non-null    float64
 2   PUT_vol_change(%)   251 non-null    float64
 3   CALL_vol_fluc       251 non-null    float64
 4   PUT_vol_fluc        251 non-null    float64
dtypes: float64(5)
memory usage: 11.8 KB

,P/C Ratio,CALL_vol_change(%),PUT_vol_change(%),CALL_vol_fluc,PUT_vol_fluc
일자,,,,,
2022-10-17,0.94,-70.685,-68.561,-1627170.0,-1387942.0
2022-10-18,0.98,-0.838,3.172,-5652.0,20191.0
2022-10-19,1.12,14.585,30.886,97599.0,202811.0

In [10]:
snp = pd.read_csv('./year_clean_feature/snp_year.csv', index_col=0)
snp['날짜'] = pd.to_datetime(snp['날짜'])
snp = snp.set_index('날짜')
snp.columns = ['snp 야간변동율', 'snp 당일변동율']
feature_list.append(snp)
snp.info()
snp.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 255 entries, 2022-10-17 to 2023-10-20
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   snp 야간변동율  255 non-null    float64
 1   snp 당일변동율  255 non-null    float64
dtypes: float64(2)
memory usage: 6.0 KB

            snp 야간변동율  snp 당일변동율
날짜
2022-10-17      -2.37     -2.909
2022-10-18       2.65      1.080
2022-10-19       1.14     -0.701

In [11]:
usd = pd.read_csv('./year_clean_feature/usd.csv', index_col=0)
usd['날짜'] = pd.to_datetime(usd['날짜'])
usd = usd.set_index('날짜')
usd.columns = ['원달러 야간변동율']
feature_list.append(usd)
usd.info()
usd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 265 entries, 2022-10-17 to 2023-10-20
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원달러 야간변동율  265 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

            원달러 야간변동율
날짜
2022-10-17      0.140
2022-10-18      0.068
2022-10-19      0.022

In [12]:
vix = pd.read_csv('./year_clean_feature/vix.csv', index_col=0)
vix['날짜'] = pd.to_datetime(vix['날짜'])
vix = vix.set_index('날짜')
vix.columns = ['VIX 전날변동율', 'VIX 당일변동율']
feature_list.append(vix)
vix.info()
vix.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 264 entries, 2022-10-17 to 2023-10-20
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VIX 전날변동율  264 non-null    float64
 1   VIX 당일변동율  264 non-null    float64
dtypes: float64(2)
memory usage: 6.2 KB

            VIX 전날변동율  VIX 당일변동율
날짜
2022-10-17       0.25      0.408
2022-10-18      -2.03     -2.789
2022-10-19      -2.77     -1.929

In [13]:
vkospi = pd.read_csv('./year_clean_feature/vkospi_year.csv', index_col=0)
vkospi['날짜'] = pd.to_datetime(vkospi['날짜'])
vkospi = vkospi.set_index('날짜')
feature_list.append(vkospi)
vkospi.info()
vkospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2022-10-17 to 2023-10-20
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VKOSPI_Label  251 non-null    int64
dtypes: int64(1)
memory usage: 3.9 KB

            VKOSPI_Label
날짜
2022-10-17             0
2022-10-18             0
2022-10-19             1

In [14]:
df = pd.concat(feature_list, axis=1)

In [15]:
df = df.dropna(subset=['VKOSPI_Label'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2022-10-17 to 2023-10-20
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   시장베이시스              251 non-null    float64
 1   이론베이시스              247 non-null    float64
 2   괴리율                 247 non-null    float64
 3   원위안 야간변동율           251 non-null    float64
 4   원엔 야간변동율            251 non-null    float64
 5   kospi 당일변동율         251 non-null    float64
 6   kospi 야간변동율         251 non-null    float64
 7   ks200 당일변동율         251 non-null    float64
 8   ks200 야간변동율         251 non-null    float64
 9   nas 야간변동율           242 non-null    float64
 10  nas 당일변동율           242 non-null    float64
 11  P/C Ratio           251 non-null    float64
 12  CALL_vol_change(%)  251 non-null    float64
 13  PUT_vol_change(%)   251 non-null    float64
 14  CALL_vol_fluc       251 non-null    float64
 15  PUT_vol_fluc        251 non-null    float64
 16  snp 야간변동율           242 non-null    float64
 17  snp 당일변동율           242 non-null    float64
 18  원달러 야간변동율           251 non-null    float64
 19  VIX 전날변동율           250 non-null    float64
 20  VIX 당일변동율           250 non-null    float64
 21  VKOSPI_Label        251 non-null    float64
dtypes: float64(22)
memory usage: 45.1 KB

In [17]:
df = df.fillna(method='ffill')

In [18]:
df.to_csv('./year_features.csv')