import modules

In [137]:
import pandas as pd
import glob
import os
current_directory = os.getcwd()
print("현재 디렉토리:", current_directory)

현재 디렉토리: c:\apps\Project1

목표 : 각 옵션종목을 각 dataframe으로 저장
dataframe이름 예로 201TB305는 콜옵션, 23년, 11월, 행사가 305이므로 -> TB305C
201TC2337는 콜옵션, 23년, 12월, 행사가 337.5이므로 -> TC337C
301TB312는 풋옵션, 23년, 11월, 행사가 312.5이므로 -> TB312P
301TC335는 풋옵션, 23년, 12월, 행사가 335이므로 -> TC335P

load files

In [128]:
strike_price = pd.read_csv('./dataset/strike_price.csv')

In [129]:
folder_path = './option_price/' # 폴더 경로
subfolders = [os.path.basename(f.path) for f in os.scandir(folder_path) if f.is_dir()] # 폴더 내의 모든 하위 폴더를 리스트로 얻음
# subfolders 리스트에는 모든 하위 폴더의 이름이 저장됨
print(subfolders)

['201TB305_352.5', '201TC305_337.5', '301TB305_352.5', '301TC305_337.5']

In [130]:
csv_file_names = []
folder_with_csv = os.path.join(folder_path, subfolders[0])
csv_files = glob.glob(os.path.join(folder_with_csv, '*.csv'))
csv_file_names.extend([os.path.basename(file) for file in csv_files])
print(csv_file_names)
df_names = [] # 파일 이름 리스트
for file in csv_file_names:
    if file.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
        df_names.append("C" + file.split('.')[0].split('201')[1])
    elif file.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
        df_names.append("P" + file.split('.')[0].split('301')[1])
print(df_names)

['201TB305.csv', '201TB307.csv', '201TB310.csv', '201TB312.csv', '201TB315.csv', '201TB317.csv', '201TB319.csv', '201TB322.csv', '201TB324.csv', '201TB327.csv', '201TB332.csv', '201TB334.csv', '201TB337.csv', '201TB339.csv', '201TB342.csv', '201TB344.csv', '201TB347.csv', '201TB349.csv', '201TB352.csv']
['CTB305', 'CTB307', 'CTB310', 'CTB312', 'CTB315', 'CTB317', 'CTB319', 'CTB322', 'CTB324', 'CTB327', 'CTB332', 'CTB334', 'CTB337', 'CTB339', 'CTB342', 'CTB344', 'CTB347', 'CTB349', 'CTB352']

In [131]:
csv_file_names = [] # CSV 파일 이름을 저장할 리스트
for subfolder in subfolders: # 각 하위 폴더에서 CSV 파일 이름을 추출하고 리스트에 추가
    folder_with_csv = os.path.join(folder_path, subfolder)
    csv_files = glob.glob(os.path.join(folder_with_csv, '*.csv'))
    csv_file_names.extend([os.path.basename(file) for file in csv_files])
print(csv_file_names)# 선택된 CSV 파일들의 이름 리스트

['201TB305.csv', '201TB307.csv', '201TB310.csv', '201TB312.csv', '201TB315.csv', '201TB317.csv', '201TB319.csv', '201TB322.csv', '201TB324.csv', '201TB327.csv', '201TB332.csv', '201TB334.csv', '201TB337.csv', '201TB339.csv', '201TB342.csv', '201TB344.csv', '201TB347.csv', '201TB349.csv', '201TB352.csv', '201TC305.csv', '201TC307.csv', '201TC310.csv', '201TC312.csv', '201TC315.csv', '201TC320.csv', '201TC322.csv', '201TC325.csv', '201TC327.csv', '201TC330.csv', '201TC332.csv', '201TC335.csv', '201TC337.csv', '301TB305.csv', '301TB307.csv', '301TB310.csv', '301TB312.csv', '301TB315.csv', '301TB317.csv', '301TB320.csv', '301TB322.csv', '301TB325.csv', '301TB327.csv', '301TB330.csv', '301TB332.csv', '301TB335.csv', '301TB337.csv', '301TB340.csv', '301TB345.csv', '301TB347.csv', '301TB350.csv', '301TB352.csv', '301TC305.csv', '301TC307.csv', '301TC310.csv', '301TC312.csv', '301TC315.csv', '301TC317.csv', '301TC320.csv', '301TC322.csv', '301TC325.csv', '301TC327.csv', '301TC330.csv', '301TC332.csv', '301TC335.csv', '301TC337.csv']

In [132]:
df_names = [] # 파일 이름 리스트
for file in csv_file_names:
    if file.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
        df_names.append(file.split('.')[0].split('201')[1] + "C")
    elif file.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
        df_names.append(file.split('.')[0].split('301')[1] + "P")
print(df_names)

['TB305C', 'TB307C', 'TB310C', 'TB312C', 'TB315C', 'TB317C', 'TB319C', 'TB322C', 'TB324C', 'TB327C', 'TB332C', 'TB334C', 'TB337C', 'TB339C', 'TB342C', 'TB344C', 'TB347C', 'TB349C', 'TB352C', 'TC305C', 'TC307C', 'TC310C', 'TC312C', 'TC315C', 'TC320C', 'TC322C', 'TC325C', 'TC327C', 'TC330C', 'TC332C', 'TC335C', 'TC337C', 'TB305P', 'TB307P', 'TB310P', 'TB312P', 'TB315P', 'TB317P', 'TB320P', 'TB322P', 'TB325P', 'TB327P', 'TB330P', 'TB332P', 'TB335P', 'TB337P', 'TB340P', 'TB345P', 'TB347P', 'TB350P', 'TB352P', 'TC305P', 'TC307P', 'TC310P', 'TC312P', 'TC315P', 'TC317P', 'TC320P', 'TC322P', 'TC325P', 'TC327P', 'TC330P', 'TC332P', 'TC335P', 'TC337P']

In [134]:
import os
import pandas as pd

# 데이터를 저장할 빈 데이터 프레임 생성
combined_data = pd.DataFrame()

# option_price 폴더에서 시작하고 모든 하위 폴더를 반복
start_dir = 'option_price/201TB305_352.5/'  # option_price 폴더의 경로를 수정하세요.
for folder, _, files in os.walk(start_dir):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(folder, file)
            # CSV 파일 로드
            data = pd.read_csv(file_path)
            # 데이터를 빈 데이터 프레임에 추가
            combined_data = pd.concat([combined_data, data], ignore_index=True)

# 모든 CSV 파일이 합쳐진 데이터를 출력하거나 저장할 수 있습니다.
print(combined_data)

       현재가   거래량          체결시간    시가    고가    저가  전일종가
0     6.54   2.0  2.023103e+13  6.54  6.54  6.54 -5.44
1     6.66  11.0  2.023103e+13  6.65  6.68  6.60   NaN
2     6.65  22.0  2.023103e+13  6.78  6.78  6.65   NaN
3     6.70  52.0  2.023103e+13  6.64  6.86  6.55   NaN
4     6.55  14.0  2.023103e+13 -6.50  6.72 -6.48   NaN
...    ...   ...           ...   ...   ...   ...   ...
6305  2.50   3.0  2.023082e+13  2.50  2.50  2.50   NaN
6306  2.67   4.0  2.023082e+13  2.65  2.67  2.65   NaN
6307  3.05   1.0  2.023081e+13  3.05  3.05  3.05   NaN
6308  3.54   5.0  2.023081e+13  3.53  3.54  3.52   NaN
6309  4.85  14.0  2.023081e+13  5.03  5.03 -4.77   NaN

[6310 rows x 7 columns]

In [135]:
combined_data['체결시간'] = pd.to_datetime(combined_data['체결시간'], format="%Y%m%d%H%M%S")
combined_data = combined_data[['체결시간', '현재가']]

In [136]:
combined_data

                    체결시간   현재가
0    2023-10-27 15:45:00  6.54
1    2023-10-27 15:30:00  6.66
2    2023-10-27 15:15:00  6.65
3    2023-10-27 15:00:00  6.70
4    2023-10-27 14:45:00  6.55
...                  ...   ...
6305 2023-08-16 09:00:00  2.50
6306 2023-08-16 08:45:00  2.67
6307 2023-08-14 11:15:00  3.05
6308 2023-08-14 10:00:00  3.54
6309 2023-08-11 09:30:00  4.85

[6310 rows x 2 columns]