import modules

In [244]:
import pandas as pd
import numpy as np
import math
import glob
import os
current_directory = os.getcwd()
print("현재 디렉토리:", current_directory)

현재 디렉토리: c:\apps\1stProject

목표 : 각 옵션종목을 각 dataframe으로 저장
dataframe이름 예로 201TB305는 콜옵션, 23년, 11월, 행사가 305이므로 -> TB305C
201TC2337는 콜옵션, 23년, 12월, 행사가 337.5이므로 -> TC337C
301TB312는 풋옵션, 23년, 11월, 행사가 312.5이므로 -> TB312P
301TC335는 풋옵션, 23년, 12월, 행사가 335이므로 -> TC335P

load files

In [139]:
folder_path = './option_price/' # 폴더 경로

In [140]:
combined_data = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/201TB305_352.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            selected_rows = data[data['date'].dt.time == pd.to_datetime('09:30:00').time()]
            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if combined_data.empty:
                combined_data = selected_rows
            else:
                combined_data = pd.merge(combined_data, selected_rows, on='date', how='outer')

# print(combined_data)

In [141]:
combined_data

,date,CTB305,CTB307,CTB310,CTB312,CTB315,CTB317,CTB320,CTB322,CTB325,...,CTB330,CTB332,CTB335,CTB337,CTB340,CTB342,CTB345,CTB347,CTB350,CTB352
0,2023-10-27 09:30:00,-6.45,-4.97,-3.70,2.65,-1.80,1.18,0.73,-0.43,0.26,...,0.10,0.07,0.05,0.04,0.03,0.02,NaN,0.01,0.01,NaN
1,2023-10-26 09:30:00,8.96,7.16,5.60,4.25,3.11,2.17,1.45,0.92,0.56,...,0.21,0.13,0.08,0.06,0.05,0.03,0.03,0.02,0.02,0.01
2,2023-10-25 09:30:00,14.40,11.90,10.00,8.00,6.38,4.91,3.65,2.59,1.76,...,0.71,0.42,0.25,0.15,0.09,0.06,0.04,0.02,NaN,0.01
3,2023-10-24 09:30:00,-12.60,-10.60,-8.60,-7.00,-5.52,-4.20,-3.09,-2.18,-1.46,...,-0.58,-0.34,-0.20,-0.12,-0.08,-0.05,-0.04,-0.02,0.01,0.01
4,2023-10-23 09:30:00,14.20,12.30,10.20,8.40,6.81,5.28,4.06,2.95,2.08,...,0.91,0.57,0.34,0.21,0.12,0.08,0.05,0.03,0.02,NaN
5,2023-10-20 09:30:00,-14.35,NaN,-10.55,-9.00,-7.15,-5.71,-4.44,-3.33,-2.44,...,-1.17,-0.77,0.49,0.31,0.19,0.12,0.07,0.05,0.02,-0.01
6,2023-10-13 09:30:00,22.80,NaN,NaN,15.40,NaN,11.80,-9.63,7.93,6.44,...,3.91,2.92,2.13,1.50,1.02,0.67,0.42,0.26,0.16,0.10
7,2023-10-19 09:30:00,NaN,NaN,15.10,13.30,11.30,9.15,7.72,6.14,4.76,...,2.60,1.80,1.22,0.78,0.48,0.28,0.16,0.09,0.06,0.03
8,2023-10-18 09:30:00,NaN,NaN,-18.75,NaN,-14.00,NaN,-10.15,-8.57,-6.87,...,-4.10,-3.00,-2.12,-1.43,-0.92,-0.56,-0.32,-0.18,-0.10,-0.05
9,2023-10-16 09:30:00,NaN,NaN,16.05,NaN,NaN,10.40,8.05,6.47,5.08,...,2.86,2.03,1.39,0.91,0.56,0.34,0.21,0.13,-0.07,0.05
10,2023-10-12 09:30:00,NaN,NaN,19.30,NaN,15.20,-13.15,-11.00,-9.33,-7.66,...,-4.89,-3.75,-2.82,-2.05,-1.48,-0.99,-0.66,-0.43,-0.28,-0.18
11,2023-10-11 09:30:00,NaN,NaN,-17.45,NaN,-13.15,11.45,9.60,7.95,6.50,...,4.01,3.05,2.26,1.62,1.13,0.77,0.51,0.32,0.21,0.13
12,2023-10-10 09:30:00,NaN,NaN,16.75,NaN,NaN,10.75,8.95,7.40,6.00,...,3.70,2.77,2.05,1.50,1.04,0.72,0.48,0.32,0.21,0.14
13,2023-10-06 09:30:00,NaN,NaN,13.10,NaN,-9.00,-7.41,-6.08,-4.80,-3.77,...,-2.13,-1.55,-1.12,-0.78,-0.54,-0.37,-0.25,-0.17,-0.12,-0.08
14,2023-10-05 09:30:00,NaN,NaN,12.45,10.60,NaN,7.50,-6.02,4.85,3.80,...,2.15,1.57,1.11,0.78,0.54,0.37,0.26,0.18,0.13,0.08
15,2023-10-17 09:30:00,NaN,NaN,NaN,-15.25,NaN,-10.70,-8.90,-7.17,-5.59,...,-3.20,-2.30,-1.58,-1.04,-0.66,-0.41,-0.25,-0.14,-0.09,-0.05
16,2023-10-04 09:30:00,NaN,NaN,NaN,11.55,9.84,8.23,6.60,5.40,4.28,...,2.54,1.89,1.39,0.99,0.70,0.50,0.35,0.25,0.17,0.12
17,2023-11-02 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,1.19,NaN,0.31,...,0.07,NaN,0.02,NaN,0.01,NaN,NaN,NaN,0.01,NaN
18,2023-11-01 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,-0.38,NaN,-0.10,...,-0.02,NaN,0.01,NaN,0.01,NaN,NaN,NaN,NaN,NaN
19,2023-10-31 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,0.45,NaN,0.15,...,0.06,NaN,0.03,NaN,0.01,NaN,0.01,NaN,NaN,NaN
20,2023-10-30 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,-0.53,NaN,-0.19,...,0.08,NaN,0.04,NaN,0.02,NaN,0.01,NaN,NaN,NaN
21,2023-09-27 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,-10.75,NaN,-7.18,...,-4.76,NaN,-2.91,-2.15,-1.60,-1.16,-0.84,-0.60,-0.43,-0.31
22,2023-09-26 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,11.80,NaN,8.22,...,5.56,4.55,3.52,2.65,2.06,1.51,1.08,0.79,0.56,0.39
23,2023-09-18 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.00,NaN,...,NaN,NaN,NaN,NaN,8.65,7.06,5.70,4.71,3.70,2.89
24,2023-09-22 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.40,...,-6.80,-5.30,-4.52,-3.62,-2.74,-2.14,-1.60,-1.18,-0.86,-0.63
25,2023-09-25 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.21,-4.75,-3.74,-2.79,-2.11,-1.56,-1.13,-0.81,0.59
26,2023-09-21 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.64,5.46,4.48,3.36,2.59,1.96,1.45,1.06
27,2023-09-19 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.40,NaN,NaN,NaN,4.83,3.90,3.04,2.35
28,2023-09-13 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.24,NaN,NaN,NaN,3.50,2.80,NaN,NaN
29,2023-09-20 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.70,6.32,5.18,NaN,3.20,2.45,1.89
30,2023-09-14 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-6.75,NaN,-4.46,-3.51,NaN,-2.10,-1.56
31,2023-09-12 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.15,NaN,NaN,NaN,2.90,NaN,NaN
32,2023-09-11 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.70,NaN,NaN,NaN,NaN,NaN,NaN
33,2023-09-04 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-8.80,-7.40,NaN,NaN,NaN,NaN,NaN
34,2023-09-15 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-8.45,-6.57,-5.56,-4.54,-3.69,-2.78
35,2023-09-08 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.04,NaN,NaN,-2.54,-2.00,NaN
36,2023-08-21 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.28,NaN,NaN,NaN,NaN,NaN
37,2023-08-18 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.50,NaN,NaN,NaN,NaN,NaN
38,2023-07-24 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-12.90,NaN,NaN,NaN,NaN,NaN
39,2023-07-13 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.80,NaN,NaN,NaN,NaN,NaN
40,2023-06-30 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.55,NaN,-8.36,NaN,NaN,NaN
41,2023-09-01 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.20,NaN,NaN,NaN,NaN
42,2023-08-17 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-2.60,-2.19,NaN,NaN
43,2023-09-07 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.01,2.29,NaN
44,2023-08-29 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.75,2.24,1.71
45,2023-08-25 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.20,1.75,NaN
46,2023-09-06 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.13,NaN
47,2023-08-28 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.91,NaN
48,2023-08-24 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.52,NaN
49,2023-08-23 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.83,NaN
50,2023-08-16 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.45
51,2023-08-11 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.85

콜옵션 23년 11월물 9시30분 현재가

In [194]:
CTB930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/201TB305_352.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if CTB930.empty:
                CTB930 = data
            else:
                CTB930 = pd.merge(CTB930, data, on='date', how='outer')
                        
            CTB930 = CTB930[CTB930['date'].dt.time == pd.to_datetime('09:30:00').time()] # 15시15분 데이터만 추출

In [195]:
CTB930.head()

,date,CTB305,CTB307,CTB310,CTB312,CTB315,CTB317,CTB320,CTB322,CTB325,...,CTB330,CTB332,CTB335,CTB337,CTB340,CTB342,CTB345,CTB347,CTB350,CTB352
0,2023-10-27 09:30:00,-6.45,-4.97,-3.7,2.65,-1.80,1.18,0.73,-0.43,0.26,...,0.10,0.07,0.05,0.04,0.03,0.02,NaN,0.01,0.01,NaN
1,2023-10-26 09:30:00,8.96,7.16,5.6,4.25,3.11,2.17,1.45,0.92,0.56,...,0.21,0.13,0.08,0.06,0.05,0.03,0.03,0.02,0.02,0.01
2,2023-10-25 09:30:00,14.40,11.90,10.0,8.00,6.38,4.91,3.65,2.59,1.76,...,0.71,0.42,0.25,0.15,0.09,0.06,0.04,0.02,NaN,0.01
3,2023-10-24 09:30:00,-12.60,-10.60,-8.6,-7.00,-5.52,-4.20,-3.09,-2.18,-1.46,...,-0.58,-0.34,-0.20,-0.12,-0.08,-0.05,-0.04,-0.02,0.01,0.01
4,2023-10-23 09:30:00,14.20,12.30,10.2,8.40,6.81,5.28,4.06,2.95,2.08,...,0.91,0.57,0.34,0.21,0.12,0.08,0.05,0.03,0.02,NaN

콜 23년 11월 15시15분 현재가

In [196]:
CTB1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/201TB305_352.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S") # 타입 변경
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, # 행사가를 컬럼 이름으로 넣는다.          
             '체결시간': 'date'}) # 컬럼 이름을 date로 바꾼다.
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if CTB1515.empty:
                CTB1515 = data
            else:
                CTB1515 = pd.merge(CTB1515, data, on='date', how='outer') # date기준으로 병합
            
            CTB1515 = CTB1515[CTB1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 15시15분 데이터만 추출

In [197]:
CTB1515.head()

,date,CTB305,CTB307,CTB310,CTB312,CTB315,CTB317,CTB320,CTB322,CTB325,...,CTB330,CTB332,CTB335,CTB337,CTB340,CTB342,CTB345,CTB347,CTB350,CTB352
0,2023-10-27 15:15:00,6.65,5.15,3.82,2.72,1.86,1.20,0.73,-0.43,-0.25,...,0.09,-0.05,-0.03,-0.02,0.02,0.02,0.01,NaN,NaN,NaN
1,2023-10-26 15:15:00,-7.15,5.64,4.29,3.15,2.23,1.52,0.99,0.63,0.39,...,0.16,0.11,0.08,0.05,0.03,0.03,0.02,0.01,0.01,0.01
2,2023-10-25 15:15:00,13.15,-11.00,-9.08,-7.30,-5.68,-4.29,3.12,-2.16,1.43,...,0.53,0.31,0.18,0.11,0.06,0.05,0.03,0.02,NaN,0.01
3,2023-10-23 15:15:00,13.00,-10.85,-9.00,-7.39,-5.77,-4.44,-3.30,-2.36,1.62,...,-0.67,-0.40,-0.23,0.15,-0.09,0.06,0.04,0.02,0.02,0.01
4,2023-10-24 15:15:00,NaN,12.60,-10.60,-8.66,7.11,5.58,4.25,3.10,2.17,...,-0.93,-0.56,-0.33,-0.19,-0.12,0.07,0.05,0.03,0.02,0.01

콜 23년 12월물 9시30분 현재가

In [198]:
CTC930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/201TC305_337.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            data.bfill(inplace=True)            
            selected_rows = data[data['date'].dt.time == pd.to_datetime('09:30:00').time()]
            # print(selected_rows)
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if CTC930.empty:
                CTC930 = data
            else:
                CTC930 = pd.merge(CTC930, data, on='date', how='outer') # date기준으로 병합
        
            CTC930 = CTC930[CTC930['date'].dt.time == pd.to_datetime('09:30:00').time()] # 09시30분 데이터만 추출

In [199]:
CTC930.head()

,date,CTC305,CTC307,CTC310,CTC312,CTC315,CTC317,CTC320,CTC322,CTC325,CTC327,CTC330,CTC332,CTC335,CTC337
0,2023-10-27 09:30:00,-10.55,-9.07,-7.75,-6.47,5.65,4.60,-3.63,-2.86,2.31,-1.79,1.38,1.05,0.78,0.58
1,2023-10-26 09:30:00,13.00,11.05,9.80,8.32,NaN,5.96,4.88,4.03,3.25,2.55,2.00,1.54,1.18,0.88
2,2023-09-26 09:30:00,26.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.30,NaN,8.43,NaN,NaN,5.15
3,2023-10-23 09:30:00,NaN,NaN,13.50,NaN,10.60,9.02,7.85,6.49,5.61,4.50,3.84,3.09,2.33,1.84
4,2023-10-20 09:30:00,NaN,NaN,-13.95,NaN,-11.00,NaN,-7.98,-6.82,-5.67,-4.74,-3.88,-3.13,-2.50,-2.00

콜옵션 23년 12월물 15시15분 현재가

In [200]:
CTC1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/201TC305_337.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if CTC1515.empty:
                CTC1515 = data
            else:
                CTC1515 = pd.merge(CTC1515, data, on='date', how='outer') # date기준으로 병합
            
            CTC1515 = CTC1515[CTC1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 15시15분 데이터만 추출

In [201]:
CTC1515.head()

,date,CTC305,CTC307,CTC310,CTC312,CTC315,CTC317,CTC320,CTC322,CTC325,CTC327,CTC330,CTC332,CTC335,CTC337
0,2023-10-26 15:15:00,11.25,9.80,8.49,7.16,6.00,5.00,4.09,3.30,2.62,2.08,1.61,1.23,0.95,0.71
1,2023-10-20 15:15:00,17.90,16.30,14.30,NaN,11.05,9.67,-8.25,7.06,-5.94,4.94,4.00,3.26,-2.57,-2.03
2,2023-09-07 15:15:00,33.80,NaN,29.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.65,NaN
3,2023-10-27 15:15:00,NaN,9.43,7.95,NaN,5.61,-4.54,-3.68,2.95,2.33,1.83,1.38,1.05,-0.77,0.57
4,2023-10-23 15:15:00,NaN,NaN,12.90,NaN,9.79,8.45,NaN,5.98,4.95,4.01,3.27,-2.54,2.06,1.57

풋옵션 23년 11월물 9시30분 현재가

In [202]:
PTB930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/301TB305_352.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if PTB930.empty:
                PTB930 = data
            else:
                PTB930 = pd.merge(PTB930, data, on='date', how='outer') # date기준으로 병합
            
            PTB930 = PTB930[PTB930['date'].dt.time == pd.to_datetime('09:30:00').time()] # 15시15분 데이터만 추출

In [203]:
PTB930.head()

,date,PTB305,PTB307,PTB310,PTB312,PTB315,PTB317,PTB320,PTB322,PTB325,...,PTB330,PTB332,PTB335,PTB337,PTB340,PTB342,PTB345,PTB347,PTB350,PTB352
0,2023-10-27 09:30:00,3.42,4.42,5.64,7.06,8.70,10.65,12.50,15.05,17.60,...,22.25,24.45,-25.75,NaN,NaN,33.4,NaN,NaN,NaN,NaN
1,2023-10-26 09:30:00,-2.43,-3.18,-4.11,-5.23,-6.49,-8.02,-9.85,-11.80,-14.20,...,-18.55,-21.45,NaN,-25.95,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-25 09:30:00,-1.05,-1.44,-1.95,-2.61,-3.44,-4.45,-5.69,-7.03,-8.88,...,-12.00,-14.90,-17.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-10-24 09:30:00,1.63,2.14,2.78,3.57,4.55,5.72,7.14,8.80,10.50,...,14.60,16.15,19.25,21.45,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-10-23 09:30:00,-1.61,-2.07,-2.65,-3.35,-4.22,-5.25,-6.43,-7.85,-9.56,...,-12.85,-14.95,-17.65,-20.00,-22.2,NaN,NaN,NaN,NaN,NaN

풋옵션 23년 11월물 15시15분 현재가

In [204]:
PTB1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/301TB305_352.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if PTB1515.empty:
                PTB1515 = data
            else:
                PTB1515 = pd.merge(PTB1515, data, on='date', how='outer') # date기준으로 병합
            PTB1515 = PTB1515[PTB1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 15시15분 데이터만 추출

In [205]:
PTB1515.head()

,date,PTB305,PTB307,PTB310,PTB312,PTB315,PTB317,PTB320,PTB322,PTB325,...,PTB330,PTB332,PTB335,PTB337,PTB340,PTB342,PTB345,PTB347,PTB350,PTB352
0,2023-10-27 15:15:00,-3.04,-3.99,-5.14,-6.56,-8.23,10.05,-12.10,14.30,-16.60,...,NaN,NaN,26.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-10-26 15:15:00,-3.56,-4.52,-5.69,-7.04,-8.63,-10.35,-12.25,-14.35,-16.75,...,21.55,23.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-25 15:15:00,-1.13,1.55,-2.10,-2.81,3.70,4.79,6.11,7.63,9.48,...,13.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-10-24 15:15:00,1.08,-1.45,-1.93,2.55,3.33,4.28,5.42,6.84,8.52,...,12.25,14.30,16.70,NaN,21.3,NaN,26.45,NaN,NaN,NaN
4,2023-10-23 15:15:00,1.78,2.30,2.95,3.74,4.70,5.85,7.24,-8.78,10.50,...,14.30,16.70,18.95,21.45,23.8,NaN,NaN,NaN,33.55,NaN

풋 23년 12월물 9시30분 현재가

In [206]:
PTC930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/301TC305_337.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
             # 읽어들인 데이터를 기존 데이터프레임과 결합
            if PTC930.empty:
                PTC930 = data
            else:
                PTC930 = pd.merge(PTC930, data, on='date', how='outer') # date기준으로 병합
            PTC930 = PTC930[PTC930['date'].dt.time == pd.to_datetime('09:30:00').time()] # 09시30분 데이터만 추출

In [207]:
PTC930.head()

,date,PTC305,PTC307,PTC310,PTC312,PTC315,PTC317,PTC320,PTC322,PTC325,PTC327,PTC330,PTC332,PTC335,PTC337
0,2023-10-27 09:30:00,6.62,7.66,8.77,9.99,11.45,-12.2,14.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-10-26 09:30:00,-5.61,-6.41,-7.39,-8.66,-10.00,NaN,-12.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-25 09:30:00,-3.54,-4.12,-4.80,-5.52,-6.50,-7.3,-8.45,-9.8,NaN,NaN,-13.85,NaN,NaN,NaN
3,2023-10-24 09:30:00,4.15,4.79,5.72,NaN,NaN,8.7,9.94,NaN,12.6,NaN,NaN,NaN,20.2,NaN
4,2023-10-23 09:30:00,-3.94,-4.62,-5.30,-6.13,-7.06,-8.2,NaN,NaN,NaN,-13.3,NaN,NaN,-18.4,NaN

풋 23년 12월물 15시15분 현재가

In [208]:
PTC1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/301TC305_337.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            
             # 읽어들인 데이터를 기존 데이터프레임과 결합
            if PTC1515.empty:
                PTC1515 = data
            else:
                PTC1515 = pd.merge(PTC1515, data, on='date', how='outer') # date기준으로 병합
            PTC1515 = PTC1515[PTC1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 15시15분 데이터만 추출

In [209]:
PTC1515.head()

,date,PTC305,PTC307,PTC310,PTC312,PTC315,PTC317,PTC320,PTC322,PTC325,PTC327,PTC330,PTC332,PTC335,PTC337
0,2023-10-27 15:15:00,-6.38,-7.30,-8.49,NaN,NaN,NaN,14.10,15.90,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-10-26 15:15:00,-6.77,7.74,8.92,10.05,11.55,NaN,14.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-25 15:15:00,3.75,NaN,5.11,NaN,6.87,7.86,9.07,NaN,11.85,NaN,15.25,NaN,NaN,NaN
3,2023-10-24 15:15:00,3.56,4.15,4.89,5.57,6.45,7.42,8.55,9.76,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-10-23 15:15:00,-4.33,5.04,5.78,NaN,NaN,8.70,NaN,NaN,NaN,NaN,16.25,NaN,NaN,NaN

strike price set

In [210]:
strike_price = pd.read_csv('./old_dataset/strike_price.csv')

In [220]:
sp9 = strike_price
sp15 = strike_price

In [249]:
for index, row in sp12.iterrows():
    for column in sp12.columns:
        if column != '일자':
            value = row[column]
            value = math.floor(value)
            print(sp15.loc[index,column])
            # print(value)

322.5
312.5
315.0
317.5
320.0
325.0
327.5
330.0
332.5
327.5
317.5
320.0
322.5
325.0
330.0
332.5
335.0
337.5
325.0
315.0
317.5
320.0
322.5
327.5
330.0
332.5
335.0
322.5
312.5
315.0
317.5
320.0
325.0
327.5
330.0
332.5
325.0
315.0
317.5
320.0
322.5
327.5
330.0
332.5
335.0
327.5
317.5
320.0
322.5
325.0
330.0
332.5
335.0
337.5
322.5
312.5
315.0
317.5
320.0
325.0
327.5
330.0
332.5
317.5
307.5
310.0
312.5
315.0
320.0
322.5
325.0
327.5
317.5
307.5
310.0
312.5
315.0
320.0
322.5
325.0
327.5
317.5
307.5
310.0
312.5
315.0
320.0
322.5
325.0
327.5
317.5
307.5
310.0
312.5
315.0
320.0
322.5
325.0
327.5
325.0
315.0
317.5
320.0
322.5
327.5
330.0
332.5
335.0
325.0
315.0
317.5
320.0
322.5
327.5
330.0
332.5
335.0
330.0
320.0
322.5
325.0
327.5
332.5
335.0
337.5
340.0
330.0
320.0
322.5
325.0
327.5
332.5
335.0
337.5
340.0
332.5
322.5
325.0
327.5
330.0
335.0
337.5
340.0
342.5
337.5
327.5
330.0
332.5
335.0
340.0
342.5
345.0
347.5
337.5
327.5
330.0
332.5
335.0
340.0
342.5
345.0
347.5
340.0
330.0
332.5
335.0
337.5
342.5
345.0
347.5
350.0
342.5
332.5
335.0
337.5
340.0
345.0
347.5
350.0
352.5
340.0
330.0
332.5
335.0
337.5
342.5
345.0
347.5
350.0
335.0
325.0
327.5
330.0
332.5
337.5
340.0
342.5
345.0
335.0
325.0
327.5
330.0
332.5
337.5
340.0
342.5
345.0
337.5
327.5
330.0
332.5
335.0
340.0
342.5
345.0
347.5
335.0
325.0
327.5
330.0
332.5
337.5
340.0
342.5
345.0
335.0
325.0
327.5
330.0
332.5
337.5
340.0
342.5
345.0
337.5
327.5
330.0
332.5
335.0
340.0
342.5
345.0
347.5
340.0
330.0
332.5
335.0
337.5
342.5
345.0
347.5
350.0
340.0
330.0
332.5
335.0
337.5
342.5
345.0
347.5
350.0
337.5
327.5
330.0
332.5
335.0
340.0
342.5
345.0
347.5
332.5
322.5
325.0
327.5
330.0
335.0
337.5
340.0
342.5
332.5
322.5
325.0
327.5
330.0
335.0
337.5
340.0
342.5
332.5
322.5
325.0
327.5
330.0
335.0
337.5
340.0
342.5
332.5
322.5
325.0
327.5
330.0
335.0
337.5
340.0
342.5
330.0
320.0
322.5
325.0
327.5
332.5
335.0
337.5
340.0
332.5
322.5
325.0
327.5
330.0
335.0
337.5
340.0
342.5
327.5
317.5
320.0
322.5
325.0
330.0
332.5
335.0
337.5
327.5
317.5
320.0
322.5
325.0
330.0
332.5
335.0
337.5
327.5
317.5
320.0
322.5
325.0
330.0
332.5
335.0
337.5
327.5
317.5
320.0
322.5
325.0
330.0
332.5
335.0
337.5
330.0
320.0
322.5
325.0
327.5
332.5
335.0
337.5
340.0
330.0
320.0
322.5
325.0
327.5
332.5
335.0
337.5
340.0
335.0
325.0
327.5
330.0
332.5
337.5
340.0
342.5
345.0
337.5
327.5
330.0
332.5
335.0
340.0
342.5
345.0
347.5
340.0
330.0
332.5
335.0
337.5
342.5
345.0
347.5
350.0
340.0
330.0
332.5
335.0
337.5
342.5
345.0
347.5
350.0
337.5
327.5
330.0
332.5
335.0
340.0
342.5
345.0
347.5
337.5
327.5
330.0
332.5
335.0
340.0
342.5
345.0
347.5
340.0
330.0
332.5
335.0
337.5
342.5
345.0
347.5
350.0
340.0
330.0
332.5
335.0
337.5
342.5
345.0
347.5
350.0
342.5
332.5
335.0
337.5
340.0
345.0
347.5
350.0
352.5
350.0
340.0
342.5
345.0
347.5
352.5
355.0
357.5
360.0
345.0
335.0
337.5
340.0
342.5
347.5
350.0
352.5
355.0
342.5
332.5
335.0
337.5
340.0
345.0
347.5
350.0
352.5

In [235]:
sp12.columns.drop('일자')

Index(['기준행사가', 'S-4', 'S-3', 'S-2', 'S-1', 'S+1', 'S+2', 'S+3', 'S+4'], dtype='object')

In [236]:
for i, c in sp12.index, sp12.columns.drop('일자'):
    print(sp12.loc[i,c])

ValueError: too many values to unpack (expected 2)

In [222]:
for in sp
sp12

          일자  기준행사가    S-4    S-3    S-2    S-1    S+1    S+2    S+3    S+4
0   20231020  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
1   20231019  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2   20231018  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
3   20231017  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
4   20231016  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
5   20231013  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
6   20231012  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
7   20231011  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
8   20231010  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
9   20231006  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
10  20231005  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
11  20231004  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
12  20230927  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
13  20230926  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
14  20230925  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
15  20230922  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
16  20230921  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
17  20230920  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
18  20230919  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
19  20230918  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5
20  20230915  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
21  20230914  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
22  20230913  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
23  20230912  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
24  20230911  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
25  20230908  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
26  20230907  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
27  20230906  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
28  20230905  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
29  20230904  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
30  20230901  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
31  20230831  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
32  20230830  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
33  20230829  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
34  20230828  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
35  20230825  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
36  20230824  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
37  20230823  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
38  20230822  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
39  20230821  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
40  20230818  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
41  20230817  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
42  20230816  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
43  20230814  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
44  20230811  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
45  20230810  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
46  20230809  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
47  20230808  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
48  20230807  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
49  20230804  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
50  20230803  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5
51  20230802  350.0  340.0  342.5  345.0  347.5  352.5  355.0  357.5  360.0
52  20230801  345.0  335.0  337.5  340.0  342.5  347.5  350.0  352.5  355.0
53  20230731  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5