import modules

In [29]:
import pandas as pd
import glob
import os
current_directory = os.getcwd()
print("현재 디렉토리:", current_directory)

현재 디렉토리: c:\apps\1stProject

목표 : 각 옵션종목을 각 dataframe으로 저장
dataframe이름 예로 201TB305는 콜옵션, 23년, 11월, 행사가 305이므로 -> TB305C
201TC2337는 콜옵션, 23년, 12월, 행사가 337.5이므로 -> TC337C
301TB312는 풋옵션, 23년, 11월, 행사가 312.5이므로 -> TB312P
301TC335는 풋옵션, 23년, 12월, 행사가 335이므로 -> TC335P

load files

In [30]:
strike_price = pd.read_csv('./old_dataset/strike_price.csv')

          일자  기준행사가    S-4    S-3    S-2    S-1    S+1    S+2    S+3    S+4
0   20231020  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
1   20231019  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2   20231018  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
3   20231017  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
4   20231016  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
5   20231013  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
6   20231012  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
7   20231011  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
8   20231010  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
9   20231006  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
10  20231005  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
11  20231004  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
12  20230927  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
13  20230926  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
14  20230925  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
15  20230922  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
16  20230921  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
17  20230920  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
18  20230919  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
19  20230918  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5
20  20230915  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
21  20230914  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
22  20230913  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
23  20230912  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
24  20230911  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
25  20230908  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
26  20230907  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
27  20230906  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
28  20230905  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
29  20230904  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
30  20230901  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
31  20230831  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
32  20230830  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
33  20230829  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
34  20230828  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
35  20230825  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
36  20230824  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
37  20230823  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
38  20230822  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
39  20230821  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
40  20230818  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
41  20230817  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
42  20230816  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
43  20230814  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
44  20230811  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
45  20230810  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
46  20230809  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
47  20230808  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
48  20230807  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
49  20230804  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
50  20230803  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5
51  20230802  350.0  340.0  342.5  345.0  347.5  352.5  355.0  357.5  360.0
52  20230801  345.0  335.0  337.5  340.0  342.5  347.5  350.0  352.5  355.0
53  20230731  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5

In [54]:
strike_price

          일자  기준행사가    S-4    S-3    S-2    S-1    S+1    S+2    S+3    S+4
0   20231020  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
1   20231019  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2   20231018  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
3   20231017  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
4   20231016  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
5   20231013  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
6   20231012  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
7   20231011  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
8   20231010  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
9   20231006  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
10  20231005  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
11  20231004  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
12  20230927  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
13  20230926  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
14  20230925  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
15  20230922  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
16  20230921  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
17  20230920  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
18  20230919  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
19  20230918  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5
20  20230915  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
21  20230914  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
22  20230913  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
23  20230912  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
24  20230911  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
25  20230908  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
26  20230907  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
27  20230906  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
28  20230905  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
29  20230904  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
30  20230901  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
31  20230831  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
32  20230830  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
33  20230829  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
34  20230828  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
35  20230825  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
36  20230824  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
37  20230823  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
38  20230822  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
39  20230821  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
40  20230818  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
41  20230817  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
42  20230816  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
43  20230814  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
44  20230811  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
45  20230810  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
46  20230809  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
47  20230808  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
48  20230807  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
49  20230804  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
50  20230803  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5
51  20230802  350.0  340.0  342.5  345.0  347.5  352.5  355.0  357.5  360.0
52  20230801  345.0  335.0  337.5  340.0  342.5  347.5  350.0  352.5  355.0
53  20230731  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5

In [31]:
folder_path = './option_price/' # 폴더 경로

In [32]:
combined_data = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/201TB305_352.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            selected_rows = data[data['date'].dt.time == pd.to_datetime('09:30:00').time()]
            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if combined_data.empty:
                combined_data = selected_rows
            else:
                combined_data = pd.merge(combined_data, selected_rows, on='date', how='outer')

# print(combined_data)

In [33]:
combined_data

,date,CTB305,CTB307,CTB310,CTB312,CTB315,CTB317,CTB319,CTB322,CTB324,CTB327,CTB332,CTB334,CTB337,CTB339,CTB342,CTB344,CTB347,CTB349,CTB352
0,2023-10-27 09:30:00,-6.45,-4.97,-3.70,2.65,-1.80,1.18,NaN,-0.43,NaN,-0.15,0.07,NaN,0.04,NaN,0.02,NaN,0.01,NaN,NaN
1,2023-10-26 09:30:00,8.96,7.16,5.60,4.25,3.11,2.17,NaN,0.92,NaN,0.34,0.13,NaN,0.06,NaN,0.03,NaN,0.02,NaN,0.01
2,2023-10-25 09:30:00,14.40,11.90,10.00,8.00,6.38,4.91,NaN,2.59,NaN,1.14,0.42,NaN,0.15,NaN,0.06,NaN,0.02,NaN,0.01
3,2023-10-24 09:30:00,-12.60,-10.60,-8.60,-7.00,-5.52,-4.20,NaN,-2.18,NaN,-0.94,-0.34,NaN,-0.12,NaN,-0.05,NaN,-0.02,NaN,0.01
4,2023-10-23 09:30:00,14.20,12.30,10.20,8.40,6.81,5.28,NaN,2.95,NaN,1.41,0.57,NaN,0.21,NaN,0.08,NaN,0.03,NaN,NaN
5,2023-10-20 09:30:00,-14.35,NaN,-10.55,-9.00,-7.15,-5.71,NaN,-3.33,NaN,-1.72,-0.77,NaN,0.31,NaN,0.12,NaN,0.05,NaN,-0.01
6,2023-10-13 09:30:00,22.80,NaN,NaN,15.40,NaN,11.80,NaN,7.93,NaN,5.04,2.92,NaN,1.50,NaN,0.67,NaN,0.26,NaN,0.10
7,2023-10-19 09:30:00,NaN,NaN,15.10,13.30,11.30,9.15,NaN,6.14,NaN,3.58,1.80,NaN,0.78,NaN,0.28,NaN,0.09,NaN,0.03
8,2023-10-18 09:30:00,NaN,NaN,-18.75,NaN,-14.00,NaN,NaN,-8.57,NaN,-5.41,-3.00,NaN,-1.43,NaN,-0.56,NaN,-0.18,NaN,-0.05
9,2023-10-16 09:30:00,NaN,NaN,16.05,NaN,NaN,10.40,NaN,6.47,NaN,3.90,2.03,NaN,0.91,NaN,0.34,NaN,0.13,NaN,0.05
10,2023-10-12 09:30:00,NaN,NaN,19.30,NaN,15.20,-13.15,NaN,-9.33,NaN,-6.22,-3.75,NaN,-2.05,NaN,-0.99,NaN,-0.43,NaN,-0.18
11,2023-10-11 09:30:00,NaN,NaN,-17.45,NaN,-13.15,11.45,NaN,7.95,NaN,5.17,3.05,NaN,1.62,NaN,0.77,NaN,0.32,NaN,0.13
12,2023-10-10 09:30:00,NaN,NaN,16.75,NaN,NaN,10.75,NaN,7.40,NaN,4.72,2.77,NaN,1.50,NaN,0.72,NaN,0.32,NaN,0.14
13,2023-10-06 09:30:00,NaN,NaN,13.10,NaN,-9.00,-7.41,NaN,-4.80,NaN,-2.85,-1.55,NaN,-0.78,NaN,-0.37,NaN,-0.17,NaN,-0.08
14,2023-10-05 09:30:00,NaN,NaN,12.45,10.60,NaN,7.50,NaN,4.85,NaN,2.87,1.57,NaN,0.78,NaN,0.37,NaN,0.18,NaN,0.08
15,2023-10-17 09:30:00,NaN,NaN,NaN,-15.25,NaN,-10.70,NaN,-7.17,NaN,-4.30,-2.30,NaN,-1.04,NaN,-0.41,NaN,-0.14,NaN,-0.05
16,2023-10-04 09:30:00,NaN,NaN,NaN,11.55,9.84,8.23,NaN,5.40,NaN,3.32,1.89,NaN,0.99,NaN,0.50,NaN,0.25,NaN,0.12
17,2023-09-18 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.00,NaN,17.75,NaN,NaN,NaN,NaN,7.06,NaN,4.71,NaN,2.89
18,2023-09-26 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.90,4.55,NaN,2.65,NaN,1.51,NaN,0.79,NaN,0.39
19,2023-09-22 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8.24,-5.30,NaN,-3.62,NaN,-2.14,NaN,-1.18,NaN,-0.63
20,2023-09-25 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.21,NaN,-3.74,NaN,-2.11,NaN,-1.13,NaN,0.59
21,2023-09-27 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.15,NaN,-1.16,NaN,-0.60,NaN,-0.31
22,2023-09-21 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.46,NaN,3.36,NaN,1.96,NaN,1.06
23,2023-09-20 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.70,NaN,5.18,NaN,3.20,NaN,1.89
24,2023-09-14 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6.75,NaN,-4.46,NaN,NaN,NaN,-1.56
25,2023-09-12 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.15,NaN,NaN,NaN,2.90,NaN,NaN
26,2023-09-11 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.70,NaN,NaN,NaN,NaN,NaN,NaN
27,2023-09-04 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8.80,NaN,NaN,NaN,NaN,NaN,NaN
28,2023-09-15 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6.57,NaN,-4.54,NaN,-2.78
29,2023-09-01 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.20,NaN,NaN,NaN,NaN
30,2023-09-19 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.90,NaN,2.35
31,2023-09-13 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.80,NaN,NaN
32,2023-09-08 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.54,NaN,NaN
33,2023-09-07 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.01,NaN,NaN
34,2023-08-29 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.75,NaN,1.71
35,2023-08-25 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.20,NaN,NaN
36,2023-08-17 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.19,NaN,NaN
37,2023-08-16 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.45
38,2023-08-11 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.85

콜옵션 23년 11월물 9시30분 현재가

In [34]:
CTB930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/201TB305_352.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            selected_rows = data[data['date'].dt.time == pd.to_datetime('09:30:00').time()]
            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if CTB930.empty:
                CTB930 = selected_rows
            else:
                CTB930 = pd.merge(CTB930, selected_rows, on='date', how='outer')
print(CTB930)

                  date  CTB305  CTB307  CTB310  CTB312  CTB315  CTB317  \
0  2023-10-27 09:30:00   -6.45   -4.97   -3.70    2.65   -1.80    1.18
1  2023-10-26 09:30:00    8.96    7.16    5.60    4.25    3.11    2.17
2  2023-10-25 09:30:00   14.40   11.90   10.00    8.00    6.38    4.91
3  2023-10-24 09:30:00  -12.60  -10.60   -8.60   -7.00   -5.52   -4.20
4  2023-10-23 09:30:00   14.20   12.30   10.20    8.40    6.81    5.28
5  2023-10-20 09:30:00  -14.35     NaN  -10.55   -9.00   -7.15   -5.71
6  2023-10-13 09:30:00   22.80     NaN     NaN   15.40     NaN   11.80
7  2023-10-19 09:30:00     NaN     NaN   15.10   13.30   11.30    9.15
8  2023-10-18 09:30:00     NaN     NaN  -18.75     NaN  -14.00     NaN
9  2023-10-16 09:30:00     NaN     NaN   16.05     NaN     NaN   10.40
10 2023-10-12 09:30:00     NaN     NaN   19.30     NaN   15.20  -13.15
11 2023-10-11 09:30:00     NaN     NaN  -17.45     NaN  -13.15   11.45
12 2023-10-10 09:30:00     NaN     NaN   16.75     NaN     NaN   10.75
13 2023-10-06 09:30:00     NaN     NaN   13.10     NaN   -9.00   -7.41
14 2023-10-05 09:30:00     NaN     NaN   12.45   10.60     NaN    7.50
15 2023-10-17 09:30:00     NaN     NaN     NaN  -15.25     NaN  -10.70
16 2023-10-04 09:30:00     NaN     NaN     NaN   11.55    9.84    8.23
17 2023-09-18 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
18 2023-09-26 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
19 2023-09-22 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
20 2023-09-25 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
21 2023-09-27 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
22 2023-09-21 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
23 2023-09-20 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
24 2023-09-14 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
25 2023-09-12 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
26 2023-09-11 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
27 2023-09-04 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
28 2023-09-15 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
29 2023-09-01 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
30 2023-09-19 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
31 2023-09-13 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
32 2023-09-08 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
33 2023-09-07 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
34 2023-08-29 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
35 2023-08-25 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
36 2023-08-17 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
37 2023-08-16 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
38 2023-08-11 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN

    CTB319  CTB322  CTB324  CTB327  CTB332  CTB334  CTB337  CTB339  CTB342  \
0      NaN   -0.43     NaN   -0.15    0.07     NaN    0.04     NaN    0.02
1      NaN    0.92     NaN    0.34    0.13     NaN    0.06     NaN    0.03
2      NaN    2.59     NaN    1.14    0.42     NaN    0.15     NaN    0.06
3      NaN   -2.18     NaN   -0.94   -0.34     NaN   -0.12     NaN   -0.05
4      NaN    2.95     NaN    1.41    0.57     NaN    0.21     NaN    0.08
5      NaN   -3.33     NaN   -1.72   -0.77     NaN    0.31     NaN    0.12
6      NaN    7.93     NaN    5.04    2.92     NaN    1.50     NaN    0.67
7      NaN    6.14     NaN    3.58    1.80     NaN    0.78     NaN    0.28
8      NaN   -8.57     NaN   -5.41   -3.00     NaN   -1.43     NaN   -0.56
9      NaN    6.47     NaN    3.90    2.03     NaN    0.91     NaN    0.34
10     NaN   -9.33     NaN   -6.22   -3.75     NaN   -2.05     NaN   -0.99
11     NaN    7.95     NaN    5.17    3.05     NaN    1.62     NaN    0.77
12     NaN    7.40     NaN    4.72    2.77     NaN    1.50     NaN    0.72
13     NaN   -4.80     NaN   -2.85   -1.55     NaN   -0.78     NaN   -0.37
14     NaN    4.85     NaN    2.87    1.57     NaN    0.78     NaN    0.37
15     NaN   -7.17     NaN   -4.30   -2.30     NaN   -1.04     NaN   -0.41
16     NaN    5.40     NaN    3.32    1.89     NaN    0.99     NaN    0.50
17     NaN   22.00     NaN   17.75     NaN     NaN     NaN     NaN    7.06
18     NaN     NaN     NaN    6.90    4.55     NaN    2.65     NaN    1.51
19     NaN     NaN     NaN   -8.24   -5.30     NaN   -3.62     NaN   -2.14
20     NaN     NaN     NaN     NaN    6.21     NaN   -3.74     NaN   -2.11
21     NaN     NaN     NaN     NaN     NaN     NaN   -2.15     NaN   -1.16
22     NaN     NaN     NaN     NaN     NaN     NaN    5.46     NaN    3.36
23     NaN     NaN     NaN     NaN     NaN     NaN    7.70     NaN    5.18
24     NaN     NaN     NaN     NaN     NaN     NaN   -6.75     NaN   -4.46
25     NaN     NaN     NaN     NaN     NaN     NaN    7.15     NaN     NaN
26     NaN     NaN     NaN     NaN     NaN     NaN    6.70     NaN     NaN
27     NaN     NaN     NaN     NaN     NaN     NaN   -8.80     NaN     NaN
28     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN   -6.57
29     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN    5.20
30     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
31     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
32     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
33     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
34     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
35     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
36     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
37     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
38     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

    CTB344  CTB347  CTB349  CTB352
0      NaN    0.01     NaN     NaN
1      NaN    0.02     NaN    0.01
2      NaN    0.02     NaN    0.01
3      NaN   -0.02     NaN    0.01
4      NaN    0.03     NaN     NaN
5      NaN    0.05     NaN   -0.01
6      NaN    0.26     NaN    0.10
7      NaN    0.09     NaN    0.03
8      NaN   -0.18     NaN   -0.05
9      NaN    0.13     NaN    0.05
10     NaN   -0.43     NaN   -0.18
11     NaN    0.32     NaN    0.13
12     NaN    0.32     NaN    0.14
13     NaN   -0.17     NaN   -0.08
14     NaN    0.18     NaN    0.08
15     NaN   -0.14     NaN   -0.05
16     NaN    0.25     NaN    0.12
17     NaN    4.71     NaN    2.89
18     NaN    0.79     NaN    0.39
19     NaN   -1.18     NaN   -0.63
20     NaN   -1.13     NaN    0.59
21     NaN   -0.60     NaN   -0.31
22     NaN    1.96     NaN    1.06
23     NaN    3.20     NaN    1.89
24     NaN     NaN     NaN   -1.56
25     NaN    2.90     NaN     NaN
26     NaN     NaN     NaN     NaN
27     NaN     NaN     NaN     NaN
28     NaN   -4.54     NaN   -2.78
29     NaN     NaN     NaN     NaN
30     NaN    3.90     NaN    2.35
31     NaN    2.80     NaN     NaN
32     NaN   -2.54     NaN     NaN
33     NaN    3.01     NaN     NaN
34     NaN   -2.75     NaN    1.71
35     NaN   -2.20     NaN     NaN
36     NaN   -2.19     NaN     NaN
37     NaN     NaN     NaN    2.45
38     NaN     NaN     NaN    4.85

In [35]:
CTB930['CTB324'].isna().value_counts()

CTB324
True    39
Name: count, dtype: int64

In [36]:
CTB930.head()

,date,CTB305,CTB307,CTB310,CTB312,CTB315,CTB317,CTB319,CTB322,CTB324,CTB327,CTB332,CTB334,CTB337,CTB339,CTB342,CTB344,CTB347,CTB349,CTB352
0,2023-10-27 09:30:00,-6.45,-4.97,-3.7,2.65,-1.80,1.18,NaN,-0.43,NaN,-0.15,0.07,NaN,0.04,NaN,0.02,NaN,0.01,NaN,NaN
1,2023-10-26 09:30:00,8.96,7.16,5.6,4.25,3.11,2.17,NaN,0.92,NaN,0.34,0.13,NaN,0.06,NaN,0.03,NaN,0.02,NaN,0.01
2,2023-10-25 09:30:00,14.40,11.90,10.0,8.00,6.38,4.91,NaN,2.59,NaN,1.14,0.42,NaN,0.15,NaN,0.06,NaN,0.02,NaN,0.01
3,2023-10-24 09:30:00,-12.60,-10.60,-8.6,-7.00,-5.52,-4.20,NaN,-2.18,NaN,-0.94,-0.34,NaN,-0.12,NaN,-0.05,NaN,-0.02,NaN,0.01
4,2023-10-23 09:30:00,14.20,12.30,10.2,8.40,6.81,5.28,NaN,2.95,NaN,1.41,0.57,NaN,0.21,NaN,0.08,NaN,0.03,NaN,NaN

콜 23년 11월 15시15분 현재가

In [37]:
CTB1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/201TB305_352.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            selected_rows = data[data['date'].dt.time == pd.to_datetime('15:15:00').time()]
            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if CTB1515.empty:
                CTB1515 = selected_rows
            else:
                CTB1515 = pd.merge(CTB1515, selected_rows, on='date', how='outer')

                  date  CTB305  CTB307  CTB310  CTB312  CTB315  CTB317  \
0  2023-10-27 15:15:00    6.65    5.15    3.82    2.72    1.86    1.20
1  2023-10-26 15:15:00   -7.15    5.64    4.29    3.15    2.23    1.52
2  2023-10-25 15:15:00   13.15  -11.00   -9.08   -7.30   -5.68   -4.29
3  2023-10-23 15:15:00   13.00  -10.85   -9.00   -7.39   -5.77   -4.44
4  2023-10-24 15:15:00     NaN   12.60  -10.60   -8.66    7.11    5.58
5  2023-10-20 15:15:00     NaN   12.80  -10.75    9.17   -7.40    5.89
6  2023-10-17 15:15:00     NaN     NaN   18.55     NaN   14.20   12.10
7  2023-10-13 15:15:00     NaN     NaN   17.55     NaN   13.35     NaN
8  2023-10-06 15:15:00     NaN     NaN   12.80     NaN    9.25     NaN
9  2023-10-05 15:15:00     NaN     NaN   12.35   10.55    9.00   -7.30
10 2023-10-04 15:15:00     NaN     NaN  -12.70   10.95    9.10     NaN
11 2023-09-04 15:15:00     NaN     NaN   31.50     NaN   26.90     NaN
12 2023-10-19 15:15:00     NaN     NaN     NaN   12.60  -10.70    8.90
13 2023-10-10 15:15:00     NaN     NaN     NaN   11.05    9.30   -7.68
14 2023-10-16 15:15:00     NaN     NaN     NaN     NaN   11.55    9.65
15 2023-10-12 15:15:00     NaN     NaN     NaN     NaN     NaN   13.80
16 2023-10-18 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
17 2023-10-11 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
18 2023-09-21 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
19 2023-09-27 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
20 2023-09-26 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
21 2023-09-08 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
22 2023-09-25 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
23 2023-09-22 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
24 2023-09-20 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
25 2023-09-15 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
26 2023-09-13 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
27 2023-09-01 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
28 2023-09-19 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
29 2023-09-18 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
30 2023-09-11 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
31 2023-08-31 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
32 2023-09-14 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
33 2023-09-07 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
34 2023-08-30 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
35 2023-08-28 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
36 2023-09-12 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
37 2023-09-06 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
38 2023-09-05 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN

    CTB319  CTB322  CTB324  CTB327  CTB332  CTB334  CTB337  CTB339  CTB342  \
0      NaN   -0.43     NaN   -0.15   -0.05     NaN   -0.02     NaN    0.02
1      NaN    0.63     NaN    0.24    0.11     NaN    0.05     NaN    0.03
2      NaN   -2.16     NaN   -0.89    0.31     NaN    0.11     NaN    0.05
3      NaN   -2.36     NaN   -1.06   -0.40     NaN    0.15     NaN    0.06
4      NaN    3.10     NaN   -1.45   -0.56     NaN   -0.19     NaN    0.07
5      NaN    3.46     NaN   -1.77   -0.78     NaN   -0.29     NaN    0.12
6      NaN    8.31     NaN    5.21    2.87     NaN   -1.35     NaN   -0.52
7      NaN    7.68     NaN   -4.81   -2.74     NaN   -1.36     NaN   -0.58
8      NaN   -4.93     NaN   -2.94   -1.62     NaN   -0.82     NaN   -0.39
9      NaN   -4.77     NaN    2.81   -1.50     NaN   -0.74     NaN    0.35
10     NaN   -5.01     NaN   -3.13   -1.73     NaN   -0.90     NaN    0.44
11     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
12     NaN    5.70     NaN    3.28    1.64     NaN    0.69     NaN    0.25
13     NaN   -5.00     NaN   -2.96   -1.60     NaN   -0.76     NaN    0.33
14     NaN    6.30     NaN    3.70   -1.92     NaN   -0.85     NaN   -0.32
15     NaN    9.81     NaN    6.54    4.03     NaN    2.24     NaN    1.11
16     NaN    9.15     NaN    5.80    3.26     NaN    1.57     NaN    0.62
17     NaN   -7.46     NaN   -4.75   -2.76     NaN   -1.43     NaN   -0.66
18     NaN   13.40     NaN   10.00    6.95     NaN    4.45     NaN   -2.70
19     NaN     NaN     NaN    6.49    4.14     NaN    2.46     NaN   -1.34
20     NaN     NaN     NaN   -6.47   -4.06     NaN   -2.45     NaN    1.33
21     NaN     NaN     NaN   13.00     NaN     NaN     NaN     NaN     NaN
22     NaN     NaN     NaN     NaN   -5.95     NaN   -3.76     NaN   -2.14
23     NaN     NaN     NaN     NaN     NaN     NaN   -3.93     NaN   -2.34
24     NaN     NaN     NaN     NaN     NaN     NaN   -7.32     NaN    4.84
25     NaN     NaN     NaN     NaN     NaN     NaN   11.45     NaN     NaN
26     NaN     NaN     NaN     NaN     NaN     NaN    6.18     NaN     NaN
27     NaN     NaN     NaN     NaN     NaN     NaN    7.92     NaN     NaN
28     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN    4.87
29     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN    6.11
30     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN   -4.74
31     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN    4.30
32     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
33     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
34     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
35     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
36     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
37     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
38     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

    CTB344  CTB347  CTB349  CTB352
0      NaN     NaN     NaN     NaN
1      NaN    0.01     NaN    0.01
2      NaN    0.02     NaN    0.01
3      NaN    0.02     NaN    0.01
4      NaN    0.03     NaN    0.01
5      NaN    0.04     NaN   -0.01
6      NaN    0.18     NaN    0.06
7      NaN   -0.22     NaN   -0.08
8      NaN    0.18     NaN    0.10
9      NaN    0.16     NaN    0.08
10     NaN    0.21     NaN    0.11
11     NaN     NaN     NaN     NaN
12     NaN   -0.08     NaN    0.03
13     NaN    0.14     NaN    0.07
14     NaN   -0.12     NaN    0.05
15     NaN    0.48     NaN   -0.20
16     NaN    0.20     NaN    0.06
17     NaN   -0.28     NaN    0.12
18     NaN    1.54     NaN    0.82
19     NaN   -0.69     NaN   -0.34
20     NaN    0.68     NaN    0.34
21     NaN     NaN     NaN     NaN
22     NaN   -1.18     NaN    0.60
23     NaN   -1.28     NaN   -0.65
24     NaN   -2.87     NaN   -1.62
25     NaN    5.66     NaN    3.61
26     NaN     NaN     NaN    1.43
27     NaN     NaN     NaN     NaN
28     NaN   -2.95     NaN   -1.68
29     NaN    4.01     NaN    2.40
30     NaN     NaN     NaN     NaN
31     NaN    2.77     NaN     NaN
32     NaN    3.77     NaN    2.28
33     NaN    2.85     NaN    1.68
34     NaN    2.90     NaN     NaN
35     NaN    2.45     NaN     NaN
36     NaN     NaN     NaN    1.40
37     NaN     NaN     NaN    2.06
38     NaN     NaN     NaN    2.67

In [53]:
CTB1515.head()

,date,CTB305,CTB307,CTB310,CTB312,CTB315,CTB317,CTB319,CTB322,CTB324,CTB327,CTB332,CTB334,CTB337,CTB339,CTB342,CTB344,CTB347,CTB349,CTB352
0,2023-10-27 15:15:00,6.65,5.15,3.82,2.72,1.86,1.20,NaN,-0.43,NaN,-0.15,-0.05,NaN,-0.02,NaN,0.02,NaN,NaN,NaN,NaN
1,2023-10-26 15:15:00,-7.15,5.64,4.29,3.15,2.23,1.52,NaN,0.63,NaN,0.24,0.11,NaN,0.05,NaN,0.03,NaN,0.01,NaN,0.01
2,2023-10-25 15:15:00,13.15,-11.00,-9.08,-7.30,-5.68,-4.29,NaN,-2.16,NaN,-0.89,0.31,NaN,0.11,NaN,0.05,NaN,0.02,NaN,0.01
3,2023-10-23 15:15:00,13.00,-10.85,-9.00,-7.39,-5.77,-4.44,NaN,-2.36,NaN,-1.06,-0.40,NaN,0.15,NaN,0.06,NaN,0.02,NaN,0.01
4,2023-10-24 15:15:00,NaN,12.60,-10.60,-8.66,7.11,5.58,NaN,3.10,NaN,-1.45,-0.56,NaN,-0.19,NaN,0.07,NaN,0.03,NaN,0.01

In [38]:
CTB1515.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    39 non-null     datetime64[ns]
 1   CTB305  4 non-null      float64
 2   CTB307  6 non-null      float64
 3   CTB310  12 non-null     float64
 4   CTB312  10 non-null     float64
 5   CTB315  15 non-null     float64
 6   CTB317  12 non-null     float64
 7   CTB319  0 non-null      float64
 8   CTB322  18 non-null     float64
 9   CTB324  0 non-null      float64
 10  CTB327  21 non-null     float64
 11  CTB332  21 non-null     float64
 12  CTB334  0 non-null      float64
 13  CTB337  26 non-null     float64
 14  CTB339  0 non-null      float64
 15  CTB342  27 non-null     float64
 16  CTB344  0 non-null      float64
 17  CTB347  30 non-null     float64
 18  CTB349  0 non-null      float64
 19  CTB352  31 non-null     float64
dtypes: datetime64[ns](1), float64(19)
memory usage: 6.2 KB

콜 23년 12월물 9시30분 현재가

In [39]:
CTC930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/201TC305_337.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            selected_rows = data[data['date'].dt.time == pd.to_datetime('09:30:00').time()]
            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if CTC930.empty:
                CTC930 = selected_rows
            else:
                CTC930 = pd.merge(CTC930, selected_rows, on='date', how='outer')
print(CTC930)

                  date  CTC305  CTC307  CTC310  CTC312  CTC315  CTC320  \
0  2023-10-27 09:30:00  -10.55   -9.07   -7.75   -6.47    5.65   -3.63
1  2023-10-26 09:30:00   13.00   11.05    9.80    8.32     NaN    4.88
2  2023-09-26 09:30:00   26.60     NaN     NaN     NaN     NaN     NaN
3  2023-10-23 09:30:00     NaN     NaN   13.50     NaN   10.60    7.85
4  2023-10-20 09:30:00     NaN     NaN  -13.95     NaN  -11.00   -7.98
5  2023-09-21 09:30:00     NaN     NaN   28.70     NaN   24.30     NaN
6  2023-10-24 09:30:00     NaN     NaN     NaN  -10.75   -9.30   -7.03
7  2023-10-04 09:30:00     NaN     NaN     NaN     NaN   12.80     NaN
8  2023-04-06 09:30:00     NaN     NaN     NaN     NaN   23.00     NaN
9  2023-03-29 09:30:00     NaN     NaN     NaN     NaN   20.20     NaN
10 2023-10-25 09:30:00     NaN     NaN     NaN     NaN     NaN    7.35
11 2023-10-10 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
12 2023-10-06 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
13 2023-10-19 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
14 2023-10-17 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
15 2023-10-12 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
16 2023-10-13 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
17 2023-10-18 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
18 2023-10-16 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
19 2023-10-11 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
20 2023-08-16 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
21 2023-05-30 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
22 2023-05-22 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
23 2023-05-15 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
24 2023-01-18 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
25 2022-12-15 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
26 2022-10-24 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
27 2023-10-05 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
28 2023-09-22 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
29 2023-08-31 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
30 2023-08-02 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
31 2023-07-07 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
32 2023-06-05 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN

    CTC322  CTC325  CTC327  CTC330  CTC332  CTC335  CTC337
0    -2.86    2.31   -1.79    1.38    1.05    0.78    0.58
1     4.03    3.25    2.55    2.00    1.54    1.18    0.88
2      NaN   11.30     NaN    8.43     NaN     NaN    5.15
3     6.49    5.61    4.50    3.84    3.09    2.33    1.84
4    -6.82   -5.67   -4.74   -3.88   -3.13   -2.50   -2.00
5      NaN     NaN     NaN     NaN     NaN     NaN     NaN
6      NaN   -4.61   -3.90   -2.98   -2.36   -1.91   -1.44
7     8.39   -7.02    6.02    5.12     NaN    3.41    2.80
8      NaN     NaN     NaN     NaN     NaN     NaN     NaN
9      NaN     NaN     NaN     NaN     NaN     NaN     NaN
10    6.58    5.36    4.26    3.34    2.83    2.09    1.61
11   10.75     NaN     NaN    6.70    5.63     NaN     NaN
12    8.10   -6.50   -5.50   -4.58   -3.74   -3.04   -2.43
13     NaN    8.33    6.98    5.84    4.79    3.95    3.17
14     NaN   -9.35     NaN   -6.60   -5.48     NaN   -3.60
15     NaN   11.00     NaN   -8.20    6.85     NaN     NaN
16     NaN     NaN    8.34     NaN     NaN    5.00    4.10
17     NaN     NaN     NaN   -7.45     NaN   -5.12   -4.14
18     NaN     NaN     NaN    6.20     NaN    4.20     NaN
19     NaN     NaN     NaN    7.00    6.01     NaN     NaN
20     NaN     NaN     NaN   13.70     NaN   10.70     NaN
21     NaN     NaN     NaN  -24.20     NaN     NaN     NaN
22     NaN     NaN     NaN  -21.75     NaN     NaN     NaN
23     NaN     NaN     NaN  -13.25     NaN     NaN     NaN
24     NaN     NaN     NaN   14.90     NaN     NaN     NaN
25     NaN     NaN     NaN   14.05     NaN     NaN     NaN
26     NaN     NaN     NaN   11.65     NaN     NaN     NaN
27     NaN     NaN     NaN     NaN     NaN    3.10     NaN
28     NaN     NaN     NaN     NaN     NaN   -7.00     NaN
29     NaN     NaN     NaN     NaN     NaN   10.50     NaN
30     NaN     NaN     NaN     NaN     NaN   23.00     NaN
31     NaN     NaN     NaN     NaN     NaN   12.50     NaN
32     NaN     NaN     NaN     NaN     NaN   22.70     NaN

콜옵션 23년 12월물 15시15분 현재가

In [40]:
CTC1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/201TC305_337.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            selected_rows = data[data['date'].dt.time == pd.to_datetime('15:15:00').time()]
            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if CTC1515.empty:
                CTC1515 = selected_rows
            else:
                CTC1515 = pd.merge(CTC1515, selected_rows, on='date', how='outer')
print(CTC1515)

                  date  CTC305  CTC307  CTC310  CTC312  CTC315  CTC320  \
0  2023-10-26 15:15:00   11.25    9.80    8.49    7.16    6.00    4.09
1  2023-10-20 15:15:00   17.90   16.30   14.30     NaN   11.05   -8.25
2  2023-09-07 15:15:00   33.80     NaN   29.35     NaN     NaN     NaN
3  2023-10-27 15:15:00     NaN    9.43    7.95     NaN    5.61   -3.68
4  2023-10-23 15:15:00     NaN     NaN   12.90     NaN    9.79     NaN
5  2023-10-04 15:15:00     NaN     NaN   15.50     NaN     NaN     NaN
6  2023-08-02 15:15:00     NaN     NaN     NaN     NaN   34.25     NaN
7  2023-07-05 15:15:00     NaN     NaN     NaN     NaN   30.90     NaN
8  2023-10-25 15:15:00     NaN     NaN     NaN     NaN     NaN    6.97
9  2023-10-24 15:15:00     NaN     NaN     NaN     NaN     NaN    7.98
10 2023-10-19 15:15:00     NaN     NaN     NaN     NaN     NaN   10.80
11 2023-10-17 15:15:00     NaN     NaN     NaN     NaN     NaN   13.60
12 2023-10-16 15:15:00     NaN     NaN     NaN     NaN     NaN   11.45
13 2023-10-06 15:15:00     NaN     NaN     NaN     NaN     NaN    9.20
14 2023-10-05 15:15:00     NaN     NaN     NaN     NaN     NaN    9.00
15 2023-09-14 15:15:00     NaN     NaN     NaN     NaN     NaN   24.65
16 2023-08-21 15:15:00     NaN     NaN     NaN     NaN     NaN   17.35
17 2023-10-10 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
18 2023-10-13 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
19 2023-10-11 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
20 2023-01-03 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
21 2023-10-12 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
22 2023-09-25 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
23 2023-09-21 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
24 2023-08-28 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
25 2023-08-23 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
26 2023-08-07 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
27 2023-09-20 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
28 2023-08-30 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
29 2023-08-16 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
30 2023-08-11 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
31 2023-07-12 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
32 2023-05-30 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
33 2023-05-24 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN

    CTC322  CTC325  CTC327  CTC330  CTC332  CTC335  CTC337
0     3.30    2.62    2.08    1.61    1.23    0.95    0.71
1     7.06   -5.94    4.94    4.00    3.26   -2.57   -2.03
2      NaN     NaN     NaN     NaN     NaN   10.65     NaN
3     2.95    2.33    1.83    1.38    1.05   -0.77    0.57
4     5.98    4.95    4.01    3.27   -2.54    2.06    1.57
5      NaN     NaN    5.78     NaN    3.93   -3.24     NaN
6      NaN     NaN     NaN     NaN     NaN     NaN     NaN
7      NaN     NaN     NaN     NaN     NaN     NaN     NaN
8     5.77   -4.74     NaN    3.09    2.42    1.89    1.44
9      NaN   -5.61    4.62   -3.74   -2.96   -2.34    1.83
10     NaN     NaN     NaN     NaN     NaN    3.80    3.05
11     NaN     NaN    8.63    7.37     NaN    5.14    4.17
12     NaN     NaN     NaN     NaN    4.97    4.16    3.30
13    7.88    6.70    5.64    4.69    3.84    3.16    2.57
14    7.73     NaN     NaN     NaN    3.74     NaN    2.37
15     NaN     NaN     NaN     NaN     NaN     NaN     NaN
16     NaN     NaN     NaN     NaN     NaN     NaN     NaN
17    8.23     NaN     NaN    4.85    4.00   -3.24    2.61
18     NaN    9.60    8.27    6.72     NaN    4.51     NaN
19     NaN    9.38     NaN    6.94     NaN     NaN     NaN
20     NaN   -8.63     NaN     NaN     NaN     NaN     NaN
21     NaN     NaN    9.99     NaN     NaN    6.15     NaN
22     NaN     NaN     NaN   10.00     NaN     NaN     NaN
23     NaN     NaN     NaN   10.85     NaN    8.26     NaN
24     NaN     NaN     NaN   12.50     NaN     NaN     NaN
25     NaN     NaN     NaN   10.85     NaN     NaN     NaN
26     NaN     NaN     NaN   19.70     NaN     NaN     NaN
27     NaN     NaN     NaN     NaN     NaN   11.30     NaN
28     NaN     NaN     NaN     NaN     NaN   10.75     NaN
29     NaN     NaN     NaN     NaN     NaN   10.25     NaN
30     NaN     NaN     NaN     NaN     NaN   14.75     NaN
31     NaN     NaN     NaN     NaN     NaN   16.30     NaN
32     NaN     NaN     NaN     NaN     NaN   21.50     NaN
33     NaN     NaN     NaN     NaN     NaN   18.20     NaN

풋옵션 23년 11월물 9시30분 현재가

In [41]:
PTB930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/301TB305_352.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            selected_rows = data[data['date'].dt.time == pd.to_datetime('09:30:00').time()]
            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if PTB930.empty:
                PTB930 = selected_rows
            else:
                PTB930 = pd.merge(PTB930, selected_rows, on='date', how='outer')
print(PTB930)

                  date  PTB305  PTB307  PTB310  PTB312  PTB315  PTB317  \
0  2023-10-27 09:30:00    3.42    4.42    5.64    7.06    8.70   10.65
1  2023-10-26 09:30:00   -2.43   -3.18   -4.11   -5.23   -6.49   -8.02
2  2023-10-25 09:30:00   -1.05   -1.44   -1.95   -2.61   -3.44   -4.45
3  2023-10-24 09:30:00    1.63    2.14    2.78    3.57    4.55    5.72
4  2023-10-23 09:30:00   -1.61   -2.07   -2.65   -3.35   -4.22   -5.25
5  2023-10-20 09:30:00    2.00    2.50    3.12    3.85    4.75    5.83
6  2023-10-19 09:30:00   -0.71   -0.93   -1.23   -1.61   -2.09   -2.70
7  2023-10-18 09:30:00    0.34    0.46    0.62    0.83    1.13    1.52
8  2023-10-17 09:30:00    0.50    0.68    0.93    1.25    1.65    2.17
9  2023-10-16 09:30:00    0.76   -1.00   -1.31   -1.70   -2.20   -2.82
10 2023-10-13 09:30:00    0.58    0.76    1.00    1.31    1.72    2.22
11 2023-10-12 09:30:00    0.53    0.69    0.90    1.17    1.52    1.94
12 2023-10-11 09:30:00   -0.74   -0.95   -1.22   -1.59   -2.01   -2.55
13 2023-10-10 09:30:00   -0.93   -1.17   -1.50   -1.90   -2.42   -2.99
14 2023-10-06 09:30:00   -1.94   -2.40   -2.95    3.64   -4.42    5.40
15 2023-10-05 09:30:00    2.19    2.68    3.26    4.00    4.80    5.86
16 2023-10-04 09:30:00   -2.09   -2.55   -3.00   -3.66   -4.47   -5.31
17 2023-09-27 09:30:00    1.20    1.45    1.80    2.12    2.54    3.15
18 2023-09-26 09:30:00   -0.89   -1.09   -1.35   -1.67   -2.10   -2.57
19 2023-09-25 09:30:00    0.71    0.89    1.08    1.35    1.67    2.07
20 2023-09-22 09:30:00    1.09    1.31    1.58    1.90    2.30    2.78
21 2023-09-21 09:30:00   -0.50   -0.62   -0.76   -0.96   -1.18   -1.47
22 2023-09-20 09:30:00    0.35    0.42    0.52   -0.62    0.78   -0.93
23 2023-09-19 09:30:00   -0.32   -0.37   -0.47   -0.57   -0.70   -0.83
24 2023-09-18 09:30:00   -0.25   -0.31   -0.38   -0.46   -0.56   -0.72
25 2023-09-15 09:30:00    0.24    0.29    0.36    0.45    0.55    0.68
26 2023-09-14 09:30:00    0.47    0.57    0.71    0.85    1.05     NaN
27 2023-09-13 09:30:00   -0.52   -0.63   -0.74   -0.91   -1.14     NaN
28 2023-09-12 09:30:00   -0.52     NaN   -0.74     NaN     NaN     NaN
29 2023-09-06 09:30:00   -0.47   -0.57   -0.68   -0.84   -0.99     NaN
30 2023-09-05 09:30:00    0.50    0.61    0.71     NaN     NaN     NaN
31 2023-09-01 09:30:00    0.73    0.86     NaN     NaN    1.52     NaN
32 2023-08-31 09:30:00    0.90     NaN     NaN     NaN     NaN     NaN
33 2023-08-30 09:30:00   -0.81   -0.99     NaN   -1.42   -1.67     NaN
34 2023-09-11 09:30:00     NaN    0.70    0.85     NaN    1.30    1.54
35 2023-09-04 09:30:00     NaN    0.67     NaN     NaN    1.12    1.42
36 2023-08-24 09:30:00     NaN    1.80     NaN     NaN     NaN     NaN
37 2023-08-18 09:30:00     NaN    2.90     NaN     NaN     NaN     NaN
38 2023-09-08 09:30:00     NaN     NaN    1.03     NaN    1.48    1.88
39 2023-09-07 09:30:00     NaN     NaN   -0.93     NaN     NaN     NaN
40 2023-08-29 09:30:00     NaN     NaN     NaN    2.04     NaN     NaN
41 2023-08-22 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
42 2023-08-16 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
43 2023-08-21 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
44 2023-08-17 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
45 2023-08-01 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
46 2023-07-17 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
47 2023-08-14 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
48 2023-08-11 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
49 2023-08-02 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
50 2023-07-13 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
51 2023-07-12 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN
52 2023-08-10 09:30:00     NaN     NaN     NaN     NaN     NaN     NaN

    PTB320  PTB322  PTB325  PTB327  PTB330  PTB332  PTB335  PTB337  PTB340  \
0    12.50   15.05   17.60  -18.35   22.25   24.45  -25.75     NaN     NaN
1    -9.85  -11.80  -14.20  -16.30  -18.55  -21.45     NaN  -25.95     NaN
2    -5.69   -7.03   -8.88     NaN  -12.00  -14.90  -17.45     NaN     NaN
3     7.14    8.80   10.50   12.50   14.60   16.15   19.25   21.45     NaN
4    -6.43   -7.85   -9.56  -10.90  -12.85  -14.95  -17.65  -20.00  -22.20
5     6.99    8.38   10.00   11.85   13.80   15.70   17.85     NaN   22.50
6    -3.46   -4.38   -5.50   -6.82   -8.35  -10.00  -12.00     NaN  -16.10
7     2.03    2.66    3.47    4.48    5.65    7.08    8.70     NaN   12.75
8     2.83    3.64    4.63    5.83    7.23    8.73     NaN     NaN     NaN
9    -3.56   -4.50   -5.58   -6.88   -8.33   -9.80  -11.75     NaN  -15.80
10    2.86    3.63    4.63    5.71    7.10   -8.56   10.60  -12.20  -14.00
11    2.51    3.19    4.00    5.01    6.21    7.60    9.28   10.85   12.95
12   -3.23   -4.04   -5.04   -6.22   -7.61   -9.05  -10.95   12.80  -14.70
13   -3.75   -4.67   -5.71   -6.95   -8.40  -10.00     NaN     NaN  -15.65
14   -6.50   -7.51   -8.92   10.60  -12.35     NaN     NaN     NaN     NaN
15    6.90    8.13    9.70   11.10   12.90   14.45   16.55   18.80     NaN
16   -6.50   -7.68   -8.90  -10.60  -12.30     NaN  -16.25     NaN     NaN
17    3.96    4.79    5.89     NaN    8.16     NaN     NaN   13.55     NaN
18   -3.18   -3.91   -4.76   -5.90   -7.00   -8.38   -9.62     NaN     NaN
19    2.53    2.95    3.85   -4.38    5.70    6.52    8.23    9.16   10.85
20    3.34    4.02    4.80    5.75    6.87    8.09    9.49   11.05   12.75
21   -1.82   -2.25   -2.79   -3.45   -4.22   -4.79   -6.19   -7.30     NaN
22   -1.17   -1.47   -1.86     NaN   -2.82     NaN     NaN     NaN     NaN
23   -1.06   -1.29     NaN   -1.88   -2.49   -3.04   -3.82   -4.46   -5.58
24   -0.89   -1.08   -1.36   -1.66   -2.10   -2.61   -3.20   -3.93   -4.80
25    0.86    1.05    1.32    1.65    2.08    2.65    3.17    3.93    4.88
26    1.60    1.95     NaN     NaN     NaN    4.35     NaN    6.41     NaN
27     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN    7.70
28     NaN     NaN     NaN     NaN     NaN   -4.50     NaN     NaN     NaN
29   -1.48     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
30     NaN     NaN    2.21     NaN   -3.27     NaN     NaN     NaN     NaN
31    2.22     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
32     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
33   -2.32   -2.77   -3.24     NaN     NaN     NaN     NaN     NaN     NaN
34     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
35    1.65     NaN     NaN    3.00     NaN    4.12     NaN    5.91     NaN
36    3.65     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
37     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
38    2.21     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
39     NaN   -2.42     NaN     NaN     NaN     NaN     NaN     NaN     NaN
40     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
41    4.55     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
42    4.43     NaN     NaN     NaN    7.75     NaN    9.60   11.00     NaN
43     NaN     NaN   -6.22     NaN     NaN     NaN     NaN     NaN     NaN
44     NaN     NaN    8.28     NaN   10.15     NaN     NaN     NaN     NaN
45     NaN     NaN    2.33     NaN    3.00     NaN     NaN     NaN     NaN
46     NaN     NaN    2.96     NaN     NaN     NaN     NaN     NaN     NaN
47     NaN     NaN     NaN     NaN   -5.06     NaN     NaN     NaN     NaN
48     NaN     NaN     NaN     NaN   -4.25     NaN     NaN     NaN     NaN
49     NaN     NaN     NaN     NaN     NaN     NaN   -4.17     NaN     NaN
50     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN    8.00
51     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN   10.50
52     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

    PTB345  PTB347  PTB350  PTB352
0      NaN     NaN     NaN     NaN
1      NaN     NaN     NaN     NaN
2      NaN     NaN     NaN     NaN
3      NaN     NaN     NaN     NaN
4      NaN     NaN     NaN     NaN
5      NaN     NaN   32.40     NaN
6      NaN     NaN     NaN     NaN
7    17.00     NaN     NaN     NaN
8      NaN     NaN   24.15     NaN
9   -20.15     NaN  -24.30     NaN
10     NaN     NaN     NaN     NaN
11   16.90     NaN     NaN     NaN
12  -18.95     NaN     NaN     NaN
13     NaN     NaN     NaN     NaN
14     NaN     NaN     NaN     NaN
15     NaN     NaN     NaN     NaN
16     NaN     NaN     NaN     NaN
17  -19.00     NaN     NaN     NaN
18     NaN     NaN     NaN     NaN
19     NaN     NaN     NaN     NaN
20     NaN     NaN     NaN     NaN
21  -11.85     NaN     NaN    18.0
22     NaN     NaN     NaN     NaN
23   -8.21   -9.72     NaN     NaN
24     NaN     NaN   -9.95     NaN
25    7.02    8.60    9.90     NaN
26     NaN     NaN     NaN     NaN
27     NaN     NaN     NaN     NaN
28     NaN     NaN     NaN     NaN
29     NaN     NaN     NaN     NaN
30     NaN     NaN     NaN     NaN
31     NaN     NaN     NaN     NaN
32     NaN     NaN     NaN     NaN
33     NaN     NaN     NaN     NaN
34     NaN     NaN     NaN     NaN
35     NaN     NaN     NaN     NaN
36     NaN     NaN     NaN     NaN
37     NaN     NaN     NaN     NaN
38     NaN     NaN     NaN     NaN
39     NaN     NaN     NaN     NaN
40     NaN     NaN     NaN     NaN
41     NaN     NaN     NaN     NaN
42     NaN     NaN     NaN     NaN
43     NaN     NaN     NaN     NaN
44     NaN     NaN     NaN     NaN
45     NaN     NaN     NaN     NaN
46     NaN     NaN     NaN     NaN
47     NaN     NaN     NaN     NaN
48     NaN     NaN     NaN     NaN
49     NaN     NaN     NaN     NaN
50     NaN     NaN     NaN     NaN
51     NaN     NaN     NaN     NaN
52   11.20     NaN     NaN     NaN

풋옵션 23년 11월물 15시15분 현재가

In [42]:
PTB1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/301TB305_352.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            selected_rows = data[data['date'].dt.time == pd.to_datetime('15:15:00').time()]
            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if PTB1515.empty:
                PTB1515 = selected_rows
            else:
                PTB1515 = pd.merge(PTB1515, selected_rows, on='date', how='outer')
print(PTB1515)

                  date  PTB305  PTB307  PTB310  PTB312  PTB315  PTB317  \
0  2023-10-27 15:15:00   -3.04   -3.99   -5.14   -6.56   -8.23   10.05
1  2023-10-26 15:15:00   -3.56   -4.52   -5.69   -7.04   -8.63  -10.35
2  2023-10-25 15:15:00   -1.13    1.55   -2.10   -2.81    3.70    4.79
3  2023-10-24 15:15:00    1.08   -1.45   -1.93    2.55    3.33    4.28
4  2023-10-23 15:15:00    1.78    2.30    2.95    3.74    4.70    5.85
5  2023-10-20 15:15:00    1.74    2.21    2.78    3.47    4.31    5.32
6  2023-10-19 15:15:00   -0.92   -1.18   -1.53   -1.97   -2.51   -3.18
7  2023-10-18 15:15:00    0.32    0.43    0.57    0.77    1.02    1.38
8  2023-10-17 15:15:00    0.38   -0.51   -0.69   -0.92   -1.24   -1.65
9  2023-10-16 15:15:00    0.80    1.06    1.38    1.79    2.30    2.94
10 2023-10-13 15:15:00    0.58    0.77    1.01    1.33    1.74    2.26
11 2023-10-12 15:15:00    0.47    0.61    0.80    1.05    1.37    1.77
12 2023-10-11 15:15:00    0.86    1.11    1.43    1.82    2.30    2.84
13 2023-10-10 15:15:00    1.64    2.05   -2.55    3.19   -3.90   -4.81
14 2023-10-06 15:15:00    1.99    2.45    3.02    3.65    4.50    5.47
15 2023-10-05 15:15:00    2.14   -2.61    3.18   -3.90    4.70    5.71
16 2023-10-04 15:15:00    2.39    2.89    3.48    4.24    4.99    5.94
17 2023-09-27 15:15:00    1.00    1.25    1.56    1.92    2.33    2.87
18 2023-09-26 15:15:00   -0.98   -1.22   -1.51   -1.86    2.29    2.85
19 2023-09-25 15:15:00    0.63    0.78    0.96     NaN    1.49   -1.84
20 2023-09-22 15:15:00   -0.73    0.90    1.12    1.39    1.68    2.06
21 2023-09-21 15:15:00    0.67    0.81   -0.99   -1.21    1.50   -1.84
22 2023-09-20 15:15:00    0.35    0.43    0.52    0.65    0.80    0.99
23 2023-09-19 15:15:00    0.39    0.46    0.57    0.69    0.85    1.05
24 2023-09-18 15:15:00    0.32     NaN    0.47   -0.57    0.69    0.86
25 2023-09-15 15:15:00    0.21   -0.25    0.30    0.37    0.45   -0.55
26 2023-09-14 15:15:00    0.35    0.44   -0.50    0.62   -0.75    0.94
27 2023-09-13 15:15:00    0.59     NaN    0.86     NaN    1.28     NaN
28 2023-09-11 15:15:00    0.53     NaN    0.79     NaN     NaN    1.41
29 2023-09-08 15:15:00    0.62    0.76    0.91     NaN     NaN     NaN
30 2023-09-06 15:15:00    0.58     NaN     NaN     NaN    1.25    1.48
31 2023-09-05 15:15:00    0.47    0.57    0.68     NaN   -1.00    1.22
32 2023-09-04 15:15:00    0.50     NaN    0.71    0.86    1.02    1.25
33 2023-09-01 15:15:00    0.68    0.79     NaN    1.10    1.30     NaN
34 2023-08-31 15:15:00   -0.86   -1.03     NaN    1.51     NaN     NaN
35 2023-09-12 15:15:00     NaN    0.73     NaN     NaN     NaN    1.57
36 2023-08-30 15:15:00     NaN    1.15     NaN   -1.58     NaN     NaN
37 2023-08-22 15:15:00     NaN    2.38     NaN     NaN     NaN     NaN
38 2023-08-28 15:15:00     NaN     NaN     NaN    2.28     NaN     NaN
39 2023-08-24 15:15:00     NaN     NaN     NaN    2.15     NaN     NaN
40 2023-09-07 15:15:00     NaN     NaN     NaN     NaN    1.41    1.73
41 2023-08-29 15:15:00     NaN     NaN     NaN     NaN   -2.16     NaN
42 2023-08-11 15:15:00     NaN     NaN     NaN     NaN     NaN    2.39
43 2023-08-01 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
44 2023-07-25 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
45 2023-06-30 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
46 2023-08-03 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
47 2023-07-13 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
48 2023-07-05 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN

    PTB320  PTB322  PTB325  PTB327  PTB330  PTB332  PTB335  PTB337  PTB340  \
0   -12.10   14.30  -16.60     NaN     NaN     NaN   26.25     NaN     NaN
1   -12.25  -14.35  -16.75  -19.05   21.55   23.95     NaN     NaN     NaN
2     6.11    7.63    9.48   11.40   13.50     NaN     NaN     NaN     NaN
3     5.42    6.84    8.52   10.20   12.25   14.30   16.70     NaN   21.30
4     7.24   -8.78   10.50   12.40   14.30   16.70   18.95   21.45   23.80
5     6.47    7.89   -9.35   11.15   13.10     NaN     NaN   19.45     NaN
6    -4.00   -5.00   -6.17   -7.57   -9.15  -10.90  -12.95     NaN     NaN
7     1.84    2.41    3.15    4.06    5.20    6.53   -8.07    9.87   11.75
8    -2.17   -2.84   -3.68   -4.71   -5.92   -7.46   -9.00   10.65     NaN
9     3.73    4.67    5.80   -7.10    8.59   10.25   12.20     NaN   16.45
10    2.91    3.71    4.67    5.81    7.19    8.78   10.50     NaN     NaN
11    2.32    2.92    3.72    4.65    5.82    7.22    8.65   10.50   12.10
12    3.63    4.51    5.54   -6.70    8.13    9.76   11.45     NaN     NaN
13    5.83   -6.99    8.38    9.93   11.65     NaN     NaN     NaN   20.05
14   -6.39   -7.65    9.23     NaN     NaN     NaN     NaN     NaN   20.70
15    6.78    8.00    9.37     NaN     NaN     NaN     NaN     NaN     NaN
16    7.19    8.45    9.69   11.45   13.15     NaN     NaN     NaN     NaN
17    3.55    4.32    5.27   -6.32    7.49   -8.66   10.25     NaN     NaN
18    3.48    4.25    5.17   -6.23    7.49     NaN     NaN     NaN     NaN
19    2.32    2.91    3.54     NaN    5.30    6.44     NaN     NaN     NaN
20   -2.53    3.13     NaN    4.65    5.64     NaN     NaN    9.66     NaN
21    2.29    2.79   -3.43    4.25    5.10    6.16    7.42    8.77   10.25
22    1.23    1.49    1.92    2.34    2.96    3.62    4.48    5.48     NaN
23    1.30     NaN    2.02     NaN     NaN    3.81    4.67     NaN     NaN
24   -1.05    1.31   -1.61   -2.01   -2.49   -3.06    3.77    4.63    5.55
25    0.70   -0.86   -1.07    1.35    1.72   -2.11    2.66    3.35    4.10
26    1.16   -1.39   -1.69   -2.15     NaN     NaN     NaN     NaN    5.80
27    1.93     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
28     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
29    1.98    2.44    2.90     NaN     NaN     NaN     NaN     NaN     NaN
30    1.80    2.22    2.68     NaN     NaN     NaN     NaN     NaN     NaN
31    1.50    1.83    2.17    2.71     NaN     NaN     NaN     NaN     NaN
32    1.51     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
33    2.00     NaN    2.81     NaN     NaN     NaN     NaN     NaN     NaN
34     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
35     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
36     NaN     NaN     NaN    4.34     NaN     NaN     NaN     NaN     NaN
37     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
38     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
39     NaN     NaN     NaN     NaN     NaN     NaN    8.35     NaN   11.10
40     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
41     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
42     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
43     NaN     NaN    2.06     NaN    2.64     NaN     NaN     NaN     NaN
44     NaN     NaN    2.90     NaN     NaN     NaN     NaN     NaN     NaN
45     NaN     NaN    4.97     NaN     NaN     NaN     NaN     NaN     NaN
46     NaN     NaN     NaN     NaN    5.15     NaN     NaN     NaN     NaN
47     NaN     NaN     NaN     NaN    5.00     NaN     NaN     NaN     NaN
48     NaN     NaN     NaN     NaN    5.70     NaN     NaN     NaN     NaN

    PTB345  PTB347  PTB350  PTB352
0      NaN     NaN     NaN     NaN
1      NaN     NaN     NaN     NaN
2      NaN     NaN     NaN     NaN
3    26.45     NaN     NaN     NaN
4      NaN     NaN   33.55     NaN
5      NaN     NaN     NaN     NaN
6      NaN     NaN     NaN     NaN
7      NaN     NaN     NaN     NaN
8      NaN     NaN     NaN     NaN
9    21.10     NaN     NaN     NaN
10   18.80     NaN     NaN     NaN
11  -16.20     NaN     NaN     NaN
12   19.75     NaN     NaN     NaN
13     NaN     NaN     NaN     NaN
14     NaN     NaN     NaN     NaN
15     NaN     NaN     NaN     NaN
16     NaN     NaN     NaN     NaN
17     NaN     NaN   22.60     NaN
18     NaN     NaN   22.60     NaN
19     NaN     NaN     NaN     NaN
20     NaN     NaN     NaN     NaN
21     NaN     NaN     NaN     NaN
22     NaN     NaN     NaN     NaN
23     NaN     NaN     NaN     NaN
24     NaN     NaN     NaN     NaN
25    6.14   -7.23     NaN     NaN
26     NaN     NaN     NaN     NaN
27     NaN     NaN     NaN     NaN
28     NaN     NaN     NaN     NaN
29     NaN     NaN     NaN     NaN
30     NaN     NaN     NaN     NaN
31     NaN     NaN     NaN     NaN
32     NaN     NaN     NaN     NaN
33   10.50     NaN     NaN     NaN
34     NaN     NaN     NaN     NaN
35     NaN     NaN     NaN     NaN
36     NaN     NaN     NaN     NaN
37     NaN     NaN     NaN     NaN
38     NaN     NaN     NaN     NaN
39     NaN     NaN   17.75     NaN
40     NaN     NaN     NaN     NaN
41     NaN     NaN     NaN     NaN
42     NaN     NaN     NaN     NaN
43     NaN     NaN     NaN     NaN
44     NaN     NaN     NaN     NaN
45     NaN     NaN     NaN     NaN
46     NaN     NaN     NaN     NaN
47     NaN     NaN     NaN     NaN
48     NaN     NaN     NaN     NaN

In [43]:
PTB1515['PTB347'].isna().value_counts()

PTB347
True     48
False     1
Name: count, dtype: int64

풋 23년 12월물 9시30분 현재가

In [44]:
PTC930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/301TC305_337.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            selected_rows = data[data['date'].dt.time == pd.to_datetime('09:30:00').time()]
            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if PTC930.empty:
                PTC930 = selected_rows
            else:
                PTC930 = pd.merge(PTC930, selected_rows, on='date', how='outer')

In [45]:
PTC930.head()

,date,PTC305,PTC307,PTC310,PTC312,PTC315,PTC317,PTC320,PTC322,PTC325,PTC327,PTC330,PTC332,PTC335,PTC337
0,2023-10-27 09:30:00,6.62,7.66,8.77,9.99,11.45,-12.2,14.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-10-26 09:30:00,-5.61,-6.41,-7.39,-8.66,-10.00,NaN,-12.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-25 09:30:00,-3.54,-4.12,-4.80,-5.52,-6.50,-7.3,-8.45,-9.8,NaN,NaN,-13.85,NaN,NaN,NaN
3,2023-10-24 09:30:00,4.15,4.79,5.72,NaN,NaN,8.7,9.94,NaN,12.6,NaN,NaN,NaN,20.2,NaN
4,2023-10-23 09:30:00,-3.94,-4.62,-5.30,-6.13,-7.06,-8.2,NaN,NaN,NaN,-13.3,NaN,NaN,-18.4,NaN

In [46]:
PTC930['PTC337'].isna().value_counts()

PTC337
True    77
Name: count, dtype: int64

In [47]:
PTC930['PTC332'].isna().value_counts()

PTC332
True     75
False     2
Name: count, dtype: int64

풋 23년 12월물 15시15분 현재가

In [48]:
PTC1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
root_directory = './option_price/301TC305_337.5/' # 시작 디렉토리 설정

# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            # CSV 파일을 DataFrame으로 읽어들임
            data = pd.read_csv(file_path)
            csv_file_name = os.path.basename(file_path)
            if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
                csv_file_name = "C" + csv_file_name.split('.')[0].split('201')[1]
            elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
                csv_file_name = "P" + csv_file_name.split('.')[0].split('301')[1]
            data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
            data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            selected_rows = data[data['date'].dt.time == pd.to_datetime('15:15:00').time()]
            
            # 읽어들인 데이터를 기존 데이터프레임과 결합
            if PTC1515.empty:
                PTC1515 = selected_rows
            else:
                PTC1515 = pd.merge(PTC1515, selected_rows, on='date', how='outer')
print(PTC1515)

                  date  PTC305  PTC307  PTC310  PTC312  PTC315  PTC317  \
0  2023-10-27 15:15:00   -6.38   -7.30   -8.49     NaN     NaN     NaN
1  2023-10-26 15:15:00   -6.77    7.74    8.92   10.05   11.55     NaN
2  2023-10-25 15:15:00    3.75     NaN    5.11     NaN    6.87    7.86
3  2023-10-24 15:15:00    3.56    4.15    4.89    5.57    6.45    7.42
4  2023-10-23 15:15:00   -4.33    5.04    5.78     NaN     NaN    8.70
..                 ...     ...     ...     ...     ...     ...     ...
63 2023-08-16 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
64 2023-04-14 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
65 2022-08-11 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
66 2023-09-07 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN
67 2023-05-24 15:15:00     NaN     NaN     NaN     NaN     NaN     NaN

    PTC320  PTC322  PTC325  PTC327  PTC330  PTC332  PTC335  PTC337
0    14.10   15.90     NaN     NaN     NaN     NaN     NaN     NaN
1    14.40     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2     9.07     NaN   11.85     NaN   15.25     NaN     NaN     NaN
3     8.55    9.76     NaN     NaN     NaN     NaN     NaN     NaN
4      NaN     NaN     NaN     NaN   16.25     NaN     NaN     NaN
..     ...     ...     ...     ...     ...     ...     ...     ...
63     NaN     NaN     NaN     NaN    9.40     NaN     NaN     NaN
64     NaN     NaN     NaN     NaN   14.00     NaN     NaN     NaN
65     NaN     NaN     NaN     NaN   24.00     NaN     NaN     NaN
66     NaN     NaN     NaN     NaN     NaN     NaN     8.0     NaN
67     NaN     NaN     NaN     NaN     NaN     NaN    13.5     NaN

[68 rows x 15 columns]

In [49]:
PTC1515.head()

,date,PTC305,PTC307,PTC310,PTC312,PTC315,PTC317,PTC320,PTC322,PTC325,PTC327,PTC330,PTC332,PTC335,PTC337
0,2023-10-27 15:15:00,-6.38,-7.30,-8.49,NaN,NaN,NaN,14.10,15.90,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-10-26 15:15:00,-6.77,7.74,8.92,10.05,11.55,NaN,14.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-25 15:15:00,3.75,NaN,5.11,NaN,6.87,7.86,9.07,NaN,11.85,NaN,15.25,NaN,NaN,NaN
3,2023-10-24 15:15:00,3.56,4.15,4.89,5.57,6.45,7.42,8.55,9.76,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-10-23 15:15:00,-4.33,5.04,5.78,NaN,NaN,8.70,NaN,NaN,NaN,NaN,16.25,NaN,NaN,NaN

In [50]:
PTC1515['PTC332'].isna().value_counts()

PTC332
True     65
False     3
Name: count, dtype: int64

In [51]:
PTC1515['PTC335'].isna().value_counts()

PTC335
True     60
False     8
Name: count, dtype: int64

In [52]:
PTC1515['PTC337'].isna().value_counts()

PTC337
True     67
False     1
Name: count, dtype: int64