목표 : 각 옵션종목을 각 dataframe으로 저장
=======
dataframe이름 예로 201TB305는 콜옵션, 23년, 11월, 행사가 305이므로 -> TB305C
201TC2337는 콜옵션, 23년, 12월, 행사가 337.5이므로 -> TC337C
301TB312는 풋옵션, 23년, 11월, 행사가 312.5이므로 -> TB312P
301TC335는 풋옵션, 23년, 12월, 행사가 335이므로 -> TC335P

## import modules

In [1]:
import pandas as pd
import numpy as np
import math
import glob
import datetime
import warnings
warnings.filterwarnings('ignore')
import os
current_directory = os.getcwd()
print("현재 디렉토리:", current_directory)

현재 디렉토리: c:\apps\Project1

## load files

In [2]:
folder_path = './option_price/' # 폴더 경로

# option sets

## CTB0915 콜옵션 23년 11월물 9시15분 현재가

In [3]:
root_directory = './option_price/201TB/'
CTB0915 = pd.DataFrame()
for root, dirs, files in os.walk(root_directory):    
    for file in files:
        file_path = os.path.join(root, file)        
        # data = pd.read_csv(file_path)
        csv_file_name = os.path.basename(file_path)
        data = pd.read_csv(file_path)
        data['현재가'] = data['현재가'].abs()        
        csv_file_name = csv_file_name.split('.')[0].split('TB')[1]
        data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
        data = data[['체결시간', '현재가']]
        data.rename(columns={'현재가': csv_file_name, '체결시간': 'date'}, inplace=True)
        if CTB0915.empty:
            CTB0915 = data
        else:
            CTB0915 = pd.merge(CTB0915, data, on='date', how='outer')
CTB0915.sort_values(by='date', ascending=False, inplace=True)
CTB0915.fillna(method='bfill', inplace=True)
CTB0915 = CTB0915[CTB0915['date'].dt.time == pd.to_datetime('09:15:00').time()] # 09시30분 데이터만 추출
CTB0915['date'] = CTB0915['date'].dt.strftime("%Y-%m-%d")
CTB0915.set_index('date', inplace=True)

In [4]:
CTB0915.head(19)

,297,300,302,305,307,310,312,315,317,320,...,330,332,335,337,340,342,345,347,350,352
date,,,,,,,,,,,,,,,,,,,,,
2023-11-07,31.00,29.40,26.00,23.85,21.50,19.00,16.45,14.00,11.60,9.25,...,2.33,1.45,0.87,0.51,0.29,0.16,0.09,0.06,0.03,0.02
2023-11-06,25.80,23.65,21.45,19.20,16.55,14.30,11.95,9.51,7.11,5.05,...,0.39,0.15,0.05,0.03,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-03,19.90,17.65,15.00,12.55,10.05,7.80,5.82,4.03,2.58,1.51,...,0.07,0.03,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-02,18.10,15.60,13.10,10.95,8.71,6.58,4.81,3.25,2.04,1.19,...,0.07,0.04,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-01,12.30,10.00,8.11,6.10,4.42,3.07,2.01,1.23,0.71,0.38,...,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-31,12.75,9.55,8.01,5.85,4.36,3.08,2.08,1.32,0.79,0.45,...,0.06,0.03,0.03,0.02,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-30,11.30,9.28,7.52,5.78,4.33,3.13,2.15,1.41,0.88,0.53,...,0.08,0.05,0.04,0.03,0.02,0.01,0.01,0.01,0.01,0.01
2023-10-27,11.80,10.00,8.26,6.45,4.97,3.70,2.65,1.80,1.18,0.73,...,0.10,0.07,0.05,0.04,0.03,0.02,0.01,0.01,0.01,0.01
2023-10-26,15.00,12.95,10.75,8.96,7.16,5.60,4.25,3.11,2.17,1.45,...,0.21,0.13,0.08,0.06,0.05,0.03,0.03,0.02,0.02,0.01
2023-10-25,19.45,18.50,17.70,14.40,11.90,10.00,8.00,6.38,4.91,3.65,...,0.71,0.42,0.25,0.15,0.09,0.06,0.04,0.02,0.02,0.01
2023-10-24,19.45,17.85,15.75,12.60,10.60,8.60,7.00,5.52,4.20,3.09,...,0.58,0.34,0.20,0.12,0.08,0.05,0.04,0.02,0.01,0.01
2023-10-23,NaN,19.25,15.65,14.20,12.30,10.20,8.40,6.81,5.28,4.06,...,0.91,0.57,0.34,0.21,0.12,0.08,0.05,0.03,0.02,0.01
2023-10-20,NaN,18.80,25.80,14.35,12.95,10.55,9.00,7.15,5.71,4.44,...,1.17,0.77,0.49,0.31,0.19,0.12,0.07,0.05,0.02,0.01
2023-10-19,NaN,28.50,25.80,22.15,17.35,15.10,13.30,11.30,9.15,7.72,...,2.60,1.80,1.22,0.78,0.48,0.28,0.16,0.09,0.06,0.03
2023-10-18,NaN,28.50,25.80,22.15,19.60,18.75,16.35,14.00,11.85,10.15,...,4.10,3.00,2.12,1.43,0.92,0.56,0.32,0.18,0.10,0.05
2023-10-17,NaN,27.00,21.70,19.10,19.60,17.30,15.25,13.10,10.70,8.90,...,3.20,2.30,1.58,1.04,0.66,0.41,0.25,0.14,0.09,0.05
2023-10-16,NaN,27.00,23.30,22.80,19.80,16.05,15.40,12.25,10.40,8.05,...,2.86,2.03,1.39,0.91,0.56,0.34,0.21,0.13,0.07,0.05
2023-10-13,NaN,27.50,25.15,22.80,20.45,17.90,15.40,14.00,11.80,9.63,...,3.91,2.92,2.13,1.50,1.02,0.67,0.42,0.26,0.16,0.10
2023-10-12,NaN,26.00,19.20,22.10,20.45,19.30,16.00,15.20,13.15,11.00,...,4.89,3.75,2.82,2.05,1.48,0.99,0.66,0.43,0.28,0.18

In [5]:
CTB0915.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 2023-11-07 to 2023-08-02
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   297     11 non-null     float64
 1   300     25 non-null     float64
 2   302     23 non-null     float64
 3   305     23 non-null     float64
 4   307     23 non-null     float64
 5   310     58 non-null     float64
 6   312     24 non-null     float64
 7   315     52 non-null     float64
 8   317     28 non-null     float64
 9   320     58 non-null     float64
 10  322     37 non-null     float64
 11  325     41 non-null     float64
 12  327     41 non-null     float64
 13  330     58 non-null     float64
 14  332     52 non-null     float64
 15  335     58 non-null     float64
 16  337     53 non-null     float64
 17  340     58 non-null     float64
 18  342     52 non-null     float64
 19  345     58 non-null     float64
 20  347     53 non-null     float64
 21  350     58 non-null     float64
 22  352     55 non-null     float64
dtypes: float64(23)
memory usage: 10.9+ KB

## CTB1515 콜 23년 11월 15시15분 현재가

In [6]:
root_directory = './option_price/201TB/'# 시작 디렉토리 설정
CTB1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):    
    for file in files:
        file_path = os.path.join(root, file)        
        # data = pd.read_csv(file_path)
        csv_file_name = os.path.basename(file_path)
        data = pd.read_csv(file_path)
        data['현재가'] = data['현재가'].abs()        
        csv_file_name = csv_file_name.split('.')[0].split('TB')[1]
        data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
        data = data[['체결시간', '현재가']]
        data.rename(columns={'현재가': csv_file_name, '체결시간': 'date'}, inplace=True)
        if CTB1515.empty:
            CTB1515 = data
        else:
            CTB1515 = pd.merge(CTB1515, data, on='date', how='outer')
CTB1515.sort_values(by='date', ascending=False, inplace=True)
CTB1515.fillna(method='bfill', inplace=True)
CTB1515 = CTB1515[CTB1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 15시30분 데이터만 추출
CTB1515['date'] = CTB1515['date'].dt.strftime("%Y-%m-%d")
CTB1515.set_index('date', inplace=True)

In [7]:
CTB1515.head(19)

,297,300,302,305,307,310,312,315,317,320,...,330,332,335,337,340,342,345,347,350,352
date,,,,,,,,,,,,,,,,,,,,,
2023-11-07,29.50,25.15,22.60,20.75,19.30,16.70,14.65,11.90,9.65,7.19,...,1.36,0.75,0.39,0.19,0.10,0.05,0.03,0.01,0.01,0.01
2023-11-06,34.65,29.65,26.00,27.55,22.55,23.20,20.50,18.60,16.20,14.50,...,5.61,4.01,2.70,1.71,0.93,0.59,0.37,0.22,0.15,0.10
2023-11-03,20.70,18.25,15.70,13.50,11.25,8.90,6.71,4.76,3.12,1.86,...,0.07,0.03,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-02,17.30,14.85,12.40,10.45,8.21,6.15,4.41,2.87,1.79,1.00,...,0.05,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-01,12.90,10.45,8.36,6.46,4.76,3.35,2.23,1.39,0.80,0.44,...,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-31,9.40,7.55,5.93,4.37,3.07,2.08,1.30,0.78,0.44,0.24,...,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-30,13.20,10.65,8.70,6.81,5.21,3.80,2.66,1.78,1.11,0.66,...,0.07,0.05,0.03,0.02,0.02,0.01,0.01,0.01,0.01,0.01
2023-10-27,12.40,10.35,8.39,6.66,5.13,3.81,2.71,1.85,1.19,0.73,...,0.09,0.06,0.04,0.02,0.02,0.01,0.01,0.01,0.01,0.01
2023-10-26,12.85,10.75,8.96,7.22,5.63,4.26,3.09,2.21,1.49,0.99,...,0.16,0.11,0.07,0.05,0.03,0.03,0.02,0.01,0.01,0.01
2023-10-25,20.35,17.50,15.30,13.05,11.05,9.05,7.31,5.70,4.27,3.10,...,0.51,0.28,0.17,0.11,0.07,0.04,0.03,0.02,0.02,0.01
2023-10-24,19.45,19.00,16.80,14.30,12.60,10.65,8.78,7.12,5.57,4.24,...,0.93,0.56,0.34,0.20,0.11,0.07,0.05,0.03,0.02,0.01
2023-10-23,19.85,16.85,15.10,13.00,10.95,9.16,7.46,5.91,4.50,3.36,...,0.68,0.42,0.25,0.15,0.10,0.06,0.04,0.02,0.02,0.01
2023-10-20,NaN,19.25,16.80,14.45,12.80,11.05,9.17,7.58,6.06,4.65,...,1.23,0.80,0.50,0.31,0.19,0.11,0.08,0.04,0.03,0.01
2023-10-19,NaN,23.75,25.80,19.25,16.80,14.50,12.60,10.75,8.85,7.00,...,2.27,1.56,1.04,0.66,0.40,0.24,0.14,0.09,0.05,0.02
2023-10-18,NaN,28.50,25.80,22.15,21.90,19.70,16.95,15.25,13.20,10.85,...,4.33,3.21,2.27,1.53,0.99,0.60,0.34,0.20,0.11,0.07
2023-10-17,NaN,28.50,24.20,22.15,19.60,18.55,16.35,14.20,12.10,10.00,...,3.87,2.81,1.97,1.32,0.84,0.52,0.30,0.17,0.09,0.05
2023-10-16,NaN,27.00,21.70,19.10,16.00,15.30,13.00,11.45,9.47,7.75,...,2.72,1.92,1.32,0.86,0.54,0.33,0.20,0.12,0.08,0.05
2023-10-13,NaN,27.00,24.95,22.80,19.80,17.55,15.40,13.35,11.25,9.40,...,3.74,2.78,1.99,1.38,0.92,0.60,0.37,0.23,0.13,0.08
2023-10-12,NaN,28.25,19.20,22.10,20.45,19.10,17.35,15.10,13.80,11.45,...,5.10,3.96,2.95,2.18,1.56,1.08,0.73,0.47,0.31,0.19

In [8]:
CTB1515.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, 2023-11-07 to 2023-08-07
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   297     12 non-null     float64
 1   300     25 non-null     float64
 2   302     24 non-null     float64
 3   305     24 non-null     float64
 4   307     24 non-null     float64
 5   310     56 non-null     float64
 6   312     25 non-null     float64
 7   315     54 non-null     float64
 8   317     29 non-null     float64
 9   320     56 non-null     float64
 10  322     38 non-null     float64
 11  325     41 non-null     float64
 12  327     42 non-null     float64
 13  330     56 non-null     float64
 14  332     53 non-null     float64
 15  335     56 non-null     float64
 16  337     54 non-null     float64
 17  340     56 non-null     float64
 18  342     53 non-null     float64
 19  345     56 non-null     float64
 20  347     54 non-null     float64
 21  350     56 non-null     float64
 22  352     54 non-null     float64
dtypes: float64(23)
memory usage: 10.5+ KB

## CTC0930 콜 23년 12월물 9시30분 현재가

In [9]:
# CTC0930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
# root_directory = './option_price/201TC305_337.5/' # 시작 디렉토리 설정

# # root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
# for root, dirs, files in os.walk(root_directory):
#     for file in files:
#         if file.endswith(".csv"):
#             file_path = os.path.join(root, file)
#             # CSV 파일을 DataFrame으로 읽어들임
#             data = pd.read_csv(file_path)
#             data['현재가'] = data['현재가'].abs()
#             csv_file_name = os.path.basename(file_path)
#             if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
#             data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
#             data.bfill(inplace=True)            
#             selected_rows = data[data['date'].dt.time == pd.to_datetime('09:30:00').time()]
#             # print(selected_rows)
#             # 읽어들인 데이터를 기존 데이터프레임과 결합
#             if CTC0930.empty:
#                 CTC0930 = data
#             else:
#                 CTC0930 = pd.merge(CTC0930, data, on='date', how='outer') # date기준으로 병합
# CTC0930[1:].bfill(inplace=True)        
# CTC0930 = CTC0930[CTC0930['date'].dt.time == pd.to_datetime('09:30:00').time()] # 09시30분 데이터만 추출  
# CTC0930['date'] = CTC0930['date'].dt.strftime("%Y-%m-%d") # 'date' 열의 datetime 값을 "YYYY-MM-DD" 형식으로 변경
# CTC0930.set_index('date', inplace=True)

## CTC1515 콜옵션 23년 12월물 15시15분 현재가

In [10]:
# CTC1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
# root_directory = './option_price/201TC305_337.5/' # 시작 디렉토리 설정

# # root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
# for root, dirs, files in os.walk(root_directory):
#     for file in files:
#         if file.endswith(".csv"):
#             file_path = os.path.join(root, file)
#             # CSV 파일을 DataFrame으로 읽어들임
#             data = pd.read_csv(file_path)
#             data['현재가'] = data['현재가'].abs()
#             csv_file_name = os.path.basename(file_path)
#             if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
#             data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})            
#             # 읽어들인 데이터를 기존 데이터프레임과 결합
#             if CTC1515.empty:
#                 CTC1515 = data
#             else:
#                 CTC1515 = pd.merge(CTC1515, data, on='date', how='outer') # date기준으로 병합
# CTC1515[1:].bfill(inplace=True)
# CTC1515 = CTC1515[CTC1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 09시30분 데이터만 추출  
# CTC1515['date'] = CTC1515['date'].dt.strftime("%Y-%m-%d") # 'date' 열의 datetime 값을 "YYYY-MM-DD" 형식으로 변경
# CTC1515.set_index('date', inplace=True)

## PTB0915 풋옵션 23년 11월물 9시15분 현재가

In [11]:
root_directory = './option_price/301TB/'
PTB0915 = pd.DataFrame()
for root, dirs, files in os.walk(root_directory):    
    for file in files:
        file_path = os.path.join(root, file)        
        # data = pd.read_csv(file_path)
        csv_file_name = os.path.basename(file_path)
        data = pd.read_csv(file_path)
        data['현재가'] = data['현재가'].abs()        
        csv_file_name = csv_file_name.split('.')[0].split('TB')[1]
        data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
        data = data[['체결시간', '현재가']]
        data.rename(columns={'현재가': csv_file_name, '체결시간': 'date'}, inplace=True)
        if PTB0915.empty:
            PTB0915 = data
        else:
            PTB0915 = pd.merge(PTB0915, data, on='date', how='outer')
PTB0915.sort_values(by='date', ascending=False, inplace=True)
PTB0915.fillna(method='bfill', inplace=True)
PTB0915 = PTB0915[PTB0915['date'].dt.time == pd.to_datetime('09:15:00').time()] # 09시30분 데이터만 추출
PTB0915['date'] = PTB0915['date'].dt.strftime("%Y-%m-%d")
PTB0915.set_index('date', inplace=True)

In [12]:
PTB0915.head(19)

,297,300,302,305,307,310,312,315,317,320,...,330,332,335,337,340,342,345,347,350,352
date,,,,,,,,,,,,,,,,,,,,,
2023-11-07,0.01,0.01,0.01,0.02,0.03,0.04,0.08,0.13,0.22,0.40,...,3.06,4.54,6.38,8.31,11.30,13.40,16.65,18.95,21.75,19.80
2023-11-06,0.02,0.02,0.03,0.03,0.05,0.09,0.13,0.28,0.52,0.99,...,6.59,8.81,11.30,13.65,15.70,19.35,26.50,23.80,26.20,33.85
2023-11-03,0.03,0.06,0.10,0.17,0.32,0.59,1.00,1.80,2.87,4.30,...,12.60,15.00,16.90,19.25,22.35,26.80,29.50,39.05,34.60,43.05
2023-11-02,0.09,0.14,0.22,0.38,0.64,1.07,1.66,2.69,4.00,5.66,...,14.25,17.55,19.55,26.50,24.55,32.65,29.50,39.05,39.80,43.05
2023-11-01,0.44,0.70,1.09,1.65,2.43,3.50,5.30,6.50,8.34,10.50,...,19.85,21.90,24.95,26.50,30.10,33.25,38.80,39.05,44.05,43.55
2023-10-31,0.61,0.92,1.35,1.95,2.76,3.80,6.31,6.65,8.50,10.45,...,19.60,21.35,24.75,26.50,28.65,33.25,36.10,39.05,41.15,43.55
2023-10-30,1.23,1.71,2.33,3.13,4.15,5.40,7.14,8.60,10.30,12.55,...,22.00,24.00,26.55,30.00,32.20,33.40,35.00,39.05,40.40,43.60
2023-10-27,1.35,1.82,2.43,3.21,4.18,5.36,7.06,8.38,10.30,11.60,...,21.55,23.90,25.50,27.50,30.30,25.10,35.00,37.60,39.95,35.05
2023-10-26,0.96,1.30,1.75,2.34,3.06,3.95,5.23,6.41,7.93,9.57,...,18.35,20.55,22.85,25.25,27.40,25.10,26.45,28.95,32.50,35.05
2023-10-25,0.33,0.46,0.65,0.91,1.26,1.72,2.61,3.09,4.04,5.19,...,11.85,13.60,16.50,18.85,21.30,23.80,26.45,28.95,31.30,37.40
2023-10-24,0.63,0.85,1.14,1.52,2.00,2.62,3.57,4.31,5.46,6.80,...,13.90,16.70,18.65,19.80,23.50,26.80,27.45,19.10,33.55,36.15
2023-10-23,0.80,1.05,1.36,1.76,2.24,2.86,3.35,4.53,5.63,6.90,...,14.05,16.35,17.55,20.50,22.20,23.65,27.45,19.10,30.80,23.40
2023-10-20,0.85,1.08,1.39,1.76,2.22,2.80,3.85,4.31,5.27,6.47,...,13.05,14.90,17.05,19.60,22.50,24.25,25.50,19.10,31.80,23.40
2023-10-19,0.33,0.43,0.56,0.73,0.96,1.25,1.61,2.14,2.77,3.54,...,8.54,10.45,12.30,14.35,16.10,18.70,19.70,19.10,25.80,23.40
2023-10-18,0.17,0.23,0.29,0.38,0.51,0.69,0.83,1.25,1.67,2.21,...,6.04,7.48,9.01,11.20,12.75,15.05,18.20,20.40,21.50,25.00
2023-10-17,0.18,0.24,0.32,0.45,0.62,0.84,1.25,1.51,2.00,2.61,...,6.74,8.38,10.25,12.00,14.65,16.50,18.60,25.35,27.25,25.65
2023-10-16,0.29,0.38,0.50,0.66,0.87,1.15,1.70,1.95,2.51,3.20,...,7.70,9.20,11.20,12.35,15.80,16.65,20.00,21.25,23.70,25.40
2023-10-13,0.26,0.34,0.44,0.57,0.77,1.02,1.31,1.74,2.27,2.91,...,7.10,8.60,10.35,12.50,14.00,15.10,17.90,19.50,21.00,24.50
2023-10-12,0.25,0.32,0.41,0.53,0.70,0.92,1.17,1.55,1.98,2.54,...,6.24,7.68,9.31,11.00,12.95,17.15,17.15,23.00,24.30,27.00

In [13]:
PTB0915.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, 2023-11-07 to 2023-07-03
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   297     37 non-null     float64
 1   300     31 non-null     float64
 2   302     32 non-null     float64
 3   305     31 non-null     float64
 4   307     32 non-null     float64
 5   310     31 non-null     float64
 6   312     48 non-null     float64
 7   315     31 non-null     float64
 8   317     32 non-null     float64
 9   320     32 non-null     float64
 10  322     38 non-null     float64
 11  325     36 non-null     float64
 12  327     44 non-null     float64
 13  330     51 non-null     float64
 14  332     45 non-null     float64
 15  335     52 non-null     float64
 16  337     46 non-null     float64
 17  340     52 non-null     float64
 18  342     46 non-null     float64
 19  345     51 non-null     float64
 20  347     44 non-null     float64
 21  350     52 non-null     float64
 22  352     36 non-null     float64
dtypes: float64(23)
memory usage: 9.8+ KB

## PTB1515 풋옵션 23년 11월물 15시15분 현재가

In [14]:
root_directory = './option_price/301TB/'
PTB1515 = pd.DataFrame()
for root, dirs, files in os.walk(root_directory):    
    for file in files:
        file_path = os.path.join(root, file)        
        # data = pd.read_csv(file_path)
        csv_file_name = os.path.basename(file_path)
        data = pd.read_csv(file_path)
        data['현재가'] = data['현재가'].abs()        
        csv_file_name = csv_file_name.split('.')[0].split('TB')[1]
        data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
        data = data[['체결시간', '현재가']]
        data.rename(columns={'현재가': csv_file_name, '체결시간': 'date'}, inplace=True)
        if PTB1515.empty:
            PTB1515 = data
        else:
            PTB1515 = pd.merge(PTB1515, data, on='date', how='outer')
PTB1515.sort_values(by='date', ascending=False, inplace=True)
PTB1515.fillna(method='bfill', inplace=True)
PTB1515 = PTB1515[PTB1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 09시30분 데이터만 추출
PTB1515['date'] = PTB1515['date'].dt.strftime("%Y-%m-%d")
PTB1515.set_index('date', inplace=True)

In [15]:
PTB1515.head(19)

,297,300,302,305,307,310,312,315,317,320,...,330,332,335,337,340,342,345,347,350,352
date,,,,,,,,,,,,,,,,,,,,,
2023-11-07,0.01,0.01,0.01,0.01,0.02,0.03,0.06,0.11,0.23,0.47,...,4.03,5.91,7.92,10.55,12.95,16.45,19.65,22.15,22.70,19.80
2023-11-06,0.01,0.03,0.03,0.04,0.05,0.07,0.10,0.14,0.20,0.29,...,1.63,2.50,3.74,5.45,6.52,10.75,13.50,19.20,17.00,33.85
2023-11-03,0.02,0.04,0.06,0.10,0.19,0.37,0.66,1.26,2.14,3.41,...,11.70,14.50,16.20,19.15,21.50,23.90,26.50,39.05,31.50,33.85
2023-11-02,0.09,0.14,0.25,0.42,0.73,1.23,1.85,3.08,4.52,6.20,...,15.40,17.10,19.80,21.55,24.75,26.80,29.50,39.05,34.60,43.05
2023-11-01,0.41,0.66,1.03,1.58,2.36,3.41,4.86,6.37,8.26,10.40,...,19.70,22.35,24.80,26.50,29.55,32.65,35.60,39.05,40.50,43.05
2023-10-31,1.24,1.79,2.54,3.53,4.76,6.27,7.84,10.05,12.35,14.50,...,24.40,26.60,29.35,26.50,28.65,33.25,38.80,39.05,44.05,43.55
2023-10-30,0.84,1.20,1.69,2.34,3.19,4.26,5.75,7.09,8.50,11.00,...,19.95,22.60,25.05,27.25,29.80,33.25,36.10,39.05,41.15,43.55
2023-10-27,1.23,1.69,2.28,3.04,3.99,5.14,6.63,8.23,10.05,12.10,...,21.75,24.00,26.25,28.85,31.60,33.40,35.00,39.05,40.40,43.60
2023-10-26,1.62,2.14,2.77,3.56,4.52,5.69,7.13,8.63,10.35,12.25,...,21.55,23.95,26.05,28.00,31.05,25.10,26.45,37.60,40.20,35.05
2023-10-25,0.41,0.58,0.81,1.13,1.55,2.10,2.84,3.70,4.79,6.11,...,13.50,15.75,17.85,20.15,22.00,25.10,26.45,28.95,32.50,35.05
2023-10-24,0.42,0.58,0.79,1.08,1.45,1.93,2.57,3.33,4.28,5.42,...,12.25,14.30,16.70,19.80,21.30,26.80,26.45,28.95,33.00,37.40
2023-10-23,0.79,1.04,1.37,1.78,2.30,2.95,3.69,4.70,5.85,7.24,...,14.30,16.70,18.95,21.45,23.80,26.80,27.45,19.10,33.55,36.15
2023-10-20,0.83,1.07,1.37,1.74,2.21,2.78,3.34,4.31,5.32,6.47,...,13.10,14.85,15.95,19.45,21.95,23.65,27.65,19.10,30.80,23.40
2023-10-19,0.42,0.54,0.69,0.92,1.18,1.53,2.04,2.51,3.18,4.00,...,9.15,10.90,12.95,15.05,17.15,19.20,21.55,19.10,26.80,23.40
2023-10-18,0.15,0.19,0.25,0.32,0.43,0.57,0.75,1.02,1.38,1.84,...,5.20,6.53,8.07,9.87,11.75,13.70,16.30,19.10,20.65,23.40
2023-10-17,0.17,0.22,0.28,0.38,0.51,0.69,0.96,1.24,1.65,2.17,...,5.92,7.46,9.00,10.65,12.65,14.70,16.85,20.40,21.50,25.00
2023-10-16,0.35,0.46,0.60,0.80,1.06,1.38,1.72,2.30,2.94,3.73,...,8.59,10.25,12.20,14.90,16.45,18.60,21.10,25.35,27.25,28.40
2023-10-13,0.26,0.34,0.44,0.58,0.77,1.01,1.29,1.74,2.26,2.91,...,7.19,8.78,10.50,12.35,14.30,16.65,18.80,21.25,23.70,25.40
2023-10-12,0.22,0.28,0.36,0.47,0.61,0.80,0.94,1.37,1.77,2.32,...,5.82,7.22,8.65,10.50,12.10,15.10,16.20,19.50,21.00,24.50

In [16]:
PTB1515.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, 2023-11-07 to 2023-08-01
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   297     36 non-null     float64
 1   300     32 non-null     float64
 2   302     33 non-null     float64
 3   305     32 non-null     float64
 4   307     32 non-null     float64
 5   310     32 non-null     float64
 6   312     45 non-null     float64
 7   315     32 non-null     float64
 8   317     33 non-null     float64
 9   320     32 non-null     float64
 10  322     36 non-null     float64
 11  325     35 non-null     float64
 12  327     43 non-null     float64
 13  330     47 non-null     float64
 14  332     44 non-null     float64
 15  335     47 non-null     float64
 16  337     44 non-null     float64
 17  340     47 non-null     float64
 18  342     44 non-null     float64
 19  345     47 non-null     float64
 20  347     42 non-null     float64
 21  350     47 non-null     float64
 22  352     35 non-null     float64
dtypes: float64(23)
memory usage: 8.8+ KB

## PTC0930 풋 23년 12월물 9시30분 현재가

In [17]:
# PTC0930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
# root_directory = './option_price/301TC305_337.5/' # 시작 디렉토리 설정

# # root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
# for root, dirs, files in os.walk(root_directory):
#     for file in files:
#         if file.endswith(".csv"):
#             file_path = os.path.join(root, file)
#             # CSV 파일을 DataFrame으로 읽어들임
#             data = pd.read_csv(file_path)
#             data['현재가'] = data['현재가'].abs()
#             csv_file_name = os.path.basename(file_path)
#             if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
#             data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
#              # 읽어들인 데이터를 기존 데이터프레임과 결합
#             if PTC0930.empty:
#                 PTC0930 = data
#             else:
#                 PTC0930 = pd.merge(PTC0930, data, on='date', how='outer') # date기준으로 병합
# PTC0930[1:].bfill(inplace=True)
# PTC0930 = PTC0930[PTC0930['date'].dt.time == pd.to_datetime('09:30:00').time()] # 09시30분 데이터만 추출
# PTC0930['date'] = PTC0930['date'].dt.strftime("%Y-%m-%d") # 'date' 열의 datetime 값을 "YYYY-MM-DD" 형식으로 변경
# PTC0930.set_index('date', inplace=True)

## PTC1515 풋 23년 12월물 15시15분 현재가

In [18]:
# PTC1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
# root_directory = './option_price/301TC305_337.5/' # 시작 디렉토리 설정

# # root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
# for root, dirs, files in os.walk(root_directory):
#     for file in files:
#         if file.endswith(".csv"):
#             file_path = os.path.join(root, file)
#             # CSV 파일을 DataFrame으로 읽어들임
#             data = pd.read_csv(file_path)
#             data['현재가'] = data['현재가'].abs()
#             csv_file_name = os.path.basename(file_path)
#             if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
#             data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            
#              # 읽어들인 데이터를 기존 데이터프레임과 결합
#             if PTC1515.empty:
#                 PTC1515 = data
#             else:
#                 PTC1515 = pd.merge(PTC1515, data, on='date', how='outer') # date기준으로 병합
# PTC1515[1:].bfill(inplace=True)
# PTC1515 = PTC1515[PTC1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 15시15분 데이터만 추출
# PTC1515['date'] = PTC1515['date'].dt.strftime("%Y-%m-%d") # 'date' 열의 datetime 값을 "YYYY-MM-DD" 형식으로 변경
# PTC1515.set_index('date', inplace=True)

# 거래일 기간 조정

In [19]:
import datetime

def find_second_thursdays(year, month):
    current_month_second_thursday = datetime.date(year, month, 1)
    current_month_second_thursday += datetime.timedelta(days=(3 - current_month_second_thursday.weekday() + 7) % 7)
    current_month_second_thursday += datetime.timedelta(weeks=1)

    if month == 1:
        previous_month = 12
        previous_year = year - 1
    else:
        previous_month = month - 1
        previous_year = year

    previous_month_second_thursday = datetime.date(previous_year, previous_month, 1)
    previous_month_second_thursday += datetime.timedelta(days=(3 - previous_month_second_thursday.weekday() + 7) % 7)
    previous_month_second_thursday += datetime.timedelta(weeks=1)

    return current_month_second_thursday, previous_month_second_thursday

# 사용 예제
year = 2023
month = 11

current_month_second_thursday, previous_month_second_thursday = find_second_thursdays(year, month)
current_month_second_thursday = str(current_month_second_thursday)
previous_month_second_thursday = str(previous_month_second_thursday)
print(f"{year}년 {month}월의 두 번째 목요일: {current_month_second_thursday}")
print(f"{year}년 {month}월의 전월 두 번째 목요일: {previous_month_second_thursday}")

2023년 11월의 두 번째 목요일: 2023-11-09
2023년 11월의 전월 두 번째 목요일: 2023-10-12

In [20]:
print(type(current_month_second_thursday))
print(type(previous_month_second_thursday))

<class 'str'>
<class 'str'>

# strike price set

In [21]:
strike_price = pd.read_csv('./dataset/strike_price.csv')
strike_price['날짜'] = pd.to_datetime(strike_price['날짜'], format='%Y-%m-%d').dt.strftime("%Y-%m-%d")
strike_price.set_index('날짜', inplace=True)
print(strike_price)

            기준행사가    S-4    S-3    S-2    S-1    S+1    S+2    S+3    S+4
날짜
2023-10-31  307.5  297.5  300.0  302.5  305.0  310.0  312.5  315.0  317.5
2023-10-30  307.5  297.5  300.0  302.5  305.0  310.0  312.5  315.0  317.5
2023-10-27  307.5  297.5  300.0  302.5  305.0  310.0  312.5  315.0  317.5
2023-10-26  315.0  305.0  307.5  310.0  312.5  317.5  320.0  322.5  325.0
2023-10-25  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-24  315.0  305.0  307.5  310.0  312.5  317.5  320.0  322.5  325.0
2023-10-23  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-20  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
2023-10-19  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-10-18  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
2023-10-17  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
2023-10-16  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
2023-10-13  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-10-12  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
2023-10-11  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-10  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-06  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-05  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-04  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
2023-09-27  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
2023-09-26  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
2023-09-25  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
2023-09-22  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-09-21  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-09-20  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-09-19  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-09-18  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5
2023-09-15  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-09-14  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
2023-09-13  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
2023-09-12  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-09-11  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
2023-09-08  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
2023-09-07  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-09-06  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-09-05  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-09-04  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-09-01  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-08-31  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-08-30  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-08-29  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-08-28  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
2023-08-25  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-08-24  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-08-23  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-08-22  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-08-21  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-08-18  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
2023-08-17  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
2023-08-16  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
2023-08-14  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-08-11  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-08-10  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-08-09  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-08-08  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-08-07  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0

In [22]:
strike_price.describe()

,기준행사가,S-4,S-3,S-2,S-1,S+1,S+2,S+3,S+4
count,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,329.151786,319.151786,321.651786,324.151786,326.651786,331.651786,334.151786,336.651786,339.151786
std,9.185918,9.185918,9.185918,9.185918,9.185918,9.185918,9.185918,9.185918,9.185918
min,307.500000,297.500000,300.000000,302.500000,305.000000,310.000000,312.500000,315.000000,317.500000
25%,324.375000,314.375000,316.875000,319.375000,321.875000,326.875000,329.375000,331.875000,334.375000
50%,330.000000,320.000000,322.500000,325.000000,327.500000,332.500000,335.000000,337.500000,340.000000
75%,337.500000,327.500000,330.000000,332.500000,335.000000,340.000000,342.500000,345.000000,347.500000
max,342.500000,332.500000,335.000000,337.500000,340.000000,345.000000,347.500000,350.000000,352.500000

In [23]:
CTB0915

,297,300,302,305,307,310,312,315,317,320,...,330,332,335,337,340,342,345,347,350,352
date,,,,,,,,,,,,,,,,,,,,,
2023-11-07,31.00,29.40,26.00,23.85,21.50,19.00,16.45,14.00,11.60,9.25,...,2.33,1.45,0.87,0.51,0.29,0.16,0.09,0.06,0.03,0.02
2023-11-06,25.80,23.65,21.45,19.20,16.55,14.30,11.95,9.51,7.11,5.05,...,0.39,0.15,0.05,0.03,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-03,19.90,17.65,15.00,12.55,10.05,7.80,5.82,4.03,2.58,1.51,...,0.07,0.03,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-02,18.10,15.60,13.10,10.95,8.71,6.58,4.81,3.25,2.04,1.19,...,0.07,0.04,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-01,12.30,10.00,8.11,6.10,4.42,3.07,2.01,1.23,0.71,0.38,...,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-31,12.75,9.55,8.01,5.85,4.36,3.08,2.08,1.32,0.79,0.45,...,0.06,0.03,0.03,0.02,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-30,11.30,9.28,7.52,5.78,4.33,3.13,2.15,1.41,0.88,0.53,...,0.08,0.05,0.04,0.03,0.02,0.01,0.01,0.01,0.01,0.01
2023-10-27,11.80,10.00,8.26,6.45,4.97,3.70,2.65,1.80,1.18,0.73,...,0.10,0.07,0.05,0.04,0.03,0.02,0.01,0.01,0.01,0.01
2023-10-26,15.00,12.95,10.75,8.96,7.16,5.60,4.25,3.11,2.17,1.45,...,0.21,0.13,0.08,0.06,0.05,0.03,0.03,0.02,0.02,0.01
2023-10-25,19.45,18.50,17.70,14.40,11.90,10.00,8.00,6.38,4.91,3.65,...,0.71,0.42,0.25,0.15,0.09,0.06,0.04,0.02,0.02,0.01
2023-10-24,19.45,17.85,15.75,12.60,10.60,8.60,7.00,5.52,4.20,3.09,...,0.58,0.34,0.20,0.12,0.08,0.05,0.04,0.02,0.01,0.01
2023-10-23,NaN,19.25,15.65,14.20,12.30,10.20,8.40,6.81,5.28,4.06,...,0.91,0.57,0.34,0.21,0.12,0.08,0.05,0.03,0.02,0.01
2023-10-20,NaN,18.80,25.80,14.35,12.95,10.55,9.00,7.15,5.71,4.44,...,1.17,0.77,0.49,0.31,0.19,0.12,0.07,0.05,0.02,0.01
2023-10-19,NaN,28.50,25.80,22.15,17.35,15.10,13.30,11.30,9.15,7.72,...,2.60,1.80,1.22,0.78,0.48,0.28,0.16,0.09,0.06,0.03
2023-10-18,NaN,28.50,25.80,22.15,19.60,18.75,16.35,14.00,11.85,10.15,...,4.10,3.00,2.12,1.43,0.92,0.56,0.32,0.18,0.10,0.05
2023-10-17,NaN,27.00,21.70,19.10,19.60,17.30,15.25,13.10,10.70,8.90,...,3.20,2.30,1.58,1.04,0.66,0.41,0.25,0.14,0.09,0.05
2023-10-16,NaN,27.00,23.30,22.80,19.80,16.05,15.40,12.25,10.40,8.05,...,2.86,2.03,1.39,0.91,0.56,0.34,0.21,0.13,0.07,0.05
2023-10-13,NaN,27.50,25.15,22.80,20.45,17.90,15.40,14.00,11.80,9.63,...,3.91,2.92,2.13,1.50,1.02,0.67,0.42,0.26,0.16,0.10
2023-10-12,NaN,26.00,19.20,22.10,20.45,19.30,16.00,15.20,13.15,11.00,...,4.89,3.75,2.82,2.05,1.48,0.99,0.66,0.43,0.28,0.18
2023-10-11,NaN,27.00,19.20,17.30,15.05,17.45,14.95,13.15,11.45,9.60,...,4.01,3.05,2.26,1.62,1.13,0.77,0.51,0.32,0.21,0.13
2023-10-10,NaN,20.50,19.20,17.30,15.05,16.75,10.80,12.75,10.75,8.95,...,3.70,2.77,2.05,1.50,1.04,0.72,0.48,0.32,0.21,0.14
2023-10-06,NaN,20.50,19.20,17.30,15.05,13.10,10.70,9.00,7.41,6.08,...,2.13,1.55,1.12,0.78,0.54,0.37,0.25,0.17,0.12,0.08
2023-10-05,NaN,20.70,18.60,16.40,14.50,12.45,10.60,10.25,7.50,6.02,...,2.15,1.57,1.11,0.78,0.54,0.37,0.26,0.18,0.13,0.08
2023-10-04,NaN,21.75,NaN,NaN,NaN,13.75,11.55,9.84,8.23,6.60,...,2.54,1.89,1.39,0.99,0.70,0.50,0.35,0.25,0.17,0.12
2023-09-27,NaN,27.00,NaN,NaN,NaN,17.25,NaN,15.10,13.10,10.75,...,4.76,3.67,2.91,2.15,1.60,1.16,0.84,0.60,0.43,0.31
2023-09-26,NaN,NaN,NaN,NaN,NaN,27.20,NaN,18.50,16.35,11.80,...,5.56,4.55,3.52,2.65,2.06,1.51,1.08,0.79,0.56,0.39
2023-09-25,NaN,NaN,NaN,NaN,NaN,27.20,NaN,18.70,18.00,15.00,...,7.00,6.21,4.75,3.74,2.79,2.11,1.56,1.13,0.81,0.59
2023-09-22,NaN,NaN,NaN,NaN,NaN,27.20,NaN,23.20,18.00,12.90,...,6.80,5.30,4.52,3.62,2.74,2.14,1.60,1.18,0.86,0.63
2023-09-21,NaN,NaN,NaN,NaN,NaN,27.20,NaN,23.20,NaN,20.25,...,10.75,10.50,6.64,5.46,4.48,3.36,2.59,1.96,1.45,1.06
2023-09-20,NaN,NaN,NaN,NaN,NaN,27.20,NaN,23.20,NaN,20.50,...,12.40,10.50,8.70,7.70,6.32,5.18,3.92,3.20,2.45,1.89
2023-09-19,NaN,NaN,NaN,NaN,NaN,27.20,NaN,23.20,NaN,23.00,...,14.50,15.85,10.40,9.01,7.28,6.28,4.83,3.90,3.04,2.35
2023-09-18,NaN,NaN,NaN,NaN,NaN,27.20,NaN,23.20,NaN,24.50,...,17.65,15.85,13.30,10.05,8.65,7.06,5.70,4.71,3.70,2.89
2023-09-15,NaN,NaN,NaN,NaN,NaN,27.20,NaN,23.20,NaN,18.50,...,13.10,12.20,10.45,9.60,8.45,6.57,5.56,4.54,3.69,2.78
2023-09-14,NaN,NaN,NaN,NaN,NaN,27.20,NaN,23.20,NaN,18.50,...,14.30,9.70,7.76,6.75,5.06,4.46,3.51,2.65,2.10,1.56
2023-09-13,NaN,NaN,NaN,NaN,NaN,27.20,NaN,23.20,NaN,18.50,...,14.30,8.47,8.24,6.62,4.97,3.97,3.50,2.80,2.00,1.59
2023-09-12,NaN,NaN,NaN,NaN,NaN,27.20,NaN,23.20,NaN,20.50,...,14.30,8.47,7.92,7.15,5.43,4.90,3.60,2.90,2.18,1.62
2023-09-11,NaN,NaN,NaN,NaN,NaN,27.20,NaN,23.20,NaN,20.50,...,14.30,8.47,7.92,6.70,4.69,3.69,3.21,2.52,2.05,1.64
2023-09-08,NaN,NaN,NaN,NaN,NaN,27.20,NaN,23.20,NaN,20.50,...,14.30,10.75,7.80,6.54,5.04,4.42,3.62,2.54,2.00,1.68
2023-09-07,NaN,NaN,NaN,NaN,NaN,31.50,NaN,26.90,NaN,20.50,...,14.30,10.75,9.16,7.54,5.76,4.93,4.14,3.01,2.29,1.95
2023-09-06,NaN,NaN,NaN,NaN,NaN,31.50,NaN,26.90,NaN,21.75,...,14.30,10.75,10.00,9.00,7.54,5.81,4.86,3.90,3.13,2.67
2023-09-05,NaN,NaN,NaN,NaN,NaN,31.50,NaN,26.90,NaN,21.75,...,13.55,10.75,10.00,9.00,7.48,5.81,5.43,3.84,3.59,2.78
2023-09-04,NaN,NaN,NaN,NaN,NaN,22.80,NaN,21.50,NaN,21.25,...,13.55,10.75,10.00,8.80,7.40,5.91,4.80,3.93,3.14,2.50
2023-09-01,NaN,NaN,NaN,NaN,NaN,22.80,NaN,21.50,NaN,19.00,...,8.78,8.58,7.58,7.70,6.60,5.20,3.14,2.80,2.28,1.56
2023-08-29,NaN,NaN,NaN,NaN,NaN,22.80,NaN,21.50,NaN,18.00,...,8.78,8.10,6.52,5.95,4.37,3.52,2.79,2.75,2.24,1.71
2023-08-28,NaN,NaN,NaN,NaN,NaN,22.80,NaN,21.50,NaN,18.00,...,8.78,8.10,6.52,5.20,4.37,3.52,2.79,2.45,1.91,1.26
2023-08-25,NaN,NaN,NaN,NaN,NaN,25.70,NaN,21.50,NaN,18.00,...,8.78,7.38,6.52,5.20,4.37,4.60,2.79,2.20,1.75,1.26
2023-08-24,NaN,NaN,NaN,NaN,NaN,25.70,NaN,21.50,NaN,17.50,...,8.78,7.89,6.52,5.20,4.37,4.60,2.79,2.90,2.52,1.26
2023-08-23,NaN,NaN,NaN,NaN,NaN,25.70,NaN,21.50,NaN,15.50,...,8.78,7.89,6.52,5.20,4.37,3.80,2.79,2.83,1.83,1.26
2023-08-22,NaN,NaN,NaN,NaN,NaN,25.70,NaN,21.50,NaN,15.00,...,9.00,7.89,6.52,5.20,4.50,3.80,3.20,2.83,2.10,1.76
2023-08-21,NaN,NaN,NaN,NaN,NaN,25.70,NaN,21.50,NaN,14.50,...,9.00,7.89,6.52,5.50,5.28,3.62,2.90,2.60,1.84,1.59
2023-08-18,NaN,NaN,NaN,NaN,NaN,25.70,NaN,21.50,NaN,14.75,...,9.18,8.20,7.06,5.50,4.50,3.84,2.90,2.63,2.34,2.12
2023-08-17,NaN,NaN,NaN,NaN,NaN,25.70,NaN,21.50,NaN,13.80,...,9.18,7.89,9.37,7.20,4.40,3.84,2.60,2.19,1.64,2.12
2023-08-16,NaN,NaN,NaN,NaN,NaN,37.90,NaN,NaN,NaN,30.95,...,19.40,NaN,9.37,9.69,7.51,NaN,5.40,4.88,3.00,2.45
2023-08-14,NaN,NaN,NaN,NaN,NaN,37.90,NaN,NaN,NaN,30.95,...,19.40,NaN,12.85,NaN,10.10,NaN,7.60,NaN,4.70,4.85
2023-08-11,NaN,NaN,NaN,NaN,NaN,37.90,NaN,NaN,NaN,30.95,...,19.40,NaN,12.85,NaN,10.10,NaN,7.60,NaN,5.79,4.85
2023-08-10,NaN,NaN,NaN,NaN,NaN,37.90,NaN,NaN,NaN,30.95,...,19.40,NaN,12.85,NaN,10.10,NaN,8.80,NaN,6.53,NaN
2023-08-08,NaN,NaN,NaN,NaN,NaN,37.90,NaN,NaN,NaN,30.95,...,19.40,NaN,17.40,NaN,11.25,NaN,8.53,NaN,6.53,NaN
2023-08-02,NaN,NaN,NaN,NaN,NaN,37.90,NaN,NaN,NaN,30.95,...,19.40,NaN,17.40,NaN,14.60,NaN,14.40,NaN,10.60,NaN

In [24]:
CTB0915.index

Index(['2023-11-07', '2023-11-06', '2023-11-03', '2023-11-02', '2023-11-01',
       '2023-10-31', '2023-10-30', '2023-10-27', '2023-10-26', '2023-10-25',
       '2023-10-24', '2023-10-23', '2023-10-20', '2023-10-19', '2023-10-18',
       '2023-10-17', '2023-10-16', '2023-10-13', '2023-10-12', '2023-10-11',
       '2023-10-10', '2023-10-06', '2023-10-05', '2023-10-04', '2023-09-27',
       '2023-09-26', '2023-09-25', '2023-09-22', '2023-09-21', '2023-09-20',
       '2023-09-19', '2023-09-18', '2023-09-15', '2023-09-14', '2023-09-13',
       '2023-09-12', '2023-09-11', '2023-09-08', '2023-09-07', '2023-09-06',
       '2023-09-05', '2023-09-04', '2023-09-01', '2023-08-29', '2023-08-28',
       '2023-08-25', '2023-08-24', '2023-08-23', '2023-08-22', '2023-08-21',
       '2023-08-18', '2023-08-17', '2023-08-16', '2023-08-14', '2023-08-11',
       '2023-08-10', '2023-08-08', '2023-08-02'],
      dtype='object', name='date')

In [25]:
previous_month_second_thursday

'2023-10-12'

In [26]:
CTB09sp = strike_price.copy()
CTB15sp = strike_price.copy()
PTB09sp = strike_price.copy()
PTB15sp = strike_price.copy()

In [27]:
CTB09sp.index

Index(['2023-10-31', '2023-10-30', '2023-10-27', '2023-10-26', '2023-10-25',
       '2023-10-24', '2023-10-23', '2023-10-20', '2023-10-19', '2023-10-18',
       '2023-10-17', '2023-10-16', '2023-10-13', '2023-10-12', '2023-10-11',
       '2023-10-10', '2023-10-06', '2023-10-05', '2023-10-04', '2023-09-27',
       '2023-09-26', '2023-09-25', '2023-09-22', '2023-09-21', '2023-09-20',
       '2023-09-19', '2023-09-18', '2023-09-15', '2023-09-14', '2023-09-13',
       '2023-09-12', '2023-09-11', '2023-09-08', '2023-09-07', '2023-09-06',
       '2023-09-05', '2023-09-04', '2023-09-01', '2023-08-31', '2023-08-30',
       '2023-08-29', '2023-08-28', '2023-08-25', '2023-08-24', '2023-08-23',
       '2023-08-22', '2023-08-21', '2023-08-18', '2023-08-17', '2023-08-16',
       '2023-08-14', '2023-08-11', '2023-08-10', '2023-08-09', '2023-08-08',
       '2023-08-07'],
      dtype='object', name='날짜')

In [28]:
for c in strike_price.columns:
    for i in strike_price.index:
        value = strike_price.loc[i, c]
        if not np.isnan(value):
            try:
                lookup_value = CTB0915.loc[i, str(math.floor(value))]
                CTB09sp.loc[i, c] = lookup_value
            except KeyError:
                CTB09sp.loc[i, c] = np.nan
        else:
            CTB09sp.loc[i, c] = np.nan
CTB09sp = CTB09sp.loc[(CTB09sp.index > previous_month_second_thursday) & (CTB09sp.index < current_month_second_thursday),:]
print(CTB09sp)

            기준행사가    S-4    S-3    S-2   S-1   S+1   S+2   S+3   S+4
날짜
2023-10-31   4.36  12.75   9.55   8.01  5.85  3.08  2.08  1.32  0.79
2023-10-30   4.33  11.30   9.28   7.52  5.78  3.13  2.15  1.41  0.88
2023-10-27   4.97  11.80  10.00   8.26  6.45  3.70  2.65  1.80  1.18
2023-10-26   3.11   8.96   7.16   5.60  4.25  2.17  1.45  0.92  0.56
2023-10-25   4.91  11.90  10.00   8.00  6.38  3.65  2.59  1.76  1.14
2023-10-24   5.52  12.60  10.60   8.60  7.00  4.20  3.09  2.18  1.46
2023-10-23   5.28  12.30  10.20   8.40  6.81  4.06  2.95  2.08  1.41
2023-10-20   3.33   9.00   7.15   5.71  4.44  2.44  1.72  1.17  0.77
2023-10-19   3.58   9.15   7.72   6.14  4.76  2.60  1.80  1.22  0.78
2023-10-18   6.87  14.00  11.85  10.15  8.57  5.41  4.10  3.00  2.12
2023-10-17   7.17  15.25  13.10  10.70  8.90  5.59  4.30  3.20  2.30
2023-10-16   5.08  12.25  10.40   8.05  6.47  3.90  2.86  2.03  1.39
2023-10-13   5.04  11.80   9.63   7.93  6.44  3.91  2.92  2.13  1.50

In [29]:
for c in strike_price.columns:
    for i in strike_price.index:
        value = strike_price.loc[i, c]
        if not np.isnan(value):
            try:
                lookup_value = CTB1515.loc[i, str(math.floor(value))]
                CTB15sp.loc[i, c] = lookup_value
            except KeyError:
                CTB15sp.loc[i, c] = np.nan
        else:
            CTB15sp.loc[i, c] = np.nan
CTB15sp = CTB15sp.loc[(CTB15sp.index > previous_month_second_thursday) & (CTB15sp.index < current_month_second_thursday),:]
print(CTB15sp)

            기준행사가    S-4    S-3    S-2    S-1   S+1   S+2   S+3   S+4
날짜
2023-10-31   3.07   9.40   7.55   5.93   4.37  2.08  1.30  0.78  0.44
2023-10-30   5.21  13.20  10.65   8.70   6.81  3.80  2.66  1.78  1.11
2023-10-27   5.13  12.40  10.35   8.39   6.66  3.81  2.71  1.85  1.19
2023-10-26   2.21   7.22   5.63   4.26   3.09  1.49  0.99  0.63  0.39
2023-10-25   4.27  11.05   9.05   7.31   5.70  3.10  2.13  1.40  0.88
2023-10-24   7.12  14.30  12.60  10.65   8.78  5.57  4.24  3.09  2.16
2023-10-23   4.50  10.95   9.16   7.46   5.91  3.36  2.41  1.66  1.10
2023-10-20   3.54   9.17   7.58   6.06   4.65  2.58  1.81  1.23  0.80
2023-10-19   3.16   8.85   7.00   5.54   4.29  2.27  1.56  1.04  0.66
2023-10-18   7.30  15.25  13.20  10.85   9.15  5.71  4.33  3.21  2.27
2023-10-17   8.26  16.35  14.20  12.10  10.00  6.58  5.09  3.87  2.81
2023-10-16   4.86  11.45   9.47   7.75   6.24  3.68  2.72  1.92  1.32
2023-10-13   4.90  11.25   9.40   7.68   6.26  3.74  2.78  1.99  1.38

In [30]:
for c in strike_price.columns:
    for i in strike_price.index:
        value = strike_price.loc[i, c]
        if not np.isnan(value):
            try:
                lookup_value = PTB0915.loc[i, str(math.floor(value))]
                PTB09sp.loc[i, c] = lookup_value
            except KeyError:
                PTB09sp.loc[i, c] = np.nan
        else:
            PTB09sp.loc[i, c] = np.nan
PTB09sp = PTB09sp.loc[(PTB09sp.index > previous_month_second_thursday) & (PTB09sp.index < current_month_second_thursday),:]
print(PTB09sp)

            기준행사가   S-4   S-3   S-2   S-1   S+1    S+2    S+3    S+4
날짜
2023-10-31   2.76  0.61  0.92  1.35  1.95  3.80   6.31   6.65   8.50
2023-10-30   4.15  1.23  1.71  2.33  3.13  5.40   7.14   8.60  10.30
2023-10-27   4.18  1.35  1.82  2.43  3.21  5.36   7.06   8.38  10.30
2023-10-26   6.41  2.34  3.06  3.95  5.23  7.93   9.57  11.20  13.75
2023-10-25   4.04  1.26  1.72  2.61  3.09  5.19   6.54   8.00   9.47
2023-10-24   4.31  1.52  2.00  2.62  3.57  5.46   6.80   8.16  10.10
2023-10-23   5.63  2.24  2.86  3.35  4.53  6.90   8.60  10.30  12.15
2023-10-20   7.80  3.85  4.31  5.27  6.47  9.35  11.05  13.05  14.90
2023-10-19   6.95  2.77  3.54  4.49  5.63  8.54  10.45  12.30  14.35
2023-10-18   3.76  1.25  1.67  2.21  2.91  4.79   6.04   7.48   9.01
2023-10-17   3.40  1.25  1.51  2.00  2.61  4.35   5.49   6.74   8.38
2023-10-16   5.08  1.95  2.51  3.20  4.08  6.30   7.70   9.20  11.20
2023-10-13   5.79  2.27  2.91  3.68  4.67  7.10   8.60  10.35  12.50

In [31]:
for c in strike_price.columns:
    for i in strike_price.index:
        value = strike_price.loc[i, c]
        if not np.isnan(value):
            try:
                lookup_value = PTB1515.loc[i, str(math.floor(value))]
                PTB15sp.loc[i, c] = lookup_value
            except KeyError:
                PTB15sp.loc[i, c] = np.nan
        else:
            PTB15sp.loc[i, c] = np.nan
PTB15sp = PTB15sp.loc[(PTB15sp.index > previous_month_second_thursday) & (PTB15sp.index < current_month_second_thursday),:]
print(PTB15sp)

            기준행사가   S-4   S-3   S-2   S-1    S+1    S+2    S+3    S+4
날짜
2023-10-31   4.76  1.24  1.79  2.54  3.53   6.27   7.84  10.05  12.35
2023-10-30   3.19  0.84  1.20  1.69  2.34   4.26   5.75   7.09   8.50
2023-10-27   3.99  1.23  1.69  2.28  3.04   5.14   6.63   8.23  10.05
2023-10-26   8.63  3.56  4.52  5.69  7.13  10.35  12.25  14.35  16.75
2023-10-25   4.79  1.55  2.10  2.84  3.70   6.11   7.63   9.48  11.40
2023-10-24   3.33  1.08  1.45  1.93  2.57   4.28   5.42   6.84   8.52
2023-10-23   5.85  2.30  2.95  3.69  4.70   7.24   8.78  10.50  12.40
2023-10-20   7.89  3.34  4.31  5.32  6.47   9.35  11.15  13.10  14.85
2023-10-19   7.57  3.18  4.00  5.00  6.17   9.15  10.90  12.95  15.05
2023-10-18   3.15  1.02  1.38  1.84  2.41   4.06   5.20   6.53   8.07
2023-10-17   2.84  0.96  1.24  1.65  2.17   3.68   4.71   5.92   7.46
2023-10-16   5.80  2.30  2.94  3.73  4.67   7.10   8.59  10.25  12.20
2023-10-13   5.81  2.26  2.91  3.71  4.67   7.19   8.78  10.50  12.35

# to_csv

In [32]:
CTB09sp.to_csv("./target_price_set/CTB09sp.csv")
CTB15sp.to_csv("./target_price_set/CTB15sp.csv")
PTB09sp.to_csv("./target_price_set/PTB09sp.csv")
PTB15sp.to_csv("./target_price_set/PTB15sp.csv")

In [33]:
CTB09sp

            기준행사가    S-4    S-3    S-2   S-1   S+1   S+2   S+3   S+4
날짜
2023-10-31   4.36  12.75   9.55   8.01  5.85  3.08  2.08  1.32  0.79
2023-10-30   4.33  11.30   9.28   7.52  5.78  3.13  2.15  1.41  0.88
2023-10-27   4.97  11.80  10.00   8.26  6.45  3.70  2.65  1.80  1.18
2023-10-26   3.11   8.96   7.16   5.60  4.25  2.17  1.45  0.92  0.56
2023-10-25   4.91  11.90  10.00   8.00  6.38  3.65  2.59  1.76  1.14
2023-10-24   5.52  12.60  10.60   8.60  7.00  4.20  3.09  2.18  1.46
2023-10-23   5.28  12.30  10.20   8.40  6.81  4.06  2.95  2.08  1.41
2023-10-20   3.33   9.00   7.15   5.71  4.44  2.44  1.72  1.17  0.77
2023-10-19   3.58   9.15   7.72   6.14  4.76  2.60  1.80  1.22  0.78
2023-10-18   6.87  14.00  11.85  10.15  8.57  5.41  4.10  3.00  2.12
2023-10-17   7.17  15.25  13.10  10.70  8.90  5.59  4.30  3.20  2.30
2023-10-16   5.08  12.25  10.40   8.05  6.47  3.90  2.86  2.03  1.39
2023-10-13   5.04  11.80   9.63   7.93  6.44  3.91  2.92  2.13  1.50

In [34]:
CTB15sp

            기준행사가    S-4    S-3    S-2    S-1   S+1   S+2   S+3   S+4
날짜
2023-10-31   3.07   9.40   7.55   5.93   4.37  2.08  1.30  0.78  0.44
2023-10-30   5.21  13.20  10.65   8.70   6.81  3.80  2.66  1.78  1.11
2023-10-27   5.13  12.40  10.35   8.39   6.66  3.81  2.71  1.85  1.19
2023-10-26   2.21   7.22   5.63   4.26   3.09  1.49  0.99  0.63  0.39
2023-10-25   4.27  11.05   9.05   7.31   5.70  3.10  2.13  1.40  0.88
2023-10-24   7.12  14.30  12.60  10.65   8.78  5.57  4.24  3.09  2.16
2023-10-23   4.50  10.95   9.16   7.46   5.91  3.36  2.41  1.66  1.10
2023-10-20   3.54   9.17   7.58   6.06   4.65  2.58  1.81  1.23  0.80
2023-10-19   3.16   8.85   7.00   5.54   4.29  2.27  1.56  1.04  0.66
2023-10-18   7.30  15.25  13.20  10.85   9.15  5.71  4.33  3.21  2.27
2023-10-17   8.26  16.35  14.20  12.10  10.00  6.58  5.09  3.87  2.81
2023-10-16   4.86  11.45   9.47   7.75   6.24  3.68  2.72  1.92  1.32
2023-10-13   4.90  11.25   9.40   7.68   6.26  3.74  2.78  1.99  1.38

In [35]:
PTB09sp

            기준행사가   S-4   S-3   S-2   S-1   S+1    S+2    S+3    S+4
날짜
2023-10-31   2.76  0.61  0.92  1.35  1.95  3.80   6.31   6.65   8.50
2023-10-30   4.15  1.23  1.71  2.33  3.13  5.40   7.14   8.60  10.30
2023-10-27   4.18  1.35  1.82  2.43  3.21  5.36   7.06   8.38  10.30
2023-10-26   6.41  2.34  3.06  3.95  5.23  7.93   9.57  11.20  13.75
2023-10-25   4.04  1.26  1.72  2.61  3.09  5.19   6.54   8.00   9.47
2023-10-24   4.31  1.52  2.00  2.62  3.57  5.46   6.80   8.16  10.10
2023-10-23   5.63  2.24  2.86  3.35  4.53  6.90   8.60  10.30  12.15
2023-10-20   7.80  3.85  4.31  5.27  6.47  9.35  11.05  13.05  14.90
2023-10-19   6.95  2.77  3.54  4.49  5.63  8.54  10.45  12.30  14.35
2023-10-18   3.76  1.25  1.67  2.21  2.91  4.79   6.04   7.48   9.01
2023-10-17   3.40  1.25  1.51  2.00  2.61  4.35   5.49   6.74   8.38
2023-10-16   5.08  1.95  2.51  3.20  4.08  6.30   7.70   9.20  11.20
2023-10-13   5.79  2.27  2.91  3.68  4.67  7.10   8.60  10.35  12.50

In [36]:
PTB15sp

            기준행사가   S-4   S-3   S-2   S-1    S+1    S+2    S+3    S+4
날짜
2023-10-31   4.76  1.24  1.79  2.54  3.53   6.27   7.84  10.05  12.35
2023-10-30   3.19  0.84  1.20  1.69  2.34   4.26   5.75   7.09   8.50
2023-10-27   3.99  1.23  1.69  2.28  3.04   5.14   6.63   8.23  10.05
2023-10-26   8.63  3.56  4.52  5.69  7.13  10.35  12.25  14.35  16.75
2023-10-25   4.79  1.55  2.10  2.84  3.70   6.11   7.63   9.48  11.40
2023-10-24   3.33  1.08  1.45  1.93  2.57   4.28   5.42   6.84   8.52
2023-10-23   5.85  2.30  2.95  3.69  4.70   7.24   8.78  10.50  12.40
2023-10-20   7.89  3.34  4.31  5.32  6.47   9.35  11.15  13.10  14.85
2023-10-19   7.57  3.18  4.00  5.00  6.17   9.15  10.90  12.95  15.05
2023-10-18   3.15  1.02  1.38  1.84  2.41   4.06   5.20   6.53   8.07
2023-10-17   2.84  0.96  1.24  1.65  2.17   3.68   4.71   5.92   7.46
2023-10-16   5.80  2.30  2.94  3.73  4.67   7.10   8.59  10.25  12.20
2023-10-13   5.81  2.26  2.91  3.71  4.67   7.19   8.78  10.50  12.35