# import modules & load file

## import modules

In [243]:
import pandas as pd
import numpy as np
import math
import glob
import datetime
import warnings
warnings.filterwarnings('ignore')
import os
current_directory = os.getcwd()
print("현재 디렉토리:", current_directory)

현재 디렉토리: c:\apps\1stProject

## load files

In [244]:
folder_path = './option_price/' # 폴더 경로

목표 : 각 옵션종목을 각 dataframe으로 저장
=======
dataframe이름 예로 201TB305는 콜옵션, 23년, 11월, 행사가 305이므로 -> TB305C
201TC2337는 콜옵션, 23년, 12월, 행사가 337.5이므로 -> TC337C
301TB312는 풋옵션, 23년, 11월, 행사가 312.5이므로 -> TB312P
301TC335는 풋옵션, 23년, 12월, 행사가 335이므로 -> TC335P

## CTB0915 콜옵션 23년 11월물 9시15분 현재가

In [245]:
root_directory = './option_price/201TB305_352.5/'
CTB0915 = pd.DataFrame()
for root, dirs, files in os.walk(root_directory):    
    for file in files:
        file_path = os.path.join(root, file)        
        # data = pd.read_csv(file_path)
        csv_file_name = os.path.basename(file_path)
        data = pd.read_csv(file_path)
        data['현재가'] = data['현재가'].abs()        
        csv_file_name = csv_file_name.split('.')[0].split('TB')[1]
        data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
        data = data[['체결시간', '현재가']]
        data.rename(columns={'현재가': csv_file_name, '체결시간': 'date'}, inplace=True)
        if CTB0915.empty:
            CTB0915 = data
        else:
            CTB0915 = pd.merge(CTB0915, data, on='date', how='outer')
CTB0915.sort_values(by='date', ascending=False, inplace=True)
CTB0915.fillna(method='bfill', inplace=True)
CTB0915 = CTB0915[CTB0915['date'].dt.time == pd.to_datetime('09:15:00').time()] # 09시30분 데이터만 추출
CTB0915['date'] = CTB0915['date'].dt.strftime("%Y-%m-%d")
CTB0915.set_index('date', inplace=True)

In [246]:
CTB0915.head(19)

,305,307,310,312,315,317,320,322,325,327,...,337,340,342,345,347,350,352,355,357,360
date,,,,,,,,,,,,,,,,,,,,,
2023-11-03,12.30,10.15,7.74,5.71,3.95,2.51,1.46,0.76,0.36,0.15,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-02,10.95,8.57,6.56,4.69,3.18,1.99,1.14,0.60,0.29,0.14,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-01,6.56,4.84,3.41,2.27,1.43,0.84,0.46,0.25,0.13,0.07,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-31,7.03,5.44,3.92,2.74,1.80,1.12,0.66,0.37,0.21,0.12,...,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-30,6.08,4.56,3.32,2.31,1.54,0.98,0.60,0.36,0.21,0.13,...,0.03,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-27,6.74,5.21,3.90,2.81,1.93,1.27,0.79,0.48,0.28,0.17,...,0.04,0.03,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-26,9.14,7.40,5.79,4.39,3.22,2.25,1.51,0.97,0.60,0.36,...,0.06,0.04,0.03,0.02,0.02,0.01,0.01,0.01,0.01,0.01
2023-10-25,15.45,12.95,10.50,9.14,6.94,5.31,4.00,2.87,1.98,1.30,...,0.17,0.10,0.07,0.04,0.02,0.02,0.01,0.01,0.01,0.01
2023-10-24,13.25,11.00,9.09,7.33,5.77,4.43,3.28,2.32,1.57,1.01,...,0.13,0.08,0.06,0.04,0.02,0.02,0.01,0.01,0.01,0.01
2023-10-23,14.20,12.30,9.65,8.15,6.38,4.97,3.78,2.76,1.93,1.30,...,0.19,0.11,0.07,0.05,0.03,0.02,0.01,0.01,0.01,0.01
2023-10-20,14.95,12.95,10.95,9.31,7.55,6.04,4.70,3.59,2.64,1.86,...,0.32,0.19,0.12,0.07,0.05,0.03,0.01,0.01,0.01,0.01
2023-10-19,22.15,17.35,15.20,13.05,11.15,9.09,7.50,6.03,4.65,3.49,...,0.75,0.46,0.27,0.15,0.08,0.04,0.03,0.02,0.01,0.01
2023-10-18,22.15,19.60,18.00,16.35,13.70,11.85,10.30,8.14,6.52,5.07,...,1.30,0.83,0.50,0.29,0.17,0.10,0.05,0.03,0.02,0.02
2023-10-17,19.10,19.60,17.30,14.90,13.10,11.25,9.26,7.34,5.91,4.56,...,1.14,0.73,0.45,0.27,0.16,0.10,0.05,0.03,0.02,0.02
2023-10-16,22.80,19.80,16.35,15.40,12.25,10.15,8.71,7.08,5.58,4.32,...,1.08,0.69,0.42,0.26,0.15,0.10,0.06,0.03,0.03,0.02
2023-10-13,22.10,20.45,17.90,15.40,14.00,11.50,9.70,7.95,6.36,5.03,...,1.47,1.00,0.66,0.42,0.26,0.17,0.10,0.07,0.04,0.03
2023-10-12,22.10,20.45,19.30,16.00,13.20,12.35,10.95,8.86,7.58,6.02,...,1.96,1.39,0.94,0.63,0.40,0.26,0.16,0.11,0.07,0.04
2023-10-11,17.30,15.05,12.85,14.95,13.00,11.20,9.00,7.75,6.25,4.95,...,1.53,1.07,0.71,0.47,0.30,0.19,0.12,0.07,0.05,0.03
2023-10-10,17.30,15.05,16.80,10.80,12.75,10.40,9.15,7.56,6.11,4.85,...,1.53,1.08,0.74,0.50,0.33,0.22,0.14,0.10,0.06,0.04

In [247]:
CTB0915.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, 2023-11-03 to 2023-06-22
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   305     21 non-null     float64
 1   307     21 non-null     float64
 2   310     65 non-null     float64
 3   312     22 non-null     float64
 4   315     49 non-null     float64
 5   317     26 non-null     float64
 6   320     65 non-null     float64
 7   322     35 non-null     float64
 8   325     39 non-null     float64
 9   327     39 non-null     float64
 10  330     65 non-null     float64
 11  332     49 non-null     float64
 12  335     55 non-null     float64
 13  337     50 non-null     float64
 14  340     65 non-null     float64
 15  342     49 non-null     float64
 16  345     65 non-null     float64
 17  347     50 non-null     float64
 18  350     48 non-null     float64
 19  352     50 non-null     float64
 20  355     65 non-null     float64
 21  357     50 non-null     float64
 22  360     65 non-null     float64
dtypes: float64(23)
memory usage: 12.2+ KB

## CTB1515 콜 23년 11월 15시15분 현재가

In [248]:
root_directory = './option_price/201TB305_352.5/'# 시작 디렉토리 설정
CTB1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
# root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
for root, dirs, files in os.walk(root_directory):    
    for file in files:
        file_path = os.path.join(root, file)        
        # data = pd.read_csv(file_path)
        csv_file_name = os.path.basename(file_path)
        data = pd.read_csv(file_path)
        data['현재가'] = data['현재가'].abs()        
        csv_file_name = csv_file_name.split('.')[0].split('TB')[1]
        data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
        data = data[['체결시간', '현재가']]
        data.rename(columns={'현재가': csv_file_name, '체결시간': 'date'}, inplace=True)
        if CTB1515.empty:
            CTB1515 = data
        else:
            CTB1515 = pd.merge(CTB1515, data, on='date', how='outer')
CTB1515.sort_values(by='date', ascending=False, inplace=True)
CTB1515.fillna(method='bfill', inplace=True)
CTB1515 = CTB1515[CTB1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 15시30분 데이터만 추출
CTB1515['date'] = CTB1515['date'].dt.strftime("%Y-%m-%d")
CTB1515.set_index('date', inplace=True)

In [249]:
CTB1515.head(19)

,305,307,310,312,315,317,320,322,325,327,...,337,340,342,345,347,350,352,355,357,360
date,,,,,,,,,,,,,,,,,,,,,
2023-11-03,13.40,11.00,8.70,6.52,4.59,2.98,1.76,0.91,0.41,0.17,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-02,10.10,7.91,5.88,4.16,2.75,1.68,0.93,0.46,0.21,0.09,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-01,6.60,4.92,3.46,2.31,1.44,0.84,0.46,0.24,0.11,0.05,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-31,4.21,2.97,1.98,1.25,0.74,0.41,0.23,0.12,0.06,0.04,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-30,7.16,5.40,3.99,2.82,1.89,1.20,0.72,0.42,0.24,0.13,...,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-27,6.65,5.15,3.82,2.72,1.86,1.20,0.73,0.43,0.25,0.15,...,0.02,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-26,7.15,5.64,4.29,3.15,2.23,1.52,0.99,0.63,0.39,0.24,...,0.05,0.03,0.03,0.02,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-25,13.15,11.00,9.08,7.30,5.68,4.29,3.12,2.16,1.43,0.89,...,0.11,0.06,0.05,0.03,0.02,0.02,0.01,0.01,0.01,0.01
2023-10-24,14.30,12.60,10.60,8.66,7.11,5.58,4.25,3.10,2.17,1.45,...,0.19,0.12,0.07,0.05,0.03,0.02,0.01,0.01,0.01,0.01
2023-10-23,13.00,10.85,9.00,7.39,5.77,4.44,3.30,2.36,1.62,1.06,...,0.15,0.09,0.06,0.04,0.02,0.02,0.01,0.01,0.01,0.01
2023-10-20,14.45,12.80,10.75,9.17,7.40,5.89,4.58,3.46,2.52,1.77,...,0.29,0.19,0.12,0.07,0.04,0.03,0.01,0.01,0.01,0.01
2023-10-19,19.25,16.80,14.65,12.60,10.70,8.90,7.20,5.70,4.40,3.28,...,0.69,0.40,0.25,0.14,0.08,0.05,0.03,0.02,0.01,0.01
2023-10-18,22.15,21.90,20.00,16.95,15.35,13.20,11.10,9.15,7.40,5.80,...,1.57,1.02,0.62,0.36,0.20,0.11,0.06,0.03,0.02,0.01
2023-10-17,22.15,19.60,18.55,16.35,14.20,12.10,10.20,8.31,6.68,5.21,...,1.35,0.87,0.52,0.30,0.18,0.10,0.06,0.03,0.02,0.01
2023-10-16,19.10,16.00,15.30,13.00,11.55,9.65,7.78,6.30,4.86,3.70,...,0.85,0.53,0.32,0.20,0.12,0.07,0.05,0.02,0.02,0.01
2023-10-13,22.80,19.80,17.55,15.40,13.35,11.25,9.33,7.68,6.15,4.81,...,1.36,0.90,0.58,0.36,0.22,0.13,0.08,0.05,0.03,0.03
2023-10-12,22.10,20.45,19.10,17.35,15.10,13.80,11.65,9.81,8.15,6.54,...,2.24,1.59,1.11,0.74,0.48,0.32,0.20,0.13,0.08,0.06
2023-10-11,22.10,20.45,17.90,16.00,13.20,10.90,9.19,7.46,6.02,4.75,...,1.43,0.99,0.66,0.43,0.28,0.18,0.12,0.08,0.05,0.04
2023-10-10,17.30,15.05,12.95,11.05,9.30,7.68,6.37,5.00,3.90,2.96,...,0.76,0.51,0.33,0.21,0.14,0.10,0.07,0.05,0.03,0.02

In [250]:
CTB1515.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 2023-11-03 to 2023-06-02
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   305     22 non-null     float64
 1   307     22 non-null     float64
 2   310     61 non-null     float64
 3   312     23 non-null     float64
 4   315     53 non-null     float64
 5   317     27 non-null     float64
 6   320     60 non-null     float64
 7   322     36 non-null     float64
 8   325     39 non-null     float64
 9   327     40 non-null     float64
 10  330     60 non-null     float64
 11  332     52 non-null     float64
 12  335     59 non-null     float64
 13  337     53 non-null     float64
 14  340     61 non-null     float64
 15  342     52 non-null     float64
 16  345     61 non-null     float64
 17  347     53 non-null     float64
 18  350     52 non-null     float64
 19  352     53 non-null     float64
 20  355     61 non-null     float64
 21  357     53 non-null     float64
 22  360     61 non-null     float64
dtypes: float64(23)
memory usage: 11.4+ KB

## CTC0930 콜 23년 12월물 9시30분 현재가

In [251]:
# CTC0930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
# root_directory = './option_price/201TC305_337.5/' # 시작 디렉토리 설정

# # root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
# for root, dirs, files in os.walk(root_directory):
#     for file in files:
#         if file.endswith(".csv"):
#             file_path = os.path.join(root, file)
#             # CSV 파일을 DataFrame으로 읽어들임
#             data = pd.read_csv(file_path)
#             data['현재가'] = data['현재가'].abs()
#             csv_file_name = os.path.basename(file_path)
#             if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
#             data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
#             data.bfill(inplace=True)            
#             selected_rows = data[data['date'].dt.time == pd.to_datetime('09:30:00').time()]
#             # print(selected_rows)
#             # 읽어들인 데이터를 기존 데이터프레임과 결합
#             if CTC0930.empty:
#                 CTC0930 = data
#             else:
#                 CTC0930 = pd.merge(CTC0930, data, on='date', how='outer') # date기준으로 병합
# CTC0930[1:].bfill(inplace=True)        
# CTC0930 = CTC0930[CTC0930['date'].dt.time == pd.to_datetime('09:30:00').time()] # 09시30분 데이터만 추출  
# CTC0930['date'] = CTC0930['date'].dt.strftime("%Y-%m-%d") # 'date' 열의 datetime 값을 "YYYY-MM-DD" 형식으로 변경
# CTC0930.set_index('date', inplace=True)

## CTC1515 콜옵션 23년 12월물 15시15분 현재가

In [252]:
# CTC1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
# root_directory = './option_price/201TC305_337.5/' # 시작 디렉토리 설정

# # root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
# for root, dirs, files in os.walk(root_directory):
#     for file in files:
#         if file.endswith(".csv"):
#             file_path = os.path.join(root, file)
#             # CSV 파일을 DataFrame으로 읽어들임
#             data = pd.read_csv(file_path)
#             data['현재가'] = data['현재가'].abs()
#             csv_file_name = os.path.basename(file_path)
#             if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
#             data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})            
#             # 읽어들인 데이터를 기존 데이터프레임과 결합
#             if CTC1515.empty:
#                 CTC1515 = data
#             else:
#                 CTC1515 = pd.merge(CTC1515, data, on='date', how='outer') # date기준으로 병합
# CTC1515[1:].bfill(inplace=True)
# CTC1515 = CTC1515[CTC1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 09시30분 데이터만 추출  
# CTC1515['date'] = CTC1515['date'].dt.strftime("%Y-%m-%d") # 'date' 열의 datetime 값을 "YYYY-MM-DD" 형식으로 변경
# CTC1515.set_index('date', inplace=True)

## PTB0915 풋옵션 23년 11월물 9시15분 현재가

In [253]:
root_directory = './option_price/301TB305_352.5/'
PTB0915 = pd.DataFrame()
for root, dirs, files in os.walk(root_directory):    
    for file in files:
        file_path = os.path.join(root, file)        
        # data = pd.read_csv(file_path)
        csv_file_name = os.path.basename(file_path)
        data = pd.read_csv(file_path)
        data['현재가'] = data['현재가'].abs()        
        csv_file_name = csv_file_name.split('.')[0].split('TB')[1]
        data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
        data = data[['체결시간', '현재가']]
        data.rename(columns={'현재가': csv_file_name, '체결시간': 'date'}, inplace=True)
        if PTB0915.empty:
            PTB0915 = data
        else:
            PTB0915 = pd.merge(PTB0915, data, on='date', how='outer')
PTB0915.sort_values(by='date', ascending=False, inplace=True)
PTB0915.fillna(method='bfill', inplace=True)
PTB0915 = PTB0915[PTB0915['date'].dt.time == pd.to_datetime('09:15:00').time()] # 09시30분 데이터만 추출
PTB0915['date'] = PTB0915['date'].dt.strftime("%Y-%m-%d")
PTB0915.set_index('date', inplace=True)

In [254]:
PTB0915.head(19)

,305,307,310,312,315,317,320,322,325,327,...,337,340,342,345,347,350,352,355,357,360
date,,,,,,,,,,,,,,,,,,,,,
2023-11-03,0.17,0.32,0.59,1.06,1.80,2.87,4.30,6.11,8.20,9.76,...,19.25,22.35,26.80,29.50,39.05,34.60,43.05,44.75,51.90,51.30
2023-11-02,0.38,0.64,1.07,1.74,2.69,4.00,5.66,7.60,9.60,12.10,...,26.50,24.55,32.65,29.50,39.05,39.80,43.05,44.75,51.90,51.30
2023-11-01,1.65,2.43,3.50,4.85,6.50,8.34,10.50,12.65,15.20,17.50,...,26.50,30.10,33.25,38.80,39.05,44.05,43.55,44.75,51.90,51.30
2023-10-31,1.95,2.76,3.80,5.12,6.65,8.50,10.45,12.80,15.10,17.45,...,26.50,28.65,33.25,36.10,39.05,41.15,43.55,46.20,48.55,51.30
2023-10-30,3.13,4.15,5.40,6.86,8.60,10.30,12.55,14.85,17.20,19.65,...,30.00,32.20,33.40,35.00,39.05,40.40,43.60,46.15,48.90,51.90
2023-10-27,3.21,4.18,5.36,6.64,8.38,10.30,11.60,14.00,16.50,18.90,...,27.50,30.30,25.10,35.00,37.60,39.95,35.05,36.40,40.20,51.20
2023-10-26,2.34,3.06,3.95,5.05,6.41,7.93,9.57,11.20,13.75,16.00,...,25.25,27.40,25.10,26.45,28.95,32.50,35.05,36.40,40.20,42.50
2023-10-25,0.91,1.26,1.72,2.32,3.09,4.04,5.19,6.54,8.00,9.47,...,18.85,21.30,23.80,26.45,28.95,31.30,37.40,36.40,38.90,46.00
2023-10-24,1.52,2.00,2.62,3.39,4.31,5.46,6.80,8.16,10.10,11.90,...,19.80,23.50,26.80,27.45,19.10,33.55,36.15,26.95,15.55,39.75
2023-10-23,1.76,2.24,2.86,3.61,4.53,5.63,6.90,8.60,10.30,12.15,...,20.50,23.10,23.65,27.45,19.10,30.80,23.40,26.95,15.55,39.75
2023-10-20,1.76,2.22,2.80,3.47,4.31,5.27,6.47,7.80,9.35,11.05,...,19.60,21.00,24.25,25.50,19.10,31.80,23.40,26.95,15.55,31.25
2023-10-19,0.73,0.96,1.25,1.64,2.14,2.77,3.54,4.49,5.63,6.95,...,14.35,16.40,18.70,19.70,19.10,25.80,23.40,26.95,15.55,31.25
2023-10-18,0.38,0.51,0.69,0.93,1.25,1.67,2.21,2.91,3.76,4.79,...,11.20,13.05,15.05,18.20,20.40,21.50,25.00,28.60,15.55,31.25
2023-10-17,0.45,0.62,0.84,1.13,1.51,2.00,2.61,3.40,4.35,5.49,...,12.00,14.65,16.50,18.60,25.35,27.25,25.65,27.80,15.55,35.50
2023-10-16,0.66,0.87,1.15,1.50,1.95,2.51,3.20,4.08,5.08,6.30,...,12.35,15.50,16.65,20.00,21.25,23.70,25.40,27.80,15.55,31.70
2023-10-13,0.57,0.77,1.02,1.34,1.74,2.27,2.91,3.68,4.67,5.79,...,12.50,14.15,15.10,17.90,19.50,21.00,24.50,28.15,15.55,31.70
2023-10-12,0.53,0.70,0.92,1.19,1.55,1.98,2.54,3.25,4.07,5.11,...,11.00,12.90,17.15,17.15,23.00,24.30,27.00,34.80,15.55,31.90
2023-10-11,0.76,0.99,1.26,1.62,2.07,2.61,3.35,4.14,5.15,6.42,...,14.80,15.65,23.50,25.00,23.00,28.50,20.70,34.80,15.55,34.00
2023-10-10,0.93,1.19,1.49,1.88,2.38,2.99,3.73,4.62,5.65,6.89,...,14.05,15.65,23.50,25.00,23.00,29.90,20.70,34.80,15.55,40.55

In [255]:
PTB0915.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49 entries, 2023-11-03 to 2023-06-28
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   305     32 non-null     float64
 1   307     32 non-null     float64
 2   310     31 non-null     float64
 3   312     31 non-null     float64
 4   315     31 non-null     float64
 5   317     33 non-null     float64
 6   320     32 non-null     float64
 7   322     43 non-null     float64
 8   325     42 non-null     float64
 9   327     41 non-null     float64
 10  330     49 non-null     float64
 11  332     43 non-null     float64
 12  335     49 non-null     float64
 13  337     43 non-null     float64
 14  340     49 non-null     float64
 15  342     43 non-null     float64
 16  345     47 non-null     float64
 17  347     41 non-null     float64
 18  350     49 non-null     float64
 19  352     34 non-null     float64
 20  355     30 non-null     float64
 21  357     30 non-null     float64
 22  360     49 non-null     float64
dtypes: float64(23)
memory usage: 9.2+ KB

## PTB1515 풋옵션 23년 11월물 15시15분 현재가

In [256]:
root_directory = './option_price/301TB305_352.5/'
PTB1515 = pd.DataFrame()
for root, dirs, files in os.walk(root_directory):    
    for file in files:
        file_path = os.path.join(root, file)        
        # data = pd.read_csv(file_path)
        csv_file_name = os.path.basename(file_path)
        data = pd.read_csv(file_path)
        data['현재가'] = data['현재가'].abs()        
        csv_file_name = csv_file_name.split('.')[0].split('TB')[1]
        data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
        data = data[['체결시간', '현재가']]
        data.rename(columns={'현재가': csv_file_name, '체결시간': 'date'}, inplace=True)
        if PTB1515.empty:
            PTB1515 = data
        else:
            PTB1515 = pd.merge(PTB1515, data, on='date', how='outer')
PTB1515.sort_values(by='date', ascending=False, inplace=True)
PTB1515.fillna(method='bfill', inplace=True)
PTB1515 = PTB1515[PTB1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 09시30분 데이터만 추출
PTB1515['date'] = PTB1515['date'].dt.strftime("%Y-%m-%d")
PTB1515.set_index('date', inplace=True)

In [257]:
PTB1515.head(19)

,305,307,310,312,315,317,320,322,325,327,...,337,340,342,345,347,350,352,355,357,360
date,,,,,,,,,,,,,,,,,,,,,
2023-11-03,0.10,0.19,0.37,0.69,1.26,2.14,3.41,5.04,7.05,9.43,...,19.15,21.80,23.90,26.50,39.05,31.50,33.85,44.75,51.90,41.35
2023-11-02,0.42,0.73,1.23,1.99,3.08,4.52,6.20,8.15,10.55,12.30,...,21.55,24.75,26.80,29.50,39.05,34.60,43.05,44.75,51.90,51.30
2023-11-01,1.58,2.36,3.41,4.75,6.37,8.26,10.40,12.65,15.00,17.45,...,26.50,29.55,32.65,35.60,39.05,40.50,43.05,44.75,51.90,51.30
2023-10-31,3.53,4.76,6.27,8.03,10.05,12.35,14.50,16.95,19.45,21.95,...,26.50,28.65,33.25,38.80,39.05,44.05,43.55,48.60,51.90,51.30
2023-10-30,2.34,3.19,4.26,5.50,7.09,8.50,11.00,12.95,15.50,17.45,...,27.25,29.80,33.25,36.10,39.05,41.15,43.55,46.20,48.55,51.30
2023-10-27,3.04,3.99,5.14,6.56,8.23,10.05,12.10,14.30,16.60,18.55,...,28.85,31.60,33.40,35.00,39.05,40.40,43.60,46.15,48.90,51.90
2023-10-26,3.56,4.52,5.69,7.04,8.63,10.35,12.25,14.35,16.75,19.05,...,28.00,31.05,25.10,26.45,37.60,40.20,35.05,36.40,40.20,51.20
2023-10-25,1.13,1.55,2.10,2.81,3.70,4.79,6.11,7.63,9.48,11.40,...,20.15,22.00,25.10,26.45,28.95,32.50,35.05,36.40,40.20,42.50
2023-10-24,1.08,1.45,1.93,2.55,3.33,4.28,5.42,6.84,8.52,10.20,...,19.80,21.30,26.80,26.45,28.95,33.00,37.40,36.40,38.90,46.00
2023-10-23,1.78,2.30,2.95,3.74,4.70,5.85,7.24,8.78,10.50,12.40,...,21.45,23.80,26.80,27.45,19.10,33.55,36.15,26.95,15.55,39.75
2023-10-20,1.74,2.21,2.78,3.47,4.31,5.32,6.47,7.89,9.35,11.15,...,19.45,21.95,23.65,27.65,19.10,30.80,23.40,26.95,15.55,39.75
2023-10-19,0.92,1.18,1.53,1.97,2.51,3.18,4.00,5.00,6.17,7.57,...,15.05,17.15,19.20,21.55,19.10,26.80,23.40,26.95,15.55,31.25
2023-10-18,0.32,0.43,0.57,0.77,1.02,1.38,1.84,2.41,3.15,4.06,...,9.87,11.75,13.70,16.30,19.10,20.65,23.40,26.95,15.55,31.25
2023-10-17,0.38,0.51,0.69,0.92,1.24,1.65,2.17,2.84,3.68,4.71,...,10.65,12.65,14.70,16.85,20.40,21.50,25.00,28.60,15.55,31.25
2023-10-16,0.80,1.06,1.38,1.79,2.30,2.94,3.73,4.67,5.80,7.10,...,14.90,16.45,18.60,21.10,25.35,27.25,28.40,27.80,15.55,35.50
2023-10-13,0.58,0.77,1.01,1.33,1.74,2.26,2.91,3.71,4.67,5.81,...,12.35,14.30,16.65,18.80,21.25,23.70,25.40,27.80,15.55,31.70
2023-10-12,0.47,0.61,0.80,1.05,1.37,1.77,2.32,2.92,3.72,4.65,...,10.50,12.10,15.10,16.20,19.50,21.00,24.50,27.00,15.55,31.70
2023-10-11,0.86,1.11,1.43,1.82,2.30,2.84,3.63,4.51,5.54,6.70,...,12.30,15.10,17.15,19.75,23.00,24.30,27.00,34.80,15.55,33.70
2023-10-10,1.64,2.05,2.55,3.19,3.90,4.81,5.83,6.99,8.38,9.93,...,14.80,20.05,23.50,25.00,23.00,28.50,20.70,34.80,15.55,36.00

In [258]:
PTB1515.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 2023-11-03 to 2023-07-05
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   305     32 non-null     float64
 1   307     32 non-null     float64
 2   310     32 non-null     float64
 3   312     32 non-null     float64
 4   315     32 non-null     float64
 5   317     33 non-null     float64
 6   320     32 non-null     float64
 7   322     40 non-null     float64
 8   325     40 non-null     float64
 9   327     40 non-null     float64
 10  330     44 non-null     float64
 11  332     40 non-null     float64
 12  335     44 non-null     float64
 13  337     40 non-null     float64
 14  340     44 non-null     float64
 15  342     40 non-null     float64
 16  345     43 non-null     float64
 17  347     39 non-null     float64
 18  350     44 non-null     float64
 19  352     33 non-null     float64
 20  355     31 non-null     float64
 21  357     31 non-null     float64
 22  360     44 non-null     float64
dtypes: float64(23)
memory usage: 8.2+ KB

## PTC0930 풋 23년 12월물 9시30분 현재가

In [259]:
# PTC0930 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
# root_directory = './option_price/301TC305_337.5/' # 시작 디렉토리 설정

# # root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
# for root, dirs, files in os.walk(root_directory):
#     for file in files:
#         if file.endswith(".csv"):
#             file_path = os.path.join(root, file)
#             # CSV 파일을 DataFrame으로 읽어들임
#             data = pd.read_csv(file_path)
#             data['현재가'] = data['현재가'].abs()
#             csv_file_name = os.path.basename(file_path)
#             if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
#             data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
#              # 읽어들인 데이터를 기존 데이터프레임과 결합
#             if PTC0930.empty:
#                 PTC0930 = data
#             else:
#                 PTC0930 = pd.merge(PTC0930, data, on='date', how='outer') # date기준으로 병합
# PTC0930[1:].bfill(inplace=True)
# PTC0930 = PTC0930[PTC0930['date'].dt.time == pd.to_datetime('09:30:00').time()] # 09시30분 데이터만 추출
# PTC0930['date'] = PTC0930['date'].dt.strftime("%Y-%m-%d") # 'date' 열의 datetime 값을 "YYYY-MM-DD" 형식으로 변경
# PTC0930.set_index('date', inplace=True)

## PTC1515 풋 23년 12월물 15시15분 현재가

In [260]:
# PTC1515 = pd.DataFrame() # 합칠 CSV 파일들을 저장할 빈 DataFrame 생성
# root_directory = './option_price/301TC305_337.5/' # 시작 디렉토리 설정

# # root_directory와 그 하위 모든 디렉토리에서 CSV 파일을 찾아 합침
# for root, dirs, files in os.walk(root_directory):
#     for file in files:
#         if file.endswith(".csv"):
#             file_path = os.path.join(root, file)
#             # CSV 파일을 DataFrame으로 읽어들임
#             data = pd.read_csv(file_path)
#             data['현재가'] = data['현재가'].abs()
#             csv_file_name = os.path.basename(file_path)
#             if csv_file_name.startswith('201'): # 201로 시작하면 끝에 C를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             elif csv_file_name.startswith('301'): # 301로 시작하면 끝에 P를 붙인다.
#                 csv_file_name = csv_file_name.split('.')[0].split('TC')[1]
#             data['체결시간'] = pd.to_datetime(data['체결시간'], format="%Y%m%d%H%M%S")
#             data = data[['체결시간', '현재가']].rename(columns={'현재가': csv_file_name, '체결시간': 'date'})
            
#              # 읽어들인 데이터를 기존 데이터프레임과 결합
#             if PTC1515.empty:
#                 PTC1515 = data
#             else:
#                 PTC1515 = pd.merge(PTC1515, data, on='date', how='outer') # date기준으로 병합
# PTC1515[1:].bfill(inplace=True)
# PTC1515 = PTC1515[PTC1515['date'].dt.time == pd.to_datetime('15:15:00').time()] # 15시15분 데이터만 추출
# PTC1515['date'] = PTC1515['date'].dt.strftime("%Y-%m-%d") # 'date' 열의 datetime 값을 "YYYY-MM-DD" 형식으로 변경
# PTC1515.set_index('date', inplace=True)

# 거래일 기간 조정

In [261]:
import datetime

def find_second_thursdays(year, month):
    current_month_second_thursday = datetime.date(year, month, 1)
    current_month_second_thursday += datetime.timedelta(days=(3 - current_month_second_thursday.weekday() + 7) % 7)
    current_month_second_thursday += datetime.timedelta(weeks=1)

    if month == 1:
        previous_month = 12
        previous_year = year - 1
    else:
        previous_month = month - 1
        previous_year = year

    previous_month_second_thursday = datetime.date(previous_year, previous_month, 1)
    previous_month_second_thursday += datetime.timedelta(days=(3 - previous_month_second_thursday.weekday() + 7) % 7)
    previous_month_second_thursday += datetime.timedelta(weeks=1)

    return current_month_second_thursday, previous_month_second_thursday

# 사용 예제
year = 2023
month = 11

current_month_second_thursday, previous_month_second_thursday = find_second_thursdays(year, month)
current_month_second_thursday = str(current_month_second_thursday)
previous_month_second_thursday = str(previous_month_second_thursday)
print(f"{year}년 {month}월의 두 번째 목요일: {current_month_second_thursday}")
print(f"{year}년 {month}월의 전월 두 번째 목요일: {previous_month_second_thursday}")

2023년 11월의 두 번째 목요일: 2023-11-09
2023년 11월의 전월 두 번째 목요일: 2023-10-12

In [262]:
print(type(current_month_second_thursday))
print(type(previous_month_second_thursday))

<class 'str'>
<class 'str'>

# strike price set

In [263]:
strike_price = pd.read_csv('./dataset/strike_price.csv')
strike_price['날짜'] = pd.to_datetime(strike_price['날짜'], format='%Y-%m-%d').dt.strftime("%Y-%m-%d")
strike_price.set_index('날짜', inplace=True)
print(strike_price)

            기준행사가    S-4    S-3    S-2    S-1    S+1    S+2    S+3    S+4
날짜
2023-10-31  307.5  297.5  300.0  302.5  305.0  310.0  312.5  315.0  317.5
2023-10-30  307.5  297.5  300.0  302.5  305.0  310.0  312.5  315.0  317.5
2023-10-27  307.5  297.5  300.0  302.5  305.0  310.0  312.5  315.0  317.5
2023-10-26  315.0  305.0  307.5  310.0  312.5  317.5  320.0  322.5  325.0
2023-10-25  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-24  315.0  305.0  307.5  310.0  312.5  317.5  320.0  322.5  325.0
2023-10-23  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-20  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
2023-10-19  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-10-18  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
2023-10-17  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
2023-10-16  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
2023-10-13  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-10-12  322.5  312.5  315.0  317.5  320.0  325.0  327.5  330.0  332.5
2023-10-11  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-10  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-06  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-05  317.5  307.5  310.0  312.5  315.0  320.0  322.5  325.0  327.5
2023-10-04  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
2023-09-27  325.0  315.0  317.5  320.0  322.5  327.5  330.0  332.5  335.0
2023-09-26  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
2023-09-25  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
2023-09-22  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-09-21  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-09-20  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-09-19  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-09-18  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5
2023-09-15  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-09-14  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
2023-09-13  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
2023-09-12  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-09-11  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
2023-09-08  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
2023-09-07  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-09-06  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-09-05  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-09-04  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-09-01  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-08-31  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-08-30  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-08-29  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-08-28  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
2023-08-25  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
2023-08-24  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-08-23  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-08-22  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-08-21  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
2023-08-18  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
2023-08-17  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
2023-08-16  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
2023-08-14  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-08-11  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-08-10  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
2023-08-09  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-08-08  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
2023-08-07  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0

In [264]:
strike_price.describe()

,기준행사가,S-4,S-3,S-2,S-1,S+1,S+2,S+3,S+4
count,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,329.151786,319.151786,321.651786,324.151786,326.651786,331.651786,334.151786,336.651786,339.151786
std,9.185918,9.185918,9.185918,9.185918,9.185918,9.185918,9.185918,9.185918,9.185918
min,307.500000,297.500000,300.000000,302.500000,305.000000,310.000000,312.500000,315.000000,317.500000
25%,324.375000,314.375000,316.875000,319.375000,321.875000,326.875000,329.375000,331.875000,334.375000
50%,330.000000,320.000000,322.500000,325.000000,327.500000,332.500000,335.000000,337.500000,340.000000
75%,337.500000,327.500000,330.000000,332.500000,335.000000,340.000000,342.500000,345.000000,347.500000
max,342.500000,332.500000,335.000000,337.500000,340.000000,345.000000,347.500000,350.000000,352.500000

In [265]:
CTB0915

,305,307,310,312,315,317,320,322,325,327,...,337,340,342,345,347,350,352,355,357,360
date,,,,,,,,,,,,,,,,,,,,,
2023-11-03,12.30,10.15,7.74,5.71,3.95,2.51,1.46,0.76,0.36,0.15,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-02,10.95,8.57,6.56,4.69,3.18,1.99,1.14,0.60,0.29,0.14,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-11-01,6.56,4.84,3.41,2.27,1.43,0.84,0.46,0.25,0.13,0.07,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-31,7.03,5.44,3.92,2.74,1.80,1.12,0.66,0.37,0.21,0.12,...,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2023-10-30,6.08,4.56,3.32,2.31,1.54,0.98,0.60,0.36,0.21,0.13,...,0.03,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-13,NaN,NaN,37.90,NaN,NaN,NaN,30.95,NaN,NaN,NaN,...,NaN,12.80,NaN,7.75,NaN,NaN,NaN,2.92,NaN,3.40
2023-07-11,NaN,NaN,37.90,NaN,NaN,NaN,30.95,NaN,NaN,NaN,...,NaN,8.93,NaN,7.75,NaN,NaN,NaN,2.92,NaN,2.48
2023-07-07,NaN,NaN,37.90,NaN,NaN,NaN,30.95,NaN,NaN,NaN,...,NaN,8.46,NaN,7.75,NaN,NaN,NaN,4.05,NaN,2.22
2023-07-03,NaN,NaN,37.90,NaN,NaN,NaN,30.95,NaN,NaN,NaN,...,NaN,10.55,NaN,8.60,NaN,NaN,NaN,4.92,NaN,4.58
2023-06-22,NaN,NaN,37.90,NaN,NaN,NaN,30.95,NaN,NaN,NaN,...,NaN,15.85,NaN,15.40,NaN,NaN,NaN,6.81,NaN,6.55

In [266]:
CTB0915.index

Index(['2023-11-03', '2023-11-02', '2023-11-01', '2023-10-31', '2023-10-30',
       '2023-10-27', '2023-10-26', '2023-10-25', '2023-10-24', '2023-10-23',
       '2023-10-20', '2023-10-19', '2023-10-18', '2023-10-17', '2023-10-16',
       '2023-10-13', '2023-10-12', '2023-10-11', '2023-10-10', '2023-10-06',
       '2023-10-05', '2023-10-04', '2023-09-27', '2023-09-26', '2023-09-25',
       '2023-09-22', '2023-09-21', '2023-09-20', '2023-09-19', '2023-09-18',
       '2023-09-15', '2023-09-14', '2023-09-13', '2023-09-12', '2023-09-11',
       '2023-09-08', '2023-09-07', '2023-09-06', '2023-09-05', '2023-09-04',
       '2023-09-01', '2023-08-29', '2023-08-28', '2023-08-25', '2023-08-24',
       '2023-08-22', '2023-08-21', '2023-08-18', '2023-08-17', '2023-08-16',
       '2023-08-11', '2023-08-10', '2023-07-26', '2023-07-24', '2023-07-21',
       '2023-07-20', '2023-07-19', '2023-07-18', '2023-07-17', '2023-07-14',
       '2023-07-13', '2023-07-11', '2023-07-07', '2023-07-03', '2023-06-22'],
      dtype='object', name='date')

In [267]:
previous_month_second_thursday

'2023-10-12'

In [268]:
CTB09sp.index

Index(['2023-10-31', '2023-10-30', '2023-10-27', '2023-10-26', '2023-10-25',
       '2023-10-24', '2023-10-23', '2023-10-20', '2023-10-19', '2023-10-18',
       '2023-10-17', '2023-10-16', '2023-10-13'],
      dtype='object', name='날짜')

In [269]:
CTB09sp = strike_price.copy()
CTB15sp = strike_price.copy()
PTB09sp = strike_price.copy()
PTB15sp = strike_price.copy()

In [270]:
for c in strike_price.columns:
    for i in strike_price.index:
        value = strike_price.loc[i, c]
        if not np.isnan(value):
            try:
                lookup_value = CTB0915.loc[i, str(math.floor(value))]
                CTB09sp.loc[i, c] = lookup_value
            except KeyError:
                CTB09sp.loc[i, c] = np.nan
        else:
            CTB09sp.loc[i, c] = np.nan
CTB09sp = CTB09sp.loc[(CTB09sp.index > previous_month_second_thursday) & (CTB09sp.index < current_month_second_thursday),:]
print(CTB09sp)

            기준행사가    S-4    S-3    S-2   S-1   S+1   S+2   S+3   S+4
날짜
2023-10-31   5.44    NaN    NaN    NaN  7.03  3.92  2.74  1.80  1.12
2023-10-30   4.56    NaN    NaN    NaN  6.08  3.32  2.31  1.54  0.98
2023-10-27   5.21    NaN    NaN    NaN  6.74  3.90  2.81  1.93  1.27
2023-10-26   3.22   9.14   7.40   5.79  4.39  2.25  1.51  0.97  0.60
2023-10-25   5.31  12.95  10.50   9.14  6.94  4.00  2.87  1.98  1.30
2023-10-24   5.77  13.25  11.00   9.09  7.33  4.43  3.28  2.32  1.57
2023-10-23   4.97  12.30   9.65   8.15  6.38  3.78  2.76  1.93  1.30
2023-10-20   3.59   9.31   7.55   6.04  4.70  2.64  1.86  1.27  0.84
2023-10-19   3.49   9.09   7.50   6.03  4.65  2.53  1.76  1.18  0.75
2023-10-18   6.52  13.70  11.85  10.30  8.14  5.07  3.82  2.77  1.95
2023-10-17   7.34  14.90  13.10  11.25  9.26  5.91  4.56  3.41  2.46
2023-10-16   5.58  12.25  10.15   8.71  7.08  4.32  3.23  2.33  1.62
2023-10-13   5.03  11.50   9.70   7.95  6.36  3.86  2.89  2.10  1.47

In [271]:
for c in strike_price.columns:
    for i in strike_price.index:
        value = strike_price.loc[i, c]
        if not np.isnan(value):
            try:
                lookup_value = CTB1515.loc[i, str(math.floor(value))]
                CTB15sp.loc[i, c] = lookup_value
            except KeyError:
                CTB15sp.loc[i, c] = np.nan
        else:
            CTB15sp.loc[i, c] = np.nan
CTB15sp = CTB15sp.loc[(CTB15sp.index > previous_month_second_thursday) & (CTB15sp.index < current_month_second_thursday),:]
print(CTB15sp)

            기준행사가    S-4    S-3    S-2    S-1   S+1   S+2   S+3   S+4
날짜
2023-10-31   2.97    NaN    NaN    NaN   4.21  1.98  1.25  0.74  0.41
2023-10-30   5.40    NaN    NaN    NaN   7.16  3.99  2.82  1.89  1.20
2023-10-27   5.15    NaN    NaN    NaN   6.65  3.82  2.72  1.86  1.20
2023-10-26   2.23   7.15   5.64   4.29   3.15  1.52  0.99  0.63  0.39
2023-10-25   4.29  11.00   9.08   7.30   5.68  3.12  2.16  1.43  0.89
2023-10-24   7.11  14.30  12.60  10.60   8.66  5.58  4.25  3.10  2.17
2023-10-23   4.44  10.85   9.00   7.39   5.77  3.30  2.36  1.62  1.06
2023-10-20   3.46   9.17   7.40   5.89   4.58  2.52  1.77  1.20  0.78
2023-10-19   3.28   8.90   7.20   5.70   4.40  2.37  1.64  1.08  0.69
2023-10-18   7.40  15.35  13.20  11.10   9.15  5.80  4.43  3.26  2.32
2023-10-17   8.31  16.35  14.20  12.10  10.20  6.68  5.21  3.95  2.87
2023-10-16   4.86  11.55   9.65   7.78   6.30  3.70  2.71  1.92  1.30
2023-10-13   4.81  11.25   9.33   7.68   6.15  3.71  2.74  1.97  1.36

In [272]:
for c in strike_price.columns:
    for i in strike_price.index:
        value = strike_price.loc[i, c]
        if not np.isnan(value):
            try:
                lookup_value = PTB0915.loc[i, str(math.floor(value))]
                PTB09sp.loc[i, c] = lookup_value
            except KeyError:
                PTB09sp.loc[i, c] = np.nan
        else:
            PTB09sp.loc[i, c] = np.nan
PTB09sp = PTB09sp.loc[(PTB09sp.index > previous_month_second_thursday) & (PTB09sp.index < current_month_second_thursday),:]
print(PTB09sp)

            기준행사가   S-4   S-3   S-2   S-1   S+1    S+2    S+3    S+4
날짜
2023-10-31   2.76   NaN   NaN   NaN  1.95  3.80   5.12   6.65   8.50
2023-10-30   4.15   NaN   NaN   NaN  3.13  5.40   6.86   8.60  10.30
2023-10-27   4.18   NaN   NaN   NaN  3.21  5.36   6.64   8.38  10.30
2023-10-26   6.41  2.34  3.06  3.95  5.05  7.93   9.57  11.20  13.75
2023-10-25   4.04  1.26  1.72  2.32  3.09  5.19   6.54   8.00   9.47
2023-10-24   4.31  1.52  2.00  2.62  3.39  5.46   6.80   8.16  10.10
2023-10-23   5.63  2.24  2.86  3.61  4.53  6.90   8.60  10.30  12.15
2023-10-20   7.80  3.47  4.31  5.27  6.47  9.35  11.05  13.05  14.90
2023-10-19   6.95  2.77  3.54  4.49  5.63  8.54  10.45  12.30  14.35
2023-10-18   3.76  1.25  1.67  2.21  2.91  4.79   6.04   7.48   9.01
2023-10-17   3.40  1.13  1.51  2.00  2.61  4.35   5.49   6.74   8.38
2023-10-16   5.08  1.95  2.51  3.20  4.08  6.30   7.70   9.20  11.20
2023-10-13   5.79  2.27  2.91  3.68  4.67  7.10   8.60  10.35  12.50

In [273]:
for c in strike_price.columns:
    for i in strike_price.index:
        value = strike_price.loc[i, c]
        if not np.isnan(value):
            try:
                lookup_value = PTB1515.loc[i, str(math.floor(value))]
                PTB15sp.loc[i, c] = lookup_value
            except KeyError:
                PTB15sp.loc[i, c] = np.nan
        else:
            PTB15sp.loc[i, c] = np.nan
PTB15sp = PTB15sp.loc[(PTB15sp.index > previous_month_second_thursday) & (PTB15sp.index < current_month_second_thursday),:]
print(PTB15sp)

            기준행사가   S-4   S-3   S-2   S-1    S+1    S+2    S+3    S+4
날짜
2023-10-31   4.76   NaN   NaN   NaN  3.53   6.27   8.03  10.05  12.35
2023-10-30   3.19   NaN   NaN   NaN  2.34   4.26   5.50   7.09   8.50
2023-10-27   3.99   NaN   NaN   NaN  3.04   5.14   6.56   8.23  10.05
2023-10-26   8.63  3.56  4.52  5.69  7.04  10.35  12.25  14.35  16.75
2023-10-25   4.79  1.55  2.10  2.81  3.70   6.11   7.63   9.48  11.40
2023-10-24   3.33  1.08  1.45  1.93  2.55   4.28   5.42   6.84   8.52
2023-10-23   5.85  2.30  2.95  3.74  4.70   7.24   8.78  10.50  12.40
2023-10-20   7.89  3.47  4.31  5.32  6.47   9.35  11.15  13.10  14.85
2023-10-19   7.57  3.18  4.00  5.00  6.17   9.15  10.90  12.95  15.05
2023-10-18   3.15  1.02  1.38  1.84  2.41   4.06   5.20   6.53   8.07
2023-10-17   2.84  0.92  1.24  1.65  2.17   3.68   4.71   5.92   7.46
2023-10-16   5.80  2.30  2.94  3.73  4.67   7.10   8.59  10.25  12.20
2023-10-13   5.81  2.26  2.91  3.71  4.67   7.19   8.78  10.50  12.35

# to_csv

In [276]:
CTB09sp.to_csv("./target_price_set/CTB09sp.csv")
CTB15sp.to_csv("./target_price_set/CTB15sp.csv")
PTB09sp.to_csv("./target_price_set/PTB09sp.csv")
PTB15sp.to_csv("./target_price_set/PTB15sp.csv")

In [277]:
CTB09sp

            기준행사가    S-4    S-3    S-2   S-1   S+1   S+2   S+3   S+4
날짜
2023-10-31   5.44    NaN    NaN    NaN  7.03  3.92  2.74  1.80  1.12
2023-10-30   4.56    NaN    NaN    NaN  6.08  3.32  2.31  1.54  0.98
2023-10-27   5.21    NaN    NaN    NaN  6.74  3.90  2.81  1.93  1.27
2023-10-26   3.22   9.14   7.40   5.79  4.39  2.25  1.51  0.97  0.60
2023-10-25   5.31  12.95  10.50   9.14  6.94  4.00  2.87  1.98  1.30
2023-10-24   5.77  13.25  11.00   9.09  7.33  4.43  3.28  2.32  1.57
2023-10-23   4.97  12.30   9.65   8.15  6.38  3.78  2.76  1.93  1.30
2023-10-20   3.59   9.31   7.55   6.04  4.70  2.64  1.86  1.27  0.84
2023-10-19   3.49   9.09   7.50   6.03  4.65  2.53  1.76  1.18  0.75
2023-10-18   6.52  13.70  11.85  10.30  8.14  5.07  3.82  2.77  1.95
2023-10-17   7.34  14.90  13.10  11.25  9.26  5.91  4.56  3.41  2.46
2023-10-16   5.58  12.25  10.15   8.71  7.08  4.32  3.23  2.33  1.62
2023-10-13   5.03  11.50   9.70   7.95  6.36  3.86  2.89  2.10  1.47

In [278]:
CTB15sp

            기준행사가    S-4    S-3    S-2    S-1   S+1   S+2   S+3   S+4
날짜
2023-10-31   2.97    NaN    NaN    NaN   4.21  1.98  1.25  0.74  0.41
2023-10-30   5.40    NaN    NaN    NaN   7.16  3.99  2.82  1.89  1.20
2023-10-27   5.15    NaN    NaN    NaN   6.65  3.82  2.72  1.86  1.20
2023-10-26   2.23   7.15   5.64   4.29   3.15  1.52  0.99  0.63  0.39
2023-10-25   4.29  11.00   9.08   7.30   5.68  3.12  2.16  1.43  0.89
2023-10-24   7.11  14.30  12.60  10.60   8.66  5.58  4.25  3.10  2.17
2023-10-23   4.44  10.85   9.00   7.39   5.77  3.30  2.36  1.62  1.06
2023-10-20   3.46   9.17   7.40   5.89   4.58  2.52  1.77  1.20  0.78
2023-10-19   3.28   8.90   7.20   5.70   4.40  2.37  1.64  1.08  0.69
2023-10-18   7.40  15.35  13.20  11.10   9.15  5.80  4.43  3.26  2.32
2023-10-17   8.31  16.35  14.20  12.10  10.20  6.68  5.21  3.95  2.87
2023-10-16   4.86  11.55   9.65   7.78   6.30  3.70  2.71  1.92  1.30
2023-10-13   4.81  11.25   9.33   7.68   6.15  3.71  2.74  1.97  1.36

In [279]:
PTB09sp

            기준행사가   S-4   S-3   S-2   S-1   S+1    S+2    S+3    S+4
날짜
2023-10-31   2.76   NaN   NaN   NaN  1.95  3.80   5.12   6.65   8.50
2023-10-30   4.15   NaN   NaN   NaN  3.13  5.40   6.86   8.60  10.30
2023-10-27   4.18   NaN   NaN   NaN  3.21  5.36   6.64   8.38  10.30
2023-10-26   6.41  2.34  3.06  3.95  5.05  7.93   9.57  11.20  13.75
2023-10-25   4.04  1.26  1.72  2.32  3.09  5.19   6.54   8.00   9.47
2023-10-24   4.31  1.52  2.00  2.62  3.39  5.46   6.80   8.16  10.10
2023-10-23   5.63  2.24  2.86  3.61  4.53  6.90   8.60  10.30  12.15
2023-10-20   7.80  3.47  4.31  5.27  6.47  9.35  11.05  13.05  14.90
2023-10-19   6.95  2.77  3.54  4.49  5.63  8.54  10.45  12.30  14.35
2023-10-18   3.76  1.25  1.67  2.21  2.91  4.79   6.04   7.48   9.01
2023-10-17   3.40  1.13  1.51  2.00  2.61  4.35   5.49   6.74   8.38
2023-10-16   5.08  1.95  2.51  3.20  4.08  6.30   7.70   9.20  11.20
2023-10-13   5.79  2.27  2.91  3.68  4.67  7.10   8.60  10.35  12.50

In [280]:
PTB15sp

            기준행사가   S-4   S-3   S-2   S-1    S+1    S+2    S+3    S+4
날짜
2023-10-31   4.76   NaN   NaN   NaN  3.53   6.27   8.03  10.05  12.35
2023-10-30   3.19   NaN   NaN   NaN  2.34   4.26   5.50   7.09   8.50
2023-10-27   3.99   NaN   NaN   NaN  3.04   5.14   6.56   8.23  10.05
2023-10-26   8.63  3.56  4.52  5.69  7.04  10.35  12.25  14.35  16.75
2023-10-25   4.79  1.55  2.10  2.81  3.70   6.11   7.63   9.48  11.40
2023-10-24   3.33  1.08  1.45  1.93  2.55   4.28   5.42   6.84   8.52
2023-10-23   5.85  2.30  2.95  3.74  4.70   7.24   8.78  10.50  12.40
2023-10-20   7.89  3.47  4.31  5.32  6.47   9.35  11.15  13.10  14.85
2023-10-19   7.57  3.18  4.00  5.00  6.17   9.15  10.90  12.95  15.05
2023-10-18   3.15  1.02  1.38  1.84  2.41   4.06   5.20   6.53   8.07
2023-10-17   2.84  0.92  1.24  1.65  2.17   3.68   4.71   5.92   7.46
2023-10-16   5.80  2.30  2.94  3.73  4.67   7.10   8.59  10.25  12.20
2023-10-13   5.81  2.26  2.91  3.71  4.67   7.19   8.78  10.50  12.35