목표 : 수익률 계산
===============
if label == 0: # 변동성 하락

    → 양매도
elif label == 1: # 변동성 상승

    → 양매수

# import modules & load files

import modules

In [86]:
import pandas as pd
import numpy as np
import math
import glob
import datetime
import warnings
warnings.filterwarnings('ignore')
import os
current_directory = os.getcwd()
print("현재 디렉토리:", current_directory)

현재 디렉토리: c:\apps\Project1

load files

In [87]:
# strike price set
CTB09sp = pd.read_csv('./target_price_set/CTB09sp.csv', index_col=0)
CTB15sp = pd.read_csv('./target_price_set/CTB15sp.csv', index_col=0)
PTB09sp = pd.read_csv('./target_price_set/PTB09sp.csv', index_col=0)
PTB15sp = pd.read_csv('./target_price_set/PTB15sp.csv', index_col=0)

In [89]:
CTB15sp

            기준행사가    S-4    S-3    S-2    S-1   S+1   S+2   S+3   S+4
날짜
2023-10-31   3.07   9.40   7.55   5.93   4.37  2.08  1.30  0.78  0.44
2023-10-30   5.21  13.20  10.65   8.70   6.81  3.80  2.66  1.78  1.11
2023-10-27   5.13  12.40  10.35   8.39   6.66  3.81  2.71  1.85  1.19
2023-10-26   2.21   7.22   5.63   4.26   3.09  1.49  0.99  0.63  0.39
2023-10-25   4.27  11.05   9.05   7.31   5.70  3.10  2.13  1.40  0.88
2023-10-24   7.12  14.30  12.60  10.65   8.78  5.57  4.24  3.09  2.16
2023-10-23   4.50  10.95   9.16   7.46   5.91  3.36  2.41  1.66  1.10
2023-10-20   3.54   9.17   7.58   6.06   4.65  2.58  1.81  1.23  0.80
2023-10-19   3.16   8.85   7.00   5.54   4.29  2.27  1.56  1.04  0.66
2023-10-18   7.30  15.25  13.20  10.85   9.15  5.71  4.33  3.21  2.27
2023-10-17   8.26  16.35  14.20  12.10  10.00  6.58  5.09  3.87  2.81
2023-10-16   4.86  11.45   9.47   7.75   6.24  3.68  2.72  1.92  1.32
2023-10-13   4.90  11.25   9.40   7.68   6.26  3.74  2.78  1.99  1.38

In [90]:
PTB09sp

            기준행사가   S-4   S-3   S-2   S-1   S+1    S+2    S+3    S+4
날짜
2023-10-31   2.76  0.61  0.92  1.35  1.95  3.80   6.31   6.65   8.50
2023-10-30   4.15  1.23  1.71  2.33  3.13  5.40   7.14   8.60  10.30
2023-10-27   4.18  1.35  1.82  2.43  3.21  5.36   7.06   8.38  10.30
2023-10-26   6.41  2.34  3.06  3.95  5.23  7.93   9.57  11.20  13.75
2023-10-25   4.04  1.26  1.72  2.61  3.09  5.19   6.54   8.00   9.47
2023-10-24   4.31  1.52  2.00  2.62  3.57  5.46   6.80   8.16  10.10
2023-10-23   5.63  2.24  2.86  3.35  4.53  6.90   8.60  10.30  12.15
2023-10-20   7.80  3.85  4.31  5.27  6.47  9.35  11.05  13.05  14.90
2023-10-19   6.95  2.77  3.54  4.49  5.63  8.54  10.45  12.30  14.35
2023-10-18   3.76  1.25  1.67  2.21  2.91  4.79   6.04   7.48   9.01
2023-10-17   3.40  1.25  1.51  2.00  2.61  4.35   5.49   6.74   8.38
2023-10-16   5.08  1.95  2.51  3.20  4.08  6.30   7.70   9.20  11.20
2023-10-13   5.79  2.27  2.91  3.68  4.67  7.10   8.60  10.35  12.50

In [91]:
PTB15sp

            기준행사가   S-4   S-3   S-2   S-1    S+1    S+2    S+3    S+4
날짜
2023-10-31   4.76  1.24  1.79  2.54  3.53   6.27   7.84  10.05  12.35
2023-10-30   3.19  0.84  1.20  1.69  2.34   4.26   5.75   7.09   8.50
2023-10-27   3.99  1.23  1.69  2.28  3.04   5.14   6.63   8.23  10.05
2023-10-26   8.63  3.56  4.52  5.69  7.13  10.35  12.25  14.35  16.75
2023-10-25   4.79  1.55  2.10  2.84  3.70   6.11   7.63   9.48  11.40
2023-10-24   3.33  1.08  1.45  1.93  2.57   4.28   5.42   6.84   8.52
2023-10-23   5.85  2.30  2.95  3.69  4.70   7.24   8.78  10.50  12.40
2023-10-20   7.89  3.34  4.31  5.32  6.47   9.35  11.15  13.10  14.85
2023-10-19   7.57  3.18  4.00  5.00  6.17   9.15  10.90  12.95  15.05
2023-10-18   3.15  1.02  1.38  1.84  2.41   4.06   5.20   6.53   8.07
2023-10-17   2.84  0.96  1.24  1.65  2.17   3.68   4.71   5.92   7.46
2023-10-16   5.80  2.30  2.94  3.73  4.67   7.10   8.59  10.25  12.20
2023-10-13   5.81  2.26  2.91  3.71  4.67   7.19   8.78  10.50  12.35

In [92]:
TB09sp = CTB09sp + PTB09sp
TB15sp = CTB15sp + PTB15sp

In [93]:
TB09sp

            기준행사가    S-4    S-3    S-2    S-1    S+1    S+2    S+3    S+4
날짜
2023-10-31   7.12  13.36  10.47   9.36   7.80   6.88   8.39   7.97   9.29
2023-10-30   8.48  12.53  10.99   9.85   8.91   8.53   9.29  10.01  11.18
2023-10-27   9.15  13.15  11.82  10.69   9.66   9.06   9.71  10.18  11.48
2023-10-26   9.52  11.30  10.22   9.55   9.48  10.10  11.02  12.12  14.31
2023-10-25   8.95  13.16  11.72  10.61   9.47   8.84   9.13   9.76  10.61
2023-10-24   9.83  14.12  12.60  11.22  10.57   9.66   9.89  10.34  11.56
2023-10-23  10.91  14.54  13.06  11.75  11.34  10.96  11.55  12.38  13.56
2023-10-20  11.13  12.85  11.46  10.98  10.91  11.79  12.77  14.22  15.67
2023-10-19  10.53  11.92  11.26  10.63  10.39  11.14  12.25  13.52  15.13
2023-10-18  10.63  15.25  13.52  12.36  11.48  10.20  10.14  10.48  11.13
2023-10-17  10.57  16.50  14.61  12.70  11.51   9.94   9.79   9.94  10.68
2023-10-16  10.16  14.20  12.91  11.25  10.55  10.20  10.56  11.23  12.59
2023-10-13  10.83  14.07  12.54  11.61  11.11  11.01  11.52  12.48  14.00

In [94]:
TB15sp

            기준행사가    S-4    S-3    S-2    S-1    S+1    S+2    S+3    S+4
날짜
2023-10-31   7.83  10.64   9.34   8.47   7.90   8.35   9.14  10.83  12.79
2023-10-30   8.40  14.04  11.85  10.39   9.15   8.06   8.41   8.87   9.61
2023-10-27   9.12  13.63  12.04  10.67   9.70   8.95   9.34  10.08  11.24
2023-10-26  10.84  10.78  10.15   9.95  10.22  11.84  13.24  14.98  17.14
2023-10-25   9.06  12.60  11.15  10.15   9.40   9.21   9.76  10.88  12.28
2023-10-24  10.45  15.38  14.05  12.58  11.35   9.85   9.66   9.93  10.68
2023-10-23  10.35  13.25  12.11  11.15  10.61  10.60  11.19  12.16  13.50
2023-10-20  11.43  12.51  11.89  11.38  11.12  11.93  12.96  14.33  15.65
2023-10-19  10.73  12.03  11.00  10.54  10.46  11.42  12.46  13.99  15.71
2023-10-18  10.45  16.27  14.58  12.69  11.56   9.77   9.53   9.74  10.34
2023-10-17  11.10  17.31  15.44  13.75  12.17  10.26   9.80   9.79  10.27
2023-10-16  10.66  13.75  12.41  11.48  10.91  10.78  11.31  12.17  13.52
2023-10-13  10.71  13.51  12.31  11.39  10.93  10.93  11.56  12.49  13.73

In [95]:
# real label
VKOSPI_Label = pd.read_csv('./VKOSPI.csv', index_col=0)
VKOSPI_Label[['cost', 'revenue', 'profit', 'return']] = 0
VKOSPI_Label.set_index('날짜', inplace=True)
VKOSPI_Label

            VKOSPI_Label  cost  revenue  profit  return
날짜
2023-10-10             1     0        0       0       0
2023-10-11             0     0        0       0       0
2023-10-12             0     0        0       0       0
2023-10-13             0     0        0       0       0
2023-10-16             1     0        0       0       0
2023-10-17             0     0        0       0       0
2023-10-18             0     0        0       0       0
2023-10-19             1     0        0       0       0
2023-10-20             1     0        0       0       0
2023-10-23             0     0        0       0       0
2023-10-24             0     0        0       0       0
2023-10-25             1     0        0       0       0
2023-10-26             1     0        0       0       0
2023-10-27             1     0        0       0       0
2023-10-30             0     0        0       0       0
2023-10-31             1     0        0       0       0
2023-11-01             0     0        0       0       0
2023-11-02             0     0        0       0       0
2023-11-03             0     0        0       0       0

In [96]:
# predict labels
output = pd.read_csv("./result_quarter_output.csv", index_col=0)
labels = output.iloc[:,-7:]
labels[['cost', 'revenue', 'profit', 'return']] = 0

In [97]:
labels

,VKOSPI_Label,LogisticRegression,DecisionTree,SVC,RandomForest,XGB,LGBM,cost,revenue,profit,return
2023-10-10,1.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0,0
2023-10-11,1.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0,0
2023-10-12,1.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0,0
2023-10-13,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0,0
2023-10-16,0.0,0.0,0.0,0.0,0.0,1,1.0,0,0,0,0
2023-10-17,0.0,1.0,1.0,1.0,1.0,0,0.0,0,0,0,0
2023-10-18,1.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0,0
2023-10-19,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0,0
2023-10-20,0.0,1.0,1.0,1.0,1.0,1,1.0,0,0,0,0
2023-10-23,1.0,1.0,0.0,1.0,1.0,1,1.0,0,0,0,0
2023-10-24,1.0,0.0,1.0,0.0,0.0,0,0.0,0,0,0,0
2023-10-25,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0,0
2023-10-26,0.0,0.0,1.0,0.0,0.0,1,1.0,0,0,0,0
2023-10-27,1.0,1.0,1.0,1.0,1.0,1,1.0,0,0,0,0
2023-10-30,1.0,0.0,1.0,0.0,0.0,0,0.0,0,0,0,0
2023-10-31,1.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0,0
2023-11-01,0.0,1.0,1.0,0.0,1.0,1,0.0,0,0,0,0
2023-11-02,1.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0,0
2023-11-03,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0,0

In [98]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   VKOSPI_Label        19 non-null     float64
 1   LogisticRegression  19 non-null     float64
 2   DecisionTree        19 non-null     float64
 3   SVC                 19 non-null     float64
 4   RandomForest        19 non-null     float64
 5   XGB                 19 non-null     int64
 6   LGBM                19 non-null     float64
 7   cost                19 non-null     int64
 8   revenue             19 non-null     int64
 9   profit              19 non-null     int64
 10  return              19 non-null     int64
dtypes: float64(6), int64(5)
memory usage: 1.8+ KB

In [99]:
labels.describe()

,VKOSPI_Label,LogisticRegression,DecisionTree,SVC,RandomForest,XGB,LGBM,cost,revenue,profit,return
count,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.0,19.0,19.0,19.0
mean,0.526316,0.263158,0.368421,0.210526,0.263158,0.315789,0.263158,0.0,0.0,0.0,0.0
std,0.512989,0.452414,0.495595,0.418854,0.452414,0.477567,0.452414,0.0,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,1.000000,0.500000,1.000000,0.000000,0.500000,1.000000,0.500000,0.0,0.0,0.0,0.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0

In [100]:
VKOSPI_Label = labels[['VKOSPI_Label', 'cost', 'revenue', 'profit', 'return']]
LogisticRegression = labels[['LogisticRegression', 'cost', 'revenue', 'profit', 'return']]
DecisionTree = labels[['DecisionTree', 'cost', 'revenue', 'profit', 'return']]
SVC = labels[['SVC', 'cost', 'revenue', 'profit', 'return']]
RandomForest = labels[['RandomForest', 'cost', 'revenue', 'profit', 'return']]
XGB = labels[['XGB', 'cost', 'revenue', 'profit', 'return']]
LGBM = labels[['LGBM', 'cost', 'revenue', 'profit', 'return']]

In [101]:
VKOSPI_Label.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VKOSPI_Label  19 non-null     float64
 1   cost          19 non-null     int64
 2   revenue       19 non-null     int64
 3   profit        19 non-null     int64
 4   return        19 non-null     int64
dtypes: float64(1), int64(4)
memory usage: 912.0+ bytes

In [102]:
TB = TB09sp - TB15sp

In [103]:
TB

            기준행사가   S-4   S-3   S-2   S-1   S+1   S+2   S+3   S+4
날짜
2023-10-31  -0.71  2.72  1.13  0.89 -0.10 -1.47 -0.75 -2.86 -3.50
2023-10-30   0.08 -1.51 -0.86 -0.54 -0.24  0.47  0.88  1.14  1.57
2023-10-27   0.03 -0.48 -0.22  0.02 -0.04  0.11  0.37  0.10  0.24
2023-10-26  -1.32  0.52  0.07 -0.40 -0.74 -1.74 -2.22 -2.86 -2.83
2023-10-25  -0.11  0.56  0.57  0.46  0.07 -0.37 -0.63 -1.12 -1.67
2023-10-24  -0.62 -1.26 -1.45 -1.36 -0.78 -0.19  0.23  0.41  0.88
2023-10-23   0.56  1.29  0.95  0.60  0.73  0.36  0.36  0.22  0.06
2023-10-20  -0.30  0.34 -0.43 -0.40 -0.21 -0.14 -0.19 -0.11  0.02
2023-10-19  -0.20 -0.11  0.26  0.09 -0.07 -0.28 -0.21 -0.47 -0.58
2023-10-18   0.18 -1.02 -1.06 -0.33 -0.08  0.43  0.61  0.74  0.79
2023-10-17  -0.53 -0.81 -0.83 -1.05 -0.66 -0.32 -0.01  0.15  0.41
2023-10-16  -0.50  0.45  0.50 -0.23 -0.36 -0.58 -0.75 -0.94 -0.93
2023-10-13   0.12  0.56  0.23  0.22  0.18  0.08 -0.04 -0.01  0.27

In [104]:
straddle = pd.merge(VKOSPI_Label, TB, left_index=True, right_index=True, how='right').drop(['cost', 'revenue', 'profit', 'return'], axis=1)

In [155]:
for i in range(len(straddle.index)):
    d = straddle.index[i]
    if straddle.loc[d, 'VKOSPI_Label'] == 0:
        straddle.loc[straddle.index[i]][1:] *= -1
        # print(straddle.loc[d])
straddle[['VKOSPI_Label', 'S-4', 'S-3', 'S-2', 'S-1', '기준행사가', 'S+1', 'S+2', 'S+3', 'S+4']]

,VKOSPI_Label,S-4,S-3,S-2,S-1,기준행사가,S+1,S+2,S+3,S+4
날짜,,,,,,,,,,
2023-10-31,1.0,2.72,1.13,0.89,-0.10,-0.71,-1.47,-0.75,-2.86,-3.50
2023-10-30,1.0,-1.51,-0.86,-0.54,-0.24,0.08,0.47,0.88,1.14,1.57
2023-10-27,1.0,-0.48,-0.22,0.02,-0.04,0.03,0.11,0.37,0.10,0.24
2023-10-26,0.0,0.52,0.07,-0.40,-0.74,-1.32,-1.74,-2.22,-2.86,-2.83
2023-10-25,0.0,0.56,0.57,0.46,0.07,-0.11,-0.37,-0.63,-1.12,-1.67
2023-10-24,1.0,-1.26,-1.45,-1.36,-0.78,-0.62,-0.19,0.23,0.41,0.88
2023-10-23,1.0,1.29,0.95,0.60,0.73,0.56,0.36,0.36,0.22,0.06
2023-10-20,0.0,0.34,-0.43,-0.40,-0.21,-0.30,-0.14,-0.19,-0.11,0.02
2023-10-19,0.0,-0.11,0.26,0.09,-0.07,-0.20,-0.28,-0.21,-0.47,-0.58
2023-10-18,1.0,-1.02,-1.06,-0.33,-0.08,0.18,0.43,0.61,0.74,0.79
2023-10-17,0.0,-0.81,-0.83,-1.05,-0.66,-0.53,-0.32,-0.01,0.15,0.41
2023-10-16,0.0,0.45,0.50,-0.23,-0.36,-0.50,-0.58,-0.75,-0.94,-0.93
2023-10-13,0.0,0.56,0.23,0.22,0.18,0.12,0.08,-0.04,-0.01,0.27

In [106]:
straddle.sum(axis=0)

VKOSPI_Label    6.00
기준행사가          -3.32
S-4             1.25
S-3            -1.14
S-2            -2.03
S-1            -2.30
S+1            -3.64
S+2            -2.35
S+3            -5.61
S+4            -5.27
dtype: float64

# 양매도, 양매수 스트래들

실제 변동

In [147]:
for d in VKOSPI_Label.index:    
    if VKOSPI_Label.loc[d, 'VKOSPI_Label'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            VKOSPI_Label['cost'].loc[d] = cost # 9시 값 합
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            VKOSPI_Label['revenue'].loc[d] = revenue # 15시 값 합
            VKOSPI_Label['profit'].loc[d] = cost - revenue
            VKOSPI_Label['return'].loc[d] = (cost - revenue) / revenue
        except:     
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan 
            VKOSPI_Label['profit'].loc[d] = np.nan 
            VKOSPI_Label['return'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan
            VKOSPI_Label['profit'].loc[d] = np.nan
            VKOSPI_Label['return'].loc[d] = np.nan
        except:
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan
            VKOSPI_Label['profit'].loc[d] = np.nan
            VKOSPI_Label['return'].loc[d] = np.nan

In [148]:
VKOSPI_Label

            VKOSPI_Label   cost  revenue  profit    return
2023-10-10           1.0    NaN      NaN     NaN       NaN
2023-10-11           1.0    NaN      NaN     NaN       NaN
2023-10-12           1.0    NaN      NaN     NaN       NaN
2023-10-13           0.0  10.83    10.71    0.12  0.011204
2023-10-16           0.0  10.16    10.66   -0.50 -0.046904
2023-10-17           0.0  10.57    11.10   -0.53 -0.047748
2023-10-18           1.0    NaN      NaN     NaN       NaN
2023-10-19           0.0  10.53    10.73   -0.20 -0.018639
2023-10-20           0.0  11.13    11.43   -0.30 -0.026247
2023-10-23           1.0    NaN      NaN     NaN       NaN
2023-10-24           1.0    NaN      NaN     NaN       NaN
2023-10-25           0.0   8.95     9.06   -0.11 -0.012141
2023-10-26           0.0   9.52    10.84   -1.32 -0.121771
2023-10-27           1.0    NaN      NaN     NaN       NaN
2023-10-30           1.0    NaN      NaN     NaN       NaN
2023-10-31           1.0    NaN      NaN     NaN       NaN
2023-11-01           0.0    NaN      NaN     NaN       NaN
2023-11-02           1.0    NaN      NaN     NaN       NaN
2023-11-03           0.0    NaN      NaN     NaN       NaN

In [109]:
(VKOSPI_Label['return'] + 1).cumprod() * 100

2023-10-10           NaN
2023-10-11           NaN
2023-10-12           NaN
2023-10-13    101.120448
2023-10-16     96.377463
2023-10-17     91.775656
2023-10-18           NaN
2023-10-19     90.065019
2023-10-20     87.701108
2023-10-23           NaN
2023-10-24           NaN
2023-10-25     86.636304
2023-10-26     76.086496
2023-10-27           NaN
2023-10-30           NaN
2023-10-31           NaN
2023-11-01           NaN
2023-11-02           NaN
2023-11-03           NaN
Name: return, dtype: float64

In [110]:
VKOSPI_Label['profit'].sum() *250000

-710000.0

In [149]:
for i in range(len(VKOSPI_Label.index)):
    d = VKOSPI_Label.index[i]
    if VKOSPI_Label.loc[d, 'VKOSPI_Label'] == 0: # 변동성 하락 양매도 스트랭글
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            VKOSPI_Label['cost'].loc[d] = cost # 9시 값 합
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            VKOSPI_Label['revenue'].loc[d] = revenue # 15시 값 합
            VKOSPI_Label['profit'].loc[d] = cost - revenue
            VKOSPI_Label['return'].loc[d] = (cost - revenue) / revenue
        except:     
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan 
            VKOSPI_Label['profit'].loc[d] = np.nan 
            VKOSPI_Label['return'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            VKOSPI_Label['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            VKOSPI_Label['revenue'].loc[d] = revenue
            VKOSPI_Label['profit'].loc[d] = revenue - cost
            VKOSPI_Label['return'].loc[d] = (revenue - cost) / cost
        except:
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan
            VKOSPI_Label['profit'].loc[d] = np.nan
            VKOSPI_Label['return'].loc[d] = np.nan

In [150]:
VKOSPI_Label

            VKOSPI_Label   cost  revenue  profit    return
2023-10-10           1.0    NaN      NaN     NaN       NaN
2023-10-11           1.0    NaN      NaN     NaN       NaN
2023-10-12           1.0    NaN      NaN     NaN       NaN
2023-10-13           0.0  10.83    10.71    0.12  0.011204
2023-10-16           0.0  10.16    10.66   -0.50 -0.046904
2023-10-17           0.0  10.57    11.10   -0.53 -0.047748
2023-10-18           1.0  10.63    10.45   -0.18 -0.016933
2023-10-19           0.0  10.53    10.73   -0.20 -0.018639
2023-10-20           0.0  11.13    11.43   -0.30 -0.026247
2023-10-23           1.0  10.91    10.35   -0.56 -0.051329
2023-10-24           1.0   9.83    10.45    0.62  0.063072
2023-10-25           0.0   8.95     9.06   -0.11 -0.012141
2023-10-26           0.0   9.52    10.84   -1.32 -0.121771
2023-10-27           1.0   9.15     9.12   -0.03 -0.003279
2023-10-30           1.0   8.48     8.40   -0.08 -0.009434
2023-10-31           1.0   7.12     7.83    0.71  0.099719
2023-11-01           0.0    NaN      NaN     NaN       NaN
2023-11-02           1.0    NaN      NaN     NaN       NaN
2023-11-03           0.0    NaN      NaN     NaN       NaN

In [152]:
(VKOSPI_Label['return'] + 1).cumprod()

2023-10-10         NaN
2023-10-11         NaN
2023-10-12         NaN
2023-10-13    1.011204
2023-10-16    0.963775
2023-10-17    0.917757
2023-10-18    0.902216
2023-10-19    0.885399
2023-10-20    0.862160
2023-10-23    0.817907
2023-10-24    0.869494
2023-10-25    0.858937
2023-10-26    0.754343
2023-10-27    0.751870
2023-10-30    0.744777
2023-10-31    0.819045
2023-11-01         NaN
2023-11-02         NaN
2023-11-03         NaN
Name: return, dtype: float64

In [154]:
VKOSPI_Label['profit'].sum()

-2.3599999999999968

In [115]:
for i in range(len(VKOSPI_Label.index)):
    d = VKOSPI_Label.index[i]
    if VKOSPI_Label.loc[d, 'VKOSPI_Label'] == 0: # 변동성 하락 양매도 스트랭글
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            VKOSPI_Label['cost'].loc[d] = cost # 9시 값 합
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            VKOSPI_Label['revenue'].loc[d] = revenue # 15시 값 합
            VKOSPI_Label['profit'].loc[d] = cost - revenue
        except:     
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan 
            VKOSPI_Label['profit'].loc[d] = np.nan 
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            VKOSPI_Label['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            VKOSPI_Label['revenue'].loc[d] = revenue
            VKOSPI_Label['profit'].loc[d] = revenue - cost
        except:
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan
            VKOSPI_Label['profit'].loc[d] = np.nan

In [116]:
VKOSPI_Label

            VKOSPI_Label   cost  revenue  profit    return
2023-10-10           1.0    NaN      NaN     NaN       NaN
2023-10-11           1.0    NaN      NaN     NaN       NaN
2023-10-12           1.0    NaN      NaN     NaN       NaN
2023-10-13           0.0  10.83    10.71    0.12  0.011204
2023-10-16           0.0  10.16    10.66   -0.50 -0.046904
2023-10-17           0.0  10.57    11.10   -0.53 -0.047748
2023-10-18           1.0  10.63    10.45   -0.18 -0.016933
2023-10-19           0.0  10.53    10.73   -0.20 -0.018639
2023-10-20           0.0  11.13    11.43   -0.30 -0.026247
2023-10-23           1.0  10.91    10.35   -0.56 -0.051329
2023-10-24           1.0   9.83    10.45    0.62  0.063072
2023-10-25           0.0   8.95     9.06   -0.11 -0.012141
2023-10-26           0.0   9.52    10.84   -1.32 -0.121771
2023-10-27           1.0   9.15     9.12   -0.03 -0.003279
2023-10-30           1.0   8.48     8.40   -0.08 -0.009434
2023-10-31           1.0   7.12     7.83    0.71  0.099719
2023-11-01           0.0    NaN      NaN     NaN       NaN
2023-11-02           1.0    NaN      NaN     NaN       NaN
2023-11-03           0.0    NaN      NaN     NaN       NaN

In [117]:
print(VKOSPI_Label['profit'].sum())

-2.3599999999999968

LogisticRegression

In [118]:
for i in range(len(LogisticRegression.index)):
    d = LogisticRegression.index[i]
    if LogisticRegression.loc[d, 'LogisticRegression'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            LogisticRegression['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            LogisticRegression['revenue'].loc[d] = revenue
            LogisticRegression['profit'].loc[d] = cost - revenue
        except:
            LogisticRegression['cost'].loc[d] = np.nan
            LogisticRegression['revenue'].loc[d] = np.nan
            LogisticRegression['profit'].loc[d] = np.nan 
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            LogisticRegression['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            LogisticRegression['revenue'].loc[d] = revenue
            LogisticRegression['profit'].loc[d] = revenue - cost
        except:
            LogisticRegression['cost'].loc[d] = np.nan
            LogisticRegression['revenue'].loc[d] = np.nan
            LogisticRegression['profit'].loc[d] = np.nan 
print(LogisticRegression)
print(LogisticRegression['profit'].sum())

            LogisticRegression   cost  revenue  profit  return
2023-10-10                 0.0    NaN      NaN     NaN       0
2023-10-11                 0.0    NaN      NaN     NaN       0
2023-10-12                 0.0    NaN      NaN     NaN       0
2023-10-13                 0.0  10.83    10.71    0.12       0
2023-10-16                 0.0  10.16    10.66   -0.50       0
2023-10-17                 1.0  10.57    11.10    0.53       0
2023-10-18                 0.0  10.63    10.45    0.18       0
2023-10-19                 0.0  10.53    10.73   -0.20       0
2023-10-20                 1.0  11.13    11.43    0.30       0
2023-10-23                 1.0  10.91    10.35   -0.56       0
2023-10-24                 0.0   9.83    10.45   -0.62       0
2023-10-25                 0.0   8.95     9.06   -0.11       0
2023-10-26                 0.0   9.52    10.84   -1.32       0
2023-10-27                 1.0   9.15     9.12   -0.03       0
2023-10-30                 0.0   8.48     8.40    0.08       0
2023-10-31                 0.0   7.12     7.83   -0.71       0
2023-11-01                 1.0    NaN      NaN     NaN       0
2023-11-02                 0.0    NaN      NaN     NaN       0
2023-11-03                 0.0    NaN      NaN     NaN       0
-2.839999999999999

DecisionTree

In [119]:
for i in range(len(DecisionTree.index)):
    d = DecisionTree.index[i]
    if DecisionTree.loc[d, 'DecisionTree'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            DecisionTree['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            DecisionTree['revenue'].loc[d] = revenue
            DecisionTree['profit'].loc[d] = cost - revenue
            DecisionTree['return'].loc[d] = (cost - revenue) / revenue
        except:
            DecisionTree['cost'].loc[d] = np.nan
            DecisionTree['revenue'].loc[d] = np.nan
            DecisionTree['profit'].loc[d] = np.nan 
            DecisionTree['return'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            DecisionTree['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            DecisionTree['revenue'].loc[d] = revenue
            DecisionTree['profit'].loc[d] = revenue - cost
            DecisionTree['return'].loc[d] = (revenue - cost) / cost
        except:
            DecisionTree['cost'].loc[d] = np.nan
            DecisionTree['revenue'].loc[d] = np.nan
            DecisionTree['profit'].loc[d] = np.nan
            DecisionTree['return'].loc[d] = np.nan

In [120]:
print(DecisionTree)
print(DecisionTree['profit'].sum())

            DecisionTree   cost  revenue  profit    return
2023-10-10           0.0    NaN      NaN     NaN       NaN
2023-10-11           0.0    NaN      NaN     NaN       NaN
2023-10-12           0.0    NaN      NaN     NaN       NaN
2023-10-13           0.0  10.83    10.71    0.12  0.011204
2023-10-16           0.0  10.16    10.66   -0.50 -0.046904
2023-10-17           1.0  10.57    11.10    0.53  0.050142
2023-10-18           0.0  10.63    10.45    0.18  0.017225
2023-10-19           0.0  10.53    10.73   -0.20 -0.018639
2023-10-20           1.0  11.13    11.43    0.30  0.026954
2023-10-23           0.0  10.91    10.35    0.56  0.054106
2023-10-24           1.0   9.83    10.45    0.62  0.063072
2023-10-25           0.0   8.95     9.06   -0.11 -0.012141
2023-10-26           1.0   9.52    10.84    1.32  0.138655
2023-10-27           1.0   9.15     9.12   -0.03 -0.003279
2023-10-30           1.0   8.48     8.40   -0.08 -0.009434
2023-10-31           0.0   7.12     7.83   -0.71 -0.090677
2023-11-01           1.0    NaN      NaN     NaN       NaN
2023-11-02           0.0    NaN      NaN     NaN       NaN
2023-11-03           0.0    NaN      NaN     NaN       NaN
2.0000000000000044

In [121]:
(VKOSPI_Label['return'] + 1).cumprod()

2023-10-10         NaN
2023-10-11         NaN
2023-10-12         NaN
2023-10-13    1.011204
2023-10-16    0.963775
2023-10-17    0.917757
2023-10-18    0.902216
2023-10-19    0.885399
2023-10-20    0.862160
2023-10-23    0.817907
2023-10-24    0.869494
2023-10-25    0.858937
2023-10-26    0.754343
2023-10-27    0.751870
2023-10-30    0.744777
2023-10-31    0.819045
2023-11-01         NaN
2023-11-02         NaN
2023-11-03         NaN
Name: return, dtype: float64

SVC

In [122]:
for i in range(len(SVC.index)):
    d = SVC.index[i]
    if SVC.loc[d, 'SVC'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            SVC['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            SVC['revenue'].loc[d] = revenue
            SVC['profit'].loc[d] = cost - revenue
        except:
            SVC['cost'].loc[d] = np.nan
            SVC['revenue'].loc[d] = np.nan
            SVC['profit'].loc[d] = np.nan 
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            SVC['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            SVC['revenue'].loc[d] = revenue
            SVC['profit'].loc[d] = revenue - cost
        except:
            SVC['cost'].loc[d] = np.nan
            SVC['revenue'].loc[d] = np.nan
            SVC['profit'].loc[d] = np.nan 
print(SVC)
print(SVC['profit'].sum())

            SVC   cost  revenue  profit  return
2023-10-10  0.0    NaN      NaN     NaN       0
2023-10-11  0.0    NaN      NaN     NaN       0
2023-10-12  0.0    NaN      NaN     NaN       0
2023-10-13  0.0  10.83    10.71    0.12       0
2023-10-16  0.0  10.16    10.66   -0.50       0
2023-10-17  1.0  10.57    11.10    0.53       0
2023-10-18  0.0  10.63    10.45    0.18       0
2023-10-19  0.0  10.53    10.73   -0.20       0
2023-10-20  1.0  11.13    11.43    0.30       0
2023-10-23  1.0  10.91    10.35   -0.56       0
2023-10-24  0.0   9.83    10.45   -0.62       0
2023-10-25  0.0   8.95     9.06   -0.11       0
2023-10-26  0.0   9.52    10.84   -1.32       0
2023-10-27  1.0   9.15     9.12   -0.03       0
2023-10-30  0.0   8.48     8.40    0.08       0
2023-10-31  0.0   7.12     7.83   -0.71       0
2023-11-01  0.0    NaN      NaN     NaN       0
2023-11-02  0.0    NaN      NaN     NaN       0
2023-11-03  0.0    NaN      NaN     NaN       0
-2.839999999999999

RandomForest

In [123]:
for i in range(len(RandomForest.index)):
    d = RandomForest.index[i]
    if RandomForest.loc[d, 'RandomForest'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            RandomForest['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            RandomForest['revenue'].loc[d] = revenue
            RandomForest['profit'].loc[d] = cost - revenue
        except:
            RandomForest['cost'].loc[d] = np.nan
            RandomForest['revenue'].loc[d] = np.nan
            RandomForest['profit'].loc[d] = np.nan 
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            RandomForest['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            RandomForest['revenue'].loc[d] = revenue
            RandomForest['profit'].loc[d] = revenue - cost
        except:
            RandomForest['cost'].loc[d] = np.nan
            RandomForest['revenue'].loc[d] = np.nan
            RandomForest['profit'].loc[d] = np.nan 
print(RandomForest)
print(RandomForest['profit'].sum())

            RandomForest   cost  revenue  profit  return
2023-10-10           0.0    NaN      NaN     NaN       0
2023-10-11           0.0    NaN      NaN     NaN       0
2023-10-12           0.0    NaN      NaN     NaN       0
2023-10-13           0.0  10.83    10.71    0.12       0
2023-10-16           0.0  10.16    10.66   -0.50       0
2023-10-17           1.0  10.57    11.10    0.53       0
2023-10-18           0.0  10.63    10.45    0.18       0
2023-10-19           0.0  10.53    10.73   -0.20       0
2023-10-20           1.0  11.13    11.43    0.30       0
2023-10-23           1.0  10.91    10.35   -0.56       0
2023-10-24           0.0   9.83    10.45   -0.62       0
2023-10-25           0.0   8.95     9.06   -0.11       0
2023-10-26           0.0   9.52    10.84   -1.32       0
2023-10-27           1.0   9.15     9.12   -0.03       0
2023-10-30           0.0   8.48     8.40    0.08       0
2023-10-31           0.0   7.12     7.83   -0.71       0
2023-11-01           1.0    NaN      NaN     NaN       0
2023-11-02           0.0    NaN      NaN     NaN       0
2023-11-03           0.0    NaN      NaN     NaN       0
-2.839999999999999

XGB

In [124]:
for i in range(len(XGB.index)):
    d = XGB.index[i]
    if XGB.loc[d, 'XGB'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            XGB['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            XGB['revenue'].loc[d] = revenue
            XGB['profit'].loc[d] = cost - revenue
        except:
            XGB['cost'].loc[d] = np.nan
            XGB['revenue'].loc[d] = np.nan
            XGB['profit'].loc[d] = np.nan 
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            XGB['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            XGB['revenue'].loc[d] = revenue
            XGB['profit'].loc[d] = revenue - cost
        except:
            XGB['cost'].loc[d] = np.nan
            XGB['revenue'].loc[d] = np.nan
            XGB['profit'].loc[d] = np.nan 
print(XGB)
print(XGB['profit'].sum())

            XGB   cost  revenue  profit  return
2023-10-10    0    NaN      NaN     NaN       0
2023-10-11    0    NaN      NaN     NaN       0
2023-10-12    0    NaN      NaN     NaN       0
2023-10-13    0  10.83    10.71    0.12       0
2023-10-16    1  10.16    10.66    0.50       0
2023-10-17    0  10.57    11.10   -0.53       0
2023-10-18    0  10.63    10.45    0.18       0
2023-10-19    0  10.53    10.73   -0.20       0
2023-10-20    1  11.13    11.43    0.30       0
2023-10-23    1  10.91    10.35   -0.56       0
2023-10-24    0   9.83    10.45   -0.62       0
2023-10-25    0   8.95     9.06   -0.11       0
2023-10-26    1   9.52    10.84    1.32       0
2023-10-27    1   9.15     9.12   -0.03       0
2023-10-30    0   8.48     8.40    0.08       0
2023-10-31    0   7.12     7.83   -0.71       0
2023-11-01    1    NaN      NaN     NaN       0
2023-11-02    0    NaN      NaN     NaN       0
2023-11-03    0    NaN      NaN     NaN       0
-0.2599999999999971

LGBM

In [125]:
for i in range(len(LGBM.index)):
    d = LGBM.index[i]
    if LGBM.loc[d, 'LGBM'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            LGBM['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            LGBM['revenue'].loc[d] = revenue
            LGBM['profit'].loc[d] = cost - revenue
        except:
            LGBM['cost'].loc[d] = np.nan
            LGBM['revenue'].loc[d] = np.nan
            LGBM['profit'].loc[d] = np.nan 
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            LGBM['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            LGBM['revenue'].loc[d] = revenue
            LGBM['profit'].loc[d] = revenue - cost
        except:
            LGBM['cost'].loc[d] = np.nan
            LGBM['revenue'].loc[d] = np.nan
            LGBM['profit'].loc[d] = np.nan 
print(LGBM)
print(LGBM['profit'].sum())

            LGBM   cost  revenue  profit  return
2023-10-10   0.0    NaN      NaN     NaN       0
2023-10-11   0.0    NaN      NaN     NaN       0
2023-10-12   0.0    NaN      NaN     NaN       0
2023-10-13   0.0  10.83    10.71    0.12       0
2023-10-16   1.0  10.16    10.66    0.50       0
2023-10-17   0.0  10.57    11.10   -0.53       0
2023-10-18   0.0  10.63    10.45    0.18       0
2023-10-19   0.0  10.53    10.73   -0.20       0
2023-10-20   1.0  11.13    11.43    0.30       0
2023-10-23   1.0  10.91    10.35   -0.56       0
2023-10-24   0.0   9.83    10.45   -0.62       0
2023-10-25   0.0   8.95     9.06   -0.11       0
2023-10-26   1.0   9.52    10.84    1.32       0
2023-10-27   1.0   9.15     9.12   -0.03       0
2023-10-30   0.0   8.48     8.40    0.08       0
2023-10-31   0.0   7.12     7.83   -0.71       0
2023-11-01   0.0    NaN      NaN     NaN       0
2023-11-02   0.0    NaN      NaN     NaN       0
2023-11-03   0.0    NaN      NaN     NaN       0
-0.2599999999999971

# 양매도 스트랭글과 양매수 스트래들

실제 변동

In [126]:
for i in range(len(VKOSPI_Label.index)):
    d = VKOSPI_Label.index[i]
    if VKOSPI_Label.loc[d, 'VKOSPI_Label'] == 0: # 변동성 하락 양매도 스트랭글
        try:
            cost = 0
            cost += CTB09sp['S+1'].loc[d]
            cost += PTB09sp['S-1'].loc[d]
            VKOSPI_Label['cost'].loc[d] = cost # 9시 값 합
            revenue = 0
            revenue += CTB15sp['S+1'].loc[d]
            revenue += PTB15sp['S-1'].loc[d]
            VKOSPI_Label['revenue'].loc[d] = revenue # 15시 값 합
            VKOSPI_Label['profit'].loc[d] = cost - revenue            
        except:     
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan 
            VKOSPI_Label['profit'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            VKOSPI_Label['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            VKOSPI_Label['revenue'].loc[d] = revenue
            VKOSPI_Label['profit'].loc[d] = revenue - cost
        except:
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan
            VKOSPI_Label['profit'].loc[d] = np.nan

In [127]:
VKOSPI_Label

            VKOSPI_Label   cost  revenue  profit    return
2023-10-10           1.0    NaN      NaN     NaN       NaN
2023-10-11           1.0    NaN      NaN     NaN       NaN
2023-10-12           1.0    NaN      NaN     NaN       NaN
2023-10-13           0.0   8.58     8.41    0.17  0.011204
2023-10-16           0.0   7.98     8.35   -0.37 -0.046904
2023-10-17           0.0   8.20     8.75   -0.55 -0.047748
2023-10-18           1.0  10.63    10.45   -0.18 -0.016933
2023-10-19           0.0   8.23     8.44   -0.21 -0.018639
2023-10-20           0.0   8.91     9.05   -0.14 -0.026247
2023-10-23           1.0  10.91    10.35   -0.56 -0.051329
2023-10-24           1.0   9.83    10.45    0.62  0.063072
2023-10-25           0.0   6.74     6.80   -0.06 -0.012141
2023-10-26           0.0   7.40     8.62   -1.22 -0.121771
2023-10-27           1.0   9.15     9.12   -0.03 -0.003279
2023-10-30           1.0   8.48     8.40   -0.08 -0.009434
2023-10-31           1.0   7.12     7.83    0.71  0.099719
2023-11-01           0.0    NaN      NaN     NaN       NaN
2023-11-02           1.0    NaN      NaN     NaN       NaN
2023-11-03           0.0    NaN      NaN     NaN       NaN

In [128]:
print(VKOSPI_Label['profit'].sum())

-1.899999999999996

LogisticRegression

In [129]:
for i in range(len(LogisticRegression.index)):
    d = LogisticRegression.index[i]
    if LogisticRegression.loc[d, 'LogisticRegression'] == 0: # 변동성 하락 양매도 스트랭글
        try:
            cost = 0
            cost += CTB09sp['S+4'].loc[d]
            cost += PTB09sp['S-4'].loc[d]
            LogisticRegression['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            LogisticRegression['revenue'].loc[d] = revenue
            LogisticRegression['profit'].loc[d] = cost - revenue
            
        except:
            LogisticRegression['cost'].loc[d] = np.nan
            LogisticRegression['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            LogisticRegression['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            LogisticRegression['revenue'].loc[d] = revenue
            LogisticRegression['profit'].loc[d] = revenue - cost
        except:
            LogisticRegression['cost'].loc[d] = np.nan
            LogisticRegression['revenue'].loc[d] = np.nan
# LogisticRegression['profit'] = LogisticRegression['revenue'] - LogisticRegression['cost']
print(LogisticRegression)
print(LogisticRegression['profit'].sum())

            LogisticRegression   cost  revenue  profit  return
2023-10-10                 0.0    NaN      NaN     NaN       0
2023-10-11                 0.0    NaN      NaN     NaN       0
2023-10-12                 0.0    NaN      NaN     NaN       0
2023-10-13                 0.0   3.77     3.64    0.13       0
2023-10-16                 0.0   3.34     3.62   -0.28       0
2023-10-17                 1.0  10.57    11.10    0.53       0
2023-10-18                 0.0   3.37     3.29    0.08       0
2023-10-19                 0.0   3.55     3.84   -0.29       0
2023-10-20                 1.0  11.13    11.43    0.30       0
2023-10-23                 1.0  10.91    10.35   -0.56       0
2023-10-24                 0.0   2.98     3.24   -0.26       0
2023-10-25                 0.0   2.40     2.43   -0.03       0
2023-10-26                 0.0   2.90     3.95   -1.05       0
2023-10-27                 1.0   9.15     9.12   -0.03       0
2023-10-30                 0.0   2.11     1.95    0.16       0
2023-10-31                 0.0   1.40     1.68   -0.28       0
2023-11-01                 1.0    NaN      NaN     NaN       0
2023-11-02                 0.0    NaN      NaN     NaN       0
2023-11-03                 0.0    NaN      NaN     NaN       0
-1.5799999999999994

DecisionTree

In [130]:
for i in range(len(DecisionTree.index)):
    d = DecisionTree.index[i]
    if DecisionTree.loc[d, 'DecisionTree'] == 0: # 변동성 하락 양매도 스트랭글
        try:
            cost = 0
            cost += CTB09sp['S+4'].loc[d]
            cost += PTB09sp['S-4'].loc[d]
            DecisionTree['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            DecisionTree['revenue'].loc[d] = revenue
            DecisionTree['profit'] = DecisionTree['cost'] - DecisionTree['revenue']
        except:
            DecisionTree['cost'].loc[d] = np.nan
            DecisionTree['revenue'].loc[d] = np.nan
            DecisionTree['profit'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB09sp['기준행사가'].loc[d]
            cost += PTB09sp['기준행사가'].loc[d]
            DecisionTree['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            DecisionTree['revenue'].loc[d] = revenue
            DecisionTree['profit'] = DecisionTree['revenue'] - DecisionTree['cost']
        except:
            DecisionTree['cost'].loc[d] = np.nan
            DecisionTree['revenue'].loc[d] = np.nan
            DecisionTree['profit'].loc[d] = np.nan

In [131]:
DecisionTree['profit'] = DecisionTree['revenue'] - DecisionTree['cost']
print(DecisionTree)
print(DecisionTree['profit'].sum())

            DecisionTree   cost  revenue  profit    return
2023-10-10           0.0    NaN      NaN     NaN       NaN
2023-10-11           0.0    NaN      NaN     NaN       NaN
2023-10-12           0.0    NaN      NaN     NaN       NaN
2023-10-13           0.0   3.77     3.64   -0.13  0.011204
2023-10-16           0.0   3.34     3.62    0.28 -0.046904
2023-10-17           1.0  10.57    11.10    0.53  0.050142
2023-10-18           0.0   3.37     3.29   -0.08  0.017225
2023-10-19           0.0   3.55     3.84    0.29 -0.018639
2023-10-20           1.0  11.13    11.43    0.30  0.026954
2023-10-23           0.0   3.65     3.40   -0.25  0.054106
2023-10-24           1.0   9.83    10.45    0.62  0.063072
2023-10-25           0.0   2.40     2.43    0.03 -0.012141
2023-10-26           1.0   9.52    10.84    1.32  0.138655
2023-10-27           1.0   9.15     9.12   -0.03 -0.003279
2023-10-30           1.0   8.48     8.40   -0.08 -0.009434
2023-10-31           0.0   1.40     1.68    0.28 -0.090677
2023-11-01           1.0    NaN      NaN     NaN       NaN
2023-11-02           0.0    NaN      NaN     NaN       NaN
2023-11-03           0.0    NaN      NaN     NaN       NaN
3.0800000000000036

SVC

In [132]:
for i in range(len(SVC.index)):
    d = SVC.index[i]
    if SVC.loc[d, 'SVC'] == 0: # 변동성 하락 양매도 스트랭글
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            SVC['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            SVC['revenue'].loc[d] = revenue
        except:
            SVC['cost'].loc[d] = np.nan
            SVC['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB9sp['기준행사가'].loc[d]
            cost += PTB9sp['기준행사가'].loc[d]
            SVC['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            SVC['revenue'].loc[d] = revenue
        except:
            SVC['cost'].loc[d] = np.nan
            SVC['revenue'].loc[d] = np.nan
SVC['profit'] = SVC['revenue'] - SVC['cost']
print(SVC)
print(SVC['profit'].sum())

            SVC  cost  revenue  profit  return
2023-10-10  0.0   NaN      NaN     NaN       0
2023-10-11  0.0   NaN      NaN     NaN       0
2023-10-12  0.0   NaN      NaN     NaN       0
2023-10-13  0.0   NaN      NaN     NaN       0
2023-10-16  0.0   NaN      NaN     NaN       0
2023-10-17  1.0   NaN      NaN     NaN       0
2023-10-18  0.0   NaN      NaN     NaN       0
2023-10-19  0.0   NaN      NaN     NaN       0
2023-10-20  1.0   NaN      NaN     NaN       0
2023-10-23  1.0   NaN      NaN     NaN       0
2023-10-24  0.0   NaN      NaN     NaN       0
2023-10-25  0.0   NaN      NaN     NaN       0
2023-10-26  0.0   NaN      NaN     NaN       0
2023-10-27  1.0   NaN      NaN     NaN       0
2023-10-30  0.0   NaN      NaN     NaN       0
2023-10-31  0.0   NaN      NaN     NaN       0
2023-11-01  0.0   NaN      NaN     NaN       0
2023-11-02  0.0   NaN      NaN     NaN       0
2023-11-03  0.0   NaN      NaN     NaN       0
0.0

RandomForest

In [133]:
for i in range(len(RandomForest.index)):
    d = RandomForest.index[i]
    if RandomForest.loc[d, 'RandomForest'] == 0: # 변동성 하락 양매도 스트랭글
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            RandomForest['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            RandomForest['revenue'].loc[d] = revenue
        except:
            RandomForest['cost'].loc[d] = np.nan
            RandomForest['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB9sp['기준행사가'].loc[d]
            cost += PTB9sp['기준행사가'].loc[d]
            RandomForest['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            RandomForest['revenue'].loc[d] = revenue
        except:
            RandomForest['cost'].loc[d] = np.nan
            RandomForest['revenue'].loc[d] = np.nan
RandomForest['profit'] = RandomForest['revenue'] - RandomForest['cost']
print(RandomForest)
print(RandomForest['profit'].sum())

            RandomForest  cost  revenue  profit  return
2023-10-10           0.0   NaN      NaN     NaN       0
2023-10-11           0.0   NaN      NaN     NaN       0
2023-10-12           0.0   NaN      NaN     NaN       0
2023-10-13           0.0   NaN      NaN     NaN       0
2023-10-16           0.0   NaN      NaN     NaN       0
2023-10-17           1.0   NaN      NaN     NaN       0
2023-10-18           0.0   NaN      NaN     NaN       0
2023-10-19           0.0   NaN      NaN     NaN       0
2023-10-20           1.0   NaN      NaN     NaN       0
2023-10-23           1.0   NaN      NaN     NaN       0
2023-10-24           0.0   NaN      NaN     NaN       0
2023-10-25           0.0   NaN      NaN     NaN       0
2023-10-26           0.0   NaN      NaN     NaN       0
2023-10-27           1.0   NaN      NaN     NaN       0
2023-10-30           0.0   NaN      NaN     NaN       0
2023-10-31           0.0   NaN      NaN     NaN       0
2023-11-01           1.0   NaN      NaN     NaN       0
2023-11-02           0.0   NaN      NaN     NaN       0
2023-11-03           0.0   NaN      NaN     NaN       0
0.0

XGB

In [134]:
for i in range(len(XGB.index)):
    d = XGB.index[i]
    if XGB.loc[d, 'XGB'] == 0: # 변동성 하락 양매도 스트랭글
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            XGB['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            XGB['revenue'].loc[d] = revenue
        except:
            XGB['cost'].loc[d] = np.nan
            XGB['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB9sp['기준행사가'].loc[d]
            cost += PTB9sp['기준행사가'].loc[d]
            XGB['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            XGB['revenue'].loc[d] = revenue
        except:
            XGB['cost'].loc[d] = np.nan
            XGB['revenue'].loc[d] = np.nan
XGB['profit'] = XGB['revenue'] - XGB['cost']
print(XGB)
print(XGB['profit'].sum())

            XGB  cost  revenue  profit  return
2023-10-10    0   NaN      NaN     NaN       0
2023-10-11    0   NaN      NaN     NaN       0
2023-10-12    0   NaN      NaN     NaN       0
2023-10-13    0   NaN      NaN     NaN       0
2023-10-16    1   NaN      NaN     NaN       0
2023-10-17    0   NaN      NaN     NaN       0
2023-10-18    0   NaN      NaN     NaN       0
2023-10-19    0   NaN      NaN     NaN       0
2023-10-20    1   NaN      NaN     NaN       0
2023-10-23    1   NaN      NaN     NaN       0
2023-10-24    0   NaN      NaN     NaN       0
2023-10-25    0   NaN      NaN     NaN       0
2023-10-26    1   NaN      NaN     NaN       0
2023-10-27    1   NaN      NaN     NaN       0
2023-10-30    0   NaN      NaN     NaN       0
2023-10-31    0   NaN      NaN     NaN       0
2023-11-01    1   NaN      NaN     NaN       0
2023-11-02    0   NaN      NaN     NaN       0
2023-11-03    0   NaN      NaN     NaN       0
0.0

LGBM

In [135]:
for i in range(len(LGBM.index)):
    d = LGBM.index[i]
    if LGBM.loc[d, 'LGBM'] == 0: # 변동성 하락 양매도 스트랭글
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            LGBM['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            LGBM['revenue'].loc[d] = revenue
        except:
            LGBM['cost'].loc[d] = np.nan
            LGBM['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB9sp['기준행사가'].loc[d]
            cost += PTB9sp['기준행사가'].loc[d]
            LGBM['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['기준행사가'].loc[d]
            revenue += PTB15sp['기준행사가'].loc[d]
            LGBM['revenue'].loc[d] = revenue
        except:
            LGBM['cost'].loc[d] = np.nan
            LGBM['revenue'].loc[d] = np.nan
LGBM['profit'] = LGBM['revenue'] - LGBM['cost']
print(LGBM)
print(LGBM['profit'].sum())

            LGBM  cost  revenue  profit  return
2023-10-10   0.0   NaN      NaN     NaN       0
2023-10-11   0.0   NaN      NaN     NaN       0
2023-10-12   0.0   NaN      NaN     NaN       0
2023-10-13   0.0   NaN      NaN     NaN       0
2023-10-16   1.0   NaN      NaN     NaN       0
2023-10-17   0.0   NaN      NaN     NaN       0
2023-10-18   0.0   NaN      NaN     NaN       0
2023-10-19   0.0   NaN      NaN     NaN       0
2023-10-20   1.0   NaN      NaN     NaN       0
2023-10-23   1.0   NaN      NaN     NaN       0
2023-10-24   0.0   NaN      NaN     NaN       0
2023-10-25   0.0   NaN      NaN     NaN       0
2023-10-26   1.0   NaN      NaN     NaN       0
2023-10-27   1.0   NaN      NaN     NaN       0
2023-10-30   0.0   NaN      NaN     NaN       0
2023-10-31   0.0   NaN      NaN     NaN       0
2023-11-01   0.0   NaN      NaN     NaN       0
2023-11-02   0.0   NaN      NaN     NaN       0
2023-11-03   0.0   NaN      NaN     NaN       0
0.0

# 양매도, 양매수 스트랭글

실제 변동

In [136]:
for i in range(len(VKOSPI_Label.index)):
    d = VKOSPI_Label.index[i] # 시점
    if VKOSPI_Label.loc[d, 'VKOSPI_Label'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            VKOSPI_Label['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            VKOSPI_Label['revenue'].loc[d] = revenue
        except:
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            VKOSPI_Label['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            VKOSPI_Label['revenue'].loc[d] = revenue
        except:
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan
VKOSPI_Label['profit'] = VKOSPI_Label['revenue'] - VKOSPI_Label['cost']
print(VKOSPI_Label)
print(VKOSPI_Label['profit'].sum())

            VKOSPI_Label  cost  revenue  profit    return
2023-10-10           1.0   NaN      NaN     NaN       NaN
2023-10-11           1.0   NaN      NaN     NaN       NaN
2023-10-12           1.0   NaN      NaN     NaN       NaN
2023-10-13           0.0   NaN      NaN     NaN  0.011204
2023-10-16           0.0   NaN      NaN     NaN -0.046904
2023-10-17           0.0   NaN      NaN     NaN -0.047748
2023-10-18           1.0   NaN      NaN     NaN -0.016933
2023-10-19           0.0   NaN      NaN     NaN -0.018639
2023-10-20           0.0   NaN      NaN     NaN -0.026247
2023-10-23           1.0   NaN      NaN     NaN -0.051329
2023-10-24           1.0   NaN      NaN     NaN  0.063072
2023-10-25           0.0   NaN      NaN     NaN -0.012141
2023-10-26           0.0   NaN      NaN     NaN -0.121771
2023-10-27           1.0   NaN      NaN     NaN -0.003279
2023-10-30           1.0   NaN      NaN     NaN -0.009434
2023-10-31           1.0   NaN      NaN     NaN  0.099719
2023-11-01           0.0   NaN      NaN     NaN       NaN
2023-11-02           1.0   NaN      NaN     NaN       NaN
2023-11-03           0.0   NaN      NaN     NaN       NaN
0.0

LogisticRegression

In [137]:
for i in range(len(LogisticRegression.index)):
    d = LogisticRegression.index[i]
    if LogisticRegression.loc[d, 'LogisticRegression'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            LogisticRegression['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            LogisticRegression['revenue'].loc[d] = revenue
        except:
            LogisticRegression['cost'].loc[d] = np.nan
            LogisticRegression['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            LogisticRegression['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            LogisticRegression['revenue'].loc[d] = revenue
        except:
            LogisticRegression['cost'].loc[d] = np.nan
            LogisticRegression['revenue'].loc[d] = np.nan
LogisticRegression['profit'] = LogisticRegression['revenue'] - LogisticRegression['cost']
print(LogisticRegression)
print(LogisticRegression['profit'].sum())

            LogisticRegression  cost  revenue  profit  return
2023-10-10                 0.0   NaN      NaN     NaN       0
2023-10-11                 0.0   NaN      NaN     NaN       0
2023-10-12                 0.0   NaN      NaN     NaN       0
2023-10-13                 0.0   NaN      NaN     NaN       0
2023-10-16                 0.0   NaN      NaN     NaN       0
2023-10-17                 1.0   NaN      NaN     NaN       0
2023-10-18                 0.0   NaN      NaN     NaN       0
2023-10-19                 0.0   NaN      NaN     NaN       0
2023-10-20                 1.0   NaN      NaN     NaN       0
2023-10-23                 1.0   NaN      NaN     NaN       0
2023-10-24                 0.0   NaN      NaN     NaN       0
2023-10-25                 0.0   NaN      NaN     NaN       0
2023-10-26                 0.0   NaN      NaN     NaN       0
2023-10-27                 1.0   NaN      NaN     NaN       0
2023-10-30                 0.0   NaN      NaN     NaN       0
2023-10-31                 0.0   NaN      NaN     NaN       0
2023-11-01                 1.0   NaN      NaN     NaN       0
2023-11-02                 0.0   NaN      NaN     NaN       0
2023-11-03                 0.0   NaN      NaN     NaN       0
0.0

DecisionTree

In [138]:
for i in range(len(DecisionTree.index)):
    d = DecisionTree.index[i]
    if DecisionTree.loc[d, 'DecisionTree'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            DecisionTree['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            DecisionTree['revenue'].loc[d] = revenue
        except:
            DecisionTree['cost'].loc[d] = np.nan
            DecisionTree['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            DecisionTree['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            DecisionTree['revenue'].loc[d] = revenue
        except:
            DecisionTree['cost'].loc[d] = np.nan
            DecisionTree['revenue'].loc[d] = np.nan
DecisionTree['profit'] = DecisionTree['revenue'] - DecisionTree['cost']
print(DecisionTree)
print(DecisionTree['profit'].sum())

            DecisionTree  cost  revenue  profit    return
2023-10-10           0.0   NaN      NaN     NaN       NaN
2023-10-11           0.0   NaN      NaN     NaN       NaN
2023-10-12           0.0   NaN      NaN     NaN       NaN
2023-10-13           0.0   NaN      NaN     NaN  0.011204
2023-10-16           0.0   NaN      NaN     NaN -0.046904
2023-10-17           1.0   NaN      NaN     NaN  0.050142
2023-10-18           0.0   NaN      NaN     NaN  0.017225
2023-10-19           0.0   NaN      NaN     NaN -0.018639
2023-10-20           1.0   NaN      NaN     NaN  0.026954
2023-10-23           0.0   NaN      NaN     NaN  0.054106
2023-10-24           1.0   NaN      NaN     NaN  0.063072
2023-10-25           0.0   NaN      NaN     NaN -0.012141
2023-10-26           1.0   NaN      NaN     NaN  0.138655
2023-10-27           1.0   NaN      NaN     NaN -0.003279
2023-10-30           1.0   NaN      NaN     NaN -0.009434
2023-10-31           0.0   NaN      NaN     NaN -0.090677
2023-11-01           1.0   NaN      NaN     NaN       NaN
2023-11-02           0.0   NaN      NaN     NaN       NaN
2023-11-03           0.0   NaN      NaN     NaN       NaN
0.0

SVC

In [139]:
for i in range(len(SVC.index)):
    d = SVC.index[i]
    if SVC.loc[d, 'SVC'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            SVC['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            SVC['revenue'].loc[d] = revenue
        except:
            SVC['cost'].loc[d] = np.nan
            SVC['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            SVC['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            SVC['revenue'].loc[d] = revenue
        except:
            SVC['cost'].loc[d] = np.nan
            SVC['revenue'].loc[d] = np.nan
SVC['profit'] = SVC['revenue'] - SVC['cost']
print(SVC)
print(SVC['profit'].sum())

            SVC  cost  revenue  profit  return
2023-10-10  0.0   NaN      NaN     NaN       0
2023-10-11  0.0   NaN      NaN     NaN       0
2023-10-12  0.0   NaN      NaN     NaN       0
2023-10-13  0.0   NaN      NaN     NaN       0
2023-10-16  0.0   NaN      NaN     NaN       0
2023-10-17  1.0   NaN      NaN     NaN       0
2023-10-18  0.0   NaN      NaN     NaN       0
2023-10-19  0.0   NaN      NaN     NaN       0
2023-10-20  1.0   NaN      NaN     NaN       0
2023-10-23  1.0   NaN      NaN     NaN       0
2023-10-24  0.0   NaN      NaN     NaN       0
2023-10-25  0.0   NaN      NaN     NaN       0
2023-10-26  0.0   NaN      NaN     NaN       0
2023-10-27  1.0   NaN      NaN     NaN       0
2023-10-30  0.0   NaN      NaN     NaN       0
2023-10-31  0.0   NaN      NaN     NaN       0
2023-11-01  0.0   NaN      NaN     NaN       0
2023-11-02  0.0   NaN      NaN     NaN       0
2023-11-03  0.0   NaN      NaN     NaN       0
0.0

RandomForest

In [140]:
for i in range(len(RandomForest.index)):
    d = RandomForest.index[i]
    if RandomForest.loc[d, 'RandomForest'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            RandomForest['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            RandomForest['revenue'].loc[d] = revenue
        except:
            RandomForest['cost'].loc[d] = np.nan
            RandomForest['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            RandomForest['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            RandomForest['revenue'].loc[d] = revenue
        except:
            RandomForest['cost'].loc[d] = np.nan
            RandomForest['revenue'].loc[d] = np.nan
RandomForest['profit'] = RandomForest['revenue'] - RandomForest['cost']
print(RandomForest)
print(RandomForest['profit'].sum())

            RandomForest  cost  revenue  profit  return
2023-10-10           0.0   NaN      NaN     NaN       0
2023-10-11           0.0   NaN      NaN     NaN       0
2023-10-12           0.0   NaN      NaN     NaN       0
2023-10-13           0.0   NaN      NaN     NaN       0
2023-10-16           0.0   NaN      NaN     NaN       0
2023-10-17           1.0   NaN      NaN     NaN       0
2023-10-18           0.0   NaN      NaN     NaN       0
2023-10-19           0.0   NaN      NaN     NaN       0
2023-10-20           1.0   NaN      NaN     NaN       0
2023-10-23           1.0   NaN      NaN     NaN       0
2023-10-24           0.0   NaN      NaN     NaN       0
2023-10-25           0.0   NaN      NaN     NaN       0
2023-10-26           0.0   NaN      NaN     NaN       0
2023-10-27           1.0   NaN      NaN     NaN       0
2023-10-30           0.0   NaN      NaN     NaN       0
2023-10-31           0.0   NaN      NaN     NaN       0
2023-11-01           1.0   NaN      NaN     NaN       0
2023-11-02           0.0   NaN      NaN     NaN       0
2023-11-03           0.0   NaN      NaN     NaN       0
0.0

XGB

In [141]:
for i in range(len(XGB.index)):
    d = XGB.index[i]
    if XGB.loc[d, 'XGB'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            XGB['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            XGB['revenue'].loc[d] = revenue
        except:
            XGB['cost'].loc[d] = np.nan
            XGB['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            XGB['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            XGB['revenue'].loc[d] = revenue
        except:
            XGB['cost'].loc[d] = np.nan
            XGB['revenue'].loc[d] = np.nan
XGB['profit'] = XGB['revenue'] - XGB['cost']
print(XGB)
print(XGB['profit'].sum())

            XGB  cost  revenue  profit  return
2023-10-10    0   NaN      NaN     NaN       0
2023-10-11    0   NaN      NaN     NaN       0
2023-10-12    0   NaN      NaN     NaN       0
2023-10-13    0   NaN      NaN     NaN       0
2023-10-16    1   NaN      NaN     NaN       0
2023-10-17    0   NaN      NaN     NaN       0
2023-10-18    0   NaN      NaN     NaN       0
2023-10-19    0   NaN      NaN     NaN       0
2023-10-20    1   NaN      NaN     NaN       0
2023-10-23    1   NaN      NaN     NaN       0
2023-10-24    0   NaN      NaN     NaN       0
2023-10-25    0   NaN      NaN     NaN       0
2023-10-26    1   NaN      NaN     NaN       0
2023-10-27    1   NaN      NaN     NaN       0
2023-10-30    0   NaN      NaN     NaN       0
2023-10-31    0   NaN      NaN     NaN       0
2023-11-01    1   NaN      NaN     NaN       0
2023-11-02    0   NaN      NaN     NaN       0
2023-11-03    0   NaN      NaN     NaN       0
0.0

LGBM

In [142]:
for i in range(len(LGBM.index)):
    d = LGBM.index[i]
    if LGBM.loc[d, 'LGBM'] == 0: # 변동성 하락 양매도 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            LGBM['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            LGBM['revenue'].loc[d] = revenue
        except:
            LGBM['cost'].loc[d] = np.nan
            LGBM['revenue'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            cost = 0
            cost += CTB9sp['S+4'].loc[d]
            cost += PTB9sp['S-4'].loc[d]
            LGBM['cost'].loc[d] = cost
            revenue = 0
            revenue += CTB15sp['S+4'].loc[d]
            revenue += PTB15sp['S-4'].loc[d]
            LGBM['revenue'].loc[d] = revenue
        except:
            LGBM['cost'].loc[d] = np.nan
            LGBM['revenue'].loc[d] = np.nan
LGBM['profit'] = LGBM['revenue'] - LGBM['cost']
print(LGBM)
print(LGBM['profit'].sum())

            LGBM  cost  revenue  profit  return
2023-10-10   0.0   NaN      NaN     NaN       0
2023-10-11   0.0   NaN      NaN     NaN       0
2023-10-12   0.0   NaN      NaN     NaN       0
2023-10-13   0.0   NaN      NaN     NaN       0
2023-10-16   1.0   NaN      NaN     NaN       0
2023-10-17   0.0   NaN      NaN     NaN       0
2023-10-18   0.0   NaN      NaN     NaN       0
2023-10-19   0.0   NaN      NaN     NaN       0
2023-10-20   1.0   NaN      NaN     NaN       0
2023-10-23   1.0   NaN      NaN     NaN       0
2023-10-24   0.0   NaN      NaN     NaN       0
2023-10-25   0.0   NaN      NaN     NaN       0
2023-10-26   1.0   NaN      NaN     NaN       0
2023-10-27   1.0   NaN      NaN     NaN       0
2023-10-30   0.0   NaN      NaN     NaN       0
2023-10-31   0.0   NaN      NaN     NaN       0
2023-11-01   0.0   NaN      NaN     NaN       0
2023-11-02   0.0   NaN      NaN     NaN       0
2023-11-03   0.0   NaN      NaN     NaN       0
0.0

# 버터플

In [143]:
for d in VKOSPI_Label.index:    
    if VKOSPI_Label.loc[d, 'VKOSPI_Label'] == 0: # 변동성 하락 양매도 스트랭글
        try:
            cost = 0
            cost -= CTB09sp['S-1'].loc[d]
            cost -= CTB09sp['S+1'].loc[d]
            cost += 2 * CTB09sp['기준행사가'].loc[d]
            VKOSPI_Label['cost'].loc[d] = cost # 9시 값 합
            revenue = 0
            revenue += CTB15sp['S-1'].loc[d]
            revenue += CTB15sp['S+1'].loc[d]
            revenue -= 2 * CTB15sp['기준행사가'].loc[d]
            VKOSPI_Label['revenue'].loc[d] = revenue # 15시 값 합
            VKOSPI_Label['profit'].loc[d] = cost + revenue
            # VKOSPI_Label['return'].loc[d] = (cost - revenue) / revenue
        except:     
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan 
            VKOSPI_Label['profit'].loc[d] = np.nan 
            VKOSPI_Label['return'].loc[d] = np.nan
    else: # label == 1 변동성 상승 양매수 스트래들
        try:
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan
            VKOSPI_Label['profit'].loc[d] = np.nan
            VKOSPI_Label['return'].loc[d] = np.nan
        except:
            VKOSPI_Label['cost'].loc[d] = np.nan
            VKOSPI_Label['revenue'].loc[d] = np.nan
            VKOSPI_Label['profit'].loc[d] = np.nan
            VKOSPI_Label['return'].loc[d] = np.nan

In [144]:
VKOSPI_Label

            VKOSPI_Label  cost  revenue  profit    return
2023-10-10           1.0   NaN      NaN     NaN       NaN
2023-10-11           1.0   NaN      NaN     NaN       NaN
2023-10-12           1.0   NaN      NaN     NaN       NaN
2023-10-13           0.0 -0.27     0.20   -0.07  0.011204
2023-10-16           0.0 -0.21     0.20   -0.01 -0.046904
2023-10-17           0.0 -0.15     0.06   -0.09 -0.047748
2023-10-18           1.0   NaN      NaN     NaN       NaN
2023-10-19           0.0 -0.20     0.24    0.04 -0.018639
2023-10-20           0.0 -0.22     0.15   -0.07 -0.026247
2023-10-23           1.0   NaN      NaN     NaN       NaN
2023-10-24           1.0   NaN      NaN     NaN       NaN
2023-10-25           0.0 -0.21     0.26    0.05 -0.012141
2023-10-26           0.0 -0.20     0.16   -0.04 -0.121771
2023-10-27           1.0   NaN      NaN     NaN       NaN
2023-10-30           1.0   NaN      NaN     NaN       NaN
2023-10-31           1.0   NaN      NaN     NaN       NaN
2023-11-01           0.0   NaN      NaN     NaN       NaN
2023-11-02           1.0   NaN      NaN     NaN       NaN
2023-11-03           0.0   NaN      NaN     NaN       NaN

In [145]:
(VKOSPI_Label['return'] + 1).cumprod() * 100

2023-10-10           NaN
2023-10-11           NaN
2023-10-12           NaN
2023-10-13    101.120448
2023-10-16     96.377463
2023-10-17     91.775656
2023-10-18           NaN
2023-10-19     90.065019
2023-10-20     87.701108
2023-10-23           NaN
2023-10-24           NaN
2023-10-25     86.636304
2023-10-26     76.086496
2023-10-27           NaN
2023-10-30           NaN
2023-10-31           NaN
2023-11-01           NaN
2023-11-02           NaN
2023-11-03           NaN
Name: return, dtype: float64

In [146]:
VKOSPI_Label['profit'].sum()

-0.1900000000000004