In [37]:
import pandas as pd

In [46]:
VIX = pd.read_csv("./Datasets/VIX.csv")
VIX.head()

             날짜     종가     시가     고가     저가  거래량    변동 %
0  2023- 10- 23  22.41  21.83  23.08  21.77  NaN   3.22%
1  2023- 10- 20  21.71  21.59  21.83  20.42  NaN   1.45%
2  2023- 10- 19  21.40  19.73  21.40  18.55  NaN  11.34%
3  2023- 10- 18  19.22  18.36  20.15  17.88  NaN   7.49%
4  2023- 10- 17  17.88  17.41  18.54  16.97  NaN   3.89%

In [47]:
VIX['날짜'] = pd.to_datetime(VIX['날짜'])
VIX = VIX.sort_values(by='날짜', ascending=True)

In [48]:
VIX.head()

            날짜     종가     시가     고가     저가  거래량    변동 %
107 2023-05-25  19.14  19.54  19.95  18.70  NaN  -4.44%
106 2023-05-26  17.95  19.07  19.56  17.27  NaN  -6.22%
105 2023-05-29  17.46  17.53  17.60  17.34  NaN  -2.73%
104 2023-05-30  17.46  17.56  18.34  16.98  NaN   0.00%
103 2023-05-31  17.94  18.04  18.40  17.12  NaN   2.75%

In [49]:
VIX=VIX[['날짜','종가']]

In [50]:
VIX['종가차이'] = None
VIX.head()

            날짜     종가  종가차이
107 2023-05-25  19.14  None
106 2023-05-26  17.95  None
105 2023-05-29  17.46  None
104 2023-05-30  17.46  None
103 2023-05-31  17.94  None

In [51]:
# 마지막 전 날짜의 '종가' 값과 마지막 날의 '종가' 값을 뺀다.
difference = VIX.loc[VIX.index[-2], '종가'] - VIX.loc[VIX.index[-1], '종가']

new_data = pd.DataFrame({
    '날짜': [pd.to_datetime('2023-10-24')],
    '종가': [None],
    '종가차이': [difference]
})

VIX = pd.concat([VIX, new_data], ignore_index=True)
print(VIX)

            날짜     종가  종가차이
0   2023-05-25  19.14   NaN
1   2023-05-26  17.95   NaN
2   2023-05-29  17.46   NaN
3   2023-05-30  17.46   NaN
4   2023-05-31  17.94   NaN
..         ...    ...   ...
104 2023-10-18  19.22   NaN
105 2023-10-19  21.40   NaN
106 2023-10-20  21.71   NaN
107 2023-10-23  22.41   NaN
108 2023-10-24    NaN  -0.7

[109 rows x 3 columns]

/var/folders/_6/2zcx5d0s79379ny3_nmcwpv40000gn/T/ipykernel_1215/2439599968.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  VIX = pd.concat([VIX, new_data], ignore_index=True)

In [52]:
for i in range(len(VIX) - 1):
    difference = VIX.loc[i, '종가'] - VIX.loc[i + 1, '종가']
    if i + 2 < len(VIX):  # 다음날 날짜가 존재하는 경우에만 값을 넣습니다.
        VIX.loc[i + 2, '종가차이'] = difference

print(VIX)

            날짜     종가  종가차이
0   2023-05-25  19.14   NaN
1   2023-05-26  17.95   NaN
2   2023-05-29  17.46  1.19
3   2023-05-30  17.46  0.49
4   2023-05-31  17.94  0.00
..         ...    ...   ...
104 2023-10-18  19.22 -0.67
105 2023-10-19  21.40 -1.34
106 2023-10-20  21.71 -2.18
107 2023-10-23  22.41 -0.31
108 2023-10-24    NaN -0.70

[109 rows x 3 columns]

In [53]:
VIX.to_csv('VIX_processed_timeseries_data.csv', index=False)