In [1]:
import pandas as pd

In [2]:
ks200 = pd.read_csv("../test_feature/KS200.csv")
ks200

              날짜      종가      시가      고가      저가      거래량    변동 %
0   2023- 11- 03  318.15  317.97  318.75  316.50   72.72K   0.95%
1   2023- 11- 02  315.16  314.46  316.47  314.16  112.38K   1.76%
2   2023- 11- 01  309.71  307.55  310.41  307.33   88.98M   1.36%
3   2023- 10- 31  305.56  310.49  311.58  305.14  121.72M  -1.10%
4   2023- 10- 30  308.95  307.01  310.12  306.89   95.85M   0.14%
5   2023- 10- 27  308.53  309.68  310.43  307.24   92.93M   0.25%
6   2023- 10- 26  307.75  311.36  312.37  307.75  110.77M  -2.76%
7   2023- 10- 25  316.49  319.26  319.59  316.30   91.22M  -0.61%
8   2023- 10- 24  318.43  317.34  318.63  311.77   93.26M   0.93%
9   2023- 10- 23  315.50  317.43  318.30  315.09   89.16M  -0.77%
10  2023- 10- 20  317.96  319.45  320.18  316.28  112.71M  -1.49%
11  2023- 10- 19  322.76  324.75  325.08  322.40  115.71M  -1.84%
12  2023- 10- 18  328.82  326.32  329.06  326.12  134.13M   0.45%
13  2023- 10- 17  327.35  325.70  328.26  325.01   88.46M   1.26%
14  2023- 10- 16  323.29  324.10  326.00  321.32   93.10M  -0.76%
15  2023- 10- 13  325.77  326.11  327.33  325.43   91.78M  -0.94%
16  2023- 10- 12  328.85  326.89  328.85  326.89  108.82M   1.27%
17  2023- 10- 11  324.74  323.96  327.26  323.95  119.11M   1.76%
18  2023- 10- 10  319.11  322.97  324.85  319.06  128.82M   0.05%
19  2023- 10- 06  318.94  319.27  320.67  318.44   87.54M   0.11%
20  2023- 10- 05  318.58  321.46  321.71  318.46  104.52M  -0.27%
21  2023- 10- 04  319.45  322.61  322.61  318.88  149.16M  -2.22%

In [3]:
ks200 = ks200[::-1]
ks200

              날짜      종가      시가      고가      저가      거래량    변동 %
21  2023- 10- 04  319.45  322.61  322.61  318.88  149.16M  -2.22%
20  2023- 10- 05  318.58  321.46  321.71  318.46  104.52M  -0.27%
19  2023- 10- 06  318.94  319.27  320.67  318.44   87.54M   0.11%
18  2023- 10- 10  319.11  322.97  324.85  319.06  128.82M   0.05%
17  2023- 10- 11  324.74  323.96  327.26  323.95  119.11M   1.76%
16  2023- 10- 12  328.85  326.89  328.85  326.89  108.82M   1.27%
15  2023- 10- 13  325.77  326.11  327.33  325.43   91.78M  -0.94%
14  2023- 10- 16  323.29  324.10  326.00  321.32   93.10M  -0.76%
13  2023- 10- 17  327.35  325.70  328.26  325.01   88.46M   1.26%
12  2023- 10- 18  328.82  326.32  329.06  326.12  134.13M   0.45%
11  2023- 10- 19  322.76  324.75  325.08  322.40  115.71M  -1.84%
10  2023- 10- 20  317.96  319.45  320.18  316.28  112.71M  -1.49%
9   2023- 10- 23  315.50  317.43  318.30  315.09   89.16M  -0.77%
8   2023- 10- 24  318.43  317.34  318.63  311.77   93.26M   0.93%
7   2023- 10- 25  316.49  319.26  319.59  316.30   91.22M  -0.61%
6   2023- 10- 26  307.75  311.36  312.37  307.75  110.77M  -2.76%
5   2023- 10- 27  308.53  309.68  310.43  307.24   92.93M   0.25%
4   2023- 10- 30  308.95  307.01  310.12  306.89   95.85M   0.14%
3   2023- 10- 31  305.56  310.49  311.58  305.14  121.72M  -1.10%
2   2023- 11- 01  309.71  307.55  310.41  307.33   88.98M   1.36%
1   2023- 11- 02  315.16  314.46  316.47  314.16  112.38K   1.76%
0   2023- 11- 03  318.15  317.97  318.75  316.50   72.72K   0.95%

In [4]:
ks200 = ks200.reset_index()

In [5]:
ks200.head(3)

   index            날짜      종가      시가      고가      저가      거래량    변동 %
0     21  2023- 10- 04  319.45  322.61  322.61  318.88  149.16M  -2.22%
1     20  2023- 10- 05  318.58  321.46  321.71  318.46  104.52M  -0.27%
2     19  2023- 10- 06  318.94  319.27  320.67  318.44   87.54M   0.11%

In [6]:
ks200 = ks200[['날짜', '종가', '시가', '변동 %']]

In [7]:
ks200['변동 %'] = ks200['변동 %'].astype(str)
ks200["변동 %"] = ks200["변동 %"].str.rstrip('%')
ks200["변동 %"] = ks200["변동 %"].astype(float)

In [8]:
ks200['변동 %'] = ks200['변동 %'].shift(1)
ks200

              날짜      종가      시가  변동 %
0   2023- 10- 04  319.45  322.61   NaN
1   2023- 10- 05  318.58  321.46 -2.22
2   2023- 10- 06  318.94  319.27 -0.27
3   2023- 10- 10  319.11  322.97  0.11
4   2023- 10- 11  324.74  323.96  0.05
5   2023- 10- 12  328.85  326.89  1.76
6   2023- 10- 13  325.77  326.11  1.27
7   2023- 10- 16  323.29  324.10 -0.94
8   2023- 10- 17  327.35  325.70 -0.76
9   2023- 10- 18  328.82  326.32  1.26
10  2023- 10- 19  322.76  324.75  0.45
11  2023- 10- 20  317.96  319.45 -1.84
12  2023- 10- 23  315.50  317.43 -1.49
13  2023- 10- 24  318.43  317.34 -0.77
14  2023- 10- 25  316.49  319.26  0.93
15  2023- 10- 26  307.75  311.36 -0.61
16  2023- 10- 27  308.53  309.68 -2.76
17  2023- 10- 30  308.95  307.01  0.25
18  2023- 10- 31  305.56  310.49  0.14
19  2023- 11- 01  309.71  307.55 -1.10
20  2023- 11- 02  315.16  314.46  1.36
21  2023- 11- 03  318.15  317.97  1.76

In [9]:
ks200 = ks200.dropna()

In [10]:
ks200['종가'] = ks200['종가'].shift(1)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_47387/2144643337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ks200['종가'] = ks200['종가'].shift(1)

In [11]:
ks200['야간변화율'] = round(((ks200['시가'] - ks200['종가']) / ks200['종가']) * 100, 3)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_47387/1388436049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ks200['야간변화율'] = round(((ks200['시가'] - ks200['종가']) / ks200['종가']) * 100, 3)

In [12]:
ks200 = ks200.dropna()
ks200.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 2 to 21
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      20 non-null     object
 1   종가      20 non-null     float64
 2   시가      20 non-null     float64
 3   변동 %    20 non-null     float64
 4   야간변화율   20 non-null     float64
dtypes: float64(4), object(1)
memory usage: 960.0+ bytes

In [13]:
ks200

              날짜      종가      시가  변동 %  야간변화율
2   2023- 10- 06  318.58  319.27 -0.27  0.217
3   2023- 10- 10  318.94  322.97  0.11  1.264
4   2023- 10- 11  319.11  323.96  0.05  1.520
5   2023- 10- 12  324.74  326.89  1.76  0.662
6   2023- 10- 13  328.85  326.11  1.27 -0.833
7   2023- 10- 16  325.77  324.10 -0.94 -0.513
8   2023- 10- 17  323.29  325.70 -0.76  0.745
9   2023- 10- 18  327.35  326.32  1.26 -0.315
10  2023- 10- 19  328.82  324.75  0.45 -1.238
11  2023- 10- 20  322.76  319.45 -1.84 -1.026
12  2023- 10- 23  317.96  317.43 -1.49 -0.167
13  2023- 10- 24  315.50  317.34 -0.77  0.583
14  2023- 10- 25  318.43  319.26  0.93  0.261
15  2023- 10- 26  316.49  311.36 -0.61 -1.621
16  2023- 10- 27  307.75  309.68 -2.76  0.627
17  2023- 10- 30  308.53  307.01  0.25 -0.493
18  2023- 10- 31  308.95  310.49  0.14  0.498
19  2023- 11- 01  305.56  307.55 -1.10  0.651
20  2023- 11- 02  309.71  314.46  1.36  1.534
21  2023- 11- 03  315.16  317.97  1.76  0.892

In [14]:
ks200['날짜'] = pd.to_datetime(ks200['날짜'])

In [17]:
ks200 = ks200[1:]

In [18]:
ks200 = ks200.reset_index(drop=True)

In [19]:
ks200

           날짜      종가      시가  변동 %  야간변화율
0  2023-10-10  318.94  322.97  0.11  1.264
1  2023-10-11  319.11  323.96  0.05  1.520
2  2023-10-12  324.74  326.89  1.76  0.662
3  2023-10-13  328.85  326.11  1.27 -0.833
4  2023-10-16  325.77  324.10 -0.94 -0.513
5  2023-10-17  323.29  325.70 -0.76  0.745
6  2023-10-18  327.35  326.32  1.26 -0.315
7  2023-10-19  328.82  324.75  0.45 -1.238
8  2023-10-20  322.76  319.45 -1.84 -1.026
9  2023-10-23  317.96  317.43 -1.49 -0.167
10 2023-10-24  315.50  317.34 -0.77  0.583
11 2023-10-25  318.43  319.26  0.93  0.261
12 2023-10-26  316.49  311.36 -0.61 -1.621
13 2023-10-27  307.75  309.68 -2.76  0.627
14 2023-10-30  308.53  307.01  0.25 -0.493
15 2023-10-31  308.95  310.49  0.14  0.498
16 2023-11-01  305.56  307.55 -1.10  0.651
17 2023-11-02  309.71  314.46  1.36  1.534
18 2023-11-03  315.16  317.97  1.76  0.892

In [20]:
ks200.reset_index(drop=True)[['날짜', '변동 %', '야간변화율']].to_csv('../test_feature/clean_feature/ks200.csv')