In [15]:
import pandas as pd

In [16]:
pc = pd.read_csv("../test_feature/PUT_CALL.csv", encoding='cp949')
pc

            일자  거래량_PUT  거래량_CALL  P/C Ratio
0   2023/11/02  1171428   1112847       1.05
1   2023/11/01  1022234   1159967       0.88
2   2023/10/31  1225942   1167985       1.05
3   2023/10/30   899910    966801       0.93
4   2023/10/27   864639    851723       1.02
5   2023/10/26  1132299   1004508       1.13
6   2023/10/25   754462    739334       1.02
7   2023/10/24  1128189   1065679       1.06
8   2023/10/23   649313    771528       0.84
9   2023/10/20  1003891    867317       1.16
10  2023/10/19   795133    672234       1.18
11  2023/10/18   648691    538463       1.20
12  2023/10/17   848048    732163       1.16
13  2023/10/16   720552    729240       0.99
14  2023/10/13   457029    416248       1.10
15  2023/10/12  1925836   1866490       1.03
16  2023/10/11  1860352   2041509       0.91
17  2023/10/10  1440207   1542565       0.93
18  2023/10/06   903713    936041       0.97
19  2023/10/05  1069077    975627       1.10
20  2023/10/04  1209225    998267       1.21
21  2023/09/27   843785    867982       0.97

In [17]:
new_row = {'일자':['2023/11/03']}
new_row = pd.DataFrame(new_row)
new_row.index = [0]
pc = pd.concat([new_row, pc], ignore_index=True)
pc

            일자    거래량_PUT   거래량_CALL  P/C Ratio
0   2023/11/03        NaN        NaN        NaN
1   2023/11/02  1171428.0  1112847.0       1.05
2   2023/11/01  1022234.0  1159967.0       0.88
3   2023/10/31  1225942.0  1167985.0       1.05
4   2023/10/30   899910.0   966801.0       0.93
5   2023/10/27   864639.0   851723.0       1.02
6   2023/10/26  1132299.0  1004508.0       1.13
7   2023/10/25   754462.0   739334.0       1.02
8   2023/10/24  1128189.0  1065679.0       1.06
9   2023/10/23   649313.0   771528.0       0.84
10  2023/10/20  1003891.0   867317.0       1.16
11  2023/10/19   795133.0   672234.0       1.18
12  2023/10/18   648691.0   538463.0       1.20
13  2023/10/17   848048.0   732163.0       1.16
14  2023/10/16   720552.0   729240.0       0.99
15  2023/10/13   457029.0   416248.0       1.10
16  2023/10/12  1925836.0  1866490.0       1.03
17  2023/10/11  1860352.0  2041509.0       0.91
18  2023/10/10  1440207.0  1542565.0       0.93
19  2023/10/06   903713.0   936041.0       0.97
20  2023/10/05  1069077.0   975627.0       1.10
21  2023/10/04  1209225.0   998267.0       1.21
22  2023/09/27   843785.0   867982.0       0.97

In [18]:
pc = pc[::-1]

In [19]:
pc = pc.reset_index(drop=True)

In [20]:
pc

            일자    거래량_PUT   거래량_CALL  P/C Ratio
0   2023/09/27   843785.0   867982.0       0.97
1   2023/10/04  1209225.0   998267.0       1.21
2   2023/10/05  1069077.0   975627.0       1.10
3   2023/10/06   903713.0   936041.0       0.97
4   2023/10/10  1440207.0  1542565.0       0.93
5   2023/10/11  1860352.0  2041509.0       0.91
6   2023/10/12  1925836.0  1866490.0       1.03
7   2023/10/13   457029.0   416248.0       1.10
8   2023/10/16   720552.0   729240.0       0.99
9   2023/10/17   848048.0   732163.0       1.16
10  2023/10/18   648691.0   538463.0       1.20
11  2023/10/19   795133.0   672234.0       1.18
12  2023/10/20  1003891.0   867317.0       1.16
13  2023/10/23   649313.0   771528.0       0.84
14  2023/10/24  1128189.0  1065679.0       1.06
15  2023/10/25   754462.0   739334.0       1.02
16  2023/10/26  1132299.0  1004508.0       1.13
17  2023/10/27   864639.0   851723.0       1.02
18  2023/10/30   899910.0   966801.0       0.93
19  2023/10/31  1225942.0  1167985.0       1.05
20  2023/11/01  1022234.0  1159967.0       0.88
21  2023/11/02  1171428.0  1112847.0       1.05
22  2023/11/03        NaN        NaN        NaN

In [21]:
pc['거래량_CALL_shift'] = pc['거래량_CALL'].shift(1)
pc['거래량_PUT_shift'] = pc['거래량_PUT'].shift(1)
pc['P/C Ratio'] = pc['P/C Ratio'].shift(1)

In [22]:
pc['CALL_vol_change(%)'] = round((pc['거래량_CALL'] - pc['거래량_CALL_shift']) / pc['거래량_CALL_shift'] * 100, 3)
pc['PUT_vol_change(%)'] = round((pc['거래량_PUT'] - pc['거래량_PUT_shift']) / pc['거래량_PUT_shift'] * 100, 3)

In [23]:
pc['CALL_vol_fluc'] = pc['거래량_CALL'] - pc['거래량_CALL_shift']
pc['PUT_vol_fluc'] = pc['거래량_PUT'] - pc['거래량_PUT_shift']

In [24]:
pc['CALL_vol_change(%)'] = pc['CALL_vol_change(%)'].shift(1)
pc['PUT_vol_change(%)'] = pc['PUT_vol_change(%)'].shift(1)
pc['CALL_vol_fluc'] = pc['CALL_vol_fluc'].shift(1)
pc['PUT_vol_fluc'] = pc['PUT_vol_fluc'].shift(1)

In [25]:
pc['일자'] = pd.to_datetime(pc['일자'])

In [27]:
pc

,일자,거래량_PUT,거래량_CALL,P/C Ratio,거래량_CALL_shift,거래량_PUT_shift,CALL_vol_change(%),PUT_vol_change(%),CALL_vol_fluc,PUT_vol_fluc
0,2023-09-27,843785.0,867982.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-10-04,1209225.0,998267.0,0.97,867982.0,843785.0,NaN,NaN,NaN,NaN
2,2023-10-05,1069077.0,975627.0,1.21,998267.0,1209225.0,15.010,43.310,130285.0,365440.0
3,2023-10-06,903713.0,936041.0,1.10,975627.0,1069077.0,-2.268,-11.590,-22640.0,-140148.0
4,2023-10-10,1440207.0,1542565.0,0.97,936041.0,903713.0,-4.057,-15.468,-39586.0,-165364.0
5,2023-10-11,1860352.0,2041509.0,0.93,1542565.0,1440207.0,64.797,59.366,606524.0,536494.0
6,2023-10-12,1925836.0,1866490.0,0.91,2041509.0,1860352.0,32.345,29.173,498944.0,420145.0
7,2023-10-13,457029.0,416248.0,1.03,1866490.0,1925836.0,-8.573,3.520,-175019.0,65484.0
8,2023-10-16,720552.0,729240.0,1.10,416248.0,457029.0,-77.699,-76.269,-1450242.0,-1468807.0
9,2023-10-17,848048.0,732163.0,0.99,729240.0,720552.0,75.194,57.660,312992.0,263523.0
10,2023-10-18,648691.0,538463.0,1.16,732163.0,848048.0,0.401,17.694,2923.0,127496.0
11,2023-10-19,795133.0,672234.0,1.20,538463.0,648691.0,-26.456,-23.508,-193700.0,-199357.0
12,2023-10-20,1003891.0,867317.0,1.18,672234.0,795133.0,24.843,22.575,133771.0,146442.0
13,2023-10-23,649313.0,771528.0,1.16,867317.0,1003891.0,29.020,26.254,195083.0,208758.0
14,2023-10-24,1128189.0,1065679.0,0.84,771528.0,649313.0,-11.044,-35.320,-95789.0,-354578.0
15,2023-10-25,754462.0,739334.0,1.06,1065679.0,1128189.0,38.126,73.751,294151.0,478876.0
16,2023-10-26,1132299.0,1004508.0,1.02,739334.0,754462.0,-30.623,-33.126,-326345.0,-373727.0
17,2023-10-27,864639.0,851723.0,1.13,1004508.0,1132299.0,35.867,50.080,265174.0,377837.0
18,2023-10-30,899910.0,966801.0,1.02,851723.0,864639.0,-15.210,-23.639,-152785.0,-267660.0
19,2023-10-31,1225942.0,1167985.0,0.93,966801.0,899910.0,13.511,4.079,115078.0,35271.0
20,2023-11-01,1022234.0,1159967.0,1.05,1167985.0,1225942.0,20.809,36.229,201184.0,326032.0
21,2023-11-02,1171428.0,1112847.0,0.88,1159967.0,1022234.0,-0.686,-16.616,-8018.0,-203708.0
22,2023-11-03,NaN,NaN,1.05,1112847.0,1171428.0,-4.062,14.595,-47120.0,149194.0

In [30]:
pc = pc[4:]

In [31]:
pc.reset_index(drop=True)[['일자', 'P/C Ratio', 'CALL_vol_change(%)', 'PUT_vol_change(%)', 'CALL_vol_fluc', 'PUT_vol_fluc']].to_csv('../test_feature/clean_feature/put_call.csv')