In [1]:
import pandas as pd

In [2]:
usd = pd.read_csv("../test_feature/USD_KRW.csv")
usd

              날짜        종가        시가        고가        저가  거래량    변동 %
0   2023- 11- 03  1,320.38  1,334.31  1,336.21  1,319.47  NaN  -0.99%
1   2023- 11- 02  1,333.59  1,348.82  1,349.38  1,328.52  NaN  -1.05%
2   2023- 11- 01  1,347.79  1,353.15  1,359.76  1,348.12  NaN  -0.32%
3   2023- 10- 31  1,352.15  1,346.49  1,356.01  1,345.26  NaN   0.48%
4   2023- 10- 30  1,345.63  1,357.05  1,357.45  1,345.52  NaN  -0.68%
5   2023- 10- 27  1,354.91  1,353.57  1,358.34  1,347.76  NaN   0.16%
6   2023- 10- 26  1,352.69  1,352.90  1,360.72  1,351.70  NaN   0.02%
7   2023- 10- 25  1,352.44  1,344.34  1,354.15  1,343.22  NaN   0.64%
8   2023- 10- 24  1,343.88  1,343.69  1,347.76  1,340.23  NaN   0.13%
9   2023- 10- 23  1,342.12  1,350.34  1,355.31  1,342.70  NaN  -0.52%
10  2023- 10- 20  1,349.08  1,357.11  1,359.78  1,349.18  NaN  -0.51%
11  2023- 10- 19  1,356.02  1,355.48  1,360.86  1,352.65  NaN   0.16%
12  2023- 10- 18  1,353.86  1,353.55  1,358.31  1,347.54  NaN   0.07%
13  2023- 10- 17  1,352.98  1,348.25  1,357.92  1,347.13  NaN   0.38%
14  2023- 10- 16  1,347.91  1,353.08  1,356.62  1,347.69  NaN  -0.32%
15  2023- 10- 13  1,352.21  1,349.40  1,353.95  1,347.19  NaN   0.24%
16  2023- 10- 12  1,348.96  1,339.54  1,351.63  1,335.28  NaN   0.79%
17  2023- 10- 11  1,338.42  1,342.62  1,343.91  1,337.07  NaN  -0.22%
18  2023- 10- 10  1,341.33  1,347.67  1,352.16  1,341.92  NaN  -0.38%
19  2023- 10- 09  1,346.51  1,344.51  1,354.99  1,344.17  NaN   0.14%
20  2023- 10- 06  1,344.61  1,346.34  1,357.10  1,342.78  NaN  -0.08%
21  2023- 10- 05  1,345.72  1,352.55  1,354.43  1,344.94  NaN  -0.44%
22  2023- 10- 04  1,351.62  1,362.05  1,364.12  1,350.01  NaN  -0.70%
23  2023- 10- 03  1,361.08  1,357.14  1,363.75  1,354.97  NaN   0.39%

In [3]:
usd = usd[::-1]

In [4]:
usd = usd.reset_index(drop=True)

In [5]:
usd = usd[['날짜', '종가', '시가', '변동 %']]

In [6]:
usd['변동 %'] = usd['변동 %'].astype(str)
usd["변동 %"] = usd["변동 %"].str.rstrip('%')
usd["변동 %"] = usd["변동 %"].astype(float)

usd["시가"] = usd["시가"].str.replace(',', '')
usd["시가"] = usd["시가"].astype(float)

usd["종가"] = usd["종가"].str.replace(',', '')
usd["종가"] = usd["종가"].astype(float)

In [7]:
usd['종가'] = usd['종가'].shift(1)

In [8]:
usd

              날짜       종가       시가  변동 %
0   2023- 10- 03      NaN  1357.14  0.39
1   2023- 10- 04  1361.08  1362.05 -0.70
2   2023- 10- 05  1351.62  1352.55 -0.44
3   2023- 10- 06  1345.72  1346.34 -0.08
4   2023- 10- 09  1344.61  1344.51  0.14
5   2023- 10- 10  1346.51  1347.67 -0.38
6   2023- 10- 11  1341.33  1342.62 -0.22
7   2023- 10- 12  1338.42  1339.54  0.79
8   2023- 10- 13  1348.96  1349.40  0.24
9   2023- 10- 16  1352.21  1353.08 -0.32
10  2023- 10- 17  1347.91  1348.25  0.38
11  2023- 10- 18  1352.98  1353.55  0.07
12  2023- 10- 19  1353.86  1355.48  0.16
13  2023- 10- 20  1356.02  1357.11 -0.51
14  2023- 10- 23  1349.08  1350.34 -0.52
15  2023- 10- 24  1342.12  1343.69  0.13
16  2023- 10- 25  1343.88  1344.34  0.64
17  2023- 10- 26  1352.44  1352.90  0.02
18  2023- 10- 27  1352.69  1353.57  0.16
19  2023- 10- 30  1354.91  1357.05 -0.68
20  2023- 10- 31  1345.63  1346.49  0.48
21  2023- 11- 01  1352.15  1353.15 -0.32
22  2023- 11- 02  1347.79  1348.82 -1.05
23  2023- 11- 03  1333.59  1334.31 -0.99

In [9]:
usd['야간 변동률'] = round((usd['시가'] - usd['종가']) / usd['종가'] * 100, 3)

In [12]:
usd = usd[5:]

In [13]:
usd = usd.reset_index(drop=True)

In [14]:
usd['날짜'] = pd.to_datetime(usd['날짜'])

In [15]:
usd.reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../test_feature/clean_feature/usd.csv')

In [16]:
usd

           날짜       종가       시가  변동 %  야간 변동률
0  2023-10-10  1346.51  1347.67 -0.38   0.086
1  2023-10-11  1341.33  1342.62 -0.22   0.096
2  2023-10-12  1338.42  1339.54  0.79   0.084
3  2023-10-13  1348.96  1349.40  0.24   0.033
4  2023-10-16  1352.21  1353.08 -0.32   0.064
5  2023-10-17  1347.91  1348.25  0.38   0.025
6  2023-10-18  1352.98  1353.55  0.07   0.042
7  2023-10-19  1353.86  1355.48  0.16   0.120
8  2023-10-20  1356.02  1357.11 -0.51   0.080
9  2023-10-23  1349.08  1350.34 -0.52   0.093
10 2023-10-24  1342.12  1343.69  0.13   0.117
11 2023-10-25  1343.88  1344.34  0.64   0.034
12 2023-10-26  1352.44  1352.90  0.02   0.034
13 2023-10-27  1352.69  1353.57  0.16   0.065
14 2023-10-30  1354.91  1357.05 -0.68   0.158
15 2023-10-31  1345.63  1346.49  0.48   0.064
16 2023-11-01  1352.15  1353.15 -0.32   0.074
17 2023-11-02  1347.79  1348.82 -1.05   0.076
18 2023-11-03  1333.59  1334.31 -0.99   0.054