In [24]:
import pandas as pd

In [25]:
cny = pd.read_csv('../data/CNY_KRW.csv', index_col=0)
cny

                  종가      시가      고가      저가  거래량    변동 %
날짜
2023- 10- 31  184.32  184.34  184.35  184.11  NaN  -0.01%
2023- 10- 30  184.34  185.34  185.34  183.82  NaN  -0.54%
2023- 10- 29  185.34  185.35  185.35  185.34  NaN   0.10%
2023- 10- 27  185.16  185.02  185.63  184.23  NaN   0.15%
2023- 10- 26  184.88  184.89  185.93  184.73  NaN   0.04%
...              ...     ...     ...     ...  ...     ...
2022- 10- 19  198.48  197.90  198.80  196.01  NaN   0.34%
2022- 10- 18  197.81  198.99  199.05  197.21  NaN  -0.51%
2022- 10- 17  198.83  200.59  200.63  198.60  NaN  -0.72%
2022- 10- 14  200.27  199.51  200.59  198.63  NaN   0.38%
2022- 10- 13  199.51  198.60  201.13  198.21  NaN   0.53%

[275 rows x 6 columns]

In [26]:
cny = cny[::-1]

In [27]:
cny = cny.reset_index()

In [28]:
cny = cny[['날짜', '종가', '시가']]

In [29]:
cny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      275 non-null    object
 1   종가      275 non-null    float64
 2   시가      275 non-null    float64
dtypes: float64(2), object(1)
memory usage: 6.6+ KB

In [30]:
cny['종가'] = cny['종가'].shift(1)

In [31]:
cny['야간 변동률'] = round((cny['시가'] - cny['종가']) / cny['종가'] * 100, 3)

In [32]:
cny = cny.dropna()

In [33]:
cny = cny[1:266]

In [34]:
cny = cny.reset_index(drop=True)

In [35]:
cny['날짜'] = pd.to_datetime(cny['날짜'])

In [36]:
cny[['날짜', '야간 변동률']].to_csv("../year_clean_feature/cny.csv")

In [37]:
cny[120:]

            날짜      종가      시가  야간 변동률
120 2023-04-03  190.11  190.20   0.047
121 2023-04-04  190.23  190.27   0.021
122 2023-04-05  190.37  190.49   0.063
123 2023-04-06  191.39  191.49   0.052
124 2023-04-07  191.74  191.83   0.047
..         ...     ...     ...     ...
260 2023-10-16  185.06  185.21   0.081
261 2023-10-17  184.36  184.41   0.027
262 2023-10-18  184.96  185.10   0.076
263 2023-10-19  185.06  185.29   0.124
264 2023-10-20  185.39  185.57   0.097

[145 rows x 4 columns]

In [38]:
cny[120:].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../half_clean_feature/cny_half.csv')

In [39]:
cny[205:].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../quater_clean_feature/cny_quater.csv')