In [20]:
import pandas as pd

In [21]:
pc = pd.read_csv('../data/put_call.csv', index_col=0, encoding='cp949')

In [22]:
pc

            거래량_PUT  거래량_CALL  P/C Ratio
일자
2023/10/30   899910    966801       0.93
2023/10/27   864639    851723       1.02
2023/10/26  1132299   1004508       1.13
2023/10/25   754462    739334       1.02
2023/10/24  1128189   1065679       1.06
...             ...       ...        ...
2022/10/19   822528    783365       1.05
2022/10/18   859456    766793       1.12
2022/10/17   656645    669194       0.98
2022/10/14   636454    674846       0.94
2022/10/13  2024396   2302016       0.88

[259 rows x 3 columns]

In [23]:
pc = pc[::-1]

In [24]:
pc = pc.reset_index()

In [25]:
pc

             일자  거래량_PUT  거래량_CALL  P/C Ratio
0    2022/10/13  2024396   2302016       0.88
1    2022/10/14   636454    674846       0.94
2    2022/10/17   656645    669194       0.98
3    2022/10/18   859456    766793       1.12
4    2022/10/19   822528    783365       1.05
..          ...      ...       ...        ...
254  2023/10/24  1128189   1065679       1.06
255  2023/10/25   754462    739334       1.02
256  2023/10/26  1132299   1004508       1.13
257  2023/10/27   864639    851723       1.02
258  2023/10/30   899910    966801       0.93

[259 rows x 4 columns]

In [26]:
pc['거래량_CALL_shift'] = pc['거래량_CALL'].shift(1)
pc['거래량_PUT_shift'] = pc['거래량_PUT'].shift(1)
pc['P/C Ratio'] = pc['P/C Ratio'].shift(1)

In [27]:
pc['CALL_vol_change(%)'] = round((pc['거래량_CALL'] - pc['거래량_CALL_shift']) / pc['거래량_CALL_shift'] * 100, 3)
pc['PUT_vol_change(%)'] = round((pc['거래량_PUT'] - pc['거래량_PUT_shift']) / pc['거래량_PUT_shift'] * 100, 3)

In [28]:
pc['CALL_vol_fluc'] = pc['거래량_CALL'] - pc['거래량_CALL_shift']
pc['PUT_vol_fluc'] = pc['거래량_PUT'] - pc['거래량_PUT_shift']

In [29]:
pc['CALL_vol_change(%)'] = pc['CALL_vol_change(%)'].shift(1)
pc['PUT_vol_change(%)'] = pc['PUT_vol_change(%)'].shift(1)
pc['CALL_vol_fluc'] = pc['CALL_vol_fluc'].shift(1)
pc['PUT_vol_fluc'] = pc['PUT_vol_fluc'].shift(1)

In [30]:
pc = pc.dropna()

In [31]:
pc['일자'] = pd.to_datetime(pc['일자'])

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39514/2185229811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pc['일자'] = pd.to_datetime(pc['일자'])

In [32]:
pc

,일자,거래량_PUT,거래량_CALL,P/C Ratio,거래량_CALL_shift,거래량_PUT_shift,CALL_vol_change(%),PUT_vol_change(%),CALL_vol_fluc,PUT_vol_fluc
2,2022-10-17,656645,669194,0.94,674846.0,636454.0,-70.685,-68.561,-1627170.0,-1387942.0
3,2022-10-18,859456,766793,0.98,669194.0,656645.0,-0.838,3.172,-5652.0,20191.0
4,2022-10-19,822528,783365,1.12,766793.0,859456.0,14.585,30.886,97599.0,202811.0
5,2022-10-20,909662,861409,1.05,783365.0,822528.0,2.161,-4.297,16572.0,-36928.0
6,2022-10-21,562567,686212,1.06,861409.0,909662.0,9.963,10.593,78044.0,87134.0
...,...,...,...,...,...,...,...,...,...,...
254,2023-10-24,1128189,1065679,0.84,771528.0,649313.0,-11.044,-35.320,-95789.0,-354578.0
255,2023-10-25,754462,739334,1.06,1065679.0,1128189.0,38.126,73.751,294151.0,478876.0
256,2023-10-26,1132299,1004508,1.02,739334.0,754462.0,-30.623,-33.126,-326345.0,-373727.0
257,2023-10-27,864639,851723,1.13,1004508.0,1132299.0,35.867,50.080,265174.0,377837.0
258,2023-10-30,899910,966801,1.02,851723.0,864639.0,-15.210,-23.639,-152785.0,-267660.0

In [33]:
pc = pc[:251].reset_index(drop=True)

In [34]:
pc[['일자', 'P/C Ratio', 'CALL_vol_change(%)', 'PUT_vol_change(%)', 'CALL_vol_fluc', 'PUT_vol_fluc']].to_csv('../year_clean_feature/put_call_year.csv')

In [35]:
pc[116:]

,일자,거래량_PUT,거래량_CALL,P/C Ratio,거래량_CALL_shift,거래량_PUT_shift,CALL_vol_change(%),PUT_vol_change(%),CALL_vol_fluc,PUT_vol_fluc
116,2023-04-03,685618,641175,1.01,724353.0,731422.0,-3.922,-9.261,-29567.0,-74646.0
117,2023-04-04,678443,628500,1.07,641175.0,685618.0,-11.483,-6.262,-83178.0,-45804.0
118,2023-04-05,655137,579209,1.08,628500.0,678443.0,-1.977,-1.047,-12675.0,-7175.0
119,2023-04-06,894001,926795,1.13,579209.0,655137.0,-7.843,-3.435,-49291.0,-23306.0
120,2023-04-07,1001495,1145711,0.96,926795.0,894001.0,60.010,36.460,347586.0,238864.0
...,...,...,...,...,...,...,...,...,...,...
246,2023-10-16,720552,729240,1.10,416248.0,457029.0,-77.699,-76.269,-1450242.0,-1468807.0
247,2023-10-17,848048,732163,0.99,729240.0,720552.0,75.194,57.660,312992.0,263523.0
248,2023-10-18,648691,538463,1.16,732163.0,848048.0,0.401,17.694,2923.0,127496.0
249,2023-10-19,795133,672234,1.20,538463.0,648691.0,-26.456,-23.508,-193700.0,-199357.0
250,2023-10-20,1003891,867317,1.18,672234.0,795133.0,24.843,22.575,133771.0,146442.0

In [36]:
pc[116:].reset_index(drop=True)[['일자', 'P/C Ratio', 'CALL_vol_change(%)', 'PUT_vol_change(%)', 'CALL_vol_fluc', 'PUT_vol_fluc']].to_csv('../half_clean_feature/put_call_half.csv')

In [37]:
pc[197:].reset_index(drop=True)[['일자', 'P/C Ratio', 'CALL_vol_change(%)', 'PUT_vol_change(%)', 'CALL_vol_fluc', 'PUT_vol_fluc']].to_csv('../quater_clean_feature/put_call_quater.csv')