In [19]:
import pandas as pd

In [20]:
vkospi = pd.read_csv('../data/VKOSPI.csv', index_col=0)

In [21]:
vkospi

                 종가     시가     고가     저가  거래량     변동 %
날짜
2023- 10- 31  19.89  19.25  20.12  19.05  NaN   -0.70%
2023- 10- 30  20.03  21.04  21.04  19.88  NaN    0.05%
2023- 10- 27  20.02  19.98  20.41  19.79  NaN   -5.30%
2023- 10- 26  21.14  20.19  21.19  19.87  NaN   13.90%
2023- 10- 25  18.56  18.39  18.67  18.29  NaN   -1.38%
...             ...    ...    ...    ...  ...      ...
2022- 10- 17  24.40  25.44  25.66  24.31  NaN    1.92%
2022- 10- 14  23.94  24.81  24.86  23.94  NaN  -12.05%
2022- 10- 13  27.22  25.25  27.47  25.15  NaN   10.25%
2022- 10- 12  24.69  25.77  25.77  24.69  NaN   -4.23%
2022- 10- 11  25.78  26.53  26.89  25.69  NaN    7.73%

[262 rows x 6 columns]

In [22]:
vkospi = vkospi[::-1]

In [23]:
vkospi = vkospi.reset_index()

In [24]:
label = []

for i in range(len(vkospi['날짜'])):
	if vkospi['시가'][i] > vkospi['종가'][i]:
		result = 0
		label.append(result)
	else:
		result = 1
		label.append(result)

print(label)

[0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1]

In [25]:
vkospi

               날짜     종가     시가     고가     저가  거래량     변동 %
0    2022- 10- 11  25.78  26.53  26.89  25.69  NaN    7.73%
1    2022- 10- 12  24.69  25.77  25.77  24.69  NaN   -4.23%
2    2022- 10- 13  27.22  25.25  27.47  25.15  NaN   10.25%
3    2022- 10- 14  23.94  24.81  24.86  23.94  NaN  -12.05%
4    2022- 10- 17  24.40  25.44  25.66  24.31  NaN    1.92%
..            ...    ...    ...    ...    ...  ...      ...
257  2023- 10- 25  18.56  18.39  18.67  18.29  NaN   -1.38%
258  2023- 10- 26  21.14  20.19  21.19  19.87  NaN   13.90%
259  2023- 10- 27  20.02  19.98  20.41  19.79  NaN   -5.30%
260  2023- 10- 30  20.03  21.04  21.04  19.88  NaN    0.05%
261  2023- 10- 31  19.89  19.25  20.12  19.05  NaN   -0.70%

[262 rows x 7 columns]

In [26]:
label_df = pd.DataFrame(label, columns=['VKOSPI_Label'])

In [27]:
vkospi = pd.concat([vkospi, label_df], axis=1)

In [28]:
vkospi

               날짜     종가     시가     고가     저가  거래량     변동 %  VKOSPI_Label
0    2022- 10- 11  25.78  26.53  26.89  25.69  NaN    7.73%             0
1    2022- 10- 12  24.69  25.77  25.77  24.69  NaN   -4.23%             0
2    2022- 10- 13  27.22  25.25  27.47  25.15  NaN   10.25%             1
3    2022- 10- 14  23.94  24.81  24.86  23.94  NaN  -12.05%             0
4    2022- 10- 17  24.40  25.44  25.66  24.31  NaN    1.92%             0
..            ...    ...    ...    ...    ...  ...      ...           ...
257  2023- 10- 25  18.56  18.39  18.67  18.29  NaN   -1.38%             1
258  2023- 10- 26  21.14  20.19  21.19  19.87  NaN   13.90%             1
259  2023- 10- 27  20.02  19.98  20.41  19.79  NaN   -5.30%             1
260  2023- 10- 30  20.03  21.04  21.04  19.88  NaN    0.05%             0
261  2023- 10- 31  19.89  19.25  20.12  19.05  NaN   -0.70%             1

[262 rows x 8 columns]

In [29]:
vkospi = vkospi[4:255]

In [30]:
vkospi

               날짜     종가     시가     고가     저가  거래량    변동 %  VKOSPI_Label
4    2022- 10- 17  24.40  25.44  25.66  24.31  NaN   1.92%             0
5    2022- 10- 18  22.86  23.09  23.81  22.86  NaN  -6.31%             0
6    2022- 10- 19  23.21  22.82  23.24  22.25  NaN   1.53%             1
7    2022- 10- 20  24.04  23.45  24.38  23.42  NaN   3.58%             1
8    2022- 10- 21  23.94  24.01  24.18  23.89  NaN  -0.42%             0
..            ...    ...    ...    ...    ...  ...     ...           ...
250  2023- 10- 16  17.07  16.92  17.63  16.76  NaN   7.02%             1
251  2023- 10- 17  16.18  16.23  16.49  15.98  NaN  -5.21%             0
252  2023- 10- 18  16.00  16.36  16.43  15.90  NaN  -1.11%             0
253  2023- 10- 19  18.23  17.34  18.23  17.18  NaN  13.94%             1
254  2023- 10- 20  19.53  19.02  20.36  18.95  NaN   7.13%             1

[251 rows x 8 columns]

In [31]:
vkospi['날짜'] = pd.to_datetime(vkospi['날짜'])

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39845/614166718.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vkospi['날짜'] = pd.to_datetime(vkospi['날짜'])

In [32]:
vkospi[['날짜', 'VKOSPI_Label']].reset_index(drop=True).to_csv("../year_clean_feature/vkospi_year.csv")

In [33]:
vkospi[116:][['날짜', 'VKOSPI_Label']].reset_index(drop=True).to_csv("../half_clean_feature/vkospi_half.csv")

In [34]:
vkospi[197:][['날짜', 'VKOSPI_Label']].reset_index(drop=True).to_csv("../quater_clean_feature/vkospi_quater.csv")