In [45]:
import pandas as pd

In [46]:
feature_list = []

In [47]:
basis = pd.read_csv('./half_clean_feature/basis_half.csv', index_col=0)
basis['일자'] = pd.to_datetime(basis['일자'])
basis = basis.set_index('일자')
feature_list.append(basis)
basis.info()
basis.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121 entries, 2023-04-10 to 2023-10-06
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시장베이시스  121 non-null    float64
 1   이론베이시스  119 non-null    float64
 2   괴리율     119 non-null    float64
dtypes: float64(3)
memory usage: 3.8 KB

            시장베이시스  이론베이시스   괴리율
일자
2023-04-10    1.49    1.97 -0.15
2023-04-11    1.57    1.86 -0.09
2023-04-12    1.28    1.83 -0.17

In [48]:
cny = pd.read_csv('./half_clean_feature/cny_half.csv', index_col=0)
cny['날짜'] = pd.to_datetime(cny['날짜'])
cny = cny.set_index('날짜')
cny.columns = ['원위안 야간변동율']
feature_list.append(cny)
cny.info()
cny.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 130 entries, 2023-04-10 to 2023-10-06
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원위안 야간변동율  130 non-null    float64
dtypes: float64(1)
memory usage: 2.0 KB

            원위안 야간변동율
날짜
2023-04-10      0.037
2023-04-11      0.042
2023-04-12      0.036

In [49]:
jpy = pd.read_csv('./half_clean_feature/jpy_half.csv', index_col=0)
jpy['날짜'] = pd.to_datetime(jpy['날짜'])
jpy = jpy.set_index('날짜')
jpy.columns = ['원엔 야간변동율']
feature_list.append(jpy)
jpy.info()
jpy.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 130 entries, 2023-04-10 to 2023-10-06
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   원엔 야간변동율  130 non-null    float64
dtypes: float64(1)
memory usage: 2.0 KB

            원엔 야간변동율
날짜
2023-04-10     0.029
2023-04-11     0.038
2023-04-12     0.051

In [50]:
kospi = pd.read_csv('./half_clean_feature/kospi_half.csv', index_col=0)
kospi['날짜'] = pd.to_datetime(kospi['날짜'])
kospi = kospi.set_index('날짜')
kospi.columns = ['KOSPI 전날변동율', 'KOSPI 야간변동율']
feature_list.append(kospi)
kospi.info()
kospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121 entries, 2023-04-10 to 2023-10-06
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KOSPI 전날변동율  121 non-null    float64
 1   KOSPI 야간변동율  121 non-null    float64
dtypes: float64(2)
memory usage: 2.8 KB

            KOSPI 전날변동율  KOSPI 야간변동율
날짜
2023-04-10         1.27        0.051
2023-04-11         0.87        0.448
2023-04-12         1.42       -0.059

In [51]:
ks200 = pd.read_csv('./half_clean_feature/ks200_half.csv', index_col=0)
ks200['날짜'] = pd.to_datetime(ks200['날짜'])
ks200 = ks200.set_index('날짜')
ks200.columns = ['KS200 전날변동율', 'KS200 야간변동율']
feature_list.append(ks200)
ks200.info()
ks200.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121 entries, 2023-04-10 to 2023-10-06
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KS200 전날변동율  121 non-null    float64
 1   KS200 야간변동율  121 non-null    float64
dtypes: float64(2)
memory usage: 2.8 KB

            KS200 전날변동율  KS200 야간변동율
날짜
2023-04-10         1.74       -0.028
2023-04-11         0.93        0.496
2023-04-12         1.38        0.003

In [52]:
nas = pd.read_csv('./half_clean_feature/nas_half.csv', index_col=0)
nas['날짜'] = pd.to_datetime(nas['날짜'])
nas = nas.set_index('날짜')
nas.columns = ['NAS 야간변동율', 'NAS 당일변동율', 'NAS 당일변화량']
feature_list.append(nas)
nas.info()
nas.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 126 entries, 2023-04-10 to 2023-10-06
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NAS 야간변동율  126 non-null    float64
 1   NAS 당일변동율  126 non-null    float64
 2   NAS 당일변화량  126 non-null    float64
dtypes: float64(3)
memory usage: 3.9 KB

            NAS 야간변동율  NAS 당일변동율  NAS 당일변화량
날짜
2023-04-10       0.76      1.247     200.14
2023-04-11      -0.03      0.912     160.75
2023-04-12      -0.43     -0.400      79.87

In [53]:
pc = pd.read_csv('./half_clean_feature/put_call_half.csv', index_col=0)
pc['일자'] = pd.to_datetime(pc['일자'])
pc = pc.set_index('일자')
feature_list.append(pc)
pc.info()
pc.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121 entries, 2023-04-10 to 2023-10-06
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   P/C Ratio           121 non-null    float64
 1   CALL_vol_change(%)  121 non-null    float64
 2   PUT_vol_change(%)   121 non-null    float64
 3   CALL_vol_fluc       121 non-null    float64
 4   PUT_vol_fluc        121 non-null    float64
dtypes: float64(5)
memory usage: 5.7 KB

,P/C Ratio,CALL_vol_change(%),PUT_vol_change(%),CALL_vol_fluc,PUT_vol_fluc
일자,,,,,
2023-04-10,0.87,23.621,12.024,218916.0,107494.0
2023-04-11,0.79,43.844,29.791,502320.0,298358.0
2023-04-12,0.82,25.224,29.671,415705.0,385678.0

In [54]:
snp = pd.read_csv('./half_clean_feature/snp_half.csv', index_col=0)
snp['날짜'] = pd.to_datetime(snp['날짜'])
snp = snp.set_index('날짜')
snp.columns = ['S&P 야간변동율', 'S&P 당일변동율', 'S&P 당일변화량']
feature_list.append(snp)
snp.info()
snp.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 126 entries, 2023-04-10 to 2023-10-06
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   S&P 야간변동율  126 non-null    float64
 1   S&P 당일변동율  126 non-null    float64
 2   S&P 당일변화량  126 non-null    float64
dtypes: float64(3)
memory usage: 3.9 KB

            S&P 야간변동율  S&P 당일변동율  S&P 당일변화량
날짜
2023-04-10       0.36      0.585      37.48
2023-04-11       0.10      0.585      36.95
2023-04-12       0.00     -0.033      21.65

In [55]:
usd = pd.read_csv('./half_clean_feature/usd_half.csv', index_col=0)
usd['날짜'] = pd.to_datetime(usd['날짜'])
usd = usd.set_index('날짜')
usd.columns = ['원달러 야간변동율']
feature_list.append(usd)
usd.info()
usd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 130 entries, 2023-04-10 to 2023-10-06
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원달러 야간변동율  130 non-null    float64
dtypes: float64(1)
memory usage: 2.0 KB

            원달러 야간변동율
날짜
2023-04-10      0.007
2023-04-11      0.028
2023-04-12      0.032

In [56]:
vix = pd.read_csv('./half_clean_feature/vix_half.csv', index_col=0)
vix['날짜'] = pd.to_datetime(vix['날짜'])
vix = vix.set_index('날짜')
vix.columns = ['VIX 전날변동율', 'VIX 당일변동율', 'VIX 당일변화량']
feature_list.append(vix)
vix.info()
vix.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 130 entries, 2023-04-10 to 2023-10-06
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VIX 전날변동율  130 non-null    float64
 1   VIX 당일변동율  130 non-null    float64
 2   VIX 당일변화량  130 non-null    float64
dtypes: float64(3)
memory usage: 4.1 KB

            VIX 전날변동율  VIX 당일변동율  VIX 당일변화량
날짜
2023-04-10       0.00      0.000       0.00
2023-04-11       3.10     -2.166       1.12
2023-04-12       0.69      0.105       0.72

In [57]:
jniv = pd.read_csv('./half_clean_feature/jniv_half.csv', index_col=0)
jniv['날짜'] = pd.to_datetime(jniv['날짜'])
jniv = jniv.set_index('날짜')
jniv.columns = ['JNIV 종가변동율', 'JNIV 전날변동율', 'JNIV 전날변화량']
feature_list.append(jniv)
jniv.info()
jniv.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 124 entries, 2023-04-10 to 2023-10-06
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JNIV 종가변동율  124 non-null    float64
 1   JNIV 전날변동율  124 non-null    float64
 2   JNIV 전날변화량  124 non-null    float64
dtypes: float64(3)
memory usage: 3.9 KB

            JNIV 종가변동율  JNIV 전날변동율  JNIV 전날변화량
날짜
2023-04-10        0.57       1.257        0.46
2023-04-11       -2.37       0.698        0.47
2023-04-12       -0.92       2.758        0.74

In [58]:
cd = pd.read_csv('./half_clean_feature/cd_half.csv', index_col=0)
cd['date'] = pd.to_datetime(cd['date'])
cd = cd.set_index('date')
cd.columns = ['CD 전날변동율', 'CD 전날변화량']
feature_list.append(cd)
cd.info()
cd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121 entries, 2023-04-10 to 2023-10-06
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CD 전날변동율  121 non-null    float64
 1   CD 전날변화량  121 non-null    float64
dtypes: float64(2)
memory usage: 2.8 KB

            CD 전날변동율  CD 전날변화량
date
2023-04-10    -1.397      0.05
2023-04-11    -0.567      0.02
2023-04-12    -0.855      0.03

In [59]:
vkospi = pd.read_csv('./half_clean_feature/vkospi_half.csv', index_col=0)
vkospi['날짜'] = pd.to_datetime(vkospi['날짜'])
vkospi = vkospi.set_index('날짜')
feature_list.append(vkospi)
vkospi.info()
vkospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121 entries, 2023-04-10 to 2023-10-06
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VKOSPI_Label  121 non-null    float64
dtypes: float64(1)
memory usage: 1.9 KB

            VKOSPI_Label
날짜
2023-04-10           0.0
2023-04-11           1.0
2023-04-12           0.0

In [60]:
df = pd.concat(feature_list, axis=1)

In [61]:
df = df.dropna(subset=['VKOSPI_Label'])

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 121 entries, 2023-04-10 to 2023-10-06
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   시장베이시스              121 non-null    float64
 1   이론베이시스              119 non-null    float64
 2   괴리율                 119 non-null    float64
 3   원위안 야간변동율           121 non-null    float64
 4   원엔 야간변동율            121 non-null    float64
 5   KOSPI 전날변동율         121 non-null    float64
 6   KOSPI 야간변동율         121 non-null    float64
 7   KS200 전날변동율         121 non-null    float64
 8   KS200 야간변동율         121 non-null    float64
 9   NAS 야간변동율           118 non-null    float64
 10  NAS 당일변동율           118 non-null    float64
 11  NAS 당일변화량           118 non-null    float64
 12  P/C Ratio           121 non-null    float64
 13  CALL_vol_change(%)  121 non-null    float64
 14  PUT_vol_change(%)   121 non-null    float64
 15  CALL_vol_fluc       121 non-null    float64
 16  PUT_vol_fluc        121 non-null    float64
 17  S&P 야간변동율           118 non-null    float64
 18  S&P 당일변동율           118 non-null    float64
 19  S&P 당일변화량           118 non-null    float64
 20  원달러 야간변동율           121 non-null    float64
 21  VIX 전날변동율           121 non-null    float64
 22  VIX 당일변동율           121 non-null    float64
 23  VIX 당일변화량           121 non-null    float64
 24  JNIV 종가변동율          116 non-null    float64
 25  JNIV 전날변동율          116 non-null    float64
 26  JNIV 전날변화량          116 non-null    float64
 27  CD 전날변동율            121 non-null    float64
 28  CD 전날변화량            121 non-null    float64
 29  VKOSPI_Label        121 non-null    float64
dtypes: float64(30)
memory usage: 29.3 KB

In [63]:
df = df.fillna(method='ffill')

In [64]:
df.to_csv('./half_features.csv')

In [65]:
df['VKOSPI_Label'].value_counts()

VKOSPI_Label
0.0    87
1.0    34
Name: count, dtype: int64

In [66]:
len(df.columns)

30