In [45]:
import pandas as pd

In [46]:
feature_list = []

In [47]:
basis = pd.read_csv('./quater_clean_feature/basis_quater.csv', index_col=0)
basis['일자'] = pd.to_datetime(basis['일자'])
basis = basis.set_index('일자')
feature_list.append(basis)
basis.info()
basis

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 54 entries, 2023-07-31 to 2023-10-20
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시장베이시스  54 non-null     float64
 1   이론베이시스  53 non-null     float64
 2   괴리율     53 non-null     float64
dtypes: float64(3)
memory usage: 1.7 KB

            시장베이시스  이론베이시스   괴리율
일자
2023-07-31    1.22    1.69 -0.14
2023-08-01    1.63    1.59  0.01
2023-08-02    1.35    1.58 -0.07
2023-08-03    1.00    1.51 -0.15
2023-08-04    1.16    1.47 -0.09
2023-08-07    1.05    1.43 -0.11
2023-08-08    1.27    1.32 -0.01
2023-08-09    1.20    1.27 -0.02
2023-08-10    0.89    1.25 -0.10
2023-08-11   -0.01    1.21 -0.36
2023-08-14    1.47    1.16  0.09
2023-08-16    0.92    1.05 -0.04
2023-08-17    1.07    0.97  0.03
2023-08-18    0.77    0.94 -0.05
2023-08-21    0.08    0.90 -0.25
2023-08-22    0.11    0.80 -0.21
2023-08-23    0.30    0.77 -0.14
2023-08-24    0.50    0.73 -0.07
2023-08-25    0.08    0.71 -0.19
2023-08-28   -0.05    0.67 -0.22
2023-08-29    0.12    0.57 -0.14
2023-08-30   -0.31    0.54 -0.25
2023-08-31   -0.19    0.51 -0.21
2023-09-01    0.20    0.47 -0.08
2023-09-04   -0.43    0.44 -0.26
2023-09-05   -0.27    0.34 -0.18
2023-09-06    0.21    0.31 -0.03
2023-09-07   -0.05    0.27 -0.09
2023-09-08   -0.44    0.24 -0.20
2023-09-11    0.35    0.21  0.04
2023-09-12    0.47    0.10  0.11
2023-09-13    0.21    0.07  0.04
2023-09-14    0.11    0.03  0.02
2023-09-15   -0.89     NaN   NaN
2023-09-18    1.92    2.38 -0.13
2023-09-19    2.28    2.25  0.01
2023-09-20    1.93    2.20 -0.08
2023-09-21    1.85    2.18 -0.10
2023-09-22    1.16    2.10 -0.28
2023-09-25    0.83    2.07 -0.37
2023-09-26    1.52    1.96 -0.13
2023-09-27    1.45    2.71 -0.38
2023-10-04    2.29    2.67 -0.12
2023-10-05    0.65    2.38 -0.54
2023-10-06    1.17    2.35 -0.37
2023-10-10    1.56    2.31 -0.23
2023-10-11    2.34    2.17  0.05
2023-10-12    2.26    2.18  0.02
2023-10-13    1.60    2.17 -0.17
2023-10-16    2.08    2.11 -0.01
2023-10-17    1.56    2.00 -0.14
2023-10-18    1.45    1.99 -0.16
2023-10-19    1.38    1.96 -0.18
2023-10-20    0.94    1.89 -0.29

In [48]:
cny = pd.read_csv('./quater_clean_feature/cny_quater.csv', index_col=0)
cny['날짜'] = pd.to_datetime(cny['날짜'])
cny = cny.set_index('날짜')
cny.columns = ['원위안 야간변동율']
feature_list.append(cny)
cny.info()
cny.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 60 entries, 2023-07-31 to 2023-10-20
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원위안 야간변동율  60 non-null     float64
dtypes: float64(1)
memory usage: 960.0 bytes

            원위안 야간변동율
날짜
2023-07-31      0.045
2023-08-01      0.034
2023-08-02      0.033

In [49]:
jpy = pd.read_csv('./quater_clean_feature/jpy_quater.csv', index_col=0)
jpy['날짜'] = pd.to_datetime(jpy['날짜'])
jpy = jpy.set_index('날짜')
jpy.columns = ['원엔 야간변동율']
feature_list.append(jpy)
jpy.info()
jpy.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 60 entries, 2023-07-31 to 2023-10-20
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   원엔 야간변동율  60 non-null     float64
dtypes: float64(1)
memory usage: 960.0 bytes

            원엔 야간변동율
날짜
2023-07-31     0.162
2023-08-01     0.043
2023-08-02     0.036

In [50]:
kospi = pd.read_csv('./quater_clean_feature/kospi_quater.csv', index_col=0)
kospi['날짜'] = pd.to_datetime(kospi['날짜'])
kospi = kospi.set_index('날짜')
kospi.columns = ['kospi 전날변동율', 'kospi 야간변동율']
feature_list.append(kospi)
kospi.info()
kospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 54 entries, 2023-07-31 to 2023-10-20
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   kospi 전날변동율  54 non-null     float64
 1   kospi 야간변동율  54 non-null     float64
dtypes: float64(2)
memory usage: 1.3 KB

            kospi 전날변동율  kospi 야간변동율
날짜
2023-07-31         0.17        0.788
2023-08-01         0.93        0.447
2023-08-02         1.31       -0.583

In [51]:
ks200 = pd.read_csv('./quater_clean_feature/ks200_quater.csv', index_col=0)
ks200['날짜'] = pd.to_datetime(ks200['날짜'])
ks200 = ks200.set_index('날짜')
ks200.columns = ['ks200 전날변동율', 'ks200 야간변동율']
feature_list.append(ks200)
ks200.info()
ks200.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 54 entries, 2023-07-31 to 2023-10-20
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ks200 전날변동율  54 non-null     float64
 1   ks200 야간변동율  54 non-null     float64
dtypes: float64(2)
memory usage: 1.3 KB

            ks200 전날변동율  ks200 야간변동율
날짜
2023-07-31        -0.21        0.718
2023-08-01         0.46        0.501
2023-08-02         1.56       -0.541

In [52]:
nas = pd.read_csv('./quater_clean_feature/nas_quater.csv', index_col=0)
nas['날짜'] = pd.to_datetime(nas['날짜'])
nas = nas.set_index('날짜')
nas.columns = ['nas 야간변동율', 'nas 당일변동율', 'nas 당일변화량']
feature_list.append(nas)
nas.info()
nas.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 59 entries, 2023-07-31 to 2023-10-20
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nas 야간변동율  59 non-null     float64
 1   nas 당일변동율  59 non-null     float64
 2   nas 당일변화량  59 non-null     float64
dtypes: float64(3)
memory usage: 1.8 KB

            nas 야간변동율  nas 당일변동율  nas 당일변화량
날짜
2023-07-31       1.90      0.823     156.25
2023-08-01       0.21      0.057      78.16
2023-08-02      -0.43      0.063      93.57

In [53]:
pc = pd.read_csv('./quater_clean_feature/put_call_quater.csv', index_col=0)
pc['일자'] = pd.to_datetime(pc['일자'])
pc = pc.set_index('일자')
feature_list.append(pc)
pc.info()
pc.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 54 entries, 2023-07-31 to 2023-10-20
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   P/C Ratio           54 non-null     float64
 1   CALL_vol_change(%)  54 non-null     float64
 2   PUT_vol_change(%)   54 non-null     float64
 3   CALL_vol_fluc       54 non-null     float64
 4   PUT_vol_fluc        54 non-null     float64
dtypes: float64(5)
memory usage: 2.5 KB

,P/C Ratio,CALL_vol_change(%),PUT_vol_change(%),CALL_vol_fluc,PUT_vol_fluc
일자,,,,,
2023-07-31,1.13,-7.832,5.178,-70849.0,46302.0
2023-08-01,0.97,17.359,0.882,144734.0,8298.0
2023-08-02,0.99,20.248,22.169,198130.0,210349.0

In [54]:
snp = pd.read_csv('./quater_clean_feature/snp_quater.csv', index_col=0)
snp['날짜'] = pd.to_datetime(snp['날짜'])
snp = snp.set_index('날짜')
snp.columns = ['snp 야간변동율', 'snp 당일변동율', 'snp 당일변화량']
feature_list.append(snp)
snp.info()
snp.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 59 entries, 2023-07-31 to 2023-10-20
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   snp 야간변동율  59 non-null     float64
 1   snp 당일변동율  59 non-null     float64
 2   snp 당일변화량  59 non-null     float64
dtypes: float64(3)
memory usage: 1.8 KB

            snp 야간변동율  snp 당일변동율  snp 당일변화량
날짜
2023-07-31       0.99      0.361      26.15
2023-08-01       0.15      0.090      21.08
2023-08-02      -0.27     -0.046      17.09

In [55]:
usd = pd.read_csv('./quater_clean_feature/usd_quater.csv', index_col=0)
usd['날짜'] = pd.to_datetime(usd['날짜'])
usd = usd.set_index('날짜')
usd.columns = ['원달러 야간변동율']
feature_list.append(usd)
usd.info()
usd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 60 entries, 2023-07-31 to 2023-10-20
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원달러 야간변동율  60 non-null     float64
dtypes: float64(1)
memory usage: 960.0 bytes

            원달러 야간변동율
날짜
2023-07-31      0.039
2023-08-01      0.033
2023-08-02      0.031

In [56]:
vix = pd.read_csv('./quater_clean_feature/vix_quater.csv', index_col=0)
vix['날짜'] = pd.to_datetime(vix['날짜'])
vix = vix.set_index('날짜')
vix.columns = ['VIX 전날변동율', 'VIX 당일변동율', 'VIX 당일변화량']
feature_list.append(vix)
vix.info()
vix.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 60 entries, 2023-07-31 to 2023-10-20
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VIX 전날변동율  60 non-null     float64
 1   VIX 당일변동율  60 non-null     float64
 2   VIX 당일변화량  60 non-null     float64
dtypes: float64(3)
memory usage: 1.9 KB

            VIX 전날변동율  VIX 당일변동율  VIX 당일변화량
날짜
2023-07-31      -7.49     -4.989       0.91
2023-08-01       2.25     -2.504       0.52
2023-08-02       2.20      1.309       0.55

In [57]:
jniv = pd.read_csv('./quater_clean_feature/jniv_quater.csv', index_col=0)
jniv['날짜'] = pd.to_datetime(jniv['날짜'])
jniv = jniv.set_index('날짜')
jniv.columns = ['JNIV 종가변동율', 'JNIV 전날변동율', 'JNIV 전날변화량']
feature_list.append(jniv)
jniv.info()
jniv.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 57 entries, 2023-07-31 to 2023-10-20
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JNIV 종가변동율  57 non-null     float64
 1   JNIV 전날변동율  57 non-null     float64
 2   JNIV 전날변화량  57 non-null     float64
dtypes: float64(3)
memory usage: 1.8 KB

            JNIV 종가변동율  JNIV 전날변동율  JNIV 전날변화량
날짜
2023-07-31       -1.22      -0.428        0.56
2023-08-01       -1.45       1.104        0.74
2023-08-02       -1.58      -1.475        1.40

In [58]:
cd = pd.read_csv('./quater_clean_feature/cd_quater.csv', index_col=0)
cd['date'] = pd.to_datetime(cd['date'])
cd = cd.set_index('date')
cd.columns = ['CD 전날변동율', 'CD 전날변화량']
feature_list.append(cd)
cd.info()
cd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 54 entries, 2023-07-31 to 2023-10-20
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CD 전날변동율  54 non-null     float64
 1   CD 전날변화량  54 non-null     float64
dtypes: float64(2)
memory usage: 1.3 KB

            CD 전날변동율  CD 전날변화량
date
2023-07-31       0.0       0.0
2023-08-01       0.0       0.0
2023-08-02       0.0       0.0

In [59]:
ks_mor = pd.read_csv('./quater_clean_feature/ks_mor_quater.csv', index_col=0)
ks_mor['date'] = pd.to_datetime(ks_mor['date'])
ks_mor = ks_mor.set_index('date')
feature_list.append(ks_mor)
ks_mor.info()
ks_mor.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 54 entries, 2023-07-31 to 2023-10-20
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KOSPI 오전변동율  54 non-null     float64
 1   KOSPI 오전변화량  54 non-null     float64
dtypes: float64(2)
memory usage: 1.3 KB

            KOSPI 오전변동율  KOSPI 오전변화량
date
2023-07-31       -0.027        14.00
2023-08-01        0.331        22.87
2023-08-02       -0.035        14.04

In [60]:
ks200_mor = pd.read_csv('./quater_clean_feature/ks200_mor_quater.csv', index_col=0)
ks200_mor['date'] = pd.to_datetime(ks200_mor['date'])
ks200_mor = ks200_mor.set_index('date')
feature_list.append(ks200_mor)
ks200_mor.info()
ks200_mor.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 54 entries, 2023-07-31 to 2023-10-20
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KS200 오전변동율  54 non-null     float64
 1   KS200 오전변화량  54 non-null     float64
dtypes: float64(2)
memory usage: 1.3 KB

            KS200 오전변동율  KS200 오전변화량
date
2023-07-31       -0.038         1.90
2023-08-01        0.186         3.06
2023-08-02       -0.155         1.62

In [61]:
vkospi = pd.read_csv('./quater_clean_feature/vkospi_quater.csv', index_col=0)
vkospi['날짜'] = pd.to_datetime(vkospi['날짜'])
vkospi = vkospi.set_index('날짜')
feature_list.append(vkospi)
vkospi.info()
vkospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 54 entries, 2023-07-31 to 2023-10-20
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VKOSPI_Label  54 non-null     int64
dtypes: int64(1)
memory usage: 864.0 bytes

            VKOSPI_Label
날짜
2023-07-31             0
2023-08-01             0
2023-08-02             1

In [62]:
df = pd.concat(feature_list, axis=1)

In [63]:
df = df.dropna(subset=['VKOSPI_Label'])

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 54 entries, 2023-07-31 to 2023-10-20
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   시장베이시스              54 non-null     float64
 1   이론베이시스              53 non-null     float64
 2   괴리율                 53 non-null     float64
 3   원위안 야간변동율           54 non-null     float64
 4   원엔 야간변동율            54 non-null     float64
 5   kospi 전날변동율         54 non-null     float64
 6   kospi 야간변동율         54 non-null     float64
 7   ks200 전날변동율         54 non-null     float64
 8   ks200 야간변동율         54 non-null     float64
 9   nas 야간변동율           53 non-null     float64
 10  nas 당일변동율           53 non-null     float64
 11  nas 당일변화량           53 non-null     float64
 12  P/C Ratio           54 non-null     float64
 13  CALL_vol_change(%)  54 non-null     float64
 14  PUT_vol_change(%)   54 non-null     float64
 15  CALL_vol_fluc       54 non-null     float64
 16  PUT_vol_fluc        54 non-null     float64
 17  snp 야간변동율           53 non-null     float64
 18  snp 당일변동율           53 non-null     float64
 19  snp 당일변화량           53 non-null     float64
 20  원달러 야간변동율           54 non-null     float64
 21  VIX 전날변동율           54 non-null     float64
 22  VIX 당일변동율           54 non-null     float64
 23  VIX 당일변화량           54 non-null     float64
 24  JNIV 종가변동율          52 non-null     float64
 25  JNIV 전날변동율          52 non-null     float64
 26  JNIV 전날변화량          52 non-null     float64
 27  CD 전날변동율            54 non-null     float64
 28  CD 전날변화량            54 non-null     float64
 29  KOSPI 오전변동율         54 non-null     float64
 30  KOSPI 오전변화량         54 non-null     float64
 31  KS200 오전변동율         54 non-null     float64
 32  KS200 오전변화량         54 non-null     float64
 33  VKOSPI_Label        54 non-null     float64
dtypes: float64(34)
memory usage: 14.8 KB

In [65]:
df = df.fillna(method='ffill')

In [66]:
df.to_csv('./quater_features.csv')