In [1]:
import pandas as pd

In [2]:
feature_list = []

In [3]:
basis = pd.read_csv('./quater_clean_feature/basis_quater.csv', index_col=0)
basis['일자'] = pd.to_datetime(basis['일자'])
basis = basis.set_index('일자')
feature_list.append(basis)
basis.info()
basis

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 80 entries, 2023-06-12 to 2023-10-06
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시장베이시스  80 non-null     float64
 1   이론베이시스  79 non-null     float64
 2   괴리율     79 non-null     float64
dtypes: float64(3)
memory usage: 2.5 KB

            시장베이시스  이론베이시스   괴리율
일자
2023-06-12    2.71    2.38  0.09
2023-06-13    2.08    2.25 -0.05
2023-06-14    2.01    2.24 -0.07
2023-06-15    1.75    2.18 -0.12
2023-06-16    1.96    2.14 -0.05
...            ...     ...   ...
2023-09-26    1.52    1.96 -0.13
2023-09-27    1.45    2.71 -0.38
2023-10-04    2.29    2.67 -0.12
2023-10-05    0.65    2.38 -0.54
2023-10-06    1.17    2.35 -0.37

[80 rows x 3 columns]

In [4]:
cny = pd.read_csv('./quater_clean_feature/cny_quater.csv', index_col=0)
cny['날짜'] = pd.to_datetime(cny['날짜'])
cny = cny.set_index('날짜')
cny.columns = ['원위안 야간변동율']
feature_list.append(cny)
cny.info()
cny.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85 entries, 2023-06-12 to 2023-10-06
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원위안 야간변동율  85 non-null     float64
dtypes: float64(1)
memory usage: 1.3 KB

            원위안 야간변동율
날짜
2023-06-12      0.044
2023-06-13      0.050
2023-06-14      0.045

In [5]:
jpy = pd.read_csv('./quater_clean_feature/jpy_quater.csv', index_col=0)
jpy['날짜'] = pd.to_datetime(jpy['날짜'])
jpy = jpy.set_index('날짜')
jpy.columns = ['원엔 야간변동율']
feature_list.append(jpy)
jpy.info()
jpy.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85 entries, 2023-06-12 to 2023-10-06
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   원엔 야간변동율  85 non-null     float64
dtypes: float64(1)
memory usage: 1.3 KB

            원엔 야간변동율
날짜
2023-06-12     0.003
2023-06-13     0.029
2023-06-14     0.037

In [6]:
kospi = pd.read_csv('./quater_clean_feature/kospi_quater.csv', index_col=0)
kospi['날짜'] = pd.to_datetime(kospi['날짜'])
kospi = kospi.set_index('날짜')
kospi.columns = ['KOSPI 전날변동율', 'KOSPI 야간변동율']
feature_list.append(kospi)
kospi.info()
kospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 80 entries, 2023-06-12 to 2023-10-06
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KOSPI 전날변동율  80 non-null     float64
 1   KOSPI 야간변동율  80 non-null     float64
dtypes: float64(2)
memory usage: 1.9 KB

            KOSPI 전날변동율  KOSPI 야간변동율
날짜
2023-06-12         1.16        0.240
2023-06-13        -0.45        0.574
2023-06-14         0.33        0.108

In [7]:
ks200 = pd.read_csv('./quater_clean_feature/ks200_quater.csv', index_col=0)
ks200['날짜'] = pd.to_datetime(ks200['날짜'])
ks200 = ks200.set_index('날짜')
ks200.columns = ['KS200 전날변동율', 'KS200 야간변동율']
feature_list.append(ks200)
ks200.info()
ks200.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 80 entries, 2023-06-12 to 2023-10-06
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KS200 전날변동율  80 non-null     float64
 1   KS200 야간변동율  80 non-null     float64
dtypes: float64(2)
memory usage: 1.9 KB

            KS200 전날변동율  KS200 야간변동율
날짜
2023-06-12         1.18        0.216
2023-06-13        -0.64        0.682
2023-06-14         0.53        0.029

In [8]:
nas = pd.read_csv('./quater_clean_feature/nas_quater.csv', index_col=0)
nas['날짜'] = pd.to_datetime(nas['날짜'])
nas = nas.set_index('날짜')
nas.columns = ['NAS 야간변동율', 'NAS 당일변동율', 'NAS 당일변화량']
feature_list.append(nas)
nas.info()
nas.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 82 entries, 2023-06-12 to 2023-10-06
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NAS 야간변동율  82 non-null     float64
 1   NAS 당일변동율  82 non-null     float64
 2   NAS 당일변화량  82 non-null     float64
dtypes: float64(3)
memory usage: 2.6 KB

            NAS 야간변동율  NAS 당일변동율  NAS 당일변화량
날짜
2023-06-12       0.16     -0.400     156.62
2023-06-13       1.53      1.017     163.33
2023-06-14       0.83      0.050     121.21

In [9]:
pc = pd.read_csv('./quater_clean_feature/put_call_quater.csv', index_col=0)
pc['일자'] = pd.to_datetime(pc['일자'])
pc = pc.set_index('일자')
feature_list.append(pc)
pc.info()
pc.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 80 entries, 2023-06-12 to 2023-10-06
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   P/C Ratio           80 non-null     float64
 1   CALL_vol_change(%)  80 non-null     float64
 2   PUT_vol_change(%)   80 non-null     float64
 3   CALL_vol_fluc       80 non-null     float64
 4   PUT_vol_fluc        80 non-null     float64
dtypes: float64(5)
memory usage: 3.8 KB

,P/C Ratio,CALL_vol_change(%),PUT_vol_change(%),CALL_vol_fluc,PUT_vol_fluc
일자,,,,,
2023-06-12,1.18,-65.695,-56.898,-1134951.0,-920014.0
2023-06-13,1.02,-10.829,-22.393,-64179.0,-156068.0
2023-06-14,0.80,1.630,-20.137,8616.0,-108915.0

In [10]:
snp = pd.read_csv('./quater_clean_feature/snp_quater.csv', index_col=0)
snp['날짜'] = pd.to_datetime(snp['날짜'])
snp = snp.set_index('날짜')
snp.columns = ['S&P 야간변동율', 'S&P 당일변동율', 'S&P 당일변화량']
feature_list.append(snp)
snp.info()
snp.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 82 entries, 2023-06-12 to 2023-10-06
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   S&P 야간변동율  82 non-null     float64
 1   S&P 당일변동율  82 non-null     float64
 2   S&P 당일변화량  82 non-null     float64
dtypes: float64(3)
memory usage: 2.6 KB

            S&P 야간변동율  S&P 당일변동율  S&P 당일변화량
날짜
2023-06-12       0.11     -0.140      30.92
2023-06-13       0.93      0.710      35.76
2023-06-14       0.69      0.377      26.06

In [11]:
usd = pd.read_csv('./quater_clean_feature/usd_quater.csv', index_col=0)
usd['날짜'] = pd.to_datetime(usd['날짜'])
usd = usd.set_index('날짜')
usd.columns = ['원달러 야간변동율']
feature_list.append(usd)
usd.info()
usd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85 entries, 2023-06-12 to 2023-10-06
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원달러 야간변동율  85 non-null     float64
dtypes: float64(1)
memory usage: 1.3 KB

            원달러 야간변동율
날짜
2023-06-12      0.029
2023-06-13      0.025
2023-06-14      0.025

In [12]:
vix = pd.read_csv('./quater_clean_feature/vix_quater.csv', index_col=0)
vix['날짜'] = pd.to_datetime(vix['날짜'])
vix = vix.set_index('날짜')
vix.columns = ['VIX 전날변동율', 'VIX 당일변동율', 'VIX 당일변화량']
feature_list.append(vix)
vix.info()
vix.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 85 entries, 2023-06-12 to 2023-10-06
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VIX 전날변동율  85 non-null     float64
 1   VIX 당일변동율  85 non-null     float64
 2   VIX 당일변화량  85 non-null     float64
dtypes: float64(3)
memory usage: 2.7 KB

            VIX 전날변동율  VIX 당일변동율  VIX 당일변화량
날짜
2023-06-12       1.32      0.363       0.64
2023-06-13       8.53      3.947       0.70
2023-06-14      -2.66     -2.535       0.59

In [13]:
jniv = pd.read_csv('./quater_clean_feature/jniv_quater.csv', index_col=0)
jniv['날짜'] = pd.to_datetime(jniv['날짜'])
jniv = jniv.set_index('날짜')
jniv.columns = ['JNIV 종가변동율', 'JNIV 전날변동율', 'JNIV 전날변화량']
feature_list.append(jniv)
jniv.info()
jniv.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 82 entries, 2023-06-12 to 2023-10-06
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JNIV 종가변동율  82 non-null     float64
 1   JNIV 전날변동율  82 non-null     float64
 2   JNIV 전날변화량  82 non-null     float64
dtypes: float64(3)
memory usage: 2.6 KB

            JNIV 종가변동율  JNIV 전날변동율  JNIV 전날변화량
날짜
2023-06-12        5.37       4.137        1.77
2023-06-13       -6.78       1.362        0.91
2023-06-14       -4.82       1.935        1.51

In [14]:
cd = pd.read_csv('./quater_clean_feature/cd_quater.csv', index_col=0)
cd['date'] = pd.to_datetime(cd['date'])
cd = cd.set_index('date')
cd.columns = ['CD 전날변동율', 'CD 전날변화량']
feature_list.append(cd)
cd.info()
cd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 80 entries, 2023-06-12 to 2023-10-06
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CD 전날변동율  80 non-null     float64
 1   CD 전날변화량  80 non-null     float64
dtypes: float64(2)
memory usage: 1.9 KB

            CD 전날변동율  CD 전날변화량
date
2023-06-12       0.0       0.0
2023-06-13       0.0       0.0
2023-06-14       0.0       0.0

In [15]:
# ks_mor = pd.read_csv('./quater_clean_feature/ks_mor_quater.csv', index_col=0)
# ks_mor['date'] = pd.to_datetime(ks_mor['date'])
# ks_mor = ks_mor.set_index('date')
# feature_list.append(ks_mor)
# ks_mor.info()
# ks_mor.head(3)

In [16]:
# ks200_mor = pd.read_csv('./quater_clean_feature/ks200_mor_quater.csv', index_col=0)
# ks200_mor['date'] = pd.to_datetime(ks200_mor['date'])
# ks200_mor = ks200_mor.set_index('date')
# feature_list.append(ks200_mor)
# ks200_mor.info()
# ks200_mor.head(3)

In [17]:
vkospi = pd.read_csv('./quater_clean_feature/vkospi_quater.csv', index_col=0)
vkospi['날짜'] = pd.to_datetime(vkospi['날짜'])
vkospi = vkospi.set_index('날짜')
feature_list.append(vkospi)
vkospi.info()
vkospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 80 entries, 2023-06-12 to 2023-10-06
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VKOSPI_Label  80 non-null     int64
dtypes: int64(1)
memory usage: 1.2 KB

            VKOSPI_Label
날짜
2023-06-12             0
2023-06-13             0
2023-06-14             0

In [18]:
df = pd.concat(feature_list, axis=1)

In [19]:
df = df.dropna(subset=['VKOSPI_Label'])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 80 entries, 2023-06-12 to 2023-10-06
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   시장베이시스              80 non-null     float64
 1   이론베이시스              79 non-null     float64
 2   괴리율                 79 non-null     float64
 3   원위안 야간변동율           80 non-null     float64
 4   원엔 야간변동율            80 non-null     float64
 5   KOSPI 전날변동율         80 non-null     float64
 6   KOSPI 야간변동율         80 non-null     float64
 7   KS200 전날변동율         80 non-null     float64
 8   KS200 야간변동율         80 non-null     float64
 9   NAS 야간변동율           77 non-null     float64
 10  NAS 당일변동율           77 non-null     float64
 11  NAS 당일변화량           77 non-null     float64
 12  P/C Ratio           80 non-null     float64
 13  CALL_vol_change(%)  80 non-null     float64
 14  PUT_vol_change(%)   80 non-null     float64
 15  CALL_vol_fluc       80 non-null     float64
 16  PUT_vol_fluc        80 non-null     float64
 17  S&P 야간변동율           77 non-null     float64
 18  S&P 당일변동율           77 non-null     float64
 19  S&P 당일변화량           77 non-null     float64
 20  원달러 야간변동율           80 non-null     float64
 21  VIX 전날변동율           80 non-null     float64
 22  VIX 당일변동율           80 non-null     float64
 23  VIX 당일변화량           80 non-null     float64
 24  JNIV 종가변동율          77 non-null     float64
 25  JNIV 전날변동율          77 non-null     float64
 26  JNIV 전날변화량          77 non-null     float64
 27  CD 전날변동율            80 non-null     float64
 28  CD 전날변화량            80 non-null     float64
 29  VKOSPI_Label        80 non-null     float64
dtypes: float64(30)
memory usage: 19.4 KB

In [21]:
df = df.fillna(method='ffill')

In [22]:
df.to_csv('./quater_features.csv')

In [23]:
df['VKOSPI_Label'].value_counts()

VKOSPI_Label
0.0    55
1.0    25
Name: count, dtype: int64

In [24]:
len(df.columns)

30