In [1]:
import pandas as pd

In [2]:
feature_list = []

In [3]:
basis = pd.read_csv('./test_feature/clean_feature/basis.csv', index_col=0)
basis['일자'] = pd.to_datetime(basis['일자'])
basis = basis.set_index('일자')
feature_list.append(basis)
basis.info()
basis.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시장베이시스  19 non-null     float64
 1   이론베이시스  19 non-null     float64
 2   괴리율     19 non-null     float64
dtypes: float64(3)
memory usage: 608.0 bytes

            시장베이시스  이론베이시스   괴리율
일자
2023-10-10    1.56    2.31 -0.23
2023-10-11    2.34    2.17  0.05
2023-10-12    2.26    2.18  0.02

In [4]:
cny = pd.read_csv('./test_feature/clean_feature/cny.csv', index_col=0)
cny['날짜'] = pd.to_datetime(cny['날짜'])
cny = cny.set_index('날짜')
cny.columns = ['원위안 야간변동율']
feature_list.append(cny)
cny.info()
cny.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원위안 야간변동율  19 non-null     float64
dtypes: float64(1)
memory usage: 304.0 bytes

            원위안 야간변동율
날짜
2023-10-10      0.070
2023-10-11      0.109
2023-10-12      0.093

In [5]:
jpy = pd.read_csv('./test_feature/clean_feature/jpy.csv', index_col=0)
jpy['날짜'] = pd.to_datetime(jpy['날짜'])
jpy = jpy.set_index('날짜')
jpy.columns = ['원엔 야간변동율']
feature_list.append(jpy)
jpy.info()
jpy.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   원엔 야간변동율  19 non-null     float64
dtypes: float64(1)
memory usage: 304.0 bytes

            원엔 야간변동율
날짜
2023-10-10     0.056
2023-10-11     0.105
2023-10-12     0.105

In [6]:
kospi = pd.read_csv('./test_feature/clean_feature/kospi.csv', index_col=0)
kospi['날짜'] = pd.to_datetime(kospi['날짜'])
kospi = kospi.set_index('날짜')
kospi.columns = ['KOSPI 전날변동율', 'KOSPI 야간변동율']
feature_list.append(kospi)
kospi.info()
kospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KOSPI 전날변동율  19 non-null     float64
 1   KOSPI 야간변동율  19 non-null     float64
dtypes: float64(2)
memory usage: 456.0 bytes

            KOSPI 전날변동율  KOSPI 야간변동율
날짜
2023-10-10         0.21        1.156
2023-10-11        -0.26        1.413
2023-10-12         1.98        0.617

In [7]:
ks200 = pd.read_csv('./test_feature/clean_feature/ks200.csv', index_col=0)
ks200['날짜'] = pd.to_datetime(ks200['날짜'])
ks200 = ks200.set_index('날짜')
ks200.columns = ['KS200 전날변동율', 'KS200 야간변동율']
feature_list.append(ks200)
ks200.info()
ks200.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KS200 전날변동율  19 non-null     float64
 1   KS200 야간변동율  19 non-null     float64
dtypes: float64(2)
memory usage: 456.0 bytes

            KS200 전날변동율  KS200 야간변동율
날짜
2023-10-10         0.11        1.264
2023-10-11         0.05        1.520
2023-10-12         1.76        0.662

In [8]:
nas = pd.read_csv('./test_feature/clean_feature/nas.csv', index_col=0)
nas['날짜'] = pd.to_datetime(nas['날짜'])
nas = nas.set_index('날짜')
nas.columns = ['NAS 야간변동율', 'NAS 당일변동율', 'NAS 당일변화량']
feature_list.append(nas)
nas.info()
nas.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NAS 야간변동율  19 non-null     float64
 1   NAS 당일변동율  19 non-null     float64
 2   NAS 당일변화량  19 non-null     float64
dtypes: float64(3)
memory usage: 608.0 bytes

            NAS 야간변동율  NAS 당일변동율  NAS 당일변화량
날짜
2023-10-10       0.39      1.186     231.82
2023-10-11       0.58      0.422     167.82
2023-10-12       0.71      0.297     121.82

In [9]:
pc = pd.read_csv('./test_feature/clean_feature/put_call.csv', index_col=0)
pc['일자'] = pd.to_datetime(pc['일자'])
pc = pc.set_index('일자')
feature_list.append(pc)
pc.info()
pc.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   P/C Ratio           19 non-null     float64
 1   CALL_vol_change(%)  19 non-null     float64
 2   PUT_vol_change(%)   19 non-null     float64
 3   CALL_vol_fluc       19 non-null     float64
 4   PUT_vol_fluc        19 non-null     float64
dtypes: float64(5)
memory usage: 912.0 bytes

,P/C Ratio,CALL_vol_change(%),PUT_vol_change(%),CALL_vol_fluc,PUT_vol_fluc
일자,,,,,
2023-10-10,0.97,-4.057,-15.468,-39586.0,-165364.0
2023-10-11,0.93,64.797,59.366,606524.0,536494.0
2023-10-12,0.91,32.345,29.173,498944.0,420145.0

In [10]:
snp = pd.read_csv('./test_feature/clean_feature/snp.csv', index_col=0)
snp['날짜'] = pd.to_datetime(snp['날짜'])
snp = snp.set_index('날짜')
snp.columns = ['S&P 야간변동율', 'S&P 당일변동율', 'S&P 당일변화량']
feature_list.append(snp)
snp.info()
snp.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   S&P 야간변동율  19 non-null     float64
 1   S&P 당일변동율  19 non-null     float64
 2   S&P 당일변화량  19 non-null     float64
dtypes: float64(3)
memory usage: 608.0 bytes

            S&P 야간변동율  S&P 당일변동율  S&P 당일변화량
날짜
2023-10-10       0.63      1.087      57.94
2023-10-11       0.52      0.426      45.82
2023-10-12       0.43      0.237      33.30

In [11]:
usd = pd.read_csv('./test_feature/clean_feature/usd.csv', index_col=0)
usd['날짜'] = pd.to_datetime(usd['날짜'])
usd = usd.set_index('날짜')
usd.columns = ['원달러 야간변동율']
feature_list.append(usd)
usd.info()
usd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원달러 야간변동율  19 non-null     float64
dtypes: float64(1)
memory usage: 304.0 bytes

            원달러 야간변동율
날짜
2023-10-10      0.086
2023-10-11      0.096
2023-10-12      0.084

In [12]:
vix = pd.read_csv('./test_feature/clean_feature/vix.csv', index_col=0)
vix['날짜'] = pd.to_datetime(vix['날짜'])
vix = vix.set_index('날짜')
vix.columns = ['VIX 전날변동율', 'VIX 당일변동율', 'VIX 당일변화량']
feature_list.append(vix)
vix.info()
vix.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VIX 전날변동율  19 non-null     float64
 1   VIX 당일변동율  19 non-null     float64
 2   VIX 당일변화량  19 non-null     float64
dtypes: float64(3)
memory usage: 608.0 bytes

            VIX 전날변동율  VIX 당일변동율  VIX 당일변화량
날짜
2023-10-10       1.43     -9.417       2.04
2023-10-11      -3.79     -3.785       1.35
2023-10-12      -5.52     -5.074       1.69

In [13]:
##### jniv 가져오기
jniv = pd.read_csv('./test_feature/clean_feature/jniv.csv', index_col=0)
jniv['날짜'] = pd.to_datetime(jniv['날짜'])
jniv = jniv.set_index('날짜')
jniv.columns = ['JNIV 종가변동율', 'JNIV 전날변동율', 'JNIV 전날변화량']
feature_list.append(jniv)
jniv.info()
jniv.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JNIV 종가변동율  19 non-null     float64
 1   JNIV 전날변동율  19 non-null     float64
 2   JNIV 전날변화량  19 non-null     float64
dtypes: float64(3)
memory usage: 608.0 bytes

            JNIV 종가변동율  JNIV 전날변동율  JNIV 전날변화량
날짜
2023-10-10       -8.44       1.214        0.76
2023-10-11       -1.78      -1.964        0.92
2023-10-12        3.03       1.983        0.69

In [14]:
##### CD 금리 없음
cd = pd.read_csv('./test_feature/clean_feature/cd.csv', index_col=0)
cd['date'] = pd.to_datetime(cd['date'])
cd = cd.set_index('date')
cd.columns = ['CD 전날변동율', 'CD 전날변화량']
feature_list.append(cd)
cd.info()
cd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CD 전날변동율  19 non-null     float64
 1   CD 전날변화량  19 non-null     float64
dtypes: float64(2)
memory usage: 456.0 bytes

            CD 전날변동율  CD 전날변화량
date
2023-10-10    -0.261      0.01
2023-10-11     0.000      0.00
2023-10-12     0.000      0.00

In [15]:
ks_mor = pd.read_csv('./test_feature/clean_feature/ks_mor.csv', index_col=0)
ks_mor['date'] = pd.to_datetime(ks_mor['date'])
ks_mor = ks_mor.set_index('date')
feature_list.append(ks_mor)
ks_mor.info()
ks_mor.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KOSPI 오전변동율  19 non-null     float64
 1   KOSPI 오전변화량  19 non-null     float64
dtypes: float64(2)
memory usage: 456.0 bytes

            KOSPI 오전변동율  KOSPI 오전변화량
date
2023-10-10       -0.289        15.89
2023-10-11       -0.028        16.21
2023-10-12        0.140        10.62

In [16]:
ks200_mor = pd.read_csv('./test_feature/clean_feature/ks200_mor.csv', index_col=0)
ks200_mor['date'] = pd.to_datetime(ks200_mor['date'])
ks200_mor = ks200_mor.set_index('date')
feature_list.append(ks200_mor)
ks200_mor.info()
ks200_mor.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KS200 오전변동율  19 non-null     float64
 1   KS200 오전변화량  19 non-null     float64
dtypes: float64(2)
memory usage: 456.0 bytes

            KS200 오전변동율  KS200 오전변화량
date
2023-10-10       -0.317         2.25
2023-10-11        0.052         2.00
2023-10-12        0.238         1.71

In [17]:
vkospi = pd.read_csv('./test_feature/clean_feature/vkospi.csv', index_col=0)
vkospi['날짜'] = pd.to_datetime(vkospi['날짜'])
vkospi = vkospi.set_index('날짜')
feature_list.append(vkospi)
vkospi.info()
vkospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VKOSPI_Label  19 non-null     float64
dtypes: float64(1)
memory usage: 304.0 bytes

            VKOSPI_Label
날짜
2023-10-10           1.0
2023-10-11           1.0
2023-10-12           1.0

In [18]:
df = pd.concat(feature_list, axis=1)

In [19]:
# df = df.dropna(subset=['VKOSPI_Label'])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2023-10-10 to 2023-11-03
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   시장베이시스              19 non-null     float64
 1   이론베이시스              19 non-null     float64
 2   괴리율                 19 non-null     float64
 3   원위안 야간변동율           19 non-null     float64
 4   원엔 야간변동율            19 non-null     float64
 5   KOSPI 전날변동율         19 non-null     float64
 6   KOSPI 야간변동율         19 non-null     float64
 7   KS200 전날변동율         19 non-null     float64
 8   KS200 야간변동율         19 non-null     float64
 9   NAS 야간변동율           19 non-null     float64
 10  NAS 당일변동율           19 non-null     float64
 11  NAS 당일변화량           19 non-null     float64
 12  P/C Ratio           19 non-null     float64
 13  CALL_vol_change(%)  19 non-null     float64
 14  PUT_vol_change(%)   19 non-null     float64
 15  CALL_vol_fluc       19 non-null     float64
 16  PUT_vol_fluc        19 non-null     float64
 17  S&P 야간변동율           19 non-null     float64
 18  S&P 당일변동율           19 non-null     float64
 19  S&P 당일변화량           19 non-null     float64
 20  원달러 야간변동율           19 non-null     float64
 21  VIX 전날변동율           19 non-null     float64
 22  VIX 당일변동율           19 non-null     float64
 23  VIX 당일변화량           19 non-null     float64
 24  JNIV 종가변동율          19 non-null     float64
 25  JNIV 전날변동율          19 non-null     float64
 26  JNIV 전날변화량          19 non-null     float64
 27  CD 전날변동율            19 non-null     float64
 28  CD 전날변화량            19 non-null     float64
 29  KOSPI 오전변동율         19 non-null     float64
 30  KOSPI 오전변화량         19 non-null     float64
 31  KS200 오전변동율         19 non-null     float64
 32  KS200 오전변화량         19 non-null     float64
 33  VKOSPI_Label        19 non-null     float64
dtypes: float64(34)
memory usage: 5.2 KB

In [21]:
df = df.fillna(method='ffill')

In [22]:
df.to_csv('./test_features_2month.csv')

In [23]:
#df['VKOSPI_Label'].value_counts()

In [24]:
len(df.columns)

34