In [49]:
import pandas as pd

In [50]:
feature_list = []

In [51]:
basis = pd.read_csv('./two_month_clean_feature/basis_2month.csv', index_col=0)
basis['일자'] = pd.to_datetime(basis['일자'])
basis = basis.set_index('일자')
feature_list.append(basis)
basis.info()
basis.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40 entries, 2023-08-07 to 2023-10-06
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시장베이시스  40 non-null     float64
 1   이론베이시스  39 non-null     float64
 2   괴리율     39 non-null     float64
dtypes: float64(3)
memory usage: 1.2 KB

            시장베이시스  이론베이시스   괴리율
일자
2023-08-07    1.05    1.43 -0.11
2023-08-08    1.27    1.32 -0.01
2023-08-09    1.20    1.27 -0.02

In [52]:
cny = pd.read_csv('./two_month_clean_feature/cny_2month.csv', index_col=0)
cny['날짜'] = pd.to_datetime(cny['날짜'])
cny = cny.set_index('날짜')
cny.columns = ['원위안 야간변동율']
feature_list.append(cny)
cny.info()
cny.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45 entries, 2023-08-07 to 2023-10-06
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원위안 야간변동율  45 non-null     float64
dtypes: float64(1)
memory usage: 720.0 bytes

            원위안 야간변동율
날짜
2023-08-07      0.022
2023-08-08      0.066
2023-08-09      0.049

In [53]:
jpy = pd.read_csv('./two_month_clean_feature/jpy_2month.csv', index_col=0)
jpy['날짜'] = pd.to_datetime(jpy['날짜'])
jpy = jpy.set_index('날짜')
jpy.columns = ['원엔 야간변동율']
feature_list.append(jpy)
jpy.info()
jpy.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45 entries, 2023-08-07 to 2023-10-06
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   원엔 야간변동율  45 non-null     float64
dtypes: float64(1)
memory usage: 720.0 bytes

            원엔 야간변동율
날짜
2023-08-07     0.024
2023-08-08     0.078
2023-08-09     0.044

In [54]:
kospi = pd.read_csv('./two_month_clean_feature/kospi_2month.csv', index_col=0)
kospi['날짜'] = pd.to_datetime(kospi['날짜'])
kospi = kospi.set_index('날짜')
kospi.columns = ['KOSPI 전날변동율', 'KOSPI 야간변동율']
feature_list.append(kospi)
kospi.info()
kospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40 entries, 2023-08-07 to 2023-10-06
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KOSPI 전날변동율  40 non-null     float64
 1   KOSPI 야간변동율  40 non-null     float64
dtypes: float64(2)
memory usage: 960.0 bytes

            KOSPI 전날변동율  KOSPI 야간변동율
날짜
2023-08-07        -0.10       -0.431
2023-08-08        -0.85        0.681
2023-08-09        -0.26        0.257

In [55]:
ks200 = pd.read_csv('./two_month_clean_feature/ks200_2month.csv', index_col=0)
ks200['날짜'] = pd.to_datetime(ks200['날짜'])
ks200 = ks200.set_index('날짜')
ks200.columns = ['KS200 전날변동율', 'KS200 야간변동율']
feature_list.append(ks200)
ks200.info()
ks200.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40 entries, 2023-08-07 to 2023-10-06
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   KS200 전날변동율  40 non-null     float64
 1   KS200 야간변동율  40 non-null     float64
dtypes: float64(2)
memory usage: 960.0 bytes

            KS200 전날변동율  KS200 야간변동율
날짜
2023-08-07        -0.08       -0.484
2023-08-08        -0.46        0.718
2023-08-09        -0.51        0.311

In [56]:
nas = pd.read_csv('./two_month_clean_feature/nas_2month.csv', index_col=0)
nas['날짜'] = pd.to_datetime(nas['날짜'])
nas = nas.set_index('날짜')
nas.columns = ['NAS 야간변동율', 'NAS 당일변동율', 'NAS 당일변화량']
feature_list.append(nas)
nas.info()
nas.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 44 entries, 2023-08-07 to 2023-10-06
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NAS 야간변동율  44 non-null     float64
 1   NAS 당일변동율  44 non-null     float64
 2   NAS 당일변화량  44 non-null     float64
dtypes: float64(3)
memory usage: 1.4 KB

            NAS 야간변동율  NAS 당일변동율  NAS 당일변화량
날짜
2023-08-07      -0.36     -0.832     221.29
2023-08-08       0.61      0.157     132.23
2023-08-09      -0.79      0.064     130.40

In [57]:
pc = pd.read_csv('./two_month_clean_feature/put_call_2month.csv', index_col=0)
pc['일자'] = pd.to_datetime(pc['일자'])
pc = pc.set_index('일자')
feature_list.append(pc)
pc.info()
pc.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40 entries, 2023-08-07 to 2023-10-06
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   P/C Ratio           40 non-null     float64
 1   CALL_vol_change(%)  40 non-null     float64
 2   PUT_vol_change(%)   40 non-null     float64
 3   CALL_vol_fluc       40 non-null     float64
 4   PUT_vol_fluc        40 non-null     float64
dtypes: float64(5)
memory usage: 1.9 KB

,P/C Ratio,CALL_vol_change(%),PUT_vol_change(%),CALL_vol_fluc,PUT_vol_fluc
일자,,,,,
2023-08-07,1.06,-6.215,4.463,-87188.0,59328.0
2023-08-08,0.91,13.884,-1.401,182663.0,-19454.0
2023-08-09,1.02,48.180,65.515,721884.0,896966.0

In [58]:
snp = pd.read_csv('./two_month_clean_feature/snp_2month.csv', index_col=0)
snp['날짜'] = pd.to_datetime(snp['날짜'])
snp = snp.set_index('날짜')
snp.columns = ['S&P 야간변동율', 'S&P 당일변동율', 'S&P 당일변화량']
feature_list.append(snp)
snp.info()
snp.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 44 entries, 2023-08-07 to 2023-10-06
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   S&P 야간변동율  44 non-null     float64
 1   S&P 당일변동율  44 non-null     float64
 2   S&P 당일변화량  44 non-null     float64
dtypes: float64(3)
memory usage: 1.4 KB

            S&P 야간변동율  S&P 당일변동율  S&P 당일변화량
날짜
2023-08-07      -0.53     -0.796      65.79
2023-08-08       0.90      0.598      28.69
2023-08-09      -0.42      0.030      38.92

In [59]:
usd = pd.read_csv('./two_month_clean_feature/usd_2month.csv', index_col=0)
usd['날짜'] = pd.to_datetime(usd['날짜'])
usd = usd.set_index('날짜')
usd.columns = ['원달러 야간변동율']
feature_list.append(usd)
usd.info()
usd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45 entries, 2023-08-07 to 2023-10-06
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원달러 야간변동율  45 non-null     float64
dtypes: float64(1)
memory usage: 720.0 bytes

            원달러 야간변동율
날짜
2023-08-07      0.016
2023-08-08      0.048
2023-08-09      0.023

In [60]:
vix = pd.read_csv('./two_month_clean_feature/vix_2month.csv', index_col=0)
vix['날짜'] = pd.to_datetime(vix['날짜'])
vix = vix.set_index('날짜')
vix.columns = ['VIX 전날변동율', 'VIX 당일변동율', 'VIX 당일변화량']
feature_list.append(vix)
vix.info()
vix.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 45 entries, 2023-08-07 to 2023-10-06
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VIX 전날변동율  45 non-null     float64
 1   VIX 당일변동율  45 non-null     float64
 2   VIX 당일변화량  45 non-null     float64
dtypes: float64(3)
memory usage: 1.4 KB

            VIX 전날변동율  VIX 당일변동율  VIX 당일변화량
날짜
2023-08-07       7.41      6.808       2.82
2023-08-08      -7.78     -6.686       1.59
2023-08-09       1.40     -1.781       2.18

In [61]:
jniv = pd.read_csv('./two_month_clean_feature/jniv_2month.csv', index_col=0)
jniv['날짜'] = pd.to_datetime(jniv['날짜'])
jniv = jniv.set_index('날짜')
jniv.columns = ['JNIV 종가변동율', 'JNIV 전날변동율', 'JNIV 전날변화량']
feature_list.append(jniv)
jniv.info()
jniv.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 43 entries, 2023-08-07 to 2023-10-06
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JNIV 종가변동율  43 non-null     float64
 1   JNIV 전날변동율  43 non-null     float64
 2   JNIV 전날변화량  43 non-null     float64
dtypes: float64(3)
memory usage: 1.3 KB

            JNIV 종가변동율  JNIV 전날변동율  JNIV 전날변화량
날짜
2023-08-07        5.89      -3.050        1.26
2023-08-08        0.97      -2.523        1.36
2023-08-09       -2.35       1.799        0.84

In [62]:
cd = pd.read_csv('./two_month_clean_feature/cd_2month.csv', index_col=0)
cd['date'] = pd.to_datetime(cd['date'])
cd = cd.set_index('date')
cd.columns = ['CD 전날변동율', 'CD 전날변화량']
feature_list.append(cd)
cd.info()
cd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40 entries, 2023-08-07 to 2023-10-06
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CD 전날변동율  40 non-null     float64
 1   CD 전날변화량  40 non-null     float64
dtypes: float64(2)
memory usage: 960.0 bytes

            CD 전날변동율  CD 전날변화량
date
2023-08-07    -0.268      0.01
2023-08-08     0.000      0.00
2023-08-09    -0.538      0.02

In [63]:
# ks_mor = pd.read_csv('./two_month_clean_feature/ks_mor_2month.csv', index_col=0)
# ks_mor['date'] = pd.to_datetime(ks_mor['date'])
# ks_mor = ks_mor.set_index('date')
# feature_list.append(ks_mor)
# ks_mor.info()
# ks_mor.head(3)

In [64]:
# ks200_mor = pd.read_csv('./two_month_clean_feature/ks200_mor_2month.csv', index_col=0)
# ks200_mor['date'] = pd.to_datetime(ks200_mor['date'])
# ks200_mor = ks200_mor.set_index('date')
# feature_list.append(ks200_mor)
# ks200_mor.info()
# ks200_mor.head(3)

In [65]:
vkospi = pd.read_csv('./two_month_clean_feature/vkospi_2month.csv', index_col=0)
vkospi['날짜'] = pd.to_datetime(vkospi['날짜'])
vkospi = vkospi.set_index('날짜')
feature_list.append(vkospi)
vkospi.info()
vkospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40 entries, 2023-08-07 to 2023-10-06
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VKOSPI_Label  40 non-null     float64
dtypes: float64(1)
memory usage: 640.0 bytes

            VKOSPI_Label
날짜
2023-08-07           0.0
2023-08-08           0.0
2023-08-09           1.0

In [66]:
df = pd.concat(feature_list, axis=1)

In [67]:
df = df.dropna(subset=['VKOSPI_Label'])

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40 entries, 2023-08-07 to 2023-10-06
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   시장베이시스              40 non-null     float64
 1   이론베이시스              39 non-null     float64
 2   괴리율                 39 non-null     float64
 3   원위안 야간변동율           40 non-null     float64
 4   원엔 야간변동율            40 non-null     float64
 5   KOSPI 전날변동율         40 non-null     float64
 6   KOSPI 야간변동율         40 non-null     float64
 7   KS200 전날변동율         40 non-null     float64
 8   KS200 야간변동율         40 non-null     float64
 9   NAS 야간변동율           39 non-null     float64
 10  NAS 당일변동율           39 non-null     float64
 11  NAS 당일변화량           39 non-null     float64
 12  P/C Ratio           40 non-null     float64
 13  CALL_vol_change(%)  40 non-null     float64
 14  PUT_vol_change(%)   40 non-null     float64
 15  CALL_vol_fluc       40 non-null     float64
 16  PUT_vol_fluc        40 non-null     float64
 17  S&P 야간변동율           39 non-null     float64
 18  S&P 당일변동율           39 non-null     float64
 19  S&P 당일변화량           39 non-null     float64
 20  원달러 야간변동율           40 non-null     float64
 21  VIX 전날변동율           40 non-null     float64
 22  VIX 당일변동율           40 non-null     float64
 23  VIX 당일변화량           40 non-null     float64
 24  JNIV 종가변동율          38 non-null     float64
 25  JNIV 전날변동율          38 non-null     float64
 26  JNIV 전날변화량          38 non-null     float64
 27  CD 전날변동율            40 non-null     float64
 28  CD 전날변화량            40 non-null     float64
 29  VKOSPI_Label        40 non-null     float64
dtypes: float64(30)
memory usage: 9.7 KB

In [69]:
df = df.fillna(method='ffill')

In [70]:
df.to_csv('./two_month_features.csv')

In [71]:
df['VKOSPI_Label'].value_counts()

VKOSPI_Label
0.0    27
1.0    13
Name: count, dtype: int64

In [72]:
len(df.columns)

30