In [114]:
import pandas as pd

In [115]:
df = pd.read_csv("../pivot_profit_1515.csv")
df_call = df.loc[df["풋콜구분"] == "CALL"].reset_index(drop=True)
df_put = df.loc[df["풋콜구분"] == "PUT"].reset_index(drop=True)
df

,거래일자,풋콜구분,307.5,310.0,312.5,315.0,317.5,320.0,322.5,325.0,...,330.0,332.5,335.0,337.5,340.0,342.5,345.0,347.5,350.0,352.5
0,20230811,CALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.70,-2.55,-2.52,-2.29,-2.14,-1.87,-1.64,-1.36,-1.10,NaN
1,20230811,PUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.49,0.62,0.80,1.00,1.25,1.49,1.66,1.92,2.29,NaN
2,20230814,CALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.46,-1.42,-1.23,-1.04,-0.88,-0.72,-0.57,-0.44,NaN,NaN
3,20230814,PUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.50,0.61,0.75,0.89,1.04,1.28,1.47,1.45,NaN,NaN
4,20230816,CALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.82,...,-1.38,-1.19,-1.04,-0.85,-0.70,-0.55,-0.42,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,20231006,PUT,0.00,0.01,0.04,0.08,0.15,0.25,0.36,0.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,20231010,CALL,NaN,-3.25,NaN,-2.69,-2.69,-2.52,-2.03,-1.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,20231010,PUT,0.78,0.95,1.18,1.40,1.64,1.91,2.19,2.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,20231011,CALL,NaN,NaN,NaN,0.20,-0.30,-0.24,-0.23,-0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,20231011,PUT,0.09,0.11,0.13,0.14,0.20,0.20,0.20,0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
vkospi = pd.read_csv("./vkospi.csv", index_col=0)
vkospi = vkospi.drop(index=23)
vkospi = vkospi.reset_index(drop=True)
vkospi

            날짜     종가     시가     고가     저가  거래량    변동 %  당일 변동율  VKOSPI_Label
0   2023-08-11  13.44  13.68  13.80  13.43  NaN  -4.00%  -1.754             0
1   2023-08-14  14.14  14.01  14.53  13.84  NaN   5.21%   0.928             0
2   2023-08-16  15.15  14.89  15.39  14.83  NaN   7.14%   1.746             1
3   2023-08-17  15.57  15.86  16.74  15.50  NaN   2.77%  -1.828             0
4   2023-08-18  16.03  16.92  17.09  15.75  NaN   2.95%  -5.260             0
5   2023-08-21  16.03  16.28  16.29  15.63  NaN   0.00%  -1.536             0
6   2023-08-22  15.33  15.51  15.51  15.02  NaN  -4.37%  -1.161             0
7   2023-08-23  14.97  15.72  15.72  14.96  NaN  -2.35%  -4.771             0
8   2023-08-24  13.94  14.31  14.33  13.80  NaN  -6.88%  -2.586             0
9   2023-08-25  14.86  15.20  15.23  14.69  NaN   6.60%  -2.237             0
10  2023-08-28  14.18  14.53  14.57  14.15  NaN  -4.58%  -2.409             0
11  2023-08-29  13.49  13.89  14.04  13.44  NaN  -4.87%  -2.880             0
12  2023-08-30  13.05  13.14  13.19  12.86  NaN  -3.26%  -0.685             0
13  2023-08-31  12.78  12.88  12.91  12.70  NaN  -2.07%  -0.776             0
14  2023-09-01  12.53  12.74  12.77  12.42  NaN  -1.96%  -1.648             0
15  2023-09-04  12.49  12.82  12.88  12.42  NaN  -0.32%  -2.574             0
16  2023-09-05  12.42  12.51  12.53  12.31  NaN  -0.56%  -0.719             0
17  2023-09-06  12.46  12.39  12.56  12.27  NaN   0.32%   0.565             0
18  2023-09-07  12.69  12.55  12.72  12.39  NaN   1.85%   1.116             1
19  2023-09-08  12.40  12.51  12.79  12.40  NaN  -2.29%  -0.879             0
20  2023-09-11  12.42  12.55  12.73  12.37  NaN   0.16%  -1.036             0
21  2023-09-12  12.40  12.24  12.55  12.21  NaN  -0.16%   1.307             1
22  2023-09-13  12.64  12.54  12.66  12.27  NaN   1.94%   0.797             0
23  2023-09-15  11.73  11.92  12.11  11.72  NaN  -2.41%  -1.594             0
24  2023-09-18  12.85  12.76  12.90  12.69  NaN   9.55%   0.705             0
25  2023-09-19  12.95  12.85  13.11  12.83  NaN   0.78%   0.778             0
26  2023-09-20  13.03  13.11  13.18  13.00  NaN   0.62%  -0.610             0
27  2023-09-21  13.96  13.33  14.00  13.23  NaN   7.14%   4.726             1
28  2023-09-22  14.18  15.25  15.51  14.12  NaN   1.58%  -7.016             0
29  2023-09-25  14.10  14.72  14.72  14.04  NaN  -0.56%  -4.212             0
30  2023-09-26  14.74  14.12  14.88  14.11  NaN   4.54%   4.391             1
31  2023-09-27  15.08  15.43  15.43  14.94  NaN   2.31%  -2.268             0
32  2023-10-04  18.09  17.16  18.13  17.16  NaN  19.96%   5.420             1
33  2023-10-05  17.34  17.10  17.62  16.96  NaN  -4.15%   1.404             1
34  2023-10-06  17.39  17.11  17.39  16.83  NaN   0.29%   1.636             1
35  2023-10-10  17.56  16.77  17.58  16.61  NaN   0.98%   4.711             1
36  2023-10-11  16.74  16.78  16.82  16.33  NaN  -4.67%  -0.238             0

In [117]:
strike_price = pd.read_csv("../strike_price.csv")
strike_price = strike_price[7:45]
strike_price = strike_price[::-1]
strike_price = strike_price.drop(index=23)
strike_price = strike_price.reset_index(drop=True)
strike_price = strike_price[
    ["일자", "S-4", "S-3", "S-2", "S-1", "기준행사가", "S+1", "S+2", "S+3", "S+4"]
]
strike_price.columns = [
    "일자",
    "S-4",
    "S-3",
    "S-2",
    "S-1",
    "S",
    "S+1",
    "S+2",
    "S+3",
    "S+4",
]
strike_price.head(5)

         일자    S-4    S-3    S-2    S-1      S    S+1    S+2    S+3    S+4
0  20230811  330.0  332.5  335.0  337.5  340.0  342.5  345.0  347.5  350.0
1  20230814  327.5  330.0  332.5  335.0  337.5  340.0  342.5  345.0  347.5
2  20230816  325.0  327.5  330.0  332.5  335.0  337.5  340.0  342.5  345.0
3  20230817  320.0  322.5  325.0  327.5  330.0  332.5  335.0  337.5  340.0
4  20230818  320.0  322.5  325.0  327.5  330.0  332.5  335.0  337.5  340.0

In [118]:
# S-1 / S+1 -> 매수 / S 매도 버터플라이
butterfly_buy_1 = pd.DataFrame(columns=["일자"])
butterfly_sell_1 = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    left = strike_price["S-1"][i]
    right = strike_price["S+1"][i]
    center = strike_price["S"][i]

    date = strike_price["일자"][i]

    # [CALL] left / right 매수 -> center 매도 (버터플라이 매수 call(변동성 작아질때))
    call_buy_price = round(
        df_call[str(left)][i] + df_call[str(right)][i] - (2 * df_call[str(center)][i]),
        4,
    )
    # [CALL] left / right 매도 -> center 매수 (버터플라이 매도 call(변동성 커질때))
    call_sell_price = -round(
        df_call[str(left)][i] + df_call[str(right)][i] - (2 * df_call[str(center)][i]),
        4,
    )
    # [PUT] left / right 매수 -> center 매도 (버터플라이 매수 put(변동성 작아질때))
    put_buy_price = round(
        df_put[str(left)][i] + df_put[str(right)][i] - (2 * df_put[str(center)][i]), 4
    )
    # [PUT] left / right 매도 -> center 매수 (버터플라이 매도 put(변동성 커질때))
    put_sell_price = -round(
        df_put[str(left)][i] + df_put[str(right)][i] - (2 * df_put[str(center)][i]), 4
    )

    buy_data = pd.DataFrame(
        {"일자": date, "S1_CALL": call_buy_price, "S1_PUT": put_buy_price}, index=[0]
    )
    sell_data = pd.DataFrame(
        {"일자": date, "S1_CALL": call_sell_price, "S1_PUT": put_sell_price}, index=[0]
    )
    butterfly_buy_1 = pd.concat([butterfly_buy_1, buy_data])
    butterfly_sell_1 = pd.concat([butterfly_sell_1, buy_data])
    butterfly_buy_1 = butterfly_buy_1.reset_index(drop=True).fillna(0)
    butterfly_sell_1 = butterfly_sell_1.reset_index(drop=True).fillna(0)

In [119]:
butterfly_buy_1

          일자  S1_CALL  S1_PUT
0   20230811     0.12   -0.01
1   20230814    -0.03    0.01
2   20230816     0.04   -0.07
3   20230817    -0.01   -0.01
4   20230818    -0.01    0.00
5   20230821     0.06    0.06
6   20230822     0.05   -0.01
7   20230823     0.10   -0.02
8   20230824     0.15   -0.02
9   20230825     0.06    0.03
10  20230828    -0.07   -0.04
11  20230829     0.00    0.01
12  20230830     0.09    0.05
13  20230831     0.06    0.00
14  20230901     0.07   -0.07
15  20230904    -0.63   -0.18
16  20230905    -0.34    0.08
17  20230906    -0.29    0.46
18  20230907     0.06   -0.11
19  20230908     0.00    0.02
20  20230911    -0.07   -0.03
21  20230913     0.23    0.16
22  20230914     0.19    0.18
23  20230915     0.09   -0.05
24  20230918     0.02   -0.01
25  20230919     0.14    0.00
26  20230920    -0.03    0.00
27  20230921    -0.00   -0.07
28  20230922     0.04    0.00
29  20230925    -0.07    0.05
30  20230926     0.01    0.01
31  20230927     0.02   -0.03
32  20231004    -0.03   -0.16
33  20231005     0.06    0.05
34  20231006     0.05    0.03
35  20231010     0.17    0.03
36  20231011     0.56   -0.06

In [120]:
# S-1 / S+1 -> 매수 / S 매도 버터플라이
butterfly_buy_2 = pd.DataFrame(columns=["일자"])
butterfly_sell_2 = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    left = strike_price["S-2"][i]
    right = strike_price["S+2"][i]
    center = strike_price["S"][i]

    date = strike_price["일자"][i]

    # [CALL] left / right 매수 -> center 매도 (버터플라이 매수 call(변동성 작아질때))
    call_buy_price = round(
        df_call[str(left)][i] + df_call[str(right)][i] - (2 * df_call[str(center)][i]),
        4,
    )
    # [CALL] left / right 매도 -> center 매수 (버터플라이 매도 call(변동성 커질때))
    call_sell_price = -round(
        df_call[str(left)][i] + df_call[str(right)][i] - (2 * df_call[str(center)][i]),
        4,
    )
    # [PUT] left / right 매수 -> center 매도 (버터플라이 매수 put(변동성 작아질때))
    put_buy_price = round(
        df_put[str(left)][i] + df_put[str(right)][i] - (2 * df_put[str(center)][i]), 4
    )
    # [PUT] left / right 매도 -> center 매수 (버터플라이 매도 put(변동성 커질때))
    put_sell_price = -round(
        df_put[str(left)][i] + df_put[str(right)][i] - (2 * df_put[str(center)][i]), 4
    )

    buy_data = pd.DataFrame(
        {"일자": date, "S2_CALL": call_buy_price, "S2_PUT": put_buy_price}, index=[0]
    )
    sell_data = pd.DataFrame(
        {"일자": date, "S2_CALL": call_sell_price, "S2_PUT": put_sell_price}, index=[0]
    )
    butterfly_buy_2 = pd.concat([butterfly_buy_2, buy_data])
    butterfly_sell_2 = pd.concat([butterfly_sell_2, buy_data])
    butterfly_buy_2 = butterfly_buy_2.reset_index(drop=True).fillna(0)
    butterfly_sell_2 = butterfly_sell_2.reset_index(drop=True).fillna(0)

In [121]:
butterfly_sell_2

          일자  S2_CALL  S2_PUT
0   20230811     0.12   -0.04
1   20230814    -0.06    0.11
2   20230816     0.00    0.01
3   20230817     0.06    0.04
4   20230818    -0.05    0.02
5   20230821    -0.34    0.12
6   20230822     0.00    0.07
7   20230823     0.29   -0.04
8   20230824     0.33    0.00
9   20230825     0.04    0.00
10  20230828    -0.17    0.02
11  20230829     0.00    0.04
12  20230830     0.26    0.14
13  20230831     0.13    0.08
14  20230901    -0.34   -0.28
15  20230904     0.02   -0.18
16  20230905    -0.10   -0.02
17  20230906    -0.09    0.00
18  20230907    -0.04    0.06
19  20230908     0.23    0.02
20  20230911    -0.24   -0.09
21  20230913     0.82    0.55
22  20230914     0.37    0.48
23  20230915    -0.14   -0.11
24  20230918     0.08    0.02
25  20230919    -0.01    0.05
26  20230920     0.00   -0.01
27  20230921    -0.11   -0.16
28  20230922     0.07    0.23
29  20230925     0.00    0.05
30  20230926    -0.02    0.01
31  20230927    -0.15   -0.03
32  20231004    -0.05   -0.28
33  20231005    -0.12    0.14
34  20231006     0.32    0.10
35  20231010     0.00    0.09
36  20231011     0.00   -0.07

In [122]:
# S-1 / S+1 -> 매수 / S 매도 버터플라이
butterfly_buy_3 = pd.DataFrame(columns=["일자"])
butterfly_sell_3 = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    left = strike_price["S-3"][i]
    right = strike_price["S+3"][i]
    center = strike_price["S"][i]

    date = strike_price["일자"][i]

    # [CALL] left / right 매수 -> center 매도 (버터플라이 매수 call(변동성 작아질때))
    call_buy_price = round(
        df_call[str(left)][i] + df_call[str(right)][i] - (2 * df_call[str(center)][i]),
        4,
    )
    # [CALL] left / right 매도 -> center 매수 (버터플라이 매도 call(변동성 커질때))
    call_sell_price = -round(
        df_call[str(left)][i] + df_call[str(right)][i] - (2 * df_call[str(center)][i]),
        4,
    )
    # [PUT] left / right 매수 -> center 매도 (버터플라이 매수 put(변동성 작아질때))
    put_buy_price = round(
        df_put[str(left)][i] + df_put[str(right)][i] - (2 * df_put[str(center)][i]), 4
    )
    # [PUT] left / right 매도 -> center 매수 (버터플라이 매도 put(변동성 커질때))
    put_sell_price = -round(
        df_put[str(left)][i] + df_put[str(right)][i] - (2 * df_put[str(center)][i]), 4
    )

    buy_data = pd.DataFrame(
        {"일자": date, "S3_CALL": call_buy_price, "S3_PUT": put_buy_price}, index=[0]
    )
    sell_data = pd.DataFrame(
        {"일자": date, "S3_CALL": call_sell_price, "S3_PUT": put_sell_price}, index=[0]
    )
    butterfly_buy_3 = pd.concat([butterfly_buy_3, buy_data])
    butterfly_sell_3 = pd.concat([butterfly_sell_3, buy_data])
    butterfly_buy_3 = butterfly_buy_3.reset_index(drop=True).fillna(0)
    butterfly_sell_3 = butterfly_sell_3.reset_index(drop=True).fillna(0)

In [123]:
butterfly_sell_3

          일자  S3_CALL  S3_PUT
0   20230811     0.37    0.04
1   20230814     0.05    0.19
2   20230816     0.10   -0.06
3   20230817    -0.24    0.19
4   20230818     0.19   -0.04
5   20230821    -0.10    0.22
6   20230822    -0.12    0.09
7   20230823     0.19    0.01
8   20230824     0.48    0.04
9   20230825     0.17   -0.16
10  20230828    -0.58   -0.10
11  20230829     0.04    0.11
12  20230830     0.44    0.26
13  20230831     0.10    0.16
14  20230901     0.48   -0.51
15  20230904     0.17   -0.04
16  20230905    -0.01   -0.12
17  20230906    -0.19    7.39
18  20230907     0.11    0.25
19  20230908     0.44    0.10
20  20230911    -1.27   -0.19
21  20230913     0.00    0.80
22  20230914     1.06    0.62
23  20230915    -0.48   -0.29
24  20230918    -0.52    0.20
25  20230919    -0.10   -0.07
26  20230920    -0.09    0.09
27  20230921    -0.20   -0.22
28  20230922     0.11    0.16
29  20230925    -0.52   -0.02
30  20230926    -0.70   -0.09
31  20230927     0.04    0.00
32  20231004    -0.11   -0.11
33  20231005     0.22    0.35
34  20231006    -0.17    0.14
35  20231010     0.27   -0.06
36  20231011     0.00   -0.01

In [124]:
# S-1 / S+1 -> 매수 / S 매도 버터플라이
butterfly_buy_4 = pd.DataFrame(columns=["일자"])
butterfly_sell_4 = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    left = strike_price["S-4"][i]
    right = strike_price["S+4"][i]
    center = strike_price["S"][i]

    date = strike_price["일자"][i]

    # [CALL] left / right 매수 -> center 매도 (버터플라이 매수 call(변동성 작아질때))
    call_buy_price = round(
        df_call[str(left)][i] + df_call[str(right)][i] - (2 * df_call[str(center)][i]),
        4,
    )
    # [CALL] left / right 매도 -> center 매수 (버터플라이 매도 call(변동성 커질때))
    call_sell_price = -round(
        df_call[str(left)][i] + df_call[str(right)][i] - (2 * df_call[str(center)][i]),
        4,
    )
    # [PUT] left / right 매수 -> center 매도 (버터플라이 매수 put(변동성 작아질때))
    put_buy_price = round(
        df_put[str(left)][i] + df_put[str(right)][i] - (2 * df_put[str(center)][i]), 4
    )
    # [PUT] left / right 매도 -> center 매수 (버터플라이 매도 put(변동성 커질때))
    put_sell_price = -round(
        df_put[str(left)][i] + df_put[str(right)][i] - (2 * df_put[str(center)][i]), 4
    )

    buy_data = pd.DataFrame(
        {"일자": date, "S4_CALL": call_buy_price, "S4_PUT": put_buy_price}, index=[0]
    )
    sell_data = pd.DataFrame(
        {"일자": date, "S4_CALL": call_sell_price, "S4_PUT": put_sell_price}, index=[0]
    )
    butterfly_buy_4 = pd.concat([butterfly_buy_4, buy_data])
    butterfly_sell_4 = pd.concat([butterfly_sell_4, buy_data])
    butterfly_buy_4 = butterfly_buy_4.reset_index(drop=True).fillna(0)
    butterfly_sell_4 = butterfly_sell_4.reset_index(drop=True).fillna(0)

In [125]:
butterfly_buy_4

          일자  S4_CALL  S4_PUT
0   20230811     0.48    0.28
1   20230814     0.00    0.06
2   20230816    -0.16   -0.44
3   20230817    -0.42    0.21
4   20230818     0.17    0.24
5   20230821     0.00    0.60
6   20230822    -0.64    0.61
7   20230823     0.00   -0.21
8   20230824     0.98    0.07
9   20230825     0.17   -0.52
10  20230828    -0.14    0.29
11  20230829     0.01   -0.14
12  20230830     0.63    0.36
13  20230831     0.49    0.29
14  20230901     0.00   -0.88
15  20230904     0.00    8.21
16  20230905    -0.59    9.87
17  20230906     0.00   10.26
18  20230907     0.00    9.96
19  20230908     0.42    0.63
20  20230911    -1.38    0.76
21  20230913     0.00    0.00
22  20230914     1.31    0.79
23  20230915    -0.80    0.02
24  20230918    -0.15    0.30
25  20230919    -0.12    0.06
26  20230920     0.12   -0.14
27  20230921     0.05   -0.39
28  20230922     0.18   -0.23
29  20230925    -0.64    0.07
30  20230926    -1.34    0.07
31  20230927    -1.01   -0.11
32  20231004    -0.08   -0.02
33  20231005     0.93    0.39
34  20231006     0.51    0.05
35  20231010     0.00    0.32
36  20231011     0.00   -0.03

In [126]:
butterfly_buy = pd.concat(
    [
        butterfly_buy_1,
        butterfly_buy_2[["S2_CALL", "S2_PUT"]],
        butterfly_buy_3[["S3_CALL", "S3_PUT"]],
        butterfly_buy_4[["S4_CALL", "S4_PUT"]],
    ],
    axis=1,
)

In [127]:
butterfly_sell = pd.concat(
    [
        butterfly_sell_1,
        butterfly_sell_2[["S2_CALL", "S2_PUT"]],
        butterfly_sell_3[["S3_CALL", "S3_PUT"]],
        butterfly_sell_4[["S4_CALL", "S4_PUT"]],
    ],
    axis=1,
)

In [128]:
butterfly_sell

,일자,S1_CALL,S1_PUT,S2_CALL,S2_PUT,S3_CALL,S3_PUT,S4_CALL,S4_PUT
0,20230811,0.12,-0.01,0.12,-0.04,0.37,0.04,0.48,0.28
1,20230814,-0.03,0.01,-0.06,0.11,0.05,0.19,0.00,0.06
2,20230816,0.04,-0.07,0.00,0.01,0.10,-0.06,-0.16,-0.44
3,20230817,-0.01,-0.01,0.06,0.04,-0.24,0.19,-0.42,0.21
4,20230818,-0.01,0.00,-0.05,0.02,0.19,-0.04,0.17,0.24
5,20230821,0.06,0.06,-0.34,0.12,-0.10,0.22,0.00,0.60
6,20230822,0.05,-0.01,0.00,0.07,-0.12,0.09,-0.64,0.61
7,20230823,0.10,-0.02,0.29,-0.04,0.19,0.01,0.00,-0.21
8,20230824,0.15,-0.02,0.33,0.00,0.48,0.04,0.98,0.07
9,20230825,0.06,0.03,0.04,0.00,0.17,-0.16,0.17,-0.52
10,20230828,-0.07,-0.04,-0.17,0.02,-0.58,-0.10,-0.14,0.29
11,20230829,0.00,0.01,0.00,0.04,0.04,0.11,0.01,-0.14
12,20230830,0.09,0.05,0.26,0.14,0.44,0.26,0.63,0.36
13,20230831,0.06,0.00,0.13,0.08,0.10,0.16,0.49,0.29
14,20230901,0.07,-0.07,-0.34,-0.28,0.48,-0.51,0.00,-0.88
15,20230904,-0.63,-0.18,0.02,-0.18,0.17,-0.04,0.00,8.21
16,20230905,-0.34,0.08,-0.10,-0.02,-0.01,-0.12,-0.59,9.87
17,20230906,-0.29,0.46,-0.09,0.00,-0.19,7.39,0.00,10.26
18,20230907,0.06,-0.11,-0.04,0.06,0.11,0.25,0.00,9.96
19,20230908,0.00,0.02,0.23,0.02,0.44,0.10,0.42,0.63
20,20230911,-0.07,-0.03,-0.24,-0.09,-1.27,-0.19,-1.38,0.76
21,20230913,0.23,0.16,0.82,0.55,0.00,0.80,0.00,0.00
22,20230914,0.19,0.18,0.37,0.48,1.06,0.62,1.31,0.79
23,20230915,0.09,-0.05,-0.14,-0.11,-0.48,-0.29,-0.80,0.02
24,20230918,0.02,-0.01,0.08,0.02,-0.52,0.20,-0.15,0.30
25,20230919,0.14,0.00,-0.01,0.05,-0.10,-0.07,-0.12,0.06
26,20230920,-0.03,0.00,0.00,-0.01,-0.09,0.09,0.12,-0.14
27,20230921,-0.00,-0.07,-0.11,-0.16,-0.20,-0.22,0.05,-0.39
28,20230922,0.04,0.00,0.07,0.23,0.11,0.16,0.18,-0.23
29,20230925,-0.07,0.05,0.00,0.05,-0.52,-0.02,-0.64,0.07
30,20230926,0.01,0.01,-0.02,0.01,-0.70,-0.09,-1.34,0.07
31,20230927,0.02,-0.03,-0.15,-0.03,0.04,0.00,-1.01,-0.11
32,20231004,-0.03,-0.16,-0.05,-0.28,-0.11,-0.11,-0.08,-0.02
33,20231005,0.06,0.05,-0.12,0.14,0.22,0.35,0.93,0.39
34,20231006,0.05,0.03,0.32,0.10,-0.17,0.14,0.51,0.05
35,20231010,0.17,0.03,0.00,0.09,0.27,-0.06,0.00,0.32
36,20231011,0.56,-0.06,0.00,-0.07,0.00,-0.01,0.00,-0.03

In [129]:
butterfly_sell = pd.merge(
    butterfly_sell,
    vkospi["VKOSPI_Label"],
    left_index=True,
    right_index=True,
    how="right",
)

butterfly_buy = pd.merge(
    butterfly_buy,
    vkospi["VKOSPI_Label"],
    left_index=True,
    right_index=True,
    how="right",
)

In [130]:
# VKOSPI_Label이 0인 행만 선택
filtered_df = butterfly_buy[butterfly_buy["VKOSPI_Label"] == 0]

# 각 컬럼 별 합 계산
sum_by_column = filtered_df.iloc[:, 1:-1].sum()

# 합계를 가지는 새로운 데이터프레임 생성
sum_df = pd.DataFrame({"Sum": sum_by_column})

# 결과를 출력
print(sum_df)

           Sum
S1_CALL   0.27
S1_PUT    0.41
S2_CALL   0.31
S2_PUT    0.62
S3_CALL   0.11
S3_PUT    8.32
S4_CALL  -0.93
S4_PUT   31.72

In [132]:
# VKOSPI_Label이 1인 행만 선택
filtered_df = butterfly_sell[butterfly_sell["VKOSPI_Label"] == 1]

# 각 컬럼 별 합 계산
sum_by_column = filtered_df.iloc[:, 1:-1].sum()

# 합계를 가지는 새로운 데이터프레임 생성
sum_df = pd.DataFrame({"Sum": sum_by_column})

# 결과를 출력
print(sum_df)

          Sum
S1_CALL  0.59
S1_PUT  -0.13
S2_CALL  0.80
S2_PUT   0.52
S3_CALL -0.48
S3_PUT   1.00
S4_CALL -0.09
S4_PUT   9.94