In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../pivot_profit_1515.csv')
df

,거래일자,풋콜구분,307.5,310.0,312.5,315.0,317.5,320.0,322.5,325.0,...,330.0,332.5,335.0,337.5,340.0,342.5,345.0,347.5,350.0,352.5
0,20230811,CALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.70,-2.55,-2.52,-2.29,-2.14,-1.87,-1.64,-1.36,-1.10,NaN
1,20230811,PUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.49,0.62,0.80,1.00,1.25,1.49,1.66,1.92,2.29,NaN
2,20230814,CALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.46,-1.42,-1.23,-1.04,-0.88,-0.72,-0.57,-0.44,NaN,NaN
3,20230814,PUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.50,0.61,0.75,0.89,1.04,1.28,1.47,1.45,NaN,NaN
4,20230816,CALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.82,...,-1.38,-1.19,-1.04,-0.85,-0.70,-0.55,-0.42,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,20231006,PUT,0.00,0.01,0.04,0.08,0.15,0.25,0.36,0.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,20231010,CALL,NaN,-3.25,NaN,-2.69,-2.69,-2.52,-2.03,-1.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,20231010,PUT,0.78,0.95,1.18,1.40,1.64,1.91,2.19,2.27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,20231011,CALL,NaN,NaN,NaN,0.20,-0.30,-0.24,-0.23,-0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,20231011,PUT,0.09,0.11,0.13,0.14,0.20,0.20,0.20,0.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
vkospi = pd.read_csv('./vkospi.csv', index_col=0)
vkospi = vkospi.drop(index=23)
vkospi = vkospi.reset_index(drop=True)
vkospi

            날짜     종가     시가     고가     저가  거래량    변동 %  당일 변동율  VKOSPI_Label
0   2023-08-11  13.44  13.68  13.80  13.43  NaN  -4.00%  -1.754             0
1   2023-08-14  14.14  14.01  14.53  13.84  NaN   5.21%   0.928             0
2   2023-08-16  15.15  14.89  15.39  14.83  NaN   7.14%   1.746             1
3   2023-08-17  15.57  15.86  16.74  15.50  NaN   2.77%  -1.828             0
4   2023-08-18  16.03  16.92  17.09  15.75  NaN   2.95%  -5.260             0
5   2023-08-21  16.03  16.28  16.29  15.63  NaN   0.00%  -1.536             0
6   2023-08-22  15.33  15.51  15.51  15.02  NaN  -4.37%  -1.161             0
7   2023-08-23  14.97  15.72  15.72  14.96  NaN  -2.35%  -4.771             0
8   2023-08-24  13.94  14.31  14.33  13.80  NaN  -6.88%  -2.586             0
9   2023-08-25  14.86  15.20  15.23  14.69  NaN   6.60%  -2.237             0
10  2023-08-28  14.18  14.53  14.57  14.15  NaN  -4.58%  -2.409             0
11  2023-08-29  13.49  13.89  14.04  13.44  NaN  -4.87%  -2.880             0
12  2023-08-30  13.05  13.14  13.19  12.86  NaN  -3.26%  -0.685             0
13  2023-08-31  12.78  12.88  12.91  12.70  NaN  -2.07%  -0.776             0
14  2023-09-01  12.53  12.74  12.77  12.42  NaN  -1.96%  -1.648             0
15  2023-09-04  12.49  12.82  12.88  12.42  NaN  -0.32%  -2.574             0
16  2023-09-05  12.42  12.51  12.53  12.31  NaN  -0.56%  -0.719             0
17  2023-09-06  12.46  12.39  12.56  12.27  NaN   0.32%   0.565             0
18  2023-09-07  12.69  12.55  12.72  12.39  NaN   1.85%   1.116             1
19  2023-09-08  12.40  12.51  12.79  12.40  NaN  -2.29%  -0.879             0
20  2023-09-11  12.42  12.55  12.73  12.37  NaN   0.16%  -1.036             0
21  2023-09-12  12.40  12.24  12.55  12.21  NaN  -0.16%   1.307             1
22  2023-09-13  12.64  12.54  12.66  12.27  NaN   1.94%   0.797             0
23  2023-09-15  11.73  11.92  12.11  11.72  NaN  -2.41%  -1.594             0
24  2023-09-18  12.85  12.76  12.90  12.69  NaN   9.55%   0.705             0
25  2023-09-19  12.95  12.85  13.11  12.83  NaN   0.78%   0.778             0
26  2023-09-20  13.03  13.11  13.18  13.00  NaN   0.62%  -0.610             0
27  2023-09-21  13.96  13.33  14.00  13.23  NaN   7.14%   4.726             1
28  2023-09-22  14.18  15.25  15.51  14.12  NaN   1.58%  -7.016             0
29  2023-09-25  14.10  14.72  14.72  14.04  NaN  -0.56%  -4.212             0
30  2023-09-26  14.74  14.12  14.88  14.11  NaN   4.54%   4.391             1
31  2023-09-27  15.08  15.43  15.43  14.94  NaN   2.31%  -2.268             0
32  2023-10-04  18.09  17.16  18.13  17.16  NaN  19.96%   5.420             1
33  2023-10-05  17.34  17.10  17.62  16.96  NaN  -4.15%   1.404             1
34  2023-10-06  17.39  17.11  17.39  16.83  NaN   0.29%   1.636             1
35  2023-10-10  17.56  16.77  17.58  16.61  NaN   0.98%   4.711             1
36  2023-10-11  16.74  16.78  16.82  16.33  NaN  -4.67%  -0.238             0

In [4]:
strike_price = pd.read_csv('../strike_price.csv')
strike_price = strike_price[7:45]
strike_price = strike_price[::-1]
strike_price = strike_price.drop(index=23)
strike_price = strike_price.reset_index(drop=True)
strike_price = strike_price[['일자', 'S-4', 'S-3', 'S-2', 'S-1', '기준행사가', 'S+1', 'S+2', 'S+3', 'S+4']]
strike_price.columns = ['일자', 'S-4', 'S-3', 'S-2', 'S-1', 'S', 'S+1', 'S+2', 'S+3', 'S+4']
strike_price.head(5)

         일자    S-4    S-3    S-2    S-1      S    S+1    S+2    S+3    S+4
0  20230811  330.0  332.5  335.0  337.5  340.0  342.5  345.0  347.5  350.0
1  20230814  327.5  330.0  332.5  335.0  337.5  340.0  342.5  345.0  347.5
2  20230816  325.0  327.5  330.0  332.5  335.0  337.5  340.0  342.5  345.0
3  20230817  320.0  322.5  325.0  327.5  330.0  332.5  335.0  337.5  340.0
4  20230818  320.0  322.5  325.0  327.5  330.0  332.5  335.0  337.5  340.0

In [5]:
# S+1 CALL / S-1 PUT 스트랭글
strangle = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    j = i * 2
    # column
    call = strike_price["S+1"][i]  # Call
    put = strike_price["S-1"][i]  # PUT

    # 날짜
    date = df["거래일자"][j]
    price = round(df[str(call)][j] + df[str(put)][j + 1], 3)

    data = pd.DataFrame({"일자": date, "S1": price}, index=[0])
    strangle = pd.concat([strangle, data])
strangle_S1 = strangle.reset_index(drop=True)
strangle_S1
buy_date_S1 = strangle_S1.loc[strangle_S1["S1"] > 0].일자

In [6]:
strangle_S1

          일자    S1
0   20230811 -0.87
1   20230814 -0.13
2   20230816  0.25
3   20230817 -0.53
4   20230818 -0.47
5   20230821 -0.29
6   20230822 -0.56
7   20230823 -0.26
8   20230824 -0.28
9   20230825 -0.07
10  20230828 -0.10
11  20230829 -0.25
12  20230830 -0.72
13  20230831 -0.46
14  20230901  1.31
15  20230904 -0.01
16  20230905 -0.02
17  20230906  0.12
18  20230907  0.07
19  20230908 -0.23
20  20230911  0.20
21  20230912 -0.81
22  20230913 -0.48
23  20230915  1.00
24  20230918 -0.08
25  20230919  0.01
26  20230920 -0.03
27  20230921  1.04
28  20230922 -0.93
29  20230925 -0.33
30  20230926  0.20
31  20230927 -0.04
32  20231004  0.32
33  20231005 -0.57
34  20231006 -0.28
35  20231010 -1.12
36  20231011 -0.10

In [7]:
# S+2 CALL / S-2 PUT 스트랭글
strangle = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    j = i * 2
    # column
    call = strike_price["S+2"][i]  # Call
    put = strike_price["S-2"][i]  # PUT

    # 날짜
    date = df["거래일자"][j]
    price = round(df[str(call)][j] + df[str(put)][j + 1], 3)

    data = pd.DataFrame({"일자": date, "S2": price}, index=[0])
    strangle = pd.concat([strangle, data])
strangle_S2 = strangle.reset_index(drop=True)
strangle_S2
buy_date_S2 = strangle_S2.loc[strangle_S2['S2'] > 0].일자

In [8]:
buy_date_S2

2     20230816
14    20230901
15    20230904
17    20230906
18    20230907
20    20230911
23    20230915
27    20230921
30    20230926
32    20231004
Name: 일자, dtype: object

In [9]:
# S+3 CALL / S-3 PUT 스트랭글
strangle = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    j = i * 2
    # column
    call = strike_price["S+3"][i]  # Call
    put = strike_price["S-3"][i]  # PUT

    # 날짜
    date = df["거래일자"][j]
    price = round(df[str(call)][j] + df[str(put)][j + 1], 3)

    data = pd.DataFrame({"일자": date, "S3": price}, index=[0])
    strangle = pd.concat([strangle, data])
strangle_S3 = strangle.reset_index(drop=True)
strangle_S3
buy_date_S3 = strangle_S3.loc[strangle_S3["S3"] > 0].일자

In [10]:
# S+4 CALL / S-4 PUT 스트랭글
strangle = pd.DataFrame(columns=["일자"])

for i in range(0, len(strike_price)):
    j = i * 2
    # column
    call = strike_price["S+4"][i]  # Call
    put = strike_price["S-4"][i]  # PUT

    # 날짜
    date = df["거래일자"][j]
    price = round(df[str(call)][j] + df[str(put)][j + 1], 3)

    data = pd.DataFrame({"일자": date, "S4": price}, index=[0])
    strangle = pd.concat([strangle, data])
strangle_S4 = strangle.reset_index(drop=True)
strangle_S4
buy_date_S4 = strangle_S4.loc[strangle_S4["S4"] > 0].일자

In [11]:
profit = pd.merge(strangle_S1, strangle_S2, on='일자')

In [12]:
profit = pd.merge(profit, strangle_S3, on="일자")

In [13]:
profit = pd.merge(profit, strangle_S4, on='일자')

In [14]:
# #df = pd.merge(
#     df_profit, vkospi["VKOSPI_Label"], left_index=True, right_index=True, how="right"
# )
profit = pd.merge(
    profit,
    vkospi['VKOSPI_Label'],
    left_index=True, right_index=True, how='right'
)

In [15]:
profit = profit.fillna(0)

In [16]:
profit_table = pd.DataFrame(
    columns=["S1", "S2", "S3", "S4"],
    index=["양매도", "양매수"],
)

In [17]:
sell_total = 0
buy_total = 0
for index, i in enumerate(profit["VKOSPI_Label"]):
    if i == 1:
        buy_value = round(profit["S1"][index], 2)
        buy_total += buy_value
    else:
        sell_value = round(profit["S1"][index], 2)
        sell_total += sell_value
print(f"양매도 전략 : {sell_total}")
print(f"양매수 전략 : {buy_total}")

profit_table.at["양매도", "S1"] = sell_total
profit_table.at["양매수", "S1"] = buy_total

양매도 전략 : -4.6
양매수 전략 : -0.9

In [18]:
sell_total = 0
buy_total = 0
for index, i in enumerate(profit["VKOSPI_Label"]):
    if i == 1:
        buy_value = round(profit["S2"][index], 2)
        buy_total += buy_value
    else:
        sell_value = round(profit["S2"][index], 2)
        sell_total += sell_value
print(f"양매도 전략 : {sell_total}")
print(f"양매수 전략 : {buy_total}")

profit_table.at["양매도", "S2"] = sell_total
profit_table.at["양매수", "S2"] = buy_total

양매도 전략 : -4.43
양매수 전략 : -0.18999999999999984

In [19]:
sell_total = 0
buy_total = 0
for index, i in enumerate(profit["VKOSPI_Label"]):
    if i == 1:
        buy_value = round(profit["S3"][index], 2)
        buy_total += buy_value
    else:
        sell_value = round(profit["S3"][index], 2)
        sell_total += sell_value
print(f"양매도 전략 : {sell_total}")
print(f"양매수 전략 : {buy_total}")

profit_table.at["양매도", "S3"] = sell_total
profit_table.at["양매수", "S3"] = buy_total

양매도 전략 : -3.5099999999999993
양매수 전략 : 0.09999999999999976

In [20]:
sell_total = 0
buy_total = 0
for index, i in enumerate(profit["VKOSPI_Label"]):
    if i == 1:
        buy_value = round(profit["S4"][index], 2)
        buy_total += buy_value
    else:
        sell_value = round(profit["S4"][index], 2)
        sell_total += sell_value
print(f"양매도 전략 : {sell_total}")
print(f"양매수 전략 : {buy_total}")

profit_table.at["양매도", "S4"] = sell_total
profit_table.at["양매수", "S4"] = buy_total

양매도 전략 : -3.0700000000000007
양매수 전략 : 0.37999999999999967

In [21]:
profit_table

      S1    S2    S3    S4
양매도 -4.6 -4.43 -3.51 -3.07
양매수 -0.9 -0.19   0.1  0.38

In [22]:
buy_date_S1

2     20230816
14    20230901
17    20230906
18    20230907
20    20230911
23    20230915
25    20230919
27    20230921
30    20230926
32    20231004
Name: 일자, dtype: object

In [23]:
buy_date_S2

2     20230816
14    20230901
15    20230904
17    20230906
18    20230907
20    20230911
23    20230915
27    20230921
30    20230926
32    20231004
Name: 일자, dtype: object

In [24]:
buy_date_S3

2     20230816
14    20230901
15    20230904
17    20230906
18    20230907
20    20230911
23    20230915
25    20230919
27    20230921
30    20230926
32    20231004
36    20231011
Name: 일자, dtype: object

In [25]:
buy_date_S4

2     20230816
14    20230901
15    20230904
17    20230906
18    20230907
20    20230911
23    20230915
25    20230919
27    20230921
30    20230926
32    20231004
36    20231011
Name: 일자, dtype: object

In [26]:
strangle

         일자    S4
0  20230811 -0.61
0  20230814 -0.05
0  20230816  0.22
0  20230817 -0.43
0  20230818 -0.40
0  20230821 -0.24
0  20230822 -0.41
0  20230823 -0.19
0  20230824 -0.22
0  20230825 -0.06
0  20230828 -0.08
0  20230829 -0.14
0  20230830 -0.39
0  20230831 -0.18
0  20230901  0.59
0  20230904  0.03
0  20230905 -0.01
0  20230906  0.10
0  20230907  0.12
0  20230908 -0.04
0  20230911  0.01
0  20230912   NaN
0  20230913 -0.01
0  20230915  0.60
0  20230918 -0.03
0  20230919  0.02
0  20230920 -0.03
0  20230921  0.73
0  20230922 -0.69
0  20230925 -0.22
0  20230926  0.17
0  20230927 -0.06
0  20231004  0.19
0  20231005 -0.20
0  20231006 -0.06
0  20231010 -0.79
0  20231011  0.07

In [27]:
strangle = pd.concat([strangle_S1, strangle_S2[['S2']], strangle_S3[['S3']], strangle_S4[['S4']]], axis=1)

In [28]:
strangle.to_csv('../vkospi_chart/strangle_option_price.csv')