In [1]:
import pandas as pd

In [2]:
feature_list = []

In [3]:
basis = pd.read_csv('./half_clean_feature/basis_half.csv', index_col=0)
basis['일자'] = pd.to_datetime(basis['일자'])
basis = basis.set_index('일자')
feature_list.append(basis)
basis.info()
basis

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 135 entries, 2023-04-03 to 2023-10-20
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시장베이시스  135 non-null    float64
 1   이론베이시스  133 non-null    float64
 2   괴리율     133 non-null    float64
dtypes: float64(3)
memory usage: 4.2 KB

            시장베이시스  이론베이시스   괴리율
일자
2023-04-03    1.67    2.19 -0.16
2023-04-04    1.72    2.08 -0.11
2023-04-05    1.95    2.06 -0.03
2023-04-06    2.19    2.04  0.05
2023-04-07    1.93    1.97 -0.01
...            ...     ...   ...
2023-10-16    2.08    2.11 -0.01
2023-10-17    1.56    2.00 -0.14
2023-10-18    1.45    1.99 -0.16
2023-10-19    1.38    1.96 -0.18
2023-10-20    0.94    1.89 -0.29

[135 rows x 3 columns]

In [4]:
cny = pd.read_csv('./half_clean_feature/cny_half.csv', index_col=0)
cny['날짜'] = pd.to_datetime(cny['날짜'])
cny = cny.set_index('날짜')
cny.columns = ['원위안 야간변동율']
feature_list.append(cny)
cny.info()
cny.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 145 entries, 2023-04-03 to 2023-10-20
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원위안 야간변동율  145 non-null    float64
dtypes: float64(1)
memory usage: 2.3 KB

            원위안 야간변동율
날짜
2023-04-03      0.047
2023-04-04      0.021
2023-04-05      0.063

In [5]:
jpy = pd.read_csv('./half_clean_feature/jpy_half.csv', index_col=0)
jpy['날짜'] = pd.to_datetime(jpy['날짜'])
jpy = jpy.set_index('날짜')
jpy.columns = ['원엔 야간변동율']
feature_list.append(jpy)
jpy.info()
jpy.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 145 entries, 2023-04-03 to 2023-10-20
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   원엔 야간변동율  145 non-null    float64
dtypes: float64(1)
memory usage: 2.3 KB

            원엔 야간변동율
날짜
2023-04-03    -0.096
2023-04-04     0.050
2023-04-05     0.046

In [6]:
kospi = pd.read_csv('./half_clean_feature/kospi_half.csv', index_col=0)
kospi['날짜'] = pd.to_datetime(kospi['날짜'])
kospi = kospi.set_index('날짜')
kospi.columns = ['kospi 전날변동율', 'kospi 야간변동율']
feature_list.append(kospi)
kospi.info()
kospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 135 entries, 2023-04-03 to 2023-10-20
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   kospi 전날변동율  135 non-null    float64
 1   kospi 야간변동율  135 non-null    float64
dtypes: float64(2)
memory usage: 3.2 KB

            kospi 전날변동율  kospi 야간변동율
날짜
2023-04-03         0.97        0.361
2023-04-04        -0.18        0.143
2023-04-05         0.33        0.085

In [7]:
ks200 = pd.read_csv('./half_clean_feature/ks200_half.csv', index_col=0)
ks200['날짜'] = pd.to_datetime(ks200['날짜'])
ks200 = ks200.set_index('날짜')
ks200.columns = ['ks200 전날변동율', 'ks200 야간변동율']
feature_list.append(ks200)
ks200.info()
ks200.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 135 entries, 2023-04-03 to 2023-10-20
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ks200 전날변동율  135 non-null    float64
 1   ks200 야간변동율  135 non-null    float64
dtypes: float64(2)
memory usage: 3.2 KB

            ks200 전날변동율  ks200 야간변동율
날짜
2023-04-03         1.25        0.357
2023-04-04        -0.51        0.184
2023-04-05         0.43        0.090

In [8]:
nas = pd.read_csv('./half_clean_feature/nas_half.csv', index_col=0)
nas['날짜'] = pd.to_datetime(nas['날짜'])
nas = nas.set_index('날짜')
nas.columns = ['nas 야간변동율', 'nas 당일변동율', 'nas 당일변화량']
feature_list.append(nas)
nas.info()
nas.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 140 entries, 2023-04-03 to 2023-10-20
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nas 야간변동율  140 non-null    float64
 1   nas 당일변동율  140 non-null    float64
 2   nas 당일변화량  140 non-null    float64
dtypes: float64(3)
memory usage: 4.4 KB

            nas 야간변동율  nas 당일변동율  nas 당일변화량
날짜
2023-04-03       1.74      1.582     197.49
2023-04-04      -0.27      0.357     109.82
2023-04-05      -0.52     -0.673     142.87

In [9]:
pc = pd.read_csv('./half_clean_feature/put_call_half.csv', index_col=0)
pc['일자'] = pd.to_datetime(pc['일자'])
pc = pc.set_index('일자')
feature_list.append(pc)
pc.info()
pc.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 135 entries, 2023-04-03 to 2023-10-20
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   P/C Ratio           135 non-null    float64
 1   CALL_vol_change(%)  135 non-null    float64
 2   PUT_vol_change(%)   135 non-null    float64
 3   CALL_vol_fluc       135 non-null    float64
 4   PUT_vol_fluc        135 non-null    float64
dtypes: float64(5)
memory usage: 6.3 KB

,P/C Ratio,CALL_vol_change(%),PUT_vol_change(%),CALL_vol_fluc,PUT_vol_fluc
일자,,,,,
2023-04-03,1.01,-3.922,-9.261,-29567.0,-74646.0
2023-04-04,1.07,-11.483,-6.262,-83178.0,-45804.0
2023-04-05,1.08,-1.977,-1.047,-12675.0,-7175.0

In [10]:
snp = pd.read_csv('./half_clean_feature/snp_half.csv', index_col=0)
snp['날짜'] = pd.to_datetime(snp['날짜'])
snp = snp.set_index('날짜')
snp.columns = ['snp 야간변동율', 'snp 당일변동율', 'snp 당일변화량']
feature_list.append(snp)
snp.info()
snp.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 140 entries, 2023-04-03 to 2023-10-20
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   snp 야간변동율  140 non-null    float64
 1   snp 당일변동율  140 non-null    float64
 2   snp 당일변화량  140 non-null    float64
dtypes: float64(3)
memory usage: 4.4 KB

            snp 야간변동율  snp 당일변동율  snp 당일변화량
날짜
2023-04-03       1.44      1.310      54.57
2023-04-04       0.37      0.544      28.87
2023-04-05      -0.58     -0.664      46.26

In [11]:
usd = pd.read_csv('./half_clean_feature/usd_half.csv', index_col=0)
usd['날짜'] = pd.to_datetime(usd['날짜'])
usd = usd.set_index('날짜')
usd.columns = ['원달러 야간변동율']
feature_list.append(usd)
usd.info()
usd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 145 entries, 2023-04-03 to 2023-10-20
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   원달러 야간변동율  145 non-null    float64
dtypes: float64(1)
memory usage: 2.3 KB

            원달러 야간변동율
날짜
2023-04-03      0.028
2023-04-04      0.014
2023-04-05      0.035

In [12]:
vix = pd.read_csv('./half_clean_feature/vix_half.csv', index_col=0)
vix['날짜'] = pd.to_datetime(vix['날짜'])
vix = vix.set_index('날짜')
vix.columns = ['VIX 전날변동율', 'VIX 당일변동율', 'VIX 당일변화량']
feature_list.append(vix)
vix.info()
vix.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 145 entries, 2023-04-03 to 2023-10-20
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VIX 전날변동율  145 non-null    float64
 1   VIX 당일변동율  145 non-null    float64
 2   VIX 당일변화량  145 non-null    float64
dtypes: float64(3)
memory usage: 4.5 KB

            VIX 전날변동율  VIX 당일변동율  VIX 당일변화량
날짜
2023-04-03      -1.68     -2.655       0.91
2023-04-04      -0.80     -6.266       1.29
2023-04-05       2.43      1.118       1.45

In [13]:
jniv = pd.read_csv('./half_clean_feature/jniv_half.csv', index_col=0)
jniv['날짜'] = pd.to_datetime(jniv['날짜'])
jniv = jniv.set_index('날짜')
jniv.columns = ['JNIV 종가변동율', 'JNIV 전날변동율', 'JNIV 전날변화량']
feature_list.append(jniv)
jniv.info()
jniv.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 138 entries, 2023-04-03 to 2023-10-20
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JNIV 종가변동율  138 non-null    float64
 1   JNIV 전날변동율  138 non-null    float64
 2   JNIV 전날변화량  138 non-null    float64
dtypes: float64(3)
memory usage: 4.3 KB

            JNIV 종가변동율  JNIV 전날변동율  JNIV 전날변화량
날짜
2023-04-03       -0.77      -2.459        0.42
2023-04-04        2.52       1.970        0.42
2023-04-05       -3.10      -1.488        1.23

In [14]:
cd = pd.read_csv('./half_clean_feature/cd_half.csv', index_col=0)
cd['date'] = pd.to_datetime(cd['date'])
cd = cd.set_index('date')
cd.columns = ['CD 전날변동율', 'CD 전날변화량']
feature_list.append(cd)
cd.info()
cd.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 135 entries, 2023-04-03 to 2023-10-20
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CD 전날변동율  135 non-null    float64
 1   CD 전날변화량  135 non-null    float64
dtypes: float64(2)
memory usage: 3.2 KB

            CD 전날변동율  CD 전날변화량
date
2023-04-03       0.0       0.0
2023-04-04       0.0       0.0
2023-04-05       0.0       0.0

In [15]:
vkospi = pd.read_csv('./half_clean_feature/vkospi_half.csv', index_col=0)
vkospi['날짜'] = pd.to_datetime(vkospi['날짜'])
vkospi = vkospi.set_index('날짜')
feature_list.append(vkospi)
vkospi.info()
vkospi.head(3)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 135 entries, 2023-04-03 to 2023-10-20
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VKOSPI_Label  135 non-null    int64
dtypes: int64(1)
memory usage: 2.1 KB

            VKOSPI_Label
날짜
2023-04-03             0
2023-04-04             0
2023-04-05             1

In [16]:
df = pd.concat(feature_list, axis=1)

In [17]:
df = df.dropna(subset=['VKOSPI_Label'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 135 entries, 2023-04-03 to 2023-10-20
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   시장베이시스              135 non-null    float64
 1   이론베이시스              133 non-null    float64
 2   괴리율                 133 non-null    float64
 3   원위안 야간변동율           135 non-null    float64
 4   원엔 야간변동율            135 non-null    float64
 5   kospi 전날변동율         135 non-null    float64
 6   kospi 야간변동율         135 non-null    float64
 7   ks200 전날변동율         135 non-null    float64
 8   ks200 야간변동율         135 non-null    float64
 9   nas 야간변동율           131 non-null    float64
 10  nas 당일변동율           131 non-null    float64
 11  nas 당일변화량           131 non-null    float64
 12  P/C Ratio           135 non-null    float64
 13  CALL_vol_change(%)  135 non-null    float64
 14  PUT_vol_change(%)   135 non-null    float64
 15  CALL_vol_fluc       135 non-null    float64
 16  PUT_vol_fluc        135 non-null    float64
 17  snp 야간변동율           131 non-null    float64
 18  snp 당일변동율           131 non-null    float64
 19  snp 당일변화량           131 non-null    float64
 20  원달러 야간변동율           135 non-null    float64
 21  VIX 전날변동율           135 non-null    float64
 22  VIX 당일변동율           135 non-null    float64
 23  VIX 당일변화량           135 non-null    float64
 24  JNIV 종가변동율          130 non-null    float64
 25  JNIV 전날변동율          130 non-null    float64
 26  JNIV 전날변화량          130 non-null    float64
 27  CD 전날변동율            135 non-null    float64
 28  CD 전날변화량            135 non-null    float64
 29  VKOSPI_Label        135 non-null    float64
dtypes: float64(30)
memory usage: 32.7 KB

In [19]:
df = df.fillna(method='ffill')

In [20]:
df.to_csv('./half_features.csv')