In [1]:
# 선물, 현물 데이터 불러오기
import pandas as pd
FData = pd.read_csv("../old_dataset/kospi200_F202312_45min.csv", index_col=0)
PData = pd.read_csv("../old_dataset/kospi200_30min.csv", index_col=0)

In [2]:
# 선물 데이터 확인 및 전처리 계획
    # 음수 -> 양수로
    # drop
    # 컬럼명 변경
FData.head(5)

      현재가    거래량            체결시간      시가      고가      저가  수정주가이벤트   전일종가
0 -317.85   8035  20231025153000 -317.85 -317.95 -317.70  -317.55  345.1
1 -317.80  22182  20231025144500 -317.90 -318.45 -317.65      NaN    NaN
2 -317.95  18188  20231025140000 -318.45 -319.05 -317.65      NaN    NaN
3 -318.50  18185  20231025131500 -318.00 -318.65 -317.55      NaN    NaN
4 -318.05  14466  20231025123000 -318.55 -318.60 -317.85      NaN    NaN

In [3]:
FData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 900 entries, 0 to 899
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   현재가      900 non-null    float64
 1   거래량      900 non-null    int64
 2   체결시간     900 non-null    int64
 3   시가       900 non-null    float64
 4   고가       900 non-null    float64
 5   저가       900 non-null    float64
 6   수정주가이벤트  1 non-null      float64
 7   전일종가     1 non-null      float64
dtypes: float64(6), int64(2)
memory usage: 63.3 KB

In [4]:
FData = FData.abs()
FData

        현재가    거래량            체결시간      시가      고가      저가  수정주가이벤트   전일종가
0    317.85   8035  20231025153000  317.85  317.95  317.70   317.55  345.1
1    317.80  22182  20231025144500  317.90  318.45  317.65      NaN    NaN
2    317.95  18188  20231025140000  318.45  319.05  317.65      NaN    NaN
3    318.50  18185  20231025131500  318.00  318.65  317.55      NaN    NaN
4    318.05  14466  20231025123000  318.55  318.60  317.85      NaN    NaN
..      ...    ...             ...     ...     ...     ...      ...    ...
895  350.75     14  20230613124500  351.05  351.05  350.75      NaN    NaN
896  350.95     27  20230613120000  349.60  351.00  349.60      NaN    NaN
897  349.65     10  20230613111500  349.25  349.65  349.05      NaN    NaN
898  349.35     31  20230613103000  350.05  350.20  349.35      NaN    NaN
899  350.10     81  20230613094500  350.75  350.75  349.65      NaN    NaN

[900 rows x 8 columns]

In [5]:
# FData.drop('Unnamed: 0',axis = 1,inplace=True)

In [6]:
FData = FData.loc[:,['체결시간','현재가']]

In [7]:
FData.columns = ['체결시간','선물_시가']

In [8]:
FData.columns

Index(['체결시간', '선물_시가'], dtype='object')

In [9]:
FData.head()

             체결시간   선물_시가
0  20231025153000  317.85
1  20231025144500  317.80
2  20231025140000  317.95
3  20231025131500  318.50
4  20231025123000  318.05

In [10]:
# 체결시간 15:30분 데이터만 남김
# str로 바꿔줘서 나중에 datetime으로 바꿔줘야함
FData_df = FData[FData['체결시간'].astype(str).str.contains('153000')]
FData_df

               체결시간   선물_시가
0    20231025153000  317.85
10   20231024153000  319.55
20   20231023153000  317.00
30   20231020153000  318.85
40   20231019153000  323.70
50   20231018153000  330.20
60   20231017153000  328.80
70   20231016153000  324.85
80   20231013153000  327.85
90   20231012153000  330.45
100  20231011153000  327.00
110  20231010153000  321.45
120  20231006153000  320.50
130  20231005153000  319.75
140  20231004153000  320.10
150  20230927153000  329.00
160  20230926153000  328.35
170  20230925153000  333.10
180  20230922153000  332.85
190  20230921153000  334.20
200  20230920153000  340.60
210  20230919153000  340.75
220  20230918153000  342.95
230  20230915153000  346.90
240  20230914153000  342.65
250  20230913153000  337.60
260  20230912153000  337.45
270  20230911153000  339.75
280  20230908153000  338.25
290  20230907153000  338.00
300  20230906153000  339.50
310  20230905153000  341.95
320  20230904153000  342.10
330  20230901153000  339.80
340  20230831153000  336.60
350  20230830153000  336.40
360  20230829153000  335.25
370  20230828153000  334.25
380  20230825153000  331.90
390  20230824153000  335.55
400  20230823153000  331.25
410  20230822153000  331.70
420  20230821153000  330.60
430  20230818153000  330.15
440  20230817153000  332.65
450  20230816153000  334.00
460  20230814153000  339.00
470  20230811153000  342.30
480  20230810153000  342.50
490  20230809153000  344.40
500  20230808153000  340.95
510  20230807153000  342.75
520  20230804153000  344.25
530  20230803153000  344.25
540  20230802153000  346.95
550  20230801153000  354.30
560  20230731153000  349.20

In [11]:
# 체결시간 뒤에 날리고 날짜로 맞춤
FData_df['체결시간'] = FData_df['체결시간'].astype(str).str[:8]
FData_df

C:\Users\324ys\AppData\Local\Temp\ipykernel_32700\3272925826.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FData_df['체결시간'] = FData_df['체결시간'].astype(str).str[:8]

         체결시간   선물_시가
0    20231025  317.85
10   20231024  319.55
20   20231023  317.00
30   20231020  318.85
40   20231019  323.70
50   20231018  330.20
60   20231017  328.80
70   20231016  324.85
80   20231013  327.85
90   20231012  330.45
100  20231011  327.00
110  20231010  321.45
120  20231006  320.50
130  20231005  319.75
140  20231004  320.10
150  20230927  329.00
160  20230926  328.35
170  20230925  333.10
180  20230922  332.85
190  20230921  334.20
200  20230920  340.60
210  20230919  340.75
220  20230918  342.95
230  20230915  346.90
240  20230914  342.65
250  20230913  337.60
260  20230912  337.45
270  20230911  339.75
280  20230908  338.25
290  20230907  338.00
300  20230906  339.50
310  20230905  341.95
320  20230904  342.10
330  20230901  339.80
340  20230831  336.60
350  20230830  336.40
360  20230829  335.25
370  20230828  334.25
380  20230825  331.90
390  20230824  335.55
400  20230823  331.25
410  20230822  331.70
420  20230821  330.60
430  20230818  330.15
440  20230817  332.65
450  20230816  334.00
460  20230814  339.00
470  20230811  342.30
480  20230810  342.50
490  20230809  344.40
500  20230808  340.95
510  20230807  342.75
520  20230804  344.25
530  20230803  344.25
540  20230802  346.95
550  20230801  354.30
560  20230731  349.20

In [17]:
# '선물_시가' 오른차순 정렬
FData_df_sorted = FData_df.sort_values(by='체결시간', ascending=True)

# 인덱싱 다시해주기
FData_df_sorted = FData_df_sorted.reset_index(drop=True)



print(FData_df_sorted)

        체결시간   선물_시가
0   20230731  349.20
1   20230801  354.30
2   20230802  346.95
3   20230803  344.25
4   20230804  344.25
5   20230807  342.75
6   20230808  340.95
7   20230809  344.40
8   20230810  342.50
9   20230811  342.30
10  20230814  339.00
11  20230816  334.00
12  20230817  332.65
13  20230818  330.15
14  20230821  330.60
15  20230822  331.70
16  20230823  331.25
17  20230824  335.55
18  20230825  331.90
19  20230828  334.25
20  20230829  335.25
21  20230830  336.40
22  20230831  336.60
23  20230901  339.80
24  20230904  342.10
25  20230905  341.95
26  20230906  339.50
27  20230907  338.00
28  20230908  338.25
29  20230911  339.75
30  20230912  337.45
31  20230913  337.60
32  20230914  342.65
33  20230915  346.90
34  20230918  342.95
35  20230919  340.75
36  20230920  340.60
37  20230921  334.20
38  20230922  332.85
39  20230925  333.10
40  20230926  328.35
41  20230927  329.00
42  20231004  320.10
43  20231005  319.75
44  20231006  320.50
45  20231010  321.45
46  20231011  327.00
47  20231012  330.45
48  20231013  327.85
49  20231016  324.85
50  20231017  328.80
51  20231018  330.20
52  20231019  323.70
53  20231020  318.85
54  20231023  317.00
55  20231024  319.55
56  20231025  317.85

In [18]:
# 현물 데이터 확인 및 전처리 계획
    # 음수 -> 양수
    # 100으로 나눠주기
    # drop
PData.head(5)

     현재가   거래량            체결시간     시가     고가     저가  대업종구분  소업종구분  종목정보  전일종가
0 -31550  7289  20231023153000  31544  31550  31541    NaN    NaN   NaN   NaN
1 -31544  5755  20231023150000  31531  31584  31509    NaN    NaN   NaN   NaN
2 -31542  6370  20231023143000  31567  31572  31513    NaN    NaN   NaN   NaN
3 -31565  5832  20231023140000  31537  31589  31520    NaN    NaN   NaN   NaN
4 -31544  5214  20231023133000  31610  31627  31533    NaN    NaN   NaN   NaN

In [19]:
PData = PData.abs()

In [20]:
cols_to_divide = ['현재가','시가','고가','저가']
PData[cols_to_divide] = PData[cols_to_divide] / 100

In [21]:
# PData.drop('Unnamed: 0',axis = 1,inplace=True)

In [22]:
PData = PData.loc[:,['체결시간','시가']]
PData

               체결시간      시가
0    20231023153000  315.44
1    20231023150000  315.31
2    20231023143000  315.67
3    20231023140000  315.37
4    20231023133000  316.10
..              ...     ...
895  20230718090000  346.49
896  20230717153000  345.41
897  20230717150000  345.27
898  20230717143000  345.28
899  20230717140000  345.57

[900 rows x 2 columns]

In [23]:
PData.columns = ['체결시간','현물_시가']

In [24]:
PData.columns

Index(['체결시간', '현물_시가'], dtype='object')

In [25]:
PData.head()

             체결시간   현물_시가
0  20231023153000  315.44
1  20231023150000  315.31
2  20231023143000  315.67
3  20231023140000  315.37
4  20231023133000  316.10

In [26]:
# 체결시간 15:30분 데이터만 남김
# str로 바꿔줘서 나중에 datetime으로 바꿔줘야함
PData_df = PData[PData['체결시간'].astype(str).str.contains('153000')]
PData_df

               체결시간   현물_시가
0    20231023153000  315.44
14   20231020153000  317.90
28   20231019153000  322.87
42   20231018153000  328.79
56   20231017153000  327.63
..              ...     ...
840  20230721153000  341.87
854  20230720153000  342.18
868  20230719153000  343.10
882  20230718153000  343.44
896  20230717153000  345.41

[65 rows x 2 columns]

In [27]:
# 체결시간 뒤에 날리고 날짜로 맞춤
PData_df['체결시간'] = PData_df['체결시간'].astype(str).str[:8]
PData_df

C:\Users\324ys\AppData\Local\Temp\ipykernel_32700\648216465.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PData_df['체결시간'] = PData_df['체결시간'].astype(str).str[:8]

         체결시간   현물_시가
0    20231023  315.44
14   20231020  317.90
28   20231019  322.87
42   20231018  328.79
56   20231017  327.63
..        ...     ...
840  20230721  341.87
854  20230720  342.18
868  20230719  343.10
882  20230718  343.44
896  20230717  345.41

[65 rows x 2 columns]

In [24]:
# '선물_시가' 오른차순 정렬
PData_df_sorted = PData_df.sort_values(by='체결시간', ascending=True)

# 인덱싱 다시해주기
PData_df_sorted = PData_df_sorted.reset_index(drop=True)

PData_df_sorted

        체결시간   현물_시가
0   20230717  345.41
1   20230718  343.44
2   20230719  343.10
3   20230720  342.18
4   20230721  341.87
..       ...     ...
60  20231017  327.63
61  20231018  328.79
62  20231019  322.87
63  20231020  317.90
64  20231023  315.44

[65 rows x 2 columns]

In [25]:
# 데이터 합치기
Data = pd.merge(FData_df_sorted,PData_df_sorted,how='inner',on='체결시간')

In [26]:
# 데이터셋 완성
Data

        체결시간   선물_시가   현물_시가
0   20230731  349.20  346.11
1   20230801  354.30  350.97
2   20230802  346.95  343.80
3   20230803  344.25  341.91
4   20230804  344.25  341.73
5   20230807  342.75  341.20
6   20230808  340.95  338.08
7   20230809  344.40  341.82
8   20230810  342.50  340.10
9   20230811  342.30  339.10
10  20230814  339.00  336.37
11  20230816  334.00  331.39
12  20230817  332.65  330.36
13  20230818  330.15  328.94
14  20230821  330.60  328.64
15  20230822  331.70  329.97
16  20230823  331.25  329.35
17  20230824  335.55  333.94
18  20230825  331.90  330.17
19  20230828  334.25  332.06
20  20230829  335.25  333.97
21  20230830  336.40  335.41
22  20230831  336.60  334.49
23  20230901  339.80  338.54
24  20230904  342.10  340.25
25  20230905  341.95  340.28
26  20230906  339.50  337.80
27  20230907  338.00  336.15
28  20230908  338.25  336.24
29  20230911  339.75  337.46
30  20230912  337.45  335.84
31  20230913  337.60  335.92
32  20230914  342.65  340.13
33  20230915  346.90  344.98
34  20230918  342.95  340.93
35  20230919  340.75  338.76
36  20230920  340.60  338.85
37  20230921  334.20  333.41
38  20230922  332.85  332.01
39  20230925  333.10  331.51
40  20230926  328.35  326.87
41  20230927  329.00  327.43
42  20231004  320.10  319.18
43  20231005  319.75  318.79
44  20231006  320.50  319.15
45  20231010  321.45  319.36
46  20231011  327.00  324.79
47  20231012  330.45  328.48
48  20231013  327.85  325.93
49  20231016  324.85  323.54
50  20231017  328.80  327.63
51  20231018  330.20  328.79
52  20231019  323.70  322.87
53  20231020  318.85  317.90
54  20231023  317.00  315.44

### 베이시스=선물 가격−현물 가격
* 양수인 경우 (콘탱고, Contango):
    - 의미: 선물 가격이 현물 가격보다 높은 상태를 가리킵니다.
    - 원인: 여러 요인이 있을 수 있으나, 주로 보관 비용, 금리, 보험료 등의 요소가 포함될 수 있습니다. 예를 들어, 선물 계약의 만기까지 원자재를 저장하는 데 발생하는 비용이나 금융 비용이 선물 가격에 반영되어 현물 가격보다 높아질 수 있습니다.
    - 특징: 콘탱고 상태에서는 선물 계약의 만기가 가까워질수록 베이시스는 일반적으로 감소하며, 만기일에는 선물 가격과 현물 가격이 수렴하게 됩니다.
* 음수인 경우 (백워데이션, Backwardation):
    - 의미: 선물 가격이 현물 가격보다 낮은 상태를 가리킵니다.
    - 원인: 수급 불균형, 특정 상품에 대한 급격한 수요 증가, 저장 공간의 부족 등 다양한 요인이 원인이 될 수 있습니다. 백워데이션은 특정 상품에 대한 현재의 실제 수요가 미래의 예상 수요보다 높을 때 발생하기도 합니다.
    - 특징: 백워데이션 상태에서는 선물 계약의 만기가 가까워질수록 선물 가격과 현물 가격은 수렴하게 됩니다.

### 베이시스 값 해석

* 베이시스가 양수 (포지티브 베이시스)
     - 이는 트레이더들이 미래의 가격이 현재 가격보다 높을 것으로 예상한다는 것을 의미합니다. 
     - 이러한 상황에서는 보통 "캐리 트레이드" 전략이 유리할 수 있습니다.

* 베이시스가 음수 (네거티브 베이시스)
    - 이는 트레이더들이 미래의 가격이 현재 가격보다 낮을 것으로 예상한다는 것을 의미합니다. 
    - 이러한 상황에서는 선물 계약을 롤오버하는 비용이 발생할 수 있습니다.

In [27]:
# basis 계산
Data['basis'] = Data['선물_']-Data['현물_시가']

KeyError: '선물_'

In [ ]:
Data.head()

In [ ]:
Data.info()

In [ ]:
# basis_data = Data[['체결시간','basis_시가']]

In [ ]:
# Data.to_csv('basis_2403.csv', index=False)

In [ ]:
# basis_data.head()

### 베이시스 괴리율

* (베이시스 / 현물 가격) * 100

In [ ]:
# basis 계산
Data['basis_disparate_ratio'] = ((Data['basis'] / Data['현물_시가']) * 100).round(3)
Data

### 베이시스 리스크

* 현물 가격 변동 - 선물 가격 변동
    1. 현물 가격 변동 구하기
        - 새로운 컬럼 '현물_가격변동' 만들기
        - (i+1)번째 행의 값 - i번쨰 행의 값 구해서 '현물_가격변동' 컬럼의 i+1번째 행에 대입
    2. 선물 가격 변동은 현물 가격 변동 구하는 방법과 동일
         - 새로운 컬럼 명은 '선물_가격변동'
    3. 현물가격변동 - 선물가격변동 값 구해서 새로운 컬럼 'basis_risk'에 대입


##### 베이시스 리스크 값 의미
* 양수 값
    - 현물 가격의 변동이 선물 가격의 변동보다 큰 경우를 나타냅니다. 
    - 이는 선물 계약을 통해 리스크를 완전히 헤지할 수 없다는 것을 의미합니다.
    - 선물 가격의 변동이 현물 가격의 변동을 따라가지 못하는 경우에 베이시스 리스크가 발생합니다.

* 음수 값
    - 현물 가격의 변동이 선물 가격의 변동보다 작은 경우를 나타냅니다.
    - 이는 선물 가격의 변동이 현물 가격의 변동을 초과하여 움직였다는 것을 의미합니다.

 = > 베이시스 리스크는 헤지 전략을 사용하는 투자자나 기업에게 중요한 개념입니다. 선물 계약을 사용하여 리스크를 완전히 제거하려는 의도가 있더라도 베이시스 리스크로 인해 완전한 헤지가 어려울 수 있습니다. 따라서 투자자나 기업은 베이시스 리스크를 고려하여 헤지 전략을 조절해야 합니다.

In [ ]:
# 선물, 현물의 정제 데이터 불러오기.
Data.head()

In [ ]:
Data.info()

In [ ]:
# 1. 현물 가격 변동 구하기
Data['현물_가격변동'] = Data['현물_시가'].diff().abs()

# 2. 선물 가격 변동 구하기
Data['선물_가격변동'] = Data['선물_시가'].diff().abs()

Data.head()

In [ ]:
Data['basis_risk'] = Data['현물_가격변동']-Data['선물_가격변동']
Data.head()

In [ ]:
Data.info()

In [ ]:
# basis, basis_risk만 남기기~!!

Data = Data[['체결시간','basis','basis_risk','basis_disparate_ratio']]
Data.rename(columns={'체결시간': 'date'}, inplace=True)
Data['date'] = pd.to_datetime(Data['date'])

In [ ]:
Data.dtypes

In [ ]:
Data.fillna(method='bfill', inplace=True)

In [ ]:
Data.isna().sum()

In [ ]:
Data = Data.round(3)

print(Data)

In [ ]:
Data = Data.iloc[:-1, :]
print(Data)

In [ ]:
Data.to_csv('basis.csv', index=False)