In [2]:
import pandas as pd

In [3]:
strike_price = pd.read_csv('./strike_price.csv')
strike_price = strike_price[:31]
strike_price = strike_price[::-1]

In [4]:
df = pd.DataFrame()
for date in strike_price['일자']:
	data = pd.read_csv(f'./option_day_strike_price/{date}_clean.csv', index_col=0)
	data = pd.pivot_table(data, index=['거래일자', '풋콜구분', '시각'], columns='행사가', values=['종가'])
	
	data = data.reset_index()
	data = data.fillna(method='ffill')

	buy_data = data[(data['시각'] == 915)]
	#sell_data = data[(data['시각'] == 1515) | (data['시각'] == 1530)]
	sell_data = data[(data['시각'] == 1515)]

	df = pd.concat([df, buy_data, sell_data])

df = pd.pivot_table(df, index=['거래일자', '풋콜구분', '시각'], values=['종가'])
#df.to_csv('./buy_sell_1515.csv')

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_1225/1958414002.py:15: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df = pd.pivot_table(df, index=['거래일자', '풋콜구분', '시각'], values=['종가'])

In [5]:
# df = pd.DataFrame()
# for date in strike_price['일자']:
# 	data = pd.read_csv(f'./option_day_strike_price/{date}_clean.csv', index_col=0)
# 	data = pd.pivot_table(data, index=['거래일자', '풋콜구분', '시각'], columns='행사가', values=['종가'])
	
# 	data = data.reset_index()
# 	data = data.fillna(method='ffill')

# 	buy_data = data[(data['시각'] == 915)]
# 	#sell_data = data[(data['시각'] == 1515) | (data['시각'] == 1530)]
# 	sell_data = data[(data['시각'] == 1530)]

# 	df = pd.concat([df, buy_data, sell_data])

# df = pd.pivot_table(df, index=['거래일자', '풋콜구분', '시각'], values=['종가'])
# df.to_csv('./buy_sell_1530.csv')

In [6]:
df

                      종가                                                     \
행사가                307.5 310.0 312.5 315.0 317.5 320.0  322.5  325.0  327.5
거래일자     풋콜구분 시각
20230901 CALL 915    NaN   NaN   NaN   NaN   NaN   NaN    NaN   9.89   8.81
              1515   NaN   NaN   NaN   NaN   NaN   NaN  16.40  13.75  11.45
         PUT  915    NaN   NaN   NaN   NaN   NaN   NaN   0.26   0.44   0.74
              1515   NaN   NaN   NaN   NaN   NaN   NaN   0.14   0.22   0.36
20230904 CALL 915    NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN    NaN
...                  ...   ...   ...   ...   ...   ...    ...    ...    ...
20231019 PUT  1515   NaN   NaN   NaN   NaN  3.14  3.96   4.95   6.13   7.52
20231020 CALL 915    NaN   NaN  9.45  7.70  6.19  4.85   3.69   2.72   1.93
              1515   NaN   NaN  9.31  7.65  6.06  4.70   3.53   2.57   1.81
         PUT  915    NaN   NaN  3.40  4.21  5.18  6.33   7.72   9.19  10.60
              1515   NaN   NaN  3.35  4.18  5.17  6.33   7.65   9.21  10.85

                                                                              \
행사가                 330.0  332.5  335.0  337.5 340.0 342.5 345.0 347.5 350.0
거래일자     풋콜구분 시각
20230901 CALL 915    6.56   4.78   3.27   2.08  1.23  0.67   NaN   NaN   NaN
              1515   9.20   7.01   5.16   3.56  2.31  1.38   NaN   NaN   NaN
         PUT  915    1.20   1.90   2.89   4.21  5.84  7.86   NaN   NaN   NaN
              1515   0.62   1.04   1.68   2.59  3.83  5.38   NaN   NaN   NaN
20230904 CALL 915   11.15   9.35   7.75   6.10  4.70  3.56  2.58  1.94   NaN
...                   ...    ...    ...    ...   ...   ...   ...   ...   ...
20231019 PUT  1515   9.10  11.05  12.90  15.05   NaN   NaN   NaN   NaN   NaN
20231020 CALL 915    1.32   0.87    NaN    NaN   NaN   NaN   NaN   NaN   NaN
              1515   1.22   0.78    NaN    NaN   NaN   NaN   NaN   NaN   NaN
         PUT  915   12.65  14.55    NaN    NaN   NaN   NaN   NaN   NaN   NaN
              1515  12.75  14.85    NaN    NaN   NaN   NaN   NaN   NaN   NaN


행사가                352.5
거래일자     풋콜구분 시각
20230901 CALL 915    NaN
              1515   NaN
         PUT  915    NaN
              1515   NaN
20230904 CALL 915    NaN
...                  ...
20231019 PUT  1515   NaN
20231020 CALL 915    NaN
              1515   NaN
         PUT  915    NaN
              1515   NaN

[124 rows x 19 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 124 entries, (20230901, 'CALL', 915) to (20231020, 'PUT', 1515)
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   (종가, 307.5)  13 non-null     float64
 1   (종가, 310.0)  15 non-null     float64
 2   (종가, 312.5)  25 non-null     float64
 3   (종가, 315.0)  43 non-null     float64
 4   (종가, 317.5)  52 non-null     float64
 5   (종가, 320.0)  60 non-null     float64
 6   (종가, 322.5)  67 non-null     float64
 7   (종가, 325.0)  83 non-null     float64
 8   (종가, 327.5)  101 non-null    float64
 9   (종가, 330.0)  103 non-null    float64
 10  (종가, 332.5)  108 non-null    float64
 11  (종가, 335.0)  96 non-null     float64
 12  (종가, 337.5)  80 non-null     float64
 13  (종가, 340.0)  72 non-null     float64
 14  (종가, 342.5)  64 non-null     float64
 15  (종가, 345.0)  56 non-null     float64
 16  (종가, 347.5)  40 non-null     float64
 17  (종가, 350.0)  20 non-null     float64
 18  (종가, 352.5)  4 non-null      float64
dtypes: float64(19)
memory usage: 20.4+ KB

In [7]:
df['종가', 322.5][20230901]['CALL'][1515]

16.4

In [11]:
df.columns.levels[1]

Index([307.5, 310.0, 312.5, 315.0, 317.5, 320.0, 322.5, 325.0, 327.5, 330.0,
       332.5, 335.0, 337.5, 340.0, 342.5, 345.0, 347.5, 350.0, 352.5,    ''],
      dtype='object', name='행사가')

In [13]:
df.index.get_level_values('풋콜구분')

Index(['CALL', 'CALL', 'PUT', 'PUT', 'CALL', 'CALL', 'PUT', 'PUT', 'CALL',
       'CALL',
       ...
       'PUT', 'PUT', 'CALL', 'CALL', 'PUT', 'PUT', 'CALL', 'CALL', 'PUT',
       'PUT'],
      dtype='object', name='풋콜구분', length=124)

In [21]:
df[df.index.get_level_values('거래일자') == 20230911]['종가', strike_price][date][option_type][915]

행사가                 307.5  310.0  312.5  315.0  317.5  320.0  322.5  325.0  \
거래일자     풋콜구분 시각
20230911 CALL 915     NaN    NaN    NaN    NaN    NaN    NaN    NaN  11.55
              1515    NaN    NaN    NaN    NaN    NaN    NaN    NaN  12.15
         PUT  915     NaN    NaN    NaN    NaN    NaN    NaN    NaN   0.06
              1515    NaN    NaN    NaN    NaN    NaN    NaN    NaN   0.05

행사가                 327.5  330.0  332.5  335.0  337.5  340.0  342.5  345.0  \
거래일자     풋콜구분 시각
20230911 CALL 915    9.08   5.98   3.84   2.18   1.04   0.40   0.13   0.05
              1515   9.71   7.45   5.17   3.18   1.64   0.69   0.23   0.07
         PUT  915    0.14   0.33   0.79   1.64   3.00   4.85   7.06   8.70
              1515   0.08   0.17   0.39   0.88   1.85   3.40   5.41   7.95

행사가                 347.5  350.0  352.5
거래일자     풋콜구분 시각
20230911 CALL 915     NaN    NaN    NaN
              1515    NaN    NaN    NaN
         PUT  915     NaN    NaN    NaN
              1515    NaN    NaN    NaN

In [25]:
import pandas as pd

# 원본 데이터프레임을 가정합니다.
# 데이터를 로드하는 코드가 필요하며 데이터프레임 이름은 df로 가정합니다.

# 새로운 데이터프레임을 생성합니다.
profit_data = pd.DataFrame(columns=['거래일자', '행사가', '풋콜구분', '수익'])

# '행사가' 값을 columns에서 가져오기
strike_prices = df.columns.levels[1]

# 모든 거래일자, 행사가, 풋콜구분 조합에 대해 반복합니다.
for date in df.index.get_level_values('거래일자').unique():
    for strike_price in strike_prices:
        for option_type in df.index.get_level_values('풋콜구분').unique():
            # 특정 날짜(date)에 대한 데이터를 가져옵니다.
            selected_date_data = df[df.index.get_level_values('거래일자') == date]

            # 9시에 콜/풋 옵션을 사는 가격을 가져옵니다.
            try:
                buy_price = selected_date_data['종가', strike_price][date][option_type][915]
            except KeyError:
                buy_price = None

            # 15시에 콜/풋 옵션을 팔아서 얻는 가격을 가져옵니다.
            try:
                sell_price = selected_date_data['종가', strike_price][date][option_type][1515]
            except KeyError:
                sell_price = None

            # NaN 값이 있는 경우에 대비하여 수익 계산
            if buy_price is not None and sell_price is not None:
                profit = sell_price - buy_price
            else:
                profit = None

            # 결과를 새로운 데이터프레임에 추가
            if profit is not None:
                profit_data = pd.concat([profit_data, pd.DataFrame({
                    '거래일자': [date],
                    '행사가': [strike_price],
                    '풋콜구분': [option_type],
                    '수익': [profit]
                })], ignore_index=True)

# 결과 데이터프레임을 출력하거나 저장할 수 있습니다.
print(profit_data)

          거래일자    행사가  풋콜구분  수익
0     20230901  307.5  CALL NaN
1     20230901  307.5   PUT NaN
2     20230901  310.0  CALL NaN
3     20230901  310.0   PUT NaN
4     20230901  312.5  CALL NaN
...        ...    ...   ...  ..
1173  20231020  347.5   PUT NaN
1174  20231020  350.0  CALL NaN
1175  20231020  350.0   PUT NaN
1176  20231020  352.5  CALL NaN
1177  20231020  352.5   PUT NaN

[1178 rows x 4 columns]

In [26]:
profit_data.to_csv("./profit.csv")

In [ ]:
# pd.pivot_table(data, index=['거래일자', '풋콜구분', '시각'], columns='행사가', values=['종가'])

In [30]:
pivot_profit = pd.pivot_table(profit_data, index=['거래일자', '풋콜구분'], columns='행사가', values='수익')

In [31]:
pivot_profit.to_csv('./pivot_profit.csv')

In [32]:
pivot_profit

행사가            307.5  310.0  312.5  315.0  317.5  320.0  322.5  325.0  327.5  \
거래일자     풋콜구분
20230901 CALL    NaN    NaN    NaN    NaN    NaN    NaN    NaN   3.86   2.64
         PUT     NaN    NaN    NaN    NaN    NaN    NaN  -0.12  -0.22  -0.38
20230904 CALL    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
         PUT     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  -0.27
20230905 CALL    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...              ...    ...    ...    ...    ...    ...    ...    ...    ...
20231018 PUT     NaN    NaN    NaN  -0.36  -0.45  -0.57  -0.71  -0.84  -1.02
20231019 CALL    NaN    NaN    NaN    NaN  -0.51  -0.15  -0.21  -0.19  -0.15
         PUT     NaN    NaN    NaN    NaN   0.32   0.36   0.41   0.42   0.41
20231020 CALL    NaN    NaN  -0.14  -0.05  -0.13  -0.15  -0.16  -0.15  -0.12
         PUT     NaN    NaN  -0.05  -0.03  -0.01   0.00  -0.07   0.02   0.25

행사가            330.0  332.5  335.0  337.5  340.0  342.5  345.0  347.5  350.0  \
거래일자     풋콜구분
20230901 CALL   2.64   2.23   1.89   1.48   1.08   0.71    NaN    NaN    NaN
         PUT   -0.58  -0.86  -1.21  -1.62  -2.01  -2.48    NaN    NaN    NaN
20230904 CALL   0.80   0.65  -0.10   0.56   0.59   0.49   0.49   0.30    NaN
         PUT   -0.30  -0.46  -0.60  -0.54  -0.66  -0.80  -0.82   7.40    NaN
20230905 CALL  -0.50   0.12   0.13  -0.26   0.03  -0.02  -0.17  -0.07  -0.03
...              ...    ...    ...    ...    ...    ...    ...    ...    ...
20231018 PUT   -1.20  -0.92  -1.12    NaN    NaN    NaN    NaN    NaN    NaN
20231019 CALL  -0.12  -0.08  -0.06  -0.02    NaN    NaN    NaN    NaN    NaN
         PUT    0.49   0.85   0.65   0.80    NaN    NaN    NaN    NaN    NaN
20231020 CALL  -0.10  -0.09    NaN    NaN    NaN    NaN    NaN    NaN    NaN
         PUT    0.10   0.30    NaN    NaN    NaN    NaN    NaN    NaN    NaN

행사가            352.5
거래일자     풋콜구분
20230901 CALL    NaN
         PUT     NaN
20230904 CALL    NaN
         PUT     NaN
20230905 CALL    NaN
...              ...
20231018 PUT     NaN
20231019 CALL    NaN
         PUT     NaN
20231020 CALL    NaN
         PUT     NaN

[62 rows x 19 columns]