In [1]:
import pandas as pd

In [2]:
strike_price = pd.read_csv('./strike_price.csv')
strike_price = strike_price[31:52]

In [3]:
strike_price

          일자  기준행사가    S-4    S-3    S-2    S-1    S+1    S+2    S+3    S+4
31  20230831  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
32  20230830  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
33  20230829  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
34  20230828  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
35  20230825  332.5  322.5  325.0  327.5  330.0  335.0  337.5  340.0  342.5
36  20230824  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
37  20230823  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
38  20230822  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
39  20230821  327.5  317.5  320.0  322.5  325.0  330.0  332.5  335.0  337.5
40  20230818  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
41  20230817  330.0  320.0  322.5  325.0  327.5  332.5  335.0  337.5  340.0
42  20230816  335.0  325.0  327.5  330.0  332.5  337.5  340.0  342.5  345.0
43  20230814  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
44  20230811  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
45  20230810  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
46  20230809  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
47  20230808  337.5  327.5  330.0  332.5  335.0  340.0  342.5  345.0  347.5
48  20230807  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
49  20230804  340.0  330.0  332.5  335.0  337.5  342.5  345.0  347.5  350.0
50  20230803  342.5  332.5  335.0  337.5  340.0  345.0  347.5  350.0  352.5
51  20230802  350.0  340.0  342.5  345.0  347.5  352.5  355.0  357.5  360.0

In [4]:
for date in strike_price['일자']:
	data = pd.read_csv(f'./option_day_price/{date}.csv', encoding='cp949')
	data = data[data['결제월번호'] == 1]
	price = strike_price['기준행사가'].loc[strike_price['일자'] == date]

	# 날짜에 해당하는 기준 행사가 변수에 저장 / 해당 기준행사가 +-4 행사가 리스트 저장
	price = price.values[0]
	price_list = [price-10, price-7.5, price-5, price-2.5, price, price+2.5, price+5, price+7.5, price+10]
	
	# loc 비교할때 str으로 변환해서 비교
	data['행사가'] = data['행사가'].astype(str)
	price_list = list(map(str, price_list))

	# 저장할 빈 데이터프레임 
	df = pd.DataFrame()
	for price in price_list:
			filtered_data = data.loc[data['행사가'] == price]
			df = pd.concat([df, filtered_data])
	
	df.reset_index(drop=True).to_csv(f'./option_day_strike_price/{date}_clean.csv')