#### 니케이 변동성 (7/31~10/20)
* 야간 변동율 = (당일시가-전날종가)/전날종가 night_change
* 일본 없는 날짜 :2023-08-11,2023-09-18 -> 야간변동율 0값으로 처리(엑셀전처리)

In [23]:
import pandas as pd
import os

In [24]:
niv = pd.read_csv("../dataset/jniv_day.csv")

niv.columns=['date','close','open','high','low','tran','change'] 
niv.drop(['high','low','tran','change'],axis=1, inplace=True)
niv= niv[['date','open','close']]
niv['date'] = pd.to_datetime(niv['date'])

In [25]:
niv = niv.sort_values(by='date')
niv.reset_index(drop=True, inplace=True)

In [26]:
niv.head(5)

        date   open  close
0 2023-07-28  19.97  18.59
1 2023-07-31  18.67  18.32
2 2023-08-01  18.12  18.03
3 2023-08-02  18.30  19.51
4 2023-08-03  20.50  20.66

In [27]:
# 파생변수 생성(야간 변동율 = night_change)
niv['close_shift'] = niv['close'].shift(1)
niv['niv_night_change'] = round((niv['open']-niv['close_shift'])/niv['close_shift']*100,3)
niv.drop('close_shift',axis=1,inplace=True)

In [28]:
niv = niv.loc[1:,]
niv = niv[['date','niv_night_change']]

In [29]:
niv

         date  niv_night_change
1  2023-07-31             0.430
2  2023-08-01            -1.092
3  2023-08-02             1.498
4  2023-08-03             5.074
5  2023-08-04             3.146
6  2023-08-07             2.589
7  2023-08-08            -1.767
8  2023-08-09            -0.099
9  2023-08-10             0.000
10 2023-08-14            -2.236
11 2023-08-15            -3.807
12 2023-08-16             4.562
13 2023-08-17            -1.152
14 2023-08-18             3.834
15 2023-08-21             0.973
16 2023-08-22            -3.561
17 2023-08-23             0.689
18 2023-08-24            -1.468
19 2023-08-25             5.254
20 2023-08-28            -2.225
21 2023-08-29            -3.100
22 2023-08-30            -1.833
23 2023-08-31            -2.424
24 2023-09-01             0.296
25 2023-09-04             0.059
26 2023-09-05             2.100
27 2023-09-06             2.961
28 2023-09-07             5.543
29 2023-09-08             0.503
30 2023-09-11            -0.928
31 2023-09-12            -3.077
32 2023-09-13            -0.431
33 2023-09-14            -2.609
34 2023-09-15            -0.871
35 2023-09-19             5.066
36 2023-09-20             0.650
37 2023-09-21             2.665
38 2023-09-22             5.863
39 2023-09-25            -0.841
40 2023-09-26            -1.590
41 2023-09-27             4.007
42 2023-09-28             0.055
43 2023-09-29            -1.914
44 2023-10-02            -1.087
45 2023-10-03             3.919
46 2023-10-04             9.310
47 2023-10-05            -7.074
48 2023-10-06            -1.200
49 2023-10-10             2.003
50 2023-10-11            -1.944
51 2023-10-12            -1.403
52 2023-10-13            -0.870
53 2023-10-16             2.337
54 2023-10-17            -4.247
55 2023-10-18            -0.284
56 2023-10-19             6.667
57 2023-10-20             1.335

In [32]:
df = pd.read_csv("../dataset/usd_krw_final.csv",index_col=0)
df['date'] = pd.to_datetime(df['date'])

In [36]:
df

         date  usd_yesterday_change  usd_night_change
0  2023-07-31                -0.883             0.039
1  2023-08-01                 0.356             0.033
2  2023-08-02                 0.839             0.031
3  2023-08-03                 0.739             0.042
4  2023-08-04                -0.035             0.071
5  2023-08-07                 0.319             0.016
6  2023-08-08                 0.231             0.048
7  2023-08-09                 0.672             0.023
8  2023-08-10                -0.299             0.002
9  2023-08-11                 0.289             0.094
10 2023-08-14                 0.923             0.023
11 2023-08-16                -0.114             0.034
12 2023-08-17                 0.325             0.054
13 2023-08-18                -0.199             0.037
14 2023-08-21                -0.044             0.075
15 2023-08-22                -0.076             0.066
16 2023-08-23                -0.017             0.075
17 2023-08-24                -1.073             0.113
18 2023-08-25                -0.043             0.075
19 2023-08-28                -0.362             0.079
20 2023-08-29                -0.057             0.030
21 2023-08-30                -0.464             0.041
22 2023-08-31                 0.371             0.023
23 2023-09-01                 0.102             0.024
24 2023-09-04                -0.597             0.068
25 2023-09-05                -0.094             0.091
26 2023-09-06                 0.807             0.068
27 2023-09-07                 0.273             0.071
28 2023-09-08                -0.081             0.100
29 2023-09-11                 0.013             0.103
30 2023-09-12                -0.812             0.042
31 2023-09-13                 0.008             0.043
32 2023-09-14                -0.010             0.121
33 2023-09-15                 0.099             0.038
34 2023-09-18                -0.117             0.072
35 2023-09-19                -0.440             0.036
36 2023-09-20                 0.345             0.028
37 2023-09-21                 0.296             0.039
38 2023-09-22                 0.417             0.043
39 2023-09-25                -0.414             0.115
40 2023-09-26                 0.183             0.126
41 2023-09-27                 0.988             0.086
42 2023-10-04                 0.290             0.071
43 2023-10-05                -0.766             0.069
44 2023-10-06                -0.505             0.046
45 2023-10-10                 0.149             0.086
46 2023-10-11                -0.470             0.096
47 2023-10-12                -0.313             0.084
48 2023-10-13                 0.703             0.033
49 2023-10-16                 0.208             0.064
50 2023-10-17                -0.382             0.025
51 2023-10-18                 0.351             0.042
52 2023-10-19                 0.023             0.120
53 2023-10-20                 0.040             0.080

In [ ]:
niv

In [33]:
niv_final = pd.merge(df,niv,on='date',how='inner')

In [ ]:
niv_final

In [39]:
os.chdir("C:/Users/LGPC/Desktop/oncoding/Project1/dataset")
niv_final.to_csv("C:/Users/LGPC/Desktop/oncoding/Project1/dataset/niv_semi_final.csv")