In [2]:
import pandas as pd

In [3]:
kospi = pd.read_csv('../year_data/KOSPI.csv', index_col=0)
kospi

                    종가        시가        고가        저가      거래량    변동 %
날짜
2023- 10- 31  2,284.70  2,318.39  2,322.45  2,280.75  273.04K  -1.12%
2023- 10- 30  2,310.55  2,292.34  2,317.75  2,292.34  444.84K   0.34%
2023- 10- 27  2,302.81  2,311.59  2,321.84  2,293.05  514.88M   0.16%
2023- 10- 26  2,299.08  2,325.82  2,330.55  2,299.08  531.07M  -2.71%
2023- 10- 25  2,363.17  2,389.23  2,389.90  2,362.69  440.81M  -0.85%
...                ...       ...       ...       ...      ...     ...
2022- 10- 19  2,237.44  2,249.35  2,266.80  2,234.59  895.16M  -0.56%
2022- 10- 18  2,249.95  2,249.15  2,251.74  2,220.71  580.89M   1.36%
2022- 10- 17  2,219.71  2,187.17  2,221.05  2,177.66  498.78M   0.32%
2022- 10- 14  2,212.55  2,200.66  2,220.54  2,193.63  513.52M   2.30%
2022- 10- 13  2,162.87  2,198.29  2,198.34  2,162.87  792.45M  -1.80%

[260 rows x 6 columns]

In [4]:
kospi = kospi[::-1]
kospi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260 entries, 2022- 10- 13 to 2023- 10- 31
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      260 non-null    object
 1   시가      260 non-null    object
 2   고가      260 non-null    object
 3   저가      260 non-null    object
 4   거래량     260 non-null    object
 5   변동 %    260 non-null    object
dtypes: object(6)
memory usage: 14.2+ KB

In [5]:
kospi = kospi.reset_index()

In [6]:
kospi.head(3)

             날짜        종가        시가        고가        저가      거래량    변동 %
0  2022- 10- 13  2,162.87  2,198.29  2,198.34  2,162.87  792.45M  -1.80%
1  2022- 10- 14  2,212.55  2,200.66  2,220.54  2,193.63  513.52M   2.30%
2  2022- 10- 17  2,219.71  2,187.17  2,221.05  2,177.66  498.78M   0.32%

In [7]:
kospi = kospi[['날짜', '종가', '시가', '변동 %']]

In [8]:
kospi['변동 %'] = kospi['변동 %'].astype(str)
kospi["변동 %"] = kospi["변동 %"].str.rstrip('%')
kospi["변동 %"] = kospi["변동 %"].astype(float)

kospi["시가"] = kospi["시가"].str.replace(',', '')
kospi["시가"] = kospi["시가"].astype(float)

kospi["종가"] = kospi["종가"].str.replace(',', '')
kospi["종가"] = kospi["종가"].astype(float)

In [9]:
kospi['변동 %'] = kospi['변동 %'].shift(1)
kospi

               날짜       종가       시가  변동 %
0    2022- 10- 13  2162.87  2198.29   NaN
1    2022- 10- 14  2212.55  2200.66 -1.80
2    2022- 10- 17  2219.71  2187.17  2.30
3    2022- 10- 18  2249.95  2249.15  0.32
4    2022- 10- 19  2237.44  2249.35  1.36
..            ...      ...      ...   ...
255  2023- 10- 25  2363.17  2389.23  1.12
256  2023- 10- 26  2299.08  2325.82 -0.85
257  2023- 10- 27  2302.81  2311.59 -2.71
258  2023- 10- 30  2310.55  2292.34  0.16
259  2023- 10- 31  2284.70  2318.39  0.34

[260 rows x 4 columns]

In [10]:
kospi = kospi.dropna()

In [11]:
kospi['종가'] = kospi['종가'].shift(1)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_81195/3770697944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kospi['종가'] = kospi['종가'].shift(1)

In [12]:
kospi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 259 entries, 1 to 259
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      259 non-null    object
 1   종가      258 non-null    float64
 2   시가      259 non-null    float64
 3   변동 %    259 non-null    float64
dtypes: float64(3), object(1)
memory usage: 10.1+ KB

In [13]:
kospi['야간변화율'] = round(((kospi['시가'] - kospi['종가']) / kospi['종가']) * 100, 3)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_81195/371561438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kospi['야간변화율'] = round(((kospi['시가'] - kospi['종가']) / kospi['종가']) * 100, 3)

In [14]:
kospi = kospi.dropna()
kospi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, 2 to 259
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      258 non-null    object
 1   종가      258 non-null    float64
 2   시가      258 non-null    float64
 3   변동 %    258 non-null    float64
 4   야간변화율   258 non-null    float64
dtypes: float64(4), object(1)
memory usage: 12.1+ KB

In [15]:
kospi['날짜'] = pd.to_datetime(kospi['날짜'])

In [16]:
kospi = kospi[:251]

In [17]:
kospi = kospi.reset_index(drop=True)

In [18]:
kospi

            날짜       종가       시가  변동 %  야간변화율
0   2022-10-17  2212.55  2187.17  2.30 -1.147
1   2022-10-18  2219.71  2249.15  0.32  1.326
2   2022-10-19  2249.95  2249.35  1.36 -0.027
3   2022-10-20  2237.44  2225.53 -0.56 -0.532
4   2022-10-21  2218.09  2210.59 -0.86 -0.338
..         ...      ...      ...   ...    ...
246 2023-10-16  2456.15  2442.43 -0.95 -0.559
247 2023-10-17  2436.24  2454.14 -0.81  0.735
248 2023-10-18  2460.17  2452.05  0.98 -0.330
249 2023-10-19  2462.60  2431.92  0.10 -1.246
250 2023-10-20  2415.80  2391.54 -1.90 -1.004

[251 rows x 5 columns]

In [19]:
kospi[['날짜', '변동 %', '야간변화율']].to_csv('../year_clean_feature/kospi.csv')

In [28]:
kospi[116:].reset_index(drop=True)[['날짜', '변동 %', '야간변화율']].to_csv('../year_clean_feature/kospi_half.csv')