In [1]:
import pandas as pd

In [2]:
vkospi = pd.read_csv('../year_data/VKOSPI.csv', index_col=0)

In [3]:
vkospi

                 종가     시가     고가     저가  거래량     변동 %
날짜
2023- 10- 31  19.89  19.25  20.12  19.05  NaN   -0.70%
2023- 10- 30  20.03  21.04  21.04  19.88  NaN    0.05%
2023- 10- 27  20.02  19.98  20.41  19.79  NaN   -5.30%
2023- 10- 26  21.14  20.19  21.19  19.87  NaN   13.90%
2023- 10- 25  18.56  18.39  18.67  18.29  NaN   -1.38%
...             ...    ...    ...    ...  ...      ...
2022- 10- 17  24.40  25.44  25.66  24.31  NaN    1.92%
2022- 10- 14  23.94  24.81  24.86  23.94  NaN  -12.05%
2022- 10- 13  27.22  25.25  27.47  25.15  NaN   10.25%
2022- 10- 12  24.69  25.77  25.77  24.69  NaN   -4.23%
2022- 10- 11  25.78  26.53  26.89  25.69  NaN    7.73%

[262 rows x 6 columns]

In [5]:
vkospi = vkospi[::-1]

In [10]:
vkospi = vkospi.reset_index()

In [11]:
label = []

for i in range(len(vkospi['날짜'])):
	if vkospi['시가'][i] > vkospi['종가'][i]:
		result = 0
		label.append(result)
	else:
		result = 1
		label.append(result)

print(label)

[0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1]