In [25]:
import pandas as pd

In [26]:
cd = pd.read_csv('../data/CD_interest.csv')
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              265 non-null    object
 1   cd_interest_rate  265 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.3+ KB

In [27]:
cd['cd_interest_rate_shift'] = cd['cd_interest_rate'].shift(1)

In [28]:
cd['CD 변동률'] = round((cd['cd_interest_rat e'] - cd['cd_interest_rate_shift']) / cd['cd_interest_rate_shift'] * 100, 3)
cd['CD 변화량'] = round(cd['cd_interest_rate_shift'] - cd['cd_interest_rate'], 3)

In [29]:
cd['CD 변동률'] = cd['CD 변동률'].shift(1)
cd['CD 변화량'] = cd['CD 변화량'].shift(1)

In [30]:
cd = cd[5:257]

In [31]:
cd['date'] = pd.to_datetime(cd['date'])

In [32]:
cd[203:243][['date', 'CD 변동률', 'CD 변화량']].reset_index(drop=True).to_csv('../two_month_clean_feature/cd_2month.csv')

In [33]:
cd[122:243][['date', 'CD 변동률', 'CD 변화량']].reset_index(drop=True).to_csv('../half_clean_feature/cd_half.csv')

In [34]:
cd[163:243][['date', 'CD 변동률', 'CD 변화량']].reset_index(drop=True).to_csv('../quater_clean_feature/cd_quater.csv')

In [35]:
cd[122:243]

          date  cd_interest_rate  cd_interest_rate_shift  CD 변동률  CD 변화량
127 2023-04-10              3.51                    3.53  -1.397    0.05
128 2023-04-11              3.48                    3.51  -0.567    0.02
129 2023-04-12              3.43                    3.48  -0.855    0.03
130 2023-04-13              3.43                    3.43  -1.437    0.05
131 2023-04-14              3.43                    3.43   0.000    0.00
..         ...               ...                     ...     ...     ...
243 2023-09-26              3.83                    3.83   0.000    0.00
244 2023-09-27              3.83                    3.83   0.000    0.00
245 2023-10-04              3.84                    3.83   0.000    0.00
246 2023-10-05              3.83                    3.84   0.261   -0.01
247 2023-10-06              3.82                    3.83  -0.260    0.01

[121 rows x 5 columns]