In [45]:
import pandas as pd

In [46]:
cny = pd.read_csv('../data/CNY_KRW.csv', index_col=0)
cny

                  종가      시가      고가      저가  거래량    변동 %
날짜
2023- 10- 31  184.32  184.34  184.35  184.11  NaN  -0.01%
2023- 10- 30  184.34  185.34  185.34  183.82  NaN  -0.54%
2023- 10- 29  185.34  185.35  185.35  185.34  NaN   0.10%
2023- 10- 27  185.16  185.02  185.63  184.23  NaN   0.15%
2023- 10- 26  184.88  184.89  185.93  184.73  NaN   0.04%
...              ...     ...     ...     ...  ...     ...
2022- 10- 19  198.48  197.90  198.80  196.01  NaN   0.34%
2022- 10- 18  197.81  198.99  199.05  197.21  NaN  -0.51%
2022- 10- 17  198.83  200.59  200.63  198.60  NaN  -0.72%
2022- 10- 14  200.27  199.51  200.59  198.63  NaN   0.38%
2022- 10- 13  199.51  198.60  201.13  198.21  NaN   0.53%

[275 rows x 6 columns]

In [47]:
cny = cny[::-1]

In [48]:
cny = cny.reset_index()

In [49]:
cny = cny[['날짜', '종가', '시가']]

In [50]:
cny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      275 non-null    object
 1   종가      275 non-null    float64
 2   시가      275 non-null    float64
dtypes: float64(2), object(1)
memory usage: 6.6+ KB

In [51]:
cny['종가'] = cny['종가'].shift(1)

In [52]:
cny['야간 변동률'] = round((cny['시가'] - cny['종가']) / cny['종가'] * 100, 3)

In [53]:
cny = cny.dropna()

In [54]:
cny = cny[1:266]

In [55]:
cny = cny.reset_index(drop=True)

In [56]:
cny['날짜'] = pd.to_datetime(cny['날짜'])

In [57]:
cny[210:255].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv("../two_month_clean_feature/cny_2month.csv")

In [58]:
cny[125:255].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../half_clean_feature/cny_half.csv')

In [59]:
cny[170:255].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../quater_clean_feature/cny_quater.csv')

In [60]:
cny[170:255]

            날짜      종가      시가  야간 변동률
170 2023-06-12  180.55  180.63   0.044
171 2023-06-13  179.72  179.81   0.050
172 2023-06-14  176.82  176.90   0.045
173 2023-06-15  177.79  177.90   0.062
174 2023-06-16  178.31  178.40   0.050
..         ...     ...     ...     ...
250 2023-10-02  185.14  185.26   0.065
251 2023-10-03  185.68  185.88   0.108
252 2023-10-04  186.40  186.54   0.075
253 2023-10-05  185.10  185.21   0.059
254 2023-10-06  184.29  184.39   0.054

[85 rows x 4 columns]