In [24]:
import pandas as pd

In [25]:
jniv = pd.read_csv('../data/JNIV.csv')
jniv

               날짜     종가     시가     고가     저가  거래량    변동 %
0    2023- 11- 01  20.94  21.12  21.20  20.83  NaN  -4.95%
1    2023- 10- 31  22.03  23.29  23.43  21.79  NaN  -7.09%
2    2023- 10- 30  23.71  23.82  24.02  23.44  NaN   4.96%
3    2023- 10- 27  22.59  23.06  23.11  22.18  NaN  -5.84%
4    2023- 10- 26  23.99  23.09  24.13  23.05  NaN   8.50%
..            ...    ...    ...    ...    ...  ...     ...
258  2022- 10- 17  25.02  25.60  25.79  24.93  NaN   1.21%
259  2022- 10- 14  24.72  25.21  25.21  24.38  NaN  -7.03%
260  2022- 10- 13  26.59  26.21  26.74  26.20  NaN   1.80%
261  2022- 10- 12  26.12  26.23  26.55  26.04  NaN   0.58%
262  2022- 10- 11  25.97  25.09  26.47  25.09  NaN  11.32%

[263 rows x 7 columns]

In [26]:
jniv = jniv[::-1]
jniv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 262 to 0
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      263 non-null    object
 1   종가      263 non-null    float64
 2   시가      263 non-null    float64
 3   고가      263 non-null    float64
 4   저가      263 non-null    float64
 5   거래량     0 non-null      float64
 6   변동 %    263 non-null    object
dtypes: float64(5), object(2)
memory usage: 14.5+ KB

In [27]:
jniv = jniv.reset_index(drop=True)

In [28]:
jniv.head(3)

             날짜     종가     시가     고가     저가  거래량    변동 %
0  2022- 10- 11  25.97  25.09  26.47  25.09  NaN  11.32%
1  2022- 10- 12  26.12  26.23  26.55  26.04  NaN   0.58%
2  2022- 10- 13  26.59  26.21  26.74  26.20  NaN   1.80%

In [29]:
jniv = jniv[['날짜', '종가', '시가', '고가', '저가', '변동 %']]

In [30]:
jniv['변동 %'] = jniv['변동 %'].astype(str)
jniv["변동 %"] = jniv["변동 %"].str.rstrip('%')
jniv["변동 %"] = jniv["변동 %"].astype(float)

In [31]:
jniv['변동 %'] = jniv['변동 %'].shift(2)
jniv['종가'] = jniv['종가'].shift(1)
jniv

               날짜     종가     시가     고가     저가   변동 %
0    2022- 10- 11    NaN  25.09  26.47  25.09    NaN
1    2022- 10- 12  25.97  26.23  26.55  26.04    NaN
2    2022- 10- 13  26.12  26.21  26.74  26.20  11.32
3    2022- 10- 14  26.59  25.21  25.21  24.38   0.58
4    2022- 10- 17  24.72  25.60  25.79  24.93   1.80
..            ...    ...    ...    ...    ...    ...
258  2023- 10- 26  22.11  23.09  24.13  23.05  -4.12
259  2023- 10- 27  23.99  23.06  23.11  22.18  -1.95
260  2023- 10- 30  22.59  23.82  24.02  23.44   8.50
261  2023- 10- 31  23.71  23.29  23.43  21.79  -5.84
262  2023- 11- 01  22.03  21.12  21.20  20.83   4.96

[263 rows x 6 columns]

In [32]:
jniv['전날 변동율'] = round((jniv['종가'] - jniv['시가']) / jniv['시가'] * 100, 3)
jniv['전날 변화량'] = round(jniv['고가'] - jniv['저가'], 3)

In [33]:
jniv['전날 변동율'] = jniv['전날 변동율'].shift(1)
jniv['전날 변화량'] = jniv['전날 변화량'].shift(1)

In [34]:
jniv = jniv.dropna()

In [35]:
jniv = jniv[3:254]

In [36]:
jniv

               날짜     종가     시가     고가     저가  변동 %  전날 변동율  전날 변화량
5    2022- 10- 18  25.02  23.69  24.30  23.39 -7.03  -3.438    0.86
6    2022- 10- 19  23.39  22.98  23.08  22.55  1.21   5.614    0.91
7    2022- 10- 20  22.79  23.40  24.41  23.36 -6.51   1.784    0.53
8    2022- 10- 21  23.99  23.82  24.34  23.77 -2.57  -2.607    1.05
9    2022- 10- 24  24.06  24.43  25.12  24.13  5.27   0.714    0.57
..            ...    ...    ...    ...    ...   ...     ...     ...
251  2023- 10- 17  21.90  20.97  21.38  20.82  1.40  -2.283    1.19
252  2023- 10- 18  21.15  21.09  21.57  20.87  4.43   4.435    0.56
253  2023- 10- 19  21.00  22.40  22.62  21.93 -3.42   0.284    0.70
254  2023- 10- 20  22.47  22.77  23.26  22.33 -0.71  -6.250    0.69
255  2023- 10- 23  23.20  23.42  23.87  23.30  7.00  -1.318    0.93

[251 rows x 8 columns]

In [37]:
jniv = jniv.reset_index(drop=True)

In [38]:
jniv['날짜'] = pd.to_datetime(jniv['날짜'])

In [39]:
jniv[159:241]

            날짜     종가     시가     고가     저가   변동 %  전날 변동율  전날 변화량
159 2023-06-12  21.59  21.30  21.44  20.53   5.37   4.137    1.77
160 2023-06-13  20.55  20.16  21.59  20.08  -6.78   1.362    0.91
161 2023-06-14  21.41  21.83  22.43  21.25  -4.82   1.935    1.51
162 2023-06-15  21.99  21.61  23.08  21.49   4.18  -1.924    1.18
163 2023-06-16  22.32  21.89  22.36  20.56   2.71   1.758    1.59
..         ...    ...    ...    ...    ...    ...     ...     ...
236 2023-10-02  18.40  18.20  19.28  18.13   3.81   1.951    0.77
237 2023-10-03  18.88  19.62  20.50  19.60  -2.18   1.099    1.15
238 2023-10-04  20.30  22.19  22.76  21.33   2.61  -3.772    0.90
239 2023-10-05  22.76  21.15  21.44  20.68   7.52  -8.517    1.43
240 2023-10-06  20.84  20.59  21.08  20.32  12.12   7.612    0.76

[82 rows x 8 columns]

In [40]:
jniv[117:241].reset_index(drop=True)[['날짜', '변동 %', '전날 변동율', '전날 변화량']].to_csv('../half_clean_feature/jniv_half.csv')

In [41]:
jniv[159:241].reset_index(drop=True)[['날짜', '변동 %', '전날 변동율', '전날 변화량']].to_csv('../quater_clean_feature/jniv_quater.csv')

In [42]:
jniv[198:241].reset_index(drop=True)[['날짜', '변동 %', '전날 변동율', '전날 변화량']].to_csv('../two_month_clean_feature/jniv_2month.csv')

In [43]:
jniv[199:242]

            날짜     종가     시가     고가     저가   변동 %  전날 변동율  전날 변화량
199 2023-08-08  20.37  20.01  20.47  19.63   0.97  -2.523    1.36
200 2023-08-09  20.13  20.11  20.41  19.67  -2.35   1.799    0.84
201 2023-08-10  20.03  20.03  20.10  19.20  -1.18   0.099    0.74
202 2023-08-14  19.23  18.80  20.30  18.48  -0.50   0.000    0.90
203 2023-08-15  19.70  18.95  19.20  18.65  -3.99   2.287    1.82
204 2023-08-16  18.85  19.71  20.15  19.28   2.44   3.958    0.55
205 2023-08-17  19.97  19.74  20.57  19.42  -4.31  -4.363    0.87
206 2023-08-18  19.56  20.31  20.45  19.21   5.94   1.165    1.15
207 2023-08-21  19.52  19.71  20.06  19.39  -2.05  -3.693    1.24
208 2023-08-22  19.94  19.23  19.36  18.80  -0.20  -0.964    0.67
209 2023-08-23  18.86  18.99  18.99  18.18   2.15   3.692    0.56
210 2023-08-24  18.39  18.12  18.12  17.70  -5.42  -0.685    0.81
211 2023-08-25  17.89  18.83  19.01  18.17  -2.49   1.490    0.42
212 2023-08-28  18.88  18.46  18.61  18.12  -2.72  -4.992    0.84
213 2023-08-29  18.39  17.82  18.05  17.71   5.53   2.275    0.49
214 2023-08-30  18.00  17.67  17.96  17.55  -2.60   3.199    0.34
215 2023-08-31  17.74  17.31  17.32  16.74  -2.12   1.868    0.41
216 2023-09-01  16.89  16.94  16.98  16.55  -1.44   2.484    0.58
217 2023-09-04  16.86  16.87  17.28  16.69  -4.79  -0.295    0.43
218 2023-09-05  17.14  17.50  17.84  17.35  -0.18  -0.059    0.59
219 2023-09-06  17.56  18.08  18.10  16.73   1.66  -2.057    0.49
220 2023-09-07  17.14  18.09  18.46  17.31   2.45  -2.876    1.37
221 2023-09-08  17.89  17.98  18.85  17.18  -2.39  -5.252    1.15
222 2023-09-11  17.24  17.08  17.67  16.90   4.38  -0.501    1.67
223 2023-09-12  16.90  16.38  16.47  16.10  -3.63   0.937    0.77
224 2023-09-13  16.23  16.16  16.58  16.02  -1.97   3.175    0.37
225 2023-09-14  16.48  16.05  16.30  15.78  -3.96   0.433    0.56
226 2023-09-15  16.07  15.93  16.57  15.80   1.54   2.679    0.52
227 2023-09-19  15.99  16.80  17.09  16.76  -2.49   0.879    0.77
228 2023-09-20  16.92  17.03  17.43  17.03  -0.50  -4.821    0.33
229 2023-09-21  17.26  17.72  18.44  17.26   5.82  -0.646    0.40
230 2023-09-22  18.25  19.32  19.47  17.58   2.01  -2.596    1.18
231 2023-09-25  17.83  17.68  18.10  17.48   5.74  -5.538    1.89
232 2023-09-26  17.61  17.33  18.31  17.32  -2.30   0.848    0.62
233 2023-09-27  18.22  18.95  19.07  18.04  -1.23   1.616    0.99
234 2023-09-28  18.12  18.13  19.49  17.99   3.46  -3.852    1.03
235 2023-09-29  18.81  18.45  19.05  18.28  -0.55  -0.055    1.50
236 2023-10-02  18.40  18.20  19.28  18.13   3.81   1.951    0.77
237 2023-10-03  18.88  19.62  20.50  19.60  -2.18   1.099    1.15
238 2023-10-04  20.30  22.19  22.76  21.33   2.61  -3.772    0.90
239 2023-10-05  22.76  21.15  21.44  20.68   7.52  -8.517    1.43
240 2023-10-06  20.84  20.59  21.08  20.32  12.12   7.612    0.76
241 2023-10-10  20.47  20.88  21.46  20.54  -8.44   1.214    0.76