In [47]:
import pandas as pd

In [48]:
snp = pd.read_csv('../data/S&P500.csv', index_col=0)
snp

                    종가        시가        고가        저가  거래량    변동 %
날짜
2023- 10- 30  4,166.82  4,139.39  4,177.47  4,132.94  NaN   1.20%
2023- 10- 27  4,117.37  4,152.93  4,156.70  4,103.78  NaN  -0.48%
2023- 10- 26  4,137.23  4,175.99  4,183.60  4,127.90  NaN  -1.18%
2023- 10- 25  4,186.77  4,232.42  4,232.42  4,181.42  NaN  -1.43%
2023- 10- 24  4,247.68  4,235.79  4,259.38  4,219.43  NaN   0.73%
...                ...       ...       ...       ...  ...     ...
2022- 10- 19  3,695.16  3,703.11  3,728.58  3,666.51  NaN  -0.67%
2022- 10- 18  3,719.98  3,746.26  3,762.79  3,686.53  NaN   1.14%
2022- 10- 17  3,677.95  3,638.65  3,689.73  3,638.65  NaN   2.65%
2022- 10- 14  3,583.07  3,690.41  3,712.00  3,579.68  NaN  -2.37%
2022- 10- 13  3,669.91  3,520.37  3,685.41  3,491.58  NaN   2.60%

[263 rows x 6 columns]

In [49]:
snp = snp[::-1]

In [50]:
snp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 263 entries, 2022- 10- 13 to 2023- 10- 30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      263 non-null    object
 1   시가      263 non-null    object
 2   고가      263 non-null    object
 3   저가      263 non-null    object
 4   거래량     0 non-null      float64
 5   변동 %    263 non-null    object
dtypes: float64(1), object(5)
memory usage: 14.4+ KB

In [51]:
snp = snp.reset_index()

In [52]:
snp = snp[['날짜', '종가', '시가', '고가', '저가', '변동 %']]

In [53]:
snp['변동 %'] = snp['변동 %'].astype(str)
snp["변동 %"] = snp["변동 %"].str.rstrip('%')
snp["변동 %"] = snp["변동 %"].astype(float)

snp["시가"] = snp["시가"].str.replace(',', '')
snp["시가"] = snp["시가"].astype(float)

snp["종가"] = snp["종가"].str.replace(',', '')
snp["종가"] = snp["종가"].astype(float)

snp["고가"] = snp["고가"].str.replace(',', '')
snp["고가"] = snp["고가"].astype(float)

snp["저가"] = snp["저가"].str.replace(',', '')
snp["저가"] = snp["저가"].astype(float)

In [54]:
snp['변동 %'] = snp['변동 %'].shift(1)
snp

               날짜       종가       시가       고가       저가  변동 %
0    2022- 10- 13  3669.91  3520.37  3685.41  3491.58   NaN
1    2022- 10- 14  3583.07  3690.41  3712.00  3579.68  2.60
2    2022- 10- 17  3677.95  3638.65  3689.73  3638.65 -2.37
3    2022- 10- 18  3719.98  3746.26  3762.79  3686.53  2.65
4    2022- 10- 19  3695.16  3703.11  3728.58  3666.51  1.14
..            ...      ...      ...      ...      ...   ...
258  2023- 10- 24  4247.68  4235.79  4259.38  4219.43 -0.17
259  2023- 10- 25  4186.77  4232.42  4232.42  4181.42  0.73
260  2023- 10- 26  4137.23  4175.99  4183.60  4127.90 -1.43
261  2023- 10- 27  4117.37  4152.93  4156.70  4103.78 -1.18
262  2023- 10- 30  4166.82  4139.39  4177.47  4132.94 -0.48

[263 rows x 6 columns]

In [55]:
snp['당일 변동률'] = round((snp['종가'] - snp['시가']) / snp['시가'] * 100, 3)
snp['당일 변화량'] = round(snp['고가'] - snp['저가'], 3)

In [56]:
snp['당일 변동률'] = snp['당일 변동률'].shift(1)
snp['당일 변화량'] = snp['당일 변화량'].shift(1)

In [57]:
snp = snp.dropna()

In [58]:
snp = snp[1:256]

In [59]:
snp = snp.reset_index(drop=True)

In [60]:
snp['날짜'] = pd.to_datetime(snp['날짜'])

In [61]:
snp[119:245].reset_index(drop=True)[['날짜', '변동 %', '당일 변동률', '당일 변화량']].to_csv('../half_clean_feature/snp_half.csv')

In [62]:
snp[163:245].reset_index(drop=True)[['날짜', '변동 %', '당일 변동률', '당일 변화량']].to_csv('../quater_clean_feature/snp_quater.csv')

In [63]:
snp[201:245].reset_index(drop=True)[['날짜', '변동 %', '당일 변동률', '당일 변화량']].to_csv('../two_month_clean_feature/snp_2month.csv')

In [64]:
snp[201:245]

            날짜       종가       시가       고가       저가  변동 %  당일 변동률  당일 변화량
201 2023-08-07  4518.44  4491.58  4519.84  4491.15 -0.53  -0.796   65.79
202 2023-08-08  4499.38  4498.03  4503.31  4464.39  0.90   0.598   28.69
203 2023-08-09  4467.71  4501.57  4502.44  4461.33 -0.42   0.030   38.92
204 2023-08-10  4468.83  4487.16  4527.37  4457.92 -0.70  -0.752   41.11
205 2023-08-11  4464.05  4450.69  4476.23  4443.98  0.03  -0.408   69.45
206 2023-08-14  4489.72  4458.13  4490.33  4453.44 -0.11   0.300   32.25
207 2023-08-15  4437.86  4478.87  4478.87  4432.19  0.58   0.709   36.89
208 2023-08-16  4404.33  4433.79  4449.95  4403.55 -1.16  -0.916   46.68
209 2023-08-17  4370.36  4416.32  4421.17  4364.83 -0.76  -0.664   46.40
210 2023-08-18  4369.71  4344.88  4381.82  4335.31 -0.77  -1.041   56.34
211 2023-08-21  4399.77  4380.28  4407.55  4360.30 -0.01   0.571   46.51
212 2023-08-22  4387.55  4415.33  4418.59  4382.77  0.69   0.445   47.25
213 2023-08-23  4436.01  4396.44  4443.18  4396.44 -0.28  -0.629   35.82
214 2023-08-24  4376.31  4455.16  4458.30  4375.55  1.10   0.900   46.74
215 2023-08-25  4405.71  4389.38  4418.46  4356.29 -1.35  -1.770   82.75
216 2023-08-28  4433.31  4426.03  4439.56  4414.98  0.67   0.372   62.17
217 2023-08-29  4497.63  4432.75  4500.14  4431.68  0.63   0.164   24.58
218 2023-08-30  4514.87  4500.34  4521.65  4493.59  1.45   1.464   68.46
219 2023-08-31  4507.66  4517.01  4532.26  4507.39  0.38   0.323   28.06
220 2023-09-01  4515.77  4530.60  4541.25  4501.35 -0.16  -0.207   24.87
221 2023-09-05  4496.83  4510.06  4514.29  4496.01  0.18  -0.327   39.90
222 2023-09-06  4465.48  4490.35  4490.35  4442.38 -0.42  -0.293   18.28
223 2023-09-07  4451.14  4434.55  4457.81  4430.46 -0.70  -0.554   47.97
224 2023-09-08  4457.49  4451.30  4473.53  4448.38 -0.32   0.374   27.35
225 2023-09-11  4487.46  4480.98  4490.77  4467.89  0.14   0.139   25.15
226 2023-09-12  4461.90  4473.27  4487.11  4456.83  0.67   0.145   22.88
227 2023-09-13  4467.44  4462.65  4479.39  4453.52 -0.57  -0.254   30.28
228 2023-09-14  4505.10  4487.78  4511.99  4478.69  0.12   0.107   25.87
229 2023-09-15  4450.32  4497.98  4497.98  4447.21  0.84   0.386   33.30
230 2023-09-18  4453.53  4445.13  4466.36  4442.11 -1.22  -1.060   50.77
231 2023-09-19  4443.95  4445.41  4449.85  4416.61  0.07   0.189   24.25
232 2023-09-20  4402.20  4452.81  4461.03  4401.38 -0.22  -0.033   33.24
233 2023-09-21  4330.00  4374.36  4375.70  4329.17 -0.94  -1.137   59.65
234 2023-09-22  4320.06  4341.74  4357.40  4316.49 -1.64  -1.014   46.53
235 2023-09-25  4337.44  4310.62  4338.51  4302.70 -0.23  -0.499   40.91
236 2023-09-26  4273.53  4312.88  4313.01  4265.98  0.40   0.622   35.81
237 2023-09-27  4274.51  4282.63  4292.07  4238.63 -1.47  -0.912   47.03
238 2023-09-28  4299.70  4269.65  4317.27  4264.38  0.02  -0.190   53.44
239 2023-09-29  4288.05  4328.18  4333.15  4274.86  0.59   0.704   52.89
240 2023-10-02  4288.39  4284.52  4300.58  4260.21 -0.27  -0.927   58.29
241 2023-10-03  4229.45  4269.75  4281.15  4216.45  0.01   0.090   40.37
242 2023-10-04  4263.75  4233.83  4268.50  4220.48 -1.37  -0.944   64.70
243 2023-10-05  4258.19  4259.31  4267.13  4225.91  0.81   0.707   48.02
244 2023-10-06  4308.50  4234.79  4324.10  4219.55 -0.13  -0.026   41.22