In [23]:
import pandas as pd

In [24]:
usd = pd.read_csv("../data/USD_KRW.csv", index_col=0)
usd

                    종가        시가        고가        저가  거래량    변동 %
날짜
2023- 10- 31  1,347.72  1,347.24  1,348.30  1,346.49  NaN  -0.03%
2023- 10- 30  1,348.16  1,356.22  1,356.24  1,344.31  NaN  -0.59%
2023- 10- 29  1,356.22  1,356.22  1,356.22  1,356.22  NaN   0.10%
2023- 10- 27  1,354.91  1,353.57  1,358.34  1,347.76  NaN   0.16%
2023- 10- 26  1,352.69  1,352.90  1,360.72  1,351.70  NaN   0.02%
...                ...       ...       ...       ...  ...     ...
2022- 10- 19  1,434.88  1,425.33  1,437.07  1,413.44  NaN   0.69%
2022- 10- 18  1,425.02  1,431.69  1,432.51  1,418.36  NaN  -0.40%
2022- 10- 17  1,430.71  1,442.45  1,442.70  1,429.24  NaN  -0.68%
2022- 10- 14  1,440.44  1,430.60  1,442.39  1,424.85  NaN   0.68%
2022- 10- 13  1,430.69  1,424.90  1,444.09  1,423.47  NaN   0.44%

[275 rows x 6 columns]

In [25]:
usd = usd[::-1]

In [26]:
usd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 275 entries, 2022- 10- 13 to 2023- 10- 31
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      275 non-null    object
 1   시가      275 non-null    object
 2   고가      275 non-null    object
 3   저가      275 non-null    object
 4   거래량     0 non-null      float64
 5   변동 %    275 non-null    object
dtypes: float64(1), object(5)
memory usage: 15.0+ KB

In [27]:
usd = usd.reset_index()

In [28]:
usd

               날짜        종가        시가        고가        저가  거래량    변동 %
0    2022- 10- 13  1,430.69  1,424.90  1,444.09  1,423.47  NaN   0.44%
1    2022- 10- 14  1,440.44  1,430.60  1,442.39  1,424.85  NaN   0.68%
2    2022- 10- 17  1,430.71  1,442.45  1,442.70  1,429.24  NaN  -0.68%
3    2022- 10- 18  1,425.02  1,431.69  1,432.51  1,418.36  NaN  -0.40%
4    2022- 10- 19  1,434.88  1,425.33  1,437.07  1,413.44  NaN   0.69%
..            ...       ...       ...       ...       ...  ...     ...
270  2023- 10- 26  1,352.69  1,352.90  1,360.72  1,351.70  NaN   0.02%
271  2023- 10- 27  1,354.91  1,353.57  1,358.34  1,347.76  NaN   0.16%
272  2023- 10- 29  1,356.22  1,356.22  1,356.22  1,356.22  NaN   0.10%
273  2023- 10- 30  1,348.16  1,356.22  1,356.24  1,344.31  NaN  -0.59%
274  2023- 10- 31  1,347.72  1,347.24  1,348.30  1,346.49  NaN  -0.03%

[275 rows x 7 columns]

In [29]:
usd = usd[['날짜', '종가', '시가', '변동 %']]

In [30]:
usd['변동 %'] = usd['변동 %'].astype(str)
usd["변동 %"] = usd["변동 %"].str.rstrip('%')
usd["변동 %"] = usd["변동 %"].astype(float)

usd["시가"] = usd["시가"].str.replace(',', '')
usd["시가"] = usd["시가"].astype(float)

usd["종가"] = usd["종가"].str.replace(',', '')
usd["종가"] = usd["종가"].astype(float)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39681/3865413969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd['변동 %'] = usd['변동 %'].astype(str)
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39681/3865413969.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["변동 %"] = usd["변동 %"].str.rstrip('%')
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39681/3865413969.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["변동 %"] = usd["변동 %"].astype(float)
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39681/3865413969.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["시가"] = usd["시가"].str.replace(',', '')
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39681/3865413969.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["시가"] = usd["시가"].astype(float)
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39681/3865413969.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["종가"] = usd["종가"].str.replace(',', '')
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39681/3865413969.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["종가"] = usd["종가"].astype(float)

In [31]:
usd['종가'] = usd['종가'].shift(1)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39681/3661380285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd['종가'] = usd['종가'].shift(1)

In [32]:
usd

               날짜       종가       시가  변동 %
0    2022- 10- 13      NaN  1424.90  0.44
1    2022- 10- 14  1430.69  1430.60  0.68
2    2022- 10- 17  1440.44  1442.45 -0.68
3    2022- 10- 18  1430.71  1431.69 -0.40
4    2022- 10- 19  1425.02  1425.33  0.69
..            ...      ...      ...   ...
270  2023- 10- 26  1352.44  1352.90  0.02
271  2023- 10- 27  1352.69  1353.57  0.16
272  2023- 10- 29  1354.91  1356.22  0.10
273  2023- 10- 30  1356.22  1356.22 -0.59
274  2023- 10- 31  1348.16  1347.24 -0.03

[275 rows x 4 columns]

In [33]:
usd['야간 변동률'] = round((usd['시가'] - usd['종가']) / usd['종가'] * 100, 3)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_39681/3655811957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd['야간 변동률'] = round((usd['시가'] - usd['종가']) / usd['종가'] * 100, 3)

In [34]:
usd = usd.dropna()

In [35]:
usd = usd[1:266]

In [36]:
usd = usd.reset_index(drop=True)

In [37]:
usd['날짜'] = pd.to_datetime(usd['날짜'])

In [38]:
usd[['날짜', '야간 변동률']].to_csv("../year_clean_feature/usd.csv")

In [39]:
usd[120:]

            날짜       종가       시가  변동 %  야간 변동률
120 2023-04-03  1306.11  1306.47  0.19   0.028
121 2023-04-04  1308.58  1308.76  0.11   0.014
122 2023-04-05  1310.08  1310.54  0.53   0.035
123 2023-04-06  1317.05  1317.36  0.11   0.024
124 2023-04-07  1318.50  1318.99 -0.17   0.037
..         ...      ...      ...   ...     ...
260 2023-10-16  1352.21  1353.08 -0.32   0.064
261 2023-10-17  1347.91  1348.25  0.38   0.025
262 2023-10-18  1352.98  1353.55  0.07   0.042
263 2023-10-19  1353.86  1355.48  0.16   0.120
264 2023-10-20  1356.02  1357.11 -0.51   0.080

[145 rows x 5 columns]

In [40]:
usd[120:].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../half_clean_feature/usd_half.csv')

In [41]:
usd[205:].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../quater_clean_feature/usd_quater.csv')