In [48]:
import pandas as pd

In [49]:
usd = pd.read_csv("../data/USD_KRW.csv", index_col=0)
usd

                    종가        시가        고가        저가  거래량    변동 %
날짜
2023- 10- 31  1,347.72  1,347.24  1,348.30  1,346.49  NaN  -0.03%
2023- 10- 30  1,348.16  1,356.22  1,356.24  1,344.31  NaN  -0.59%
2023- 10- 29  1,356.22  1,356.22  1,356.22  1,356.22  NaN   0.10%
2023- 10- 27  1,354.91  1,353.57  1,358.34  1,347.76  NaN   0.16%
2023- 10- 26  1,352.69  1,352.90  1,360.72  1,351.70  NaN   0.02%
...                ...       ...       ...       ...  ...     ...
2022- 10- 19  1,434.88  1,425.33  1,437.07  1,413.44  NaN   0.69%
2022- 10- 18  1,425.02  1,431.69  1,432.51  1,418.36  NaN  -0.40%
2022- 10- 17  1,430.71  1,442.45  1,442.70  1,429.24  NaN  -0.68%
2022- 10- 14  1,440.44  1,430.60  1,442.39  1,424.85  NaN   0.68%
2022- 10- 13  1,430.69  1,424.90  1,444.09  1,423.47  NaN   0.44%

[275 rows x 6 columns]

In [50]:
usd = usd[::-1]

In [51]:
usd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 275 entries, 2022- 10- 13 to 2023- 10- 31
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      275 non-null    object
 1   시가      275 non-null    object
 2   고가      275 non-null    object
 3   저가      275 non-null    object
 4   거래량     0 non-null      float64
 5   변동 %    275 non-null    object
dtypes: float64(1), object(5)
memory usage: 15.0+ KB

In [52]:
usd = usd.reset_index()

In [53]:
usd

               날짜        종가        시가        고가        저가  거래량    변동 %
0    2022- 10- 13  1,430.69  1,424.90  1,444.09  1,423.47  NaN   0.44%
1    2022- 10- 14  1,440.44  1,430.60  1,442.39  1,424.85  NaN   0.68%
2    2022- 10- 17  1,430.71  1,442.45  1,442.70  1,429.24  NaN  -0.68%
3    2022- 10- 18  1,425.02  1,431.69  1,432.51  1,418.36  NaN  -0.40%
4    2022- 10- 19  1,434.88  1,425.33  1,437.07  1,413.44  NaN   0.69%
..            ...       ...       ...       ...       ...  ...     ...
270  2023- 10- 26  1,352.69  1,352.90  1,360.72  1,351.70  NaN   0.02%
271  2023- 10- 27  1,354.91  1,353.57  1,358.34  1,347.76  NaN   0.16%
272  2023- 10- 29  1,356.22  1,356.22  1,356.22  1,356.22  NaN   0.10%
273  2023- 10- 30  1,348.16  1,356.22  1,356.24  1,344.31  NaN  -0.59%
274  2023- 10- 31  1,347.72  1,347.24  1,348.30  1,346.49  NaN  -0.03%

[275 rows x 7 columns]

In [54]:
usd = usd[['날짜', '종가', '시가', '변동 %']]

In [55]:
usd['변동 %'] = usd['변동 %'].astype(str)
usd["변동 %"] = usd["변동 %"].str.rstrip('%')
usd["변동 %"] = usd["변동 %"].astype(float)

usd["시가"] = usd["시가"].str.replace(',', '')
usd["시가"] = usd["시가"].astype(float)

usd["종가"] = usd["종가"].str.replace(',', '')
usd["종가"] = usd["종가"].astype(float)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_87445/3865413969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd['변동 %'] = usd['변동 %'].astype(str)
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_87445/3865413969.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["변동 %"] = usd["변동 %"].str.rstrip('%')
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_87445/3865413969.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["변동 %"] = usd["변동 %"].astype(float)
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_87445/3865413969.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["시가"] = usd["시가"].str.replace(',', '')
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_87445/3865413969.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["시가"] = usd["시가"].astype(float)
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_87445/3865413969.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["종가"] = usd["종가"].str.replace(',', '')
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_87445/3865413969.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd["종가"] = usd["종가"].astype(float)

In [56]:
usd['종가'] = usd['종가'].shift(1)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_87445/3661380285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd['종가'] = usd['종가'].shift(1)

In [57]:
usd

               날짜       종가       시가  변동 %
0    2022- 10- 13      NaN  1424.90  0.44
1    2022- 10- 14  1430.69  1430.60  0.68
2    2022- 10- 17  1440.44  1442.45 -0.68
3    2022- 10- 18  1430.71  1431.69 -0.40
4    2022- 10- 19  1425.02  1425.33  0.69
..            ...      ...      ...   ...
270  2023- 10- 26  1352.44  1352.90  0.02
271  2023- 10- 27  1352.69  1353.57  0.16
272  2023- 10- 29  1354.91  1356.22  0.10
273  2023- 10- 30  1356.22  1356.22 -0.59
274  2023- 10- 31  1348.16  1347.24 -0.03

[275 rows x 4 columns]

In [58]:
usd['야간 변동률'] = round((usd['시가'] - usd['종가']) / usd['종가'] * 100, 3)

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_87445/3655811957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  usd['야간 변동률'] = round((usd['시가'] - usd['종가']) / usd['종가'] * 100, 3)

In [59]:
usd = usd.dropna()

In [60]:
usd = usd[1:266]

In [61]:
usd = usd.reset_index(drop=True)

In [62]:
usd['날짜'] = pd.to_datetime(usd['날짜'])

In [63]:
usd[125:255].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../half_clean_feature/usd_half.csv')

In [64]:
usd[170:255].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../quater_clean_feature/usd_quater.csv')

In [65]:
usd[210:255].reset_index(drop=True)[['날짜', '야간 변동률']].to_csv('../two_month_clean_feature/usd_2month.csv')

In [66]:
usd[210:255]

            날짜       종가       시가  변동 %  야간 변동률
210 2023-08-07  1304.08  1304.29  0.25   0.016
211 2023-08-08  1307.30  1307.93  0.72   0.048
212 2023-08-09  1316.72  1317.02 -0.28   0.023
213 2023-08-10  1313.08  1313.10  0.29   0.002
214 2023-08-11  1316.90  1318.14  1.02   0.094
215 2023-08-14  1330.30  1330.60  0.49   0.023
216 2023-08-15  1336.80  1337.94 -0.03   0.085
217 2023-08-16  1336.42  1336.87  0.36   0.034
218 2023-08-17  1341.22  1341.94 -0.15   0.054
219 2023-08-18  1339.27  1339.76 -0.01   0.037
220 2023-08-21  1339.17  1340.17  0.00   0.075
221 2023-08-22  1339.15  1340.04  0.05   0.066
222 2023-08-23  1339.81  1340.81 -1.00   0.075
223 2023-08-24  1326.42  1327.92  0.07   0.113
224 2023-08-25  1327.35  1328.34 -0.29   0.075
225 2023-08-28  1323.53  1324.57  0.02   0.079
226 2023-08-29  1323.81  1324.21 -0.43   0.030
227 2023-08-30  1318.06  1318.60  0.41   0.041
228 2023-08-31  1323.49  1323.79  0.12   0.023
229 2023-09-01  1325.14  1325.46 -0.57   0.024
230 2023-09-04  1317.55  1318.45 -0.03   0.068
231 2023-09-05  1317.21  1318.41  0.90   0.091
232 2023-09-06  1329.05  1329.95  0.34   0.068
233 2023-09-07  1333.58  1334.53 -0.01   0.071
234 2023-09-08  1333.45  1334.78  0.11   0.100
235 2023-09-11  1334.96  1336.34 -0.71   0.103
236 2023-09-12  1325.49  1326.05  0.05   0.042
237 2023-09-13  1326.15  1326.72  0.03   0.043
238 2023-09-14  1326.59  1328.20  0.22   0.121
239 2023-09-15  1329.52  1330.02 -0.08   0.038
240 2023-09-18  1328.46  1329.42 -0.37   0.072
241 2023-09-19  1323.57  1324.05  0.38   0.036
242 2023-09-20  1328.62  1328.99  0.32   0.028
243 2023-09-21  1332.92  1333.44  0.46   0.039
244 2023-09-22  1339.00  1339.57 -0.37   0.043
245 2023-09-25  1334.03  1335.56  0.30   0.115
246 2023-09-26  1338.01  1339.69  1.12   0.126
247 2023-09-27  1352.93  1354.10  0.12   0.086
248 2023-09-28  1354.54  1355.47 -0.37   0.069
249 2023-09-29  1349.56  1350.56  0.20   0.074
250 2023-10-02  1352.31  1352.65  0.26   0.025
251 2023-10-03  1355.84  1357.14  0.39   0.096
252 2023-10-04  1361.08  1362.05 -0.70   0.071
253 2023-10-05  1351.62  1352.55 -0.44   0.069
254 2023-10-06  1345.72  1346.34 -0.08   0.046