In [21]:
import pandas as pd

In [22]:
vix = pd.read_csv('../data/VIX.csv', index_col=0)
vix

                 종가     시가     고가     저가  거래량    변동 %
날짜
2023- 10- 31  19.75  19.75  19.75  19.75  NaN   0.00%
2023- 10- 30  19.75  21.13  21.16  19.55  NaN  -7.15%
2023- 10- 27  21.27  20.39  22.07  19.72  NaN   2.85%
2023- 10- 26  20.68  21.78  21.96  20.22  NaN   2.43%
2023- 10- 25  20.19  19.39  21.24  18.86  NaN   6.43%
...             ...    ...    ...    ...  ...     ...
2022- 10- 19  30.76  30.94  31.90  30.76  NaN   0.85%
2022- 10- 18  30.50  31.10  31.93  30.42  NaN  -2.77%
2022- 10- 17  31.37  32.27  32.59  30.70  NaN  -2.03%
2022- 10- 14  32.02  31.89  32.98  31.14  NaN   0.25%
2022- 10- 13  31.94  33.60  33.87  31.63  NaN  -4.86%

[273 rows x 6 columns]

In [23]:
vix = vix[::-1]

In [24]:
vix = vix.reset_index()

In [25]:
vix = vix[['날짜', '종가', '시가', '고가', '저가', '변동 %']]

In [26]:
vix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      273 non-null    object
 1   종가      273 non-null    float64
 2   시가      273 non-null    float64
 3   고가      273 non-null    float64
 4   저가      273 non-null    float64
 5   변동 %    273 non-null    object
dtypes: float64(4), object(2)
memory usage: 12.9+ KB

In [27]:
vix['변동 %'] = vix['변동 %'].astype(str)
vix["변동 %"] = vix["변동 %"].str.rstrip('%')
vix["변동 %"] = vix["변동 %"].astype(float)

In [28]:
vix['변동 %'] = vix['변동 %'].shift(1)

In [29]:
vix['당일 변동률'] = round((vix['종가'] - vix['시가']) / vix['시가'] * 100, 3)
vix['당일 변화량'] = round(vix['고가'] - vix['저가'], 3)

In [30]:
vix['당일 변동률'] = vix['당일 변동률'].shift(1)
vix['당일 변화량'] = vix['당일 변화량'].shift(1)

In [31]:
vix = vix.dropna()

In [32]:
vix = vix[1:265]

In [33]:
vix = vix.reset_index(drop=True)

In [34]:
vix['날짜'] = pd.to_datetime(vix['날짜'])

In [35]:
vix[['날짜', '변동 %', '당일 변동률', '당일 변화량']].to_csv("../year_clean_feature/vix_year.csv")

In [36]:
vix[119:]

            날짜     종가     시가     고가     저가   변동 %  당일 변동률  당일 변화량
119 2023-04-03  18.55  19.79  19.83  18.54  -1.68  -2.655    0.91
120 2023-04-04  19.00  18.79  20.03  18.58  -0.80  -6.266    1.29
121 2023-04-05  19.08  19.42  20.08  19.00   2.43   1.118    1.45
122 2023-04-06  18.40  19.30  19.88  18.35   0.42  -1.751    1.08
123 2023-04-07  18.40  18.40  18.40  18.40  -3.56  -4.663    1.53
..         ...    ...    ...    ...    ...    ...     ...     ...
259 2023-10-16  17.21  19.10  19.57  17.14  15.76  16.878    4.28
260 2023-10-17  17.88  17.41  18.54  16.97 -10.92  -9.895    2.43
261 2023-10-18  19.22  18.36  20.15  17.88   3.89   2.700    1.57
262 2023-10-19  21.40  19.73  21.40  18.55   7.49   4.684    2.27
263 2023-10-20  21.71  21.59  21.83  20.42  11.34   8.464    2.85

[145 rows x 8 columns]

In [37]:
vix[119:].reset_index(drop=True)[['날짜', '변동 %', '당일 변동률', '당일 변화량']].to_csv('../half_clean_feature/vix_half.csv')

In [38]:
vix[204:].reset_index(drop=True)[['날짜', '변동 %', '당일 변동률', '당일 변화량']].to_csv('../quater_clean_feature/vix_quater.csv')