In [8]:
import pandas as pd
import numpy as np

In [9]:
vkospi = pd.read_csv('../data/VKOSPI.csv', index_col=0)

In [10]:
vkospi = vkospi[::-1]

In [11]:
vkospi[170:250]

                 종가     시가     고가     저가  거래량    변동 %
날짜
2023- 06- 12  13.45  13.64  13.67  13.45  NaN   2.20%
2023- 06- 13  13.76  13.80  14.10  13.70  NaN   2.30%
2023- 06- 14  13.55  13.81  13.83  13.42  NaN  -1.53%
2023- 06- 15  13.25  13.30  13.43  13.16  NaN  -2.21%
2023- 06- 16  13.13  13.61  13.61  13.11  NaN  -0.91%
...             ...    ...    ...    ...  ...     ...
2023- 09- 26  14.74  14.12  14.88  14.11  NaN   4.54%
2023- 09- 27  15.08  15.43  15.43  14.94  NaN   2.31%
2023- 10- 04  18.09  17.16  18.13  17.16  NaN  19.96%
2023- 10- 05  17.34  17.10  17.62  16.96  NaN  -4.15%
2023- 10- 06  17.39  17.11  17.39  16.83  NaN   0.29%

[80 rows x 6 columns]

In [12]:
vkospi = vkospi.reset_index()
vkospi

               날짜     종가     시가     고가     저가  거래량    변동 %
0    2022- 10- 04  24.99  26.14  26.14  24.96  NaN  -8.09%
1    2022- 10- 05  24.36  23.82  25.24  23.77  NaN  -2.52%
2    2022- 10- 06  23.37  24.05  24.08  23.11  NaN  -4.06%
3    2022- 10- 07  23.93  24.27  24.27  23.68  NaN   2.40%
4    2022- 10- 11  25.78  26.53  26.89  25.69  NaN   7.73%
..            ...    ...    ...    ...    ...  ...     ...
264  2023- 10- 30  20.03  21.04  21.04  19.88  NaN   0.05%
265  2023- 10- 31  19.89  19.25  20.12  19.05  NaN  -0.70%
266  2023- 11- 01  18.79  19.09  19.20  18.74  NaN  -5.53%
267  2023- 11- 02  17.49  17.73  17.88  17.27  NaN  -6.92%
268  2023- 11- 03  16.70  17.01  17.18  16.67  NaN  -4.52%

[269 rows x 7 columns]

In [13]:
vkospi['당일 변동율'] = round((vkospi['종가'] - vkospi['시가']) / vkospi['시가'] * 100, 3)

In [14]:
# label = []
# for i in range(len(vkospi['날짜'])):
# 	if vkospi['당일 변동율'][i] > np.percentile(vkospi['당일 변동율'], 33.33):
# 		result = 0
# 		label.append(result)
# 	elif vkospi['당일 변동율'][i] > np.percentile(vkospi['당일 변동율'], 66.67):
# 		result = 1
# 		label.append(result)
# 	else:
# 		result = -1
# 		label.append(result)

In [15]:
mean_value = 0.971

In [16]:
new_label = []
for i in range(len(vkospi['날짜'])):
	if vkospi['당일 변동율'][i] > 1:
		result = 1
		new_label.append(result)
	else:
		result = 0
		new_label.append(result)

In [17]:
label = []

for i in range(len(vkospi['날짜'])):
	if vkospi['시가'][i] > vkospi['종가'][i]:
		result = 0
		label.append(result)
	else:
		result = 1
		label.append(result)

In [18]:
vkospi[['당일 변동율']].describe()

           당일 변동율
count  269.000000
mean    -0.803416
std      2.312216
min     -7.637000
25%     -2.220000
50%     -1.161000
75%      0.218000
max      7.845000

In [19]:
vkospi[:243][['당일 변동율']].describe()

           당일 변동율
count  243.000000
mean    -0.896737
std      2.172153
min     -7.637000
25%     -2.229000
50%     -1.175000
75%      0.159000
max      7.845000

In [20]:
new_label_df = pd.DataFrame(new_label, columns=["VKOSPI_new_Label"])
label_df = pd.DataFrame(label, columns=["VKOSPI_Label"])

In [21]:
vkospi = pd.concat([vkospi, label_df], axis=1)
vkospi = pd.concat([vkospi, new_label_df], axis=1)

In [22]:
vkospi['날짜'] = pd.to_datetime(vkospi['날짜'])

In [23]:
vkospi[170:250]

,날짜,종가,시가,고가,저가,거래량,변동 %,당일 변동율,VKOSPI_Label,VKOSPI_new_Label
170,2023-06-12,13.45,13.64,13.67,13.45,NaN,2.20%,-1.393,0,0
171,2023-06-13,13.76,13.80,14.10,13.70,NaN,2.30%,-0.290,0,0
172,2023-06-14,13.55,13.81,13.83,13.42,NaN,-1.53%,-1.883,0,0
173,2023-06-15,13.25,13.30,13.43,13.16,NaN,-2.21%,-0.376,0,0
174,2023-06-16,13.13,13.61,13.61,13.11,NaN,-0.91%,-3.527,0,0
...,...,...,...,...,...,...,...,...,...,...
245,2023-09-26,14.74,14.12,14.88,14.11,NaN,4.54%,4.391,1,1
246,2023-09-27,15.08,15.43,15.43,14.94,NaN,2.31%,-2.268,0,0
247,2023-10-04,18.09,17.16,18.13,17.16,NaN,19.96%,5.420,1,1
248,2023-10-05,17.34,17.10,17.62,16.96,NaN,-4.15%,1.404,1,1
249,2023-10-06,17.39,17.11,17.39,16.83,NaN,0.29%,1.636,1,1

In [45]:
vkospi[170:252][["VKOSPI_Label"]].value_counts()

VKOSPI_Label
0               56
1               26
Name: count, dtype: int64

In [46]:
vkospi[170:252][["VKOSPI_new_Label"]].value_counts()

VKOSPI_new_Label
0                   63
1                   19
Name: count, dtype: int64

In [50]:
vkospi[250:][["VKOSPI_Label"]].value_counts()

VKOSPI_Label
0               11
1                8
Name: count, dtype: int64

In [51]:
vkospi[250:][["VKOSPI_new_Label"]].value_counts()

VKOSPI_new_Label
0                   14
1                    5
Name: count, dtype: int64

In [24]:
vkospi[170:252][["날짜", "VKOSPI_Label", "VKOSPI_new_Label"]].reset_index(drop=True).to_csv(
    "../quater_clean_feature/vkospi_quater.csv"
)

In [25]:
vkospi[214:252]

,날짜,종가,시가,고가,저가,거래량,변동 %,당일 변동율,VKOSPI_Label,VKOSPI_new_Label
214,2023-08-11,13.44,13.68,13.80,13.43,NaN,-4.00%,-1.754,0,0
215,2023-08-14,14.14,14.01,14.53,13.84,NaN,5.21%,0.928,1,0
216,2023-08-16,15.15,14.89,15.39,14.83,NaN,7.14%,1.746,1,1
217,2023-08-17,15.57,15.86,16.74,15.50,NaN,2.77%,-1.828,0,0
218,2023-08-18,16.03,16.92,17.09,15.75,NaN,2.95%,-5.260,0,0
219,2023-08-21,16.03,16.28,16.29,15.63,NaN,0.00%,-1.536,0,0
220,2023-08-22,15.33,15.51,15.51,15.02,NaN,-4.37%,-1.161,0,0
221,2023-08-23,14.97,15.72,15.72,14.96,NaN,-2.35%,-4.771,0,0
222,2023-08-24,13.94,14.31,14.33,13.80,NaN,-6.88%,-2.586,0,0
223,2023-08-25,14.86,15.20,15.23,14.69,NaN,6.60%,-2.237,0,0
224,2023-08-28,14.18,14.53,14.57,14.15,NaN,-4.58%,-2.409,0,0
225,2023-08-29,13.49,13.89,14.04,13.44,NaN,-4.87%,-2.880,0,0
226,2023-08-30,13.05,13.14,13.19,12.86,NaN,-3.26%,-0.685,0,0
227,2023-08-31,12.78,12.88,12.91,12.70,NaN,-2.07%,-0.776,0,0
228,2023-09-01,12.53,12.74,12.77,12.42,NaN,-1.96%,-1.648,0,0
229,2023-09-04,12.49,12.82,12.88,12.42,NaN,-0.32%,-2.574,0,0
230,2023-09-05,12.42,12.51,12.53,12.31,NaN,-0.56%,-0.719,0,0
231,2023-09-06,12.46,12.39,12.56,12.27,NaN,0.32%,0.565,1,0
232,2023-09-07,12.69,12.55,12.72,12.39,NaN,1.85%,1.116,1,1
233,2023-09-08,12.40,12.51,12.79,12.40,NaN,-2.29%,-0.879,0,0
234,2023-09-11,12.42,12.55,12.73,12.37,NaN,0.16%,-1.036,0,0
235,2023-09-12,12.40,12.24,12.55,12.21,NaN,-0.16%,1.307,1,1
236,2023-09-13,12.64,12.54,12.66,12.27,NaN,1.94%,0.797,1,0
237,2023-09-14,12.02,12.42,12.43,11.96,NaN,-4.91%,-3.221,0,0
238,2023-09-15,11.73,11.92,12.11,11.72,NaN,-2.41%,-1.594,0,0
239,2023-09-18,12.85,12.76,12.90,12.69,NaN,9.55%,0.705,1,0
240,2023-09-19,12.95,12.85,13.11,12.83,NaN,0.78%,0.778,1,0
241,2023-09-20,13.03,13.11,13.18,13.00,NaN,0.62%,-0.610,0,0
242,2023-09-21,13.96,13.33,14.00,13.23,NaN,7.14%,4.726,1,1
243,2023-09-22,14.18,15.25,15.51,14.12,NaN,1.58%,-7.016,0,0
244,2023-09-25,14.10,14.72,14.72,14.04,NaN,-0.56%,-4.212,0,0
245,2023-09-26,14.74,14.12,14.88,14.11,NaN,4.54%,4.391,1,1
246,2023-09-27,15.08,15.43,15.43,14.94,NaN,2.31%,-2.268,0,0
247,2023-10-04,18.09,17.16,18.13,17.16,NaN,19.96%,5.420,1,1
248,2023-10-05,17.34,17.10,17.62,16.96,NaN,-4.15%,1.404,1,1
249,2023-10-06,17.39,17.11,17.39,16.83,NaN,0.29%,1.636,1,1
250,2023-10-10,17.56,16.77,17.58,16.61,NaN,0.98%,4.711,1,1
251,2023-10-11,16.74,16.78,16.82,16.33,NaN,-4.67%,-0.238,0,0

In [26]:
vkospi[214:252].reset_index(drop=True).to_csv(
    "../../option_jy/option_strategy/vkospi.csv"
)

In [49]:
vkospi[250:]

,날짜,종가,시가,고가,저가,거래량,변동 %,당일 변동율,VKOSPI_Label,VKOSPI_new_Label
250,2023-10-10,17.56,16.77,17.58,16.61,NaN,0.98%,4.711,1,1
251,2023-10-11,16.74,16.78,16.82,16.33,NaN,-4.67%,-0.238,0,0
252,2023-10-12,15.70,16.21,16.32,15.70,NaN,-6.21%,-3.146,0,0
253,2023-10-13,15.95,16.28,16.35,15.93,NaN,1.59%,-2.027,0,0
254,2023-10-16,17.07,16.92,17.63,16.76,NaN,7.02%,0.887,1,0
255,2023-10-17,16.18,16.23,16.49,15.98,NaN,-5.21%,-0.308,0,0
256,2023-10-18,16.00,16.36,16.43,15.90,NaN,-1.11%,-2.200,0,0
257,2023-10-19,18.23,17.34,18.23,17.18,NaN,13.94%,5.133,1,1
258,2023-10-20,19.53,19.02,20.36,18.95,NaN,7.13%,2.681,1,1
259,2023-10-23,19.65,19.92,19.93,19.41,NaN,0.61%,-1.355,0,0
260,2023-10-24,18.82,19.07,20.14,18.74,NaN,-4.22%,-1.311,0,0
261,2023-10-25,18.56,18.39,18.67,18.29,NaN,-1.38%,0.924,1,0
262,2023-10-26,21.14,20.19,21.19,19.87,NaN,13.90%,4.705,1,1
263,2023-10-27,20.02,19.98,20.41,19.79,NaN,-5.30%,0.200,1,0
264,2023-10-30,20.03,21.04,21.04,19.88,NaN,0.05%,-4.800,0,0
265,2023-10-31,19.89,19.25,20.12,19.05,NaN,-0.70%,3.325,1,1
266,2023-11-01,18.79,19.09,19.20,18.74,NaN,-5.53%,-1.572,0,0
267,2023-11-02,17.49,17.73,17.88,17.27,NaN,-6.92%,-1.354,0,0
268,2023-11-03,16.70,17.01,17.18,16.67,NaN,-4.52%,-1.822,0,0

In [28]:
vkospi[129:250][['날짜', 'VKOSPI_Label']].reset_index(drop=True).to_csv("../half_clean_feature/vkospi_half.csv")

In [29]:
vkospi[170:250][['날짜', 'VKOSPI_Label']].reset_index(drop=True).to_csv("../quater_clean_feature/vkospi_quater.csv")

In [30]:
#vkospi[210:250][['날짜', 'VKOSPI_Label']].reset_index(drop=True).to_csv("../two_month_clean_feature/vkospi_2month.csv")

In [31]:
vkospi[250:][['날짜', 'VKOSPI_Label']].reset_index(drop=True).to_csv("../test_feature/clean_feature/vkospi.csv")

In [32]:
vkospi[214:252][['날짜', 'VKOSPI_Label']].reset_index(drop=True).to_csv('../../option_jy/vkospi.csv')

In [33]:
vkospi[250:]

,날짜,종가,시가,고가,저가,거래량,변동 %,당일 변동율,VKOSPI_Label,VKOSPI_new_Label
250,2023-10-10,17.56,16.77,17.58,16.61,NaN,0.98%,4.711,1,1
251,2023-10-11,16.74,16.78,16.82,16.33,NaN,-4.67%,-0.238,0,0
252,2023-10-12,15.70,16.21,16.32,15.70,NaN,-6.21%,-3.146,0,0
253,2023-10-13,15.95,16.28,16.35,15.93,NaN,1.59%,-2.027,0,0
254,2023-10-16,17.07,16.92,17.63,16.76,NaN,7.02%,0.887,1,0
255,2023-10-17,16.18,16.23,16.49,15.98,NaN,-5.21%,-0.308,0,0
256,2023-10-18,16.00,16.36,16.43,15.90,NaN,-1.11%,-2.200,0,0
257,2023-10-19,18.23,17.34,18.23,17.18,NaN,13.94%,5.133,1,1
258,2023-10-20,19.53,19.02,20.36,18.95,NaN,7.13%,2.681,1,1
259,2023-10-23,19.65,19.92,19.93,19.41,NaN,0.61%,-1.355,0,0
260,2023-10-24,18.82,19.07,20.14,18.74,NaN,-4.22%,-1.311,0,0
261,2023-10-25,18.56,18.39,18.67,18.29,NaN,-1.38%,0.924,1,0
262,2023-10-26,21.14,20.19,21.19,19.87,NaN,13.90%,4.705,1,1
263,2023-10-27,20.02,19.98,20.41,19.79,NaN,-5.30%,0.200,1,0
264,2023-10-30,20.03,21.04,21.04,19.88,NaN,0.05%,-4.800,0,0
265,2023-10-31,19.89,19.25,20.12,19.05,NaN,-0.70%,3.325,1,1
266,2023-11-01,18.79,19.09,19.20,18.74,NaN,-5.53%,-1.572,0,0
267,2023-11-02,17.49,17.73,17.88,17.27,NaN,-6.92%,-1.354,0,0
268,2023-11-03,16.70,17.01,17.18,16.67,NaN,-4.52%,-1.822,0,0

In [34]:
#vkospi[121:242][['날짜', 'VKOSPI_Label', 'VKOSPI_mean_Label', 'VKOSPI_3_Label']].reset_index(drop=True).to_csv("../half_clean_feature/vkospi_half.csv")

In [35]:
#vkospi[162:242][['날짜', 'VKOSPI_Label', 'VKOSPI_mean_Label', 'VKOSPI_3_Label']].reset_index(drop=True).to_csv("../quater_clean_feature/vkospi_quater.csv")

In [36]:
#vkospi[202:242][['날짜', 'VKOSPI_Label', 'VKOSPI_mean_Label', 'VKOSPI_3_Label']].reset_index(drop=True).to_csv("../two_month_clean_feature/vkospi_2month.csv")

In [37]:
#vkospi[202:242]