In [48]:
import pandas as pd
import os
current_directory = os.getcwd()
print("현재 디렉토리:", current_directory)

현재 디렉토리: c:\apps\Project1\dataset\data_preprocessing

In [49]:
vkospi = pd.read_csv('../data/VKOSPI.csv')

In [50]:
vkospi

               날짜     종가     시가     고가     저가  거래량     변동 %
0    2023- 11- 06  18.65  16.85  18.97  16.66  NaN   11.68%
1    2023- 11- 03  16.70  17.01  17.18  16.67  NaN   -4.52%
2    2023- 11- 02  17.49  17.73  17.88  17.27  NaN   -6.92%
3    2023- 11- 01  18.79  19.09  19.20  18.74  NaN   -5.53%
4    2023- 10- 31  19.89  19.25  20.12  19.05  NaN   -0.70%
..            ...    ...    ...    ...    ...  ...      ...
261  2022- 10- 17  24.40  25.44  25.66  24.31  NaN    1.92%
262  2022- 10- 14  23.94  24.81  24.86  23.94  NaN  -12.05%
263  2022- 10- 13  27.22  25.25  27.47  25.15  NaN   10.25%
264  2022- 10- 12  24.69  25.77  25.77  24.69  NaN   -4.23%
265  2022- 10- 11  25.78  26.53  26.89  25.69  NaN    7.73%

[266 rows x 7 columns]

In [51]:
vkospi = vkospi[::-1]

In [52]:
vkospi.reset_index(drop=True, inplace=True)

In [53]:
vkospi

               날짜     종가     시가     고가     저가  거래량     변동 %
0    2022- 10- 11  25.78  26.53  26.89  25.69  NaN    7.73%
1    2022- 10- 12  24.69  25.77  25.77  24.69  NaN   -4.23%
2    2022- 10- 13  27.22  25.25  27.47  25.15  NaN   10.25%
3    2022- 10- 14  23.94  24.81  24.86  23.94  NaN  -12.05%
4    2022- 10- 17  24.40  25.44  25.66  24.31  NaN    1.92%
..            ...    ...    ...    ...    ...  ...      ...
261  2023- 10- 31  19.89  19.25  20.12  19.05  NaN   -0.70%
262  2023- 11- 01  18.79  19.09  19.20  18.74  NaN   -5.53%
263  2023- 11- 02  17.49  17.73  17.88  17.27  NaN   -6.92%
264  2023- 11- 03  16.70  17.01  17.18  16.67  NaN   -4.52%
265  2023- 11- 06  18.65  16.85  18.97  16.66  NaN   11.68%

[266 rows x 7 columns]

In [54]:
label = []

for i in range(len(vkospi['날짜'])):
	if vkospi['시가'][i] >= vkospi['종가'][i]:
		result = 0
		label.append(result)
	else:
		result = 1
		label.append(result)

print(label)

[0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1]

In [55]:
vkospi

               날짜     종가     시가     고가     저가  거래량     변동 %
0    2022- 10- 11  25.78  26.53  26.89  25.69  NaN    7.73%
1    2022- 10- 12  24.69  25.77  25.77  24.69  NaN   -4.23%
2    2022- 10- 13  27.22  25.25  27.47  25.15  NaN   10.25%
3    2022- 10- 14  23.94  24.81  24.86  23.94  NaN  -12.05%
4    2022- 10- 17  24.40  25.44  25.66  24.31  NaN    1.92%
..            ...    ...    ...    ...    ...  ...      ...
261  2023- 10- 31  19.89  19.25  20.12  19.05  NaN   -0.70%
262  2023- 11- 01  18.79  19.09  19.20  18.74  NaN   -5.53%
263  2023- 11- 02  17.49  17.73  17.88  17.27  NaN   -6.92%
264  2023- 11- 03  16.70  17.01  17.18  16.67  NaN   -4.52%
265  2023- 11- 06  18.65  16.85  18.97  16.66  NaN   11.68%

[266 rows x 7 columns]

In [56]:
label_df = pd.DataFrame(label, columns=['VKOSPI_Label'])

In [57]:
vkospi = pd.concat([vkospi, label_df], axis=1)

In [58]:
vkospi

               날짜     종가     시가     고가     저가  거래량     변동 %  VKOSPI_Label
0    2022- 10- 11  25.78  26.53  26.89  25.69  NaN    7.73%             0
1    2022- 10- 12  24.69  25.77  25.77  24.69  NaN   -4.23%             0
2    2022- 10- 13  27.22  25.25  27.47  25.15  NaN   10.25%             1
3    2022- 10- 14  23.94  24.81  24.86  23.94  NaN  -12.05%             0
4    2022- 10- 17  24.40  25.44  25.66  24.31  NaN    1.92%             0
..            ...    ...    ...    ...    ...  ...      ...           ...
261  2023- 10- 31  19.89  19.25  20.12  19.05  NaN   -0.70%             1
262  2023- 11- 01  18.79  19.09  19.20  18.74  NaN   -5.53%             0
263  2023- 11- 02  17.49  17.73  17.88  17.27  NaN   -6.92%             0
264  2023- 11- 03  16.70  17.01  17.18  16.67  NaN   -4.52%             0
265  2023- 11- 06  18.65  16.85  18.97  16.66  NaN   11.68%             1

[266 rows x 8 columns]

In [59]:
vkospi['날짜'] = pd.to_datetime(vkospi['날짜'], format="%Y- %m- %d")

In [60]:
# vkospi['날짜'] = vkospi['날짜'].to_list()

In [61]:
vkospi

            날짜     종가     시가     고가     저가  거래량     변동 %  VKOSPI_Label
0   2022-10-11  25.78  26.53  26.89  25.69  NaN    7.73%             0
1   2022-10-12  24.69  25.77  25.77  24.69  NaN   -4.23%             0
2   2022-10-13  27.22  25.25  27.47  25.15  NaN   10.25%             1
3   2022-10-14  23.94  24.81  24.86  23.94  NaN  -12.05%             0
4   2022-10-17  24.40  25.44  25.66  24.31  NaN    1.92%             0
..         ...    ...    ...    ...    ...  ...      ...           ...
261 2023-10-31  19.89  19.25  20.12  19.05  NaN   -0.70%             1
262 2023-11-01  18.79  19.09  19.20  18.74  NaN   -5.53%             0
263 2023-11-02  17.49  17.73  17.88  17.27  NaN   -6.92%             0
264 2023-11-03  16.70  17.01  17.18  16.67  NaN   -4.52%             0
265 2023-11-06  18.65  16.85  18.97  16.66  NaN   11.68%             1

[266 rows x 8 columns]

In [62]:
vkospi.set_index('날짜', inplace=True, drop=True)

In [63]:
# vkospi = vkospi[4:255]

In [64]:
vkospi

               종가     시가     고가     저가  거래량     변동 %  VKOSPI_Label
날짜
2022-10-11  25.78  26.53  26.89  25.69  NaN    7.73%             0
2022-10-12  24.69  25.77  25.77  24.69  NaN   -4.23%             0
2022-10-13  27.22  25.25  27.47  25.15  NaN   10.25%             1
2022-10-14  23.94  24.81  24.86  23.94  NaN  -12.05%             0
2022-10-17  24.40  25.44  25.66  24.31  NaN    1.92%             0
...           ...    ...    ...    ...  ...      ...           ...
2023-10-31  19.89  19.25  20.12  19.05  NaN   -0.70%             1
2023-11-01  18.79  19.09  19.20  18.74  NaN   -5.53%             0
2023-11-02  17.49  17.73  17.88  17.27  NaN   -6.92%             0
2023-11-03  16.70  17.01  17.18  16.67  NaN   -4.52%             0
2023-11-06  18.65  16.85  18.97  16.66  NaN   11.68%             1

[266 rows x 7 columns]

In [65]:
# vkospi[['날짜', 'VKOSPI_Label']].reset_index(drop=True).to_csv("../year_clean_feature/vkospi_year.csv")

In [66]:
# vkospi[116:][['날짜', 'VKOSPI_Label']].reset_index(drop=True).to_csv("../half_clean_feature/vkospi_half.csv")

In [67]:
# vkospi[197:][['날짜', 'VKOSPI_Label']].reset_index(drop=True).to_csv("../quater_clean_feature/vkospi_quater.csv")

In [68]:
start_date = pd.to_datetime("2023-10-10")
end_date = pd.to_datetime("2023-11-03")
# vkospi = vkospi.loc[start_date:end_date]

In [70]:
vkospi[['VKOSPI_Label']].loc[start_date:end_date].to_csv('../VKOSPI_Label.csv')