In [29]:
import pandas as pd

In [30]:
ks200 = pd.read_csv('../dataset/kospi200_30min.csv', index_col=0)

In [31]:
ks200.drop(['대업종구분', '소업종구분', '종목정보', '전일종가'], axis=1, inplace=True)

In [32]:
ks200

       현재가    거래량            체결시간     시가     고가     저가
0   -31550   7289  20231023153000  31544  31550  31541
1   -31544   5755  20231023150000  31531  31584  31509
2   -31542   6370  20231023143000  31567  31572  31513
3   -31565   5832  20231023140000  31537  31589  31520
4   -31544   5214  20231023133000  31610  31627  31533
..     ...    ...             ...    ...    ...    ...
895 -34464  27368  20230718090000  34649  34698  34436
896 -34575   7228  20230717153000  34541  34575  34540
897 -34541   7270  20230717150000  34527  34561  34511
898 -34532   9390  20230717143000  34528  34573  34509
899 -34529  14866  20230717140000  34557  34576  34497

[900 rows x 6 columns]

In [33]:
ks200['체결시간']

0      20231023153000
1      20231023150000
2      20231023143000
3      20231023140000
4      20231023133000
            ...
895    20230718090000
896    20230717153000
897    20230717150000
898    20230717143000
899    20230717140000
Name: 체결시간, Length: 900, dtype: int64

In [34]:
ks200['체결시간'] = ks200['체결시간'].astype(str)

In [35]:
ks200.info()

<class 'pandas.core.frame.DataFrame'>
Index: 900 entries, 0 to 899
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   현재가     900 non-null    int64
 1   거래량     900 non-null    int64
 2   체결시간    900 non-null    object
 3   시가      900 non-null    int64
 4   고가      900 non-null    int64
 5   저가      900 non-null    int64
dtypes: int64(5), object(1)
memory usage: 49.2+ KB

In [36]:
ks200['체결시간']

0      20231023153000
1      20231023150000
2      20231023143000
3      20231023140000
4      20231023133000
            ...
895    20230718090000
896    20230717153000
897    20230717150000
898    20230717143000
899    20230717140000
Name: 체결시간, Length: 900, dtype: object

In [37]:
ks200 = ks200[ks200['체결시간'].str.contains('090000|093000')]

In [38]:
ks200 = ks200.reset_index(drop=True)

#### 09:00 ~ 09:30 변화율 확인
* (09:30 - 09:00) / 09:00

In [39]:
ks200 = ks200[['현재가', '체결시간', '고가', '저가']]

In [40]:
ks200

       현재가            체결시간     고가     저가
0   -31765  20231023093000  31795 -31626
1   -31644  20231023090000  31830  31600
2   -31689  20231020093000  31799  31647
3   -31776  20231020090000  32018  31744
4   -32461  20231019093000  32483  32345
..     ...             ...    ...    ...
123 -34155  20230720090000  34207  34062
124  34447  20230719093000  34505  34370
125  34393  20230719090000  34569  34371
126 -34456  20230718093000  34524  34427
127 -34464  20230718090000  34698  34436

[128 rows x 4 columns]

In [41]:
ks200['현재가'] = abs(ks200['현재가'])
ks200['고가'] = abs(ks200['고가'])
ks200['저가'] = abs(ks200['저가'])

In [42]:
ks200['현재가'] = ks200['현재가'] / 100
ks200['고가'] = ks200['고가'] / 100
ks200['저가'] = ks200['저가'] / 100

In [43]:
ks200

        현재가            체결시간      고가      저가
0    317.65  20231023093000  317.95  316.26
1    316.44  20231023090000  318.30  316.00
2    316.89  20231020093000  317.99  316.47
3    317.76  20231020090000  320.18  317.44
4    324.61  20231019093000  324.83  323.45
..      ...             ...     ...     ...
123  341.55  20230720090000  342.07  340.62
124  344.47  20230719093000  345.05  343.70
125  343.93  20230719090000  345.69  343.71
126  344.56  20230718093000  345.24  344.27
127  344.64  20230718090000  346.98  344.36

[128 rows x 4 columns]

In [44]:
date = []
rate_of_change = []
fluc_range = []

for i in range(0, len(ks200), 2):
	date.append(ks200['체결시간'][i][:8])
	change_result = (ks200['현재가'][i] - ks200['현재가'][i + 1]) / ks200['현재가'][i + 1] * 100

	if ks200['저가'][i] > ks200['저가'][i + 1]:
		min = ks200['저가'][i + 1]
	else:
		min = ks200['저가'][i]

	if ks200['고가'][i] > ks200['고가'][i + 1]:
		max = ks200['고가'][i]
	else:
		max = ks200['고가'][i + 1]

	fluc_result = max - min

	fluc_result = round(fluc_result, 3)
	change_result = round(change_result, 3)

	rate_of_change.append(change_result)
	fluc_range.append(fluc_result)

print(date)

['20231023', '20231020', '20231019', '20231018', '20231017', '20231016', '20231013', '20231012', '20231011', '20231010', '20231006', '20231005', '20231004', '20230927', '20230926', '20230925', '20230922', '20230921', '20230920', '20230919', '20230918', '20230915', '20230914', '20230913', '20230912', '20230911', '20230908', '20230907', '20230906', '20230905', '20230904', '20230901', '20230831', '20230830', '20230829', '20230828', '20230825', '20230824', '20230823', '20230822', '20230821', '20230818', '20230817', '20230816', '20230814', '20230811', '20230810', '20230809', '20230808', '20230807', '20230804', '20230803', '20230802', '20230801', '20230731', '20230728', '20230727', '20230726', '20230725', '20230724', '20230721', '20230720', '20230719', '20230718']

In [45]:
rate_of_change

[0.382,
 -0.274,
 0.284,
 0.067,
 -0.058,
 -0.298,
 0.046,
 0.238,
 0.052,
 -0.317,
 -0.012,
 0.166,
 -0.265,
 -0.071,
 -0.177,
 -0.096,
 0.246,
 -0.454,
 -0.05,
 -0.36,
 -0.061,
 0.362,
 0.047,
 0.009,
 -0.21,
 -0.14,
 0.009,
 -0.074,
 -0.118,
 -0.244,
 -0.1,
 -0.012,
 -0.107,
 -0.05,
 -0.21,
 0.109,
 0.167,
 -0.078,
 -0.2,
 0.181,
 0.048,
 0.332,
 0.279,
 -0.336,
 -0.569,
 -0.286,
 -0.012,
 -0.05,
 0.047,
 0.346,
 -0.015,
 0.163,
 -0.155,
 0.186,
 -0.038,
 -0.248,
 0.187,
 -0.233,
 0.047,
 0.058,
 0.216,
 0.228,
 0.157,
 -0.023]

In [46]:
fluc_range

[2.3,
 3.71,
 1.56,
 2.17,
 1.25,
 2.5,
 1.9,
 1.71,
 2.0,
 2.25,
 1.79,
 2.93,
 3.04,
 2.29,
 4.27,
 1.87,
 1.74,
 2.69,
 1.47,
 1.95,
 2.06,
 2.73,
 1.32,
 1.78,
 2.15,
 1.96,
 1.85,
 1.84,
 1.19,
 1.96,
 1.22,
 3.64,
 1.53,
 1.31,
 1.76,
 1.54,
 2.1,
 1.36,
 2.17,
 2.32,
 1.88,
 3.39,
 3.89,
 2.39,
 2.37,
 2.46,
 1.02,
 3.17,
 2.58,
 3.11,
 1.85,
 3.01,
 1.62,
 3.06,
 1.9,
 2.44,
 2.6,
 3.74,
 2.66,
 3.57,
 1.74,
 2.02,
 1.99,
 2.71]

In [47]:
ks200 = pd.DataFrame(zip(date, rate_of_change, fluc_range), columns = ['date', 'ks200_p_change(%)', 'ks200_p_range'])

In [48]:
ks200

        date  ks200_p_change(%)  ks200_p_range
0   20231023              0.382           2.30
1   20231020             -0.274           3.71
2   20231019              0.284           1.56
3   20231018              0.067           2.17
4   20231017             -0.058           1.25
..       ...                ...            ...
59  20230724              0.058           3.57
60  20230721              0.216           1.74
61  20230720              0.228           2.02
62  20230719              0.157           1.99
63  20230718             -0.023           2.71

[64 rows x 3 columns]

In [49]:
ks200 = ks200[1:55]

In [50]:
ks200 = ks200[::-1].reset_index(drop=True)

In [51]:
ks200['date'] = pd.to_datetime(ks200['date'])

In [52]:
ks200.to_csv('../dataset/clean_feature/ks200_present.csv')